Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: remove react-doctor action
  .github/workflows/react-doctor.yml
Due: prettier --ignore-unknown --write

chore: change dependabot github-actions schedule to weekly and group updates (#58090)
  .github/dependabot.yml
  .github/workflows/react-doctor.yml
Due: prettier --ignore-unknown --write

docs: add Mentions option value
  components/mentions/index.en-US.md
Due: prettier --ignore-unknown --write

fix(Upload): improve list item accessibility
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/upload/UploadList/ListItem.tsx
  components/upload/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/upload/__tests__/__snapshots__/demo.test.ts.snap
  components/upload/__tests__/__snapshots__/uploadlist.test.tsx.snap
  components/upload/__tests__/uploadlist.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add Mentions option value (#58091)
  components/mentions/index.en-US.md
Due: prettier --ignore-unknown --write

docs: correct Message duration default value
  components/message/index.en-US.md
Due: prettier --ignore-unknown --write

docs: correct Message duration default value (#58093)
  components/message/index.en-US.md
Due: prettier --ignore-unknown --write

fix(Notification): reserve description close spacing
  components/notification/style/notification.ts
  components/notification/useNotification.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

style(Notification): group closable spacing selectors
  components/notification/style/notification.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add design guides and reference documentation for various components
  components/button/index.en-US.md
  components/form/index.en-US.md
  components/input-number/index.zh-CN.md
  components/segmented/index.en-US.md
  components/space/index.en-US.md
  components/transfer/index.en-US.md
Due: prettier --ignore-unknown --write

docs: fix typos and grammar in build-ghost.en.US.md
  docs/blog/build-ghost.en-US.md
Due: prettier --ignore-unknown --write

docs: fix title capitalization
  docs/blog/build-ghost.en-US.md
Due: prettier --ignore-unknown --write

docs: add design guides and reference documentation for various components (#58095)
  components/button/index.en-US.md
  components/form/index.en-US.md
  components/input-number/index.zh-CN.md
  components/segmented/index.en-US.md
  components/space/index.en-US.md
  components/transfer/index.en-US.md
Due: prettier --ignore-unknown --write

Update docs/blog/build-ghost.en-US.md
  docs/blog/build-ghost.en-US.md
Due: prettier --ignore-unknown --write

docs: add copilot-instructions to reduce AI hallucinations in suggestions (#54371)
  .github/copilot-instructions.md
Due: prettier --ignore-unknown --write

fix(AutoComplete): remove unsupported Select props from typings
  components/auto-complete/AutoComplete.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs(Drawer): add demo for closable placement option (#54877)
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/drawer/__tests__/__snapshots__/demo.test.ts.snap
  components/drawer/demo/closable-placement.md
  components/drawer/demo/closable-placement.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

ci test fix
  .github/workflows/pr-contributor-welcome.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/preview-start.yml
  .github/workflows/visual-regression-diff-finish.yml
  .github/workflows/visual-regression-diff-start.yml
Due: prettier --ignore-unknown --write

fix(Select): export SearchConfig type
  components/select/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(AutoComplete): restrict unsupported showSearch props
  components/auto-complete/AutoComplete.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/auto-complete/AutoComplete.tsx
  components/auto-complete/AutoComplete.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update
  tests/shared/imageTest.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update: reorder SearchConfig import
  components/auto-complete/AutoComplete.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: visual regression ci fix (#58102)
  .github/workflows/pr-contributor-welcome.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/preview-start.yml
  .github/workflows/visual-regression-diff-finish.yml
  .github/workflows/visual-regression-diff-start.yml
  tests/shared/imageTest.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: sync Calendar and Space API docs
  components/calendar/index.en-US.md
  components/calendar/index.zh-CN.md
  components/space/index.en-US.md
Due: prettier --ignore-unknown --write

docs: sync Calendar and Space API docs (#58105)
  components/calendar/index.en-US.md
  components/calendar/index.zh-CN.md
  components/space/index.en-US.md
Due: prettier --ignore-unknown --write

chore: update actions-cool/issues-helper to actions-cool/issues-helper-backup in workflow files
  .github/workflows/issue-check-inactive.yml
  .github/workflows/issue-close-require.yml
  .github/workflows/issue-labeled.yml
  .github/workflows/issue-open-check.yml
  .github/workflows/issue-remove-inactive.yml
  .github/workflows/pr-check-merge.yml
Due: prettier --ignore-unknown --write

chore: update actions-cool/issues-helper-backup (#58106)
  .github/workflows/issue-check-inactive.yml
  .github/workflows/issue-close-require.yml
  .github/workflows/issue-labeled.yml
  .github/workflows/issue-open-check.yml
  .github/workflows/issue-remove-inactive.yml
  .github/workflows/pr-check-merge.yml
Due: prettier --ignore-unknown --write

docs: update Modal maskClosable deprecation docs
  components/modal/index.en-US.md
  components/modal/index.zh-CN.md
Due: prettier --ignore-unknown --write

Update components/modal/index.en-US.md
  components/modal/index.en-US.md
Due: prettier --ignore-unknown --write

docs: complete Modal mask API docs
  components/modal/index.en-US.md
  components/modal/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: polish Modal maskClosable docs
  components/modal/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: update Modal maskClosable deprecation docs (#58108)
  components/modal/index.en-US.md
  components/modal/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat: add custom expand icon support
  components/table/ExpandIcon.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: avoid disabled AutoComplete custom input background stacking
  components/auto-complete/__tests__/__snapshots__/demo.test.tsx.snap
  components/auto-complete/demo/disabled-custom-debug.md
  components/auto-complete/demo/disabled-custom-debug.tsx
  components/auto-complete/index.en-US.md
  components/auto-complete/index.zh-CN.md
  components/select/style/select-input-customize.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test: update AutoComplete demo extend snapshot
  components/auto-complete/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

docs: add copilot-instructions file to reduce AI hallucinations (#58101)
  .github/copilot-instructions.md
Due: prettier --ignore-unknown --write

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
