Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

feat(menu): Support block elements as menu item labels
  components/menu/__tests__/titleContentDisplay.test.tsx
  components/menu/demo/inline-block.md
  components/menu/demo/inline-block.tsx
  components/menu/index.zh-CN.md
  components/menu/style/vertical.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: support clipboard copy in non-https contexts
  components/_util/__tests__/copy.test.ts
  components/_util/copy.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: Update snapshot
  components/empty/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/empty/__tests__/__snapshots__/demo.test.ts.snap
Due: none

ci(auto-merge): skip run issue-remove-inactive
  .github/workflows/pr-auto-merge.yml
Due: prettier --ignore-unknown --write

refactor(space): separate default and type imports in test file
  components/space/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(message): support better customization with semantic classNames/styles
  components/_util/hooks/useMergeSemantic/index.ts
  components/message/PurePanel.tsx
  components/message/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/message/__tests__/__snapshots__/demo.test.ts.snap
  components/message/__tests__/index.test.tsx
  components/message/demo/style-class.md
  components/message/demo/style-class.tsx
  components/message/index.en-US.md
  components/message/index.zh-CN.md
  components/message/interface.ts
  components/message/useMessage.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs(AutoComplete): add underlined variant demo
  components/auto-complete/demo/variant.md
  components/auto-complete/demo/variant.tsx
  components/auto-complete/index.en-US.md
  components/auto-complete/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: add test cases for copy
  components/_util/__tests__/copy.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(checkbox): Support better customization with semantic classNames/styles as function
  components/checkbox/Checkbox.tsx
  components/checkbox/Group.tsx
  components/checkbox/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/checkbox/__tests__/__snapshots__/demo.test.tsx.snap
  components/checkbox/__tests__/checkbox.test.tsx
  components/checkbox/__tests__/group.test.tsx
  components/checkbox/demo/style-class.md
  components/checkbox/demo/style-class.tsx
  components/checkbox/index.en-US.md
  components/checkbox/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: update to async copy function
  .dumi/theme/builtins/ComponentMeta/index.tsx
  .dumi/theme/builtins/IconSearch/CopyableIcon.tsx
  .dumi/theme/builtins/Previewer/DesignPreviewer.tsx
  .dumi/theme/common/Color/ColorBlock.tsx
  .dumi/theme/common/Color/Palette.tsx
  components/_util/__tests__/copy.test.ts
  components/_util/copy.ts
  components/typography/hooks/useCopyClick.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: update to async copy function
  components/_util/copy.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: update test case for copy
  components/_util/__tests__/copy.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: upgrade deps
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Progress): Support better customization with semantic classNames/styles
  components/_util/hooks/useMergeSemantic/index.ts
  components/progress/Circle.tsx
  components/progress/Line.tsx
  components/progress/Steps.tsx
  components/progress/progress.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update test case
  components/progress/__tests__/semantic.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(tabs): Support better customization with semantic classNames/styles as function
  components/_util/hooks/useMergeSemantic/index.ts
  components/tabs/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tabs/__tests__/__snapshots__/demo.test.ts.snap
  components/tabs/__tests__/index.test.tsx
  components/tabs/demo/style-class.md
  components/tabs/demo/style-class.tsx
  components/tabs/index.en-US.md
  components/tabs/index.tsx
  components/tabs/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

update snap
  components/input-number/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input-number/__tests__/__snapshots__/demo.test.tsx.snap
  components/input-number/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(components/empty): Remove unused merge property code
  components/empty/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Support better customization with semantic classNames/styles
  components/alert/Alert.tsx
  components/alert/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/alert/__tests__/__snapshots__/demo.test.ts.snap
  components/alert/__tests__/index.test.tsx
  components/alert/demo/style-class.md
  components/alert/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: Modify Segmented to import tooltips from antd
  components/segmented/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/segmented/index.tsx
  components/segmented/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(alert): remove duplicate code blocks in documentation
  components/alert/index.en-US.md
  components/alert/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat: add boostLevel prop and support value segmentation
  components/qr-code/index.en-US.md
  components/qr-code/index.tsx
  components/qr-code/index.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: Modify Segmented to import tooltips from antd (#55062)
  components/segmented/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Support better customization with semantic classNames/styles
  components/alert/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snap
  components/qr-code/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/qr-code/__tests__/__snapshots__/demo.test.ts.snap
Due: none

chore: bump 6.0.0-alpha.3
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat(date-picker): Add suffix icon and delimiter color configuration.
  components/date-picker/demo/component-token.tsx
  components/date-picker/style/index.ts
  components/date-picker/style/token.ts
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: tooltip structure
  components/popover/PurePanel.tsx
  components/popover/index.tsx
  components/popover/style/index.ts
  components/tooltip/demo/smooth-transition.tsx
  components/tooltip/index.tsx
  components/tooltip/style/index.ts
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: support arrow style
  components/tooltip/demo/_semantic.tsx
  components/tooltip/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(DatePicker):Incorrect use of icon color token
  components/date-picker/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: legacy props
  components/tooltip/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Support better customization with semantic classNames/styles
  components/alert/Alert.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Delete components/index.ts
  components/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update table snap
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
Due: none

Add Linux Foundatuon Health Score badge to README
  README.md
Due: prettier --ignore-unknown --write

chore: update table snap (#55070)
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat(steps): Support better customization with semantic classNames/styles as function
  components/steps/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/steps/__tests__/__snapshots__/demo.test.ts.snap
  components/steps/__tests__/semantic.test.tsx
  components/steps/demo/style-class.md
  components/steps/demo/style-class.tsx
  components/steps/index.en-US.md
  components/steps/index.tsx
  components/steps/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat(color-picker): Support better customization with semantic classNames/styles as function
  components/color-picker/ColorPicker.tsx
  components/color-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/color-picker/__tests__/__snapshots__/demo.test.tsx.snap
  components/color-picker/__tests__/index.test.tsx
  components/color-picker/demo/style-class.md
  components/color-picker/demo/style-class.tsx
  components/color-picker/index.en-US.md
  components/color-picker/index.zh-CN.md
  components/color-picker/interface.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write
