Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: rm children api (#55515)
  components/auto-complete/index.en-US.md
  components/auto-complete/index.zh-CN.md
Due: prettier --ignore-unknown --write

chore: code optimization, rm unnecessary nested function
  components/_util/hooks/useMultipleSelect.ts
  eslint.config.mjs
Due: biome check --write --no-errors-on-unmatched, eslint

update
  eslint.config.mjs
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/_util/hooks/useMultipleSelect.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update
  docs/react/introduce.en-US.md
  docs/react/introduce.zh-CN.md
Due: prettier --ignore-unknown --write

docs: update
  docs/react/introduce.zh-CN.md
Due: prettier --ignore-unknown --write

fix: clicking does nothing when occur error in actionFn
  components/_util/ActionButton.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: code optimization, rm unnecessary nested function (#55517)
  components/_util/hooks/useMultipleSelect.ts
Due: biome check --write --no-errors-on-unmatched, eslint

update
  docs/react/introduce.en-US.md
  docs/react/introduce.zh-CN.md
Due: prettier --ignore-unknown --write

feat: form 支持动态过滤Form.List已经卸载的字段
  components/form/index.en-US.md
  components/form/index.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

revert
  docs/react/introduce.en-US.md
  docs/react/introduce.zh-CN.md
Due: prettier --ignore-unknown --write

docs: update docs (#55518)
  docs/react/introduce.en-US.md
  docs/react/introduce.zh-CN.md
Due: prettier --ignore-unknown --write

fix: remove infinite loop in theme transition
  .dumi/hooks/useThemeAnimation.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: sync localStorage before URL update to resolve theme switching race condition
  .dumi/theme/common/ThemeSwitch/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

site: remove infinite loop in theme transition (#55527)
  .dumi/hooks/useThemeAnimation.ts
  .dumi/theme/common/ThemeSwitch/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: upgrade deps
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat: test
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

feat(form):Supports dynamic filtering of fields that have been uninstalled from Form. List (#55526)
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/index.en-US.md
  components/form/index.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat[InputNumber]: deprecated addon* attribute
  components/config-provider/demo/direction.tsx
  components/drawer/demo/form-in-drawer.tsx
  components/form/demo/register.tsx
  components/input-number/demo/presuffix.tsx
  components/input-number/index.en-US.md
  components/input-number/index.tsx
  components/input-number/index.zh-CN.md
  components/input/Input.tsx
  components/input/demo/compact-style.tsx
  components/input/demo/search-input.tsx
  components/space/demo/compact.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test: simplify test case
  components/anchor/__tests__/Anchor.test.tsx
  components/collapse/__tests__/index.test.tsx
  components/color-picker/__tests__/index.test.tsx
  components/input/__tests__/Search.test.tsx
  components/input/__tests__/index.test.tsx
  components/input/__tests__/textarea.test.tsx
  components/list/__tests__/Item.test.tsx
  components/menu/__tests__/index.test.tsx
  components/modal/__tests__/Modal.test.tsx
  components/modal/__tests__/hook.test.tsx
  components/notification/__tests__/config.test.tsx
  components/segmented/__tests__/index.test.tsx
  components/space/__tests__/space-compact.test.tsx
  components/spin/__tests__/delay.test.tsx
  components/steps/__tests__/index.test.tsx
  components/tooltip/__tests__/util.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: update form snap
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

Update components/form/demo/register.tsx
  components/form/demo/register.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snap
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
  components/input-number/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input-number/__tests__/__snapshots__/demo.test.tsx.snap
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

update
  components/input-number/index.tsx
  components/input/Input.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: demo add annotation
  components/form/demo/register.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: update compact-middle class snap
  components/auto-complete/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/auto-complete/__tests__/__snapshots__/demo.test.tsx.snap
  components/badge/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/badge/__tests__/__snapshots__/demo.test.tsx.snap
  components/button/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/button/__tests__/__snapshots__/demo.test.ts.snap
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
  components/input/__tests__/__snapshots__/Search.test.tsx.snap
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
  components/steps/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/steps/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat: fix style lint
  components/space/Compact.tsx
  components/space/style/compactCell.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: update compactCell snap
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
  components/input-number/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input-number/__tests__/__snapshots__/demo.test.tsx.snap
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

feat: add Space.Addon
  components/space/Addon.tsx
  components/space/index.tsx
  components/space/style/addon.ts
  components/space/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: Space.Addon -> Space.CompactCell
  components/drawer/demo/form-in-drawer.tsx
  components/input-number/demo/presuffix.tsx
  components/input/demo/compact-style.tsx
  components/input/demo/search-input.tsx
  components/space/CompactCell.tsx
  components/space/demo/compact.tsx
  components/space/index.tsx
  components/space/style/compactCell.ts
  components/space/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: change Search addon*
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/input/Search.tsx
  components/input/__tests__/Search.test.tsx
  components/input/__tests__/__snapshots__/Search.test.tsx.snap
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/tree/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tree/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint

update Search
  components/input/Search.tsx
  components/space/demo/compact.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test: use addon in demos
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/drawer/demo/form-in-drawer.tsx
  components/input-number/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input-number/__tests__/__snapshots__/demo.test.tsx.snap
  components/input-number/demo/presuffix.tsx
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/input/demo/compact-style.tsx
  components/input/demo/search-input.tsx
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
  components/space/__tests__/space-compact.test.tsx
  components/space/demo/compact.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update logic
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/drawer/demo/form-in-drawer.tsx
  components/space/CompactCell.tsx
  components/space/style/compactCell.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: delete if (!button) return input
  components/input/Search.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: fix logic
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
  components/form/demo/register.tsx
  components/input/Search.tsx
  components/input/__tests__/Search.test.tsx
  components/space/Compact.tsx
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
  components/space/demo/compact.tsx
  components/space/style/compact.ts
  components/space/style/compactCell.ts
  components/space/style/index.ts
  components/style/compact-item.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snap
  components/badge/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/badge/__tests__/__snapshots__/demo.test.tsx.snap
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/input/__tests__/__snapshots__/Search.test.tsx.snap
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/space/Compact.tsx
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
  components/space/__tests__/space-compact.test.tsx
  components/steps/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/steps/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint

update test snap
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
