Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

perf: use strict conditions (#54549)
  components/_util/__tests__/util.test.tsx
  components/_util/throttleByAnimationFrame.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: typography-demo-ellipsis-controlled shows error when drag slider faster (#54449)
  components/typography/Base/CopyBtn.tsx
  components/typography/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/typography/__tests__/__snapshots__/demo.test.tsx.snap
Due: biome check --write --no-errors-on-unmatched, eslint

docs: fix site footer bg missing (#54602)
  .dumi/theme/slots/Footer/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

site: fix site cssVar (#54563)
  .dumi/pages/index/components/Group.tsx
  .dumi/theme/slots/Content/DocAnchor.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: add ContextIsolator component to Select (#54544)
  components/cascader/index.tsx
  components/select/__tests__/index.test.tsx
  components/select/index.tsx
  components/select/usePopupRender.tsx
  components/tree-select/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: semantic of notification (#54595)
  components/notification/PurePanel.tsx
  components/notification/useNotification.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: semantic of segmented (#54581)
  components/segmented/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: support cover placement in Image preview cover (#54492)
  components/image/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/image/__tests__/__snapshots__/demo.test.ts.snap
  components/image/__tests__/__snapshots__/index.test.tsx.snap
  components/image/__tests__/index.test.tsx
  components/image/demo/basic.tsx
  components/image/demo/component-token.tsx
  components/image/demo/controlled-preview.tsx
  components/image/demo/coverPlacement.md
  components/image/demo/coverPlacement.tsx
  components/image/demo/fallback.tsx
  components/image/demo/imageRender.tsx
  components/image/demo/nested.tsx
  components/image/demo/placeholder.tsx
  components/image/demo/preview-group-top-progress.tsx
  components/image/demo/preview-group-visible.tsx
  components/image/demo/preview-group.tsx
  components/image/demo/preview-mask.tsx
  components/image/demo/previewSrc.tsx
  components/image/demo/toolbarRender.tsx
  components/image/index.en-US.md
  components/image/index.zh-CN.md
  components/image/style/index.ts
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: Add 'onClose' and combine 'afterClose' with 'closable'
  components/modal/Modal.tsx
  components/modal/components/ConfirmCancelBtn.tsx
  components/modal/components/ConfirmOkBtn.tsx
  components/modal/interface.ts
  components/modal/useModal/HookModal.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: Call separately
  components/modal/Modal.tsx
  components/modal/useModal/HookModal.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: deconstruct customCheckboxProps
  components/table/hooks/useSelection.tsx
  components/table/index.en-US.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

refactor: semantic of tour/empty/result (#54603)
  components/empty/index.tsx
  components/result/index.tsx
  components/tour/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: add stackblitz node
  .dumi/theme/builtins/Previewer/Actions.tsx
  .dumi/theme/builtins/Previewer/stackblitzConfig.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: add stackblitz node
  .dumi/theme/builtins/Previewer/stackblitzConfig.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: restore snap
  components/table/__tests__/__snapshots__/Table.filter.test.tsx.snap
  components/table/__tests__/__snapshots__/Table.rowSelection.test.tsx.snap
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

test: restore snap
  components/table/__tests__/__snapshots__/Table.filter.test.tsx.snap
  components/table/__tests__/__snapshots__/Table.rowSelection.test.tsx.snap
Due: none

test: update unit test
  components/table/__tests__/empty.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: test error
  components/table/__tests__/Table.rowSelection.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: open suffix
  .dumi/theme/builtins/Previewer/Actions.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Table): resolve loading/empty state overlap
  components/table/InternalTable.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fixup! test: update unit test
  components/table/__tests__/empty.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update snap
  components/table/__tests__/__snapshots__/empty.test.tsx.snap
Due: none

feat: has css
  .dumi/theme/builtins/Previewer/Actions.tsx
  .dumi/theme/builtins/Previewer/stackblitzConfig.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: getHeaderCheckboxProps -> getTitleCheckboxProps
  components/table/__tests__/Table.rowSelection.test.tsx
  components/table/hooks/useSelection.tsx
  components/table/index.en-US.md
  components/table/index.zh-CN.md
  components/table/interface.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: GetTitleCheckboxProps does not pass parameters
  components/table/hooks/useSelection.tsx
  components/table/interface.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: getTitleCheckboxProps
  components/table/index.en-US.md
  components/table/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix: form layout style
  components/form/Form.tsx
  components/form/FormItem/ItemHolder.tsx
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
  components/form/__tests__/__snapshots__/index.test.tsx.snap
  components/form/__tests__/index.test.tsx
  components/form/context.tsx
  components/form/demo/layout-multiple.tsx
  components/form/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: form layout style
  components/auto-complete/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/auto-complete/__tests__/__snapshots__/demo.test.tsx.snap
  components/button/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/button/__tests__/__snapshots__/demo.test.ts.snap
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/config-provider/__tests__/__snapshots__/form.test.tsx.snap
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/input/__tests__/__snapshots__/index.test.tsx.snap
  components/mentions/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/mentions/__tests__/__snapshots__/demo.test.tsx.snap
  components/select/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/select/__tests__/__snapshots__/demo.test.tsx.snap
  components/skeleton/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/skeleton/__tests__/__snapshots__/demo.test.tsx.snap
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
  components/upload/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/upload/__tests__/__snapshots__/demo.test.ts.snap
  components/watermark/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

fix: form layout style
  components/watermark/__tests__/__snapshots__/demo.test.ts.snap
Due: none

fix: form layout style
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
  components/form/demo/layout-multiple.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: 优化 style
  components/form/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

site: add stackblitz node (#54604)
  .dumi/theme/builtins/Previewer/Actions.tsx
  .dumi/theme/builtins/Previewer/stackblitzConfig.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: hover/active text color of filled button with href
  components/button/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: delete one
  components/table/__tests__/Table.rowSelection.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: change tests
  components/table/__tests__/Table.rowSelection.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint
