Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

test: strengthen mounted target compatibility coverage
  components/input/Input.tsx
  components/input/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Input): normalize detached event target for customInput compatibility
  components/input/Input.tsx
  components/input/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: support semantic styles for Layout Sider
  components/layout/Sider.tsx
  components/layout/__tests__/index.test.tsx
  components/layout/index.en-US.md
  components/layout/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Update index.test.tsx
  components/input/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: update sider semantic docs checks
  components/layout/Sider.tsx
  components/layout/index.en-US.md
  components/layout/index.zh-CN.md
  scripts/__snapshots__/check-site.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: normalize cloned input change target
  components/input/Input.tsx
  components/input/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: address input change review feedback
  components/input/Input.tsx
  components/input/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Space): adjust compact item hover z-index
  components/style/compact-item-vertical.ts
  components/style/compact-item.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Space): handle focused compact item hover z-index
  components/style/compact-item.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: cover cloned input change target
  components/input/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: add agent readiness files for isitagentready.com (#57903)
  .dumi/scripts/webmcp.js
  .dumirc.ts
  public/.well-known/agent-card.json
  public/.well-known/agent-skills/antd-component-lookup/SKILL.md
  public/.well-known/agent-skills/antd-migration/SKILL.md
  public/.well-known/agent-skills/antd-theme-customization/SKILL.md
  public/.well-known/agent-skills/index.json
  public/.well-known/api-catalog
  public/.well-known/http-message-signatures-directory
  public/.well-known/mcp/server-card.json
  public/.well-known/oauth-authorization-server
  public/.well-known/oauth-protected-resource
  public/robots.txt
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: add package.json exports field for Yarn PnP / strict module resolution (#57930)
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Space): fix compact item hover border overlap (#57943)
  components/style/compact-item-vertical.ts
  components/style/compact-item.ts
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(hooks): export useAllowClear from hooks entry
  components/_util/hooks/index.ts
  components/_util/hooks/useAllowClear.tsx
  components/date-picker/generatePicker/generateRangePicker.tsx
  components/date-picker/generatePicker/generateSinglePicker.tsx
  components/input/Input.tsx
  components/input/TextArea.tsx
  components/mentions/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test(Alert): update vertical align demo snapshots
  components/alert/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/alert/__tests__/__snapshots__/demo.test.ts.snap
Due: none

docs: add changelog for 6.4.0
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: enrich changelog descriptions for 6.4.0
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: use Design Token instead of 设计令牌 in zh-CN changelog
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: refine changelog entries - remove type-only changes, fix icons description
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: fix missing space between Design Token and Chinese text
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: flatten single-item groups and update skill rules
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: fix Statistic classNames/styles, use PR body for Select font fix
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: update semantic node API names, remove icons entry, update skill rules
  .agents/skills/changelog-collect/SKILL.md
  .agents/skills/version-release/SKILL.md
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: reorder changelog entries - new component first, then by change count
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

fix: allow contributor welcome workflow to run for fork PRs
  .github/workflows/pr-contributor-welcome.yml
Due: prettier --ignore-unknown --write

fix: pass GITHUB_TOKEN via env instead of inline secret
  .github/workflows/pr-contributor-welcome.yml
Due: prettier --ignore-unknown --write

fix: allow contributor welcome workflow to run for fork PRs (#57952)
  .github/workflows/pr-contributor-welcome.yml
Due: prettier --ignore-unknown --write

fix(Select): hide non-input content when search has value
  components/select/style/select-input.ts
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(hooks): export useAllowClear from hooks entry (#57946)
  components/_util/hooks/index.ts
  components/_util/hooks/useAllowClear.tsx
  components/date-picker/generatePicker/generateRangePicker.tsx
  components/date-picker/generatePicker/generateSinglePicker.tsx
  components/input/Input.tsx
  components/input/TextArea.tsx
  components/mentions/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Select): hide labelRender content while searching (#57954)
  components/select/style/select-input.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore(dependabot): update jest-dependencies groups
  .github/dependabot.yml
Due: prettier --ignore-unknown --write

test(Input): add normalization test and explanatory comment per review feedback
  components/input/Input.tsx
  components/input/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: upgrade deps
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

Update CHANGELOG.en-US.md
  CHANGELOG.en-US.md
Due: prettier --ignore-unknown --write

Update CHANGELOG.zh-CN.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: fix api table column inconsistencies
  components/alert/index.en-US.md
  components/alert/index.zh-CN.md
  components/flex/index.zh-CN.md
  components/menu/index.en-US.md
  components/progress/index.en-US.md
  components/qr-code/index.en-US.md
  components/qr-code/index.zh-CN.md
  components/result/index.zh-CN.md
  components/switch/index.en-US.md
  components/switch/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: add changelog entries for Select labelRender fix and Agent Readiness
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

Update components/qr-code/index.zh-CN.md
  components/qr-code/index.zh-CN.md
Due: prettier --ignore-unknown --write
