Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

refactor(Watermark): use mergeProps for text font merging
  components/watermark/utils.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Watermark): support per-line font styles for content (#57886)
  components/index.ts
  components/watermark/__tests__/index.test.tsx
  components/watermark/demo/multi-line.md
  components/watermark/demo/multi-line.tsx
  components/watermark/index.en-US.md
  components/watermark/index.tsx
  components/watermark/index.zh-CN.md
  components/watermark/useClips.ts
  components/watermark/utils.ts
  scripts/__snapshots__/check-site.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Update components/border-beam/BorderBeam.tsx
  components/border-beam/BorderBeam.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(BorderBeam): use shared number guard
  components/border-beam/BorderBeam.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: code style optimization (#58230)
  components/_util/capitalize.ts
  components/anchor/AnchorLink.tsx
  components/config-provider/__tests__/__snapshots__/form.test.tsx.snap
  components/form/FormItemLabel.tsx
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
  components/form/demo/dynamic-form-item.tsx
  components/list/Item.tsx
  components/slider/demo/icon-slider.tsx
  components/slider/index.tsx
  components/upload/__tests__/__snapshots__/demo.test.ts.snap
  components/upload/demo/drag-sorting.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs(BorderBeam): clarify duration demo description
  components/border-beam/demo/duration.md
Due: prettier --ignore-unknown --write

fix(table): prevent ellipsis from disappearing on cell click
  components/table/style/ellipsis.ts
Due: biome check --write --no-errors-on-unmatched, eslint

ci: align visual-diff baseline with PR base commit to avoid stale-pointer false diffs (#58217)
  .github/workflows/visual-regression-diff-build.yml
  scripts/visual-regression/build.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: upgrade deps
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat: support semantic styles for Layout Sider
  components/layout/Sider.tsx
  components/layout/__tests__/index.test.tsx
  components/layout/index.en-US.md
  components/layout/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

refactor: simplify Sider semantic types
  components/layout/Sider.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: pass Sider state to semantic callbacks
  components/layout/Sider.tsx
  components/layout/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: align Sider semantic helper usage
  components/layout/Sider.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: rm vanilla-tilt
  .dumi/pages/index/components/PreviewBanner/ComponentsBlock.tsx
  .dumi/pages/index/components/PreviewBanner/Tilt.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

ci: increase compile heap size in workflows
  .github/workflows/pkg.pr.new.yml
  .github/workflows/test.yml
Due: prettier --ignore-unknown --write

ci: increase compile heap size in workflows (#58239)
  .github/workflows/pkg.pr.new.yml
  .github/workflows/test.yml
Due: prettier --ignore-unknown --write

fix(Descriptions): apply labelStyle/contentStyle to bordered cells
  components/descriptions/Cell.tsx
  components/descriptions/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/descriptions/__tests__/__snapshots__/demo.test.ts.snap
  components/descriptions/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test(Descriptions): guard horizontal-bordered priority + scope cell-style merge to vertical path
  components/descriptions/Cell.tsx
  components/descriptions/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore(site): rm vanilla-tilt (#58238)
  .dumi/pages/index/components/PreviewBanner/ComponentsBlock.tsx
  .dumi/pages/index/components/PreviewBanner/Tilt.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

docs: align Tabs zh-CN API type descriptions
  components/tabs/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: align Tabs zh-CN API type descriptions (#58248)
  components/tabs/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix: align Input.Search button height with input token
  components/input/__tests__/Search.test.tsx
  components/input/style/search.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Input): add focus outline for borderless controls
  components/input/style/variants.ts
  components/select/style/select-input.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: use focus shadow for borderless controls
  components/input/style/variants.ts
  components/select/style/select-input.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: clarify Form dependencies with setFieldsValue
  components/form/index.en-US.md
  components/form/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix: use focus outline for borderless controls
  components/input/style/variants.ts
  components/select/style/select-input.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Badge): allow removing native tooltip (#58209)
  components/badge/Badge.tsx
  components/badge/__tests__/index.test.tsx
  components/badge/index.en-US.md
  components/badge/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: add BorderBeam duration prop (#58233)
  components/border-beam/BorderBeam.tsx
  components/border-beam/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/border-beam/__tests__/__snapshots__/demo.test.ts.snap
  components/border-beam/__tests__/index.test.tsx
  components/border-beam/demo/duration.md
  components/border-beam/demo/duration.tsx
  components/border-beam/index.en-US.md
  components/border-beam/index.zh-CN.md
  components/border-beam/style/index.ts
  components/border-beam/util.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(pagination): text line break overflow in some scenarios (#58151)
  components/list/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/list/__tests__/__snapshots__/demo.test.ts.snap
  components/pagination/Pagination.tsx
  components/pagination/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/pagination/__tests__/__snapshots__/demo.test.ts.snap
  components/pagination/style/index.ts
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint

fix(AutoComplete): restrict showSearch type to prevent unsupported Select props leaking (#58104)
  components/auto-complete/AutoComplete.tsx
  components/select/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: upgrade vitest to v4
  package.json
  vitest.config.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: keep icon spin animation working with multiple icon prefixes
  components/config-provider/__tests__/index.test.tsx
  components/style/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Modal): add scrollLock prop to control body scroll lock
  components/modal/Modal.tsx
  components/modal/__tests__/Modal.test.tsx
  components/modal/index.en-US.md
  components/modal/index.zh-CN.md
  components/modal/interface.ts
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

refactor(styles): control SVG size with width and height
  components/pagination/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

lock dumi
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: lock dumi
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: pin dumi to 2.4.28
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/modal/__tests__/Modal.test.tsx
  components/modal/__tests__/Modal.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
