Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

chore: dingtalk boot improve
  .github/workflows/issue-open-check.yml
  .github/workflows/issue-schedule.yml
  .github/workflows/pr-open-notify.yml
Due: prettier --ignore-unknown --write

size
  .github/workflows/issue-open-check.yml
  .github/workflows/pr-open-notify.yml
Due: prettier --ignore-unknown --write

&s=36
  .github/workflows/issue-open-check.yml
  .github/workflows/pr-open-notify.yml
Due: prettier --ignore-unknown --write

chore: bump version to 5.29.3 and update changelogs
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: dingtalk boot improve (#56266)
  .github/workflows/issue-open-check.yml
  .github/workflows/issue-schedule.yml
  .github/workflows/pr-open-notify.yml
Due: prettier --ignore-unknown --write

chore: bump version to 5.29.3 and update changelogs (#56267)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

优化
  .github/workflows/issue-open-check.yml
  .github/workflows/pr-open-notify.yml
Due: prettier --ignore-unknown --write

调整
  .github/workflows/discussion-open-check.yml
Due: prettier --ignore-unknown --write

chore: dingtalk bot notify improve (#56270)
  .github/workflows/discussion-open-check.yml
  .github/workflows/issue-open-check.yml
  .github/workflows/pr-open-notify.yml
Due: prettier --ignore-unknown --write

chore: fix dropdown can not open immediately
  components/_util/wave/WaveEffect.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

ci: remove outdated workflows
  .github/workflows/site-deploy.yml
  .github/workflows/test-v6.yml
Due: prettier --ignore-unknown --write

chore: of it
  components/_util/wave/WaveEffect.tsx
  components/_util/wave/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: fix dropdown can not open immediately (#56273)
  components/_util/wave/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

ci: fix snapshot lock (#56257)
  .github/dependabot.yml
  .github/workflows/preview-build.yml
  .github/workflows/site-deploy.yml
  .github/workflows/test-v6.yml
  .github/workflows/test.yml
  .github/workflows/visual-regression-diff-build.yml
  .github/workflows/visual-regression-persist-start.yml
  .jest.js
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: remove duplicate radio role and optimize aria attributes
  components/color-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/flex/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/flex/__tests__/__snapshots__/demo.test.ts.snap
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
  components/popover/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/popover/__tests__/__snapshots__/demo.test.tsx.snap
  components/progress/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/progress/__tests__/__snapshots__/demo.test.ts.snap
  components/qr-code/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/qr-code/__tests__/__snapshots__/demo.test.ts.snap
  components/segmented/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/segmented/__tests__/__snapshots__/demo.test.ts.snap
  components/segmented/__tests__/__snapshots__/index.test.tsx.snap
  components/segmented/__tests__/a11y.test.ts
  components/segmented/demo/custom.tsx
  components/segmented/demo/size-consistent.tsx
  components/tabs/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tabs/__tests__/__snapshots__/demo.test.ts.snap
  components/tooltip/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tooltip/__tests__/__snapshots__/demo.test.tsx.snap
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix: release note miss
  .github/workflows/release-dingtalk.yml
Due: prettier --ignore-unknown --write

chore: update
  .github/workflows/release-dingtalk.yml
Due: prettier --ignore-unknown --write

fix: remove duplicate radio role and optimize aria attributes (#56278)
  components/color-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/flex/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/flex/__tests__/__snapshots__/demo.test.ts.snap
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
  components/popover/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/popover/__tests__/__snapshots__/demo.test.tsx.snap
  components/progress/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/progress/__tests__/__snapshots__/demo.test.ts.snap
  components/qr-code/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/qr-code/__tests__/__snapshots__/demo.test.ts.snap
  components/segmented/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/segmented/__tests__/__snapshots__/demo.test.ts.snap
  components/segmented/__tests__/__snapshots__/index.test.tsx.snap
  components/segmented/__tests__/a11y.test.ts
  components/segmented/demo/custom.tsx
  components/segmented/demo/size-consistent.tsx
  components/tabs/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tabs/__tests__/__snapshots__/demo.test.ts.snap
  components/tooltip/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tooltip/__tests__/__snapshots__/demo.test.tsx.snap
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

ci: fix lint
  .github/dependabot.yml
Due: prettier --ignore-unknown --write

ci: fix lint (#56281)
  .github/dependabot.yml
Due: prettier --ignore-unknown --write

feat(Select): Add component token demo and tests for active shadows
  components/config-provider/__tests__/theme.test.tsx
  components/select/demo/component-token.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test(Pagination): update snapshots
  components/pagination/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/pagination/__tests__/__snapshots__/demo.test.ts.snap
Due: none

test(Pagination): update snapshots
  components/pagination/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/pagination/__tests__/__snapshots__/demo.test.ts.snap
  components/pagination/demo/mini.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: fix lint
  .github/workflows/release-dingtalk.yml
Due: prettier --ignore-unknown --write

chore: update
  .dumi/theme/builtins/Previewer/Actions.tsx
  .dumi/theme/builtins/Previewer/CodePreviewer.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Button): text variant tokens not working
  components/button/style/variant.ts
Due: biome check --write --no-errors-on-unmatched, eslint

ci: skip issue-open-check for pr-auto-merge.yml (#56292)
  .github/workflows/pr-auto-merge.yml
Due: prettier --ignore-unknown --write

test(Button): add debug demo for text variant component tokens
  components/button/demo/debug-color-variant.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs(Button): hide deprecated groupBorderColor from token table
  components/button/style/token.ts
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/_util/hooks/useMergeSemantic.ts
  components/breadcrumb/Breadcrumb.tsx
  components/breadcrumb/BreadcrumbContext.ts
  components/config-provider/__tests__/style.test.tsx
  components/float-button/__tests__/semantic.test.tsx
  components/popconfirm/PurePanel.tsx
  components/skeleton/__tests__/semantic.test.tsx
  components/skeleton/demo/_semantic.tsx
  components/steps/__tests__/semantic.test.tsx
  components/timeline/__tests__/semantic.test.tsx
  components/transfer/ListItem.tsx
  components/transfer/Section.tsx
  components/transfer/index.tsx
  components/tree-select/index.tsx
  components/tree/Tree.tsx
  components/upload/UploadList/ListItem.tsx
  components/upload/interface.ts
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/input/OTP/index.tsx
  components/menu/MenuContext.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/qr-code/interface.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Select): automatically clear searchValue
  components/select/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/select/__tests__/index.test.tsx
  components/select/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/breadcrumb/BreadcrumbItem.tsx
  components/menu/MenuContext.tsx
  components/menu/MenuItem.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/menu/SubMenu.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

add docs package
  package.json
  packages/docs/.gitignore
  packages/docs/README.md
  packages/docs/build.ts
  packages/docs/package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

dist dir
  packages/docs/README.md
  packages/docs/build.ts
  packages/docs/package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

generate toc
  packages/docs/.gitignore
  packages/docs/README.md
  packages/docs/build.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

remove build script from dist
  packages/docs/package.json
Due: biome check --write --no-errors-on-unmatched, eslint
