Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: update lint rules
  eslint.config.mjs
Due: biome check --write --no-errors-on-unmatched, eslint

feat: renderItem should support ReactNode
  components/list/index.en-US.md
  components/list/index.tsx
  components/list/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: fix
  components/list/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add code sample for Semantic Previewer (#53351)
  .dumi/components/SemanticPreview.tsx
  components/badge/demo/_semantic.tsx
  components/button/demo/_semantic.tsx
  components/card/demo/_semantic.tsx
  components/collapse/demo/_semantic.tsx
  components/descriptions/demo/_semantic.tsx
  components/drawer/demo/_semantic.tsx
  components/empty/demo/_semantic.tsx
  components/input/demo/_semantic_input.tsx
  components/input/demo/_semantic_textarea.tsx
  components/list/demo/_semantic.tsx
  components/modal/demo/_semantic.tsx
  components/popconfirm/demo/_semantic.tsx
  components/popover/demo/_semantic.tsx
  components/slider/demo/_semantic.tsx
  components/space/demo/_semantic.tsx
  components/tooltip/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: comment
  .dumi/remarkAnchor.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: fix
  eslint.config.mjs
Due: biome check --write --no-errors-on-unmatched, eslint

doc: treeSelect,cascader,datePicker添加open/defaultOpen属性的支持描述
  components/cascader/index.en-US.md
  components/cascader/index.zh-CN.md
  components/date-picker/index.en-US.md
  components/date-picker/index.zh-CN.md
  components/tree-select/index.en-US.md
  components/tree-select/index.zh-CN.md
Due: prettier --ignore-unknown --write

chore: update lint rules (#53352)
  eslint.config.mjs
Due: biome check --write --no-errors-on-unmatched, eslint

type: fix type error
  .dumi/components/SemanticPreview.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: 调整描述在表格内的位置
  components/cascader/index.en-US.md
  components/cascader/index.zh-CN.md
  components/date-picker/index.en-US.md
  components/date-picker/index.zh-CN.md
  components/tree-select/index.en-US.md
  components/tree-select/index.zh-CN.md
Due: prettier --ignore-unknown --write

type: fix site type error (#53355)
  .dumi/components/SemanticPreview.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update doc
  components/auto-complete/index.en-US.md
  components/auto-complete/index.zh-CN.md
  components/cascader/__tests__/index.test.tsx
  components/cascader/index.en-US.md
  components/cascader/index.zh-CN.md
  components/select/index.zh-CN.md
  components/tree-select/index.en-US.md
  components/tree-select/index.zh-CN.md
  docs/react/common-props.en-US.md
  docs/react/common-props.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Update customize-theme 的示例错误
  docs/react/customize-theme.zh-CN.md
Due: prettier --ignore-unknown --write

site: add componentName for SemanticPreview
  components/cascader/demo/_semantic.tsx
  components/select/demo/_semantic.tsx
  components/tree-select/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: up docs
  components/list/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

site: add componentName for SemanticPreview
  .dumi/components/SemanticPreview.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: fix
  components/popconfirm/demo/_semantic.tsx
  components/popover/demo/_semantic.tsx
  components/tooltip/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

site: add componentName for SemanticPreview (#53360)
  components/cascader/demo/_semantic.tsx
  components/select/demo/_semantic.tsx
  components/tree-select/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: changelog of 5.24.6
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore(deps): bump dumi to `2.4.20`
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

test: lint修改
  components/input-number/__tests__/prefix.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: changelog of 5.24.6 (#53368)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: update checker logic
  scripts/pre-publish.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update checker logic (#53371)
  scripts/pre-publish.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: temp scripts
  .dumi/scripts/checkDuplicateIds.dev.js
  .dumirc.ts
Due: biome check --write --no-errors-on-unmatched, eslint

Revert "chore: temp scripts"
  .dumi/scripts/checkDuplicateIds.dev.js
  .dumirc.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: bump cascader version
  components/cascader/index.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: upgrade deps
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore(site): markdown supports custom anchors (#53316)
  .dumi/remarkAnchor.ts
  .dumirc.ts
  components/button/index.en-US.md
  components/button/index.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat(auto-complete): popup supports Semantic DOM and retire some api (#53257)
  .dumi/components/TemplateSemanticPreview.tsx
  components/auto-complete/AutoComplete.tsx
  components/auto-complete/__tests__/index.test.tsx
  components/auto-complete/demo/_semantic.tsx
  components/auto-complete/demo/certain-category.tsx
  components/auto-complete/index.en-US.md
  components/auto-complete/index.zh-CN.md
  components/cascader/__tests__/index.test.tsx
  components/cascader/index.en-US.md
  components/cascader/index.tsx
  components/cascader/index.zh-CN.md
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
  components/select/__tests__/index.test.tsx
  components/select/demo/_semantic.tsx
  components/select/index.en-US.md
  components/select/index.tsx
  components/select/index.zh-CN.md
  components/tree-select/demo/_semantic.tsx
  components/tree-select/index.en-US.md
  components/tree-select/index.tsx
  components/tree-select/index.zh-CN.md
  docs/react/common-props.en-US.md
  docs/react/common-props.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

doc: stackblitz打开问题修复
  .dumi/theme/builtins/Previewer/CodeBlockButton.tsx
  .dumi/theme/builtins/Previewer/CodePreviewer.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add design url to component meta
  .dumi/theme/builtins/ComponentMeta/index.tsx
  .dumi/theme/common/ComponentChangelog/index.tsx
  .dumi/theme/slots/Content/index.tsx
  components/button/index.en-US.md
  components/button/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

update
  .dumi/theme/builtins/ComponentMeta/index.tsx
  .dumi/theme/common/styles/HeadingAnchor.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

修改，改为只修改stackblitz的打开内容
  .dumi/theme/builtins/Previewer/CodeBlockButton.tsx
  .dumi/theme/builtins/Previewer/CodePreviewer.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

删除无用的注释
  .dumi/theme/builtins/Previewer/CodePreviewer.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add design url to component meta (#53379)
  .dumi/theme/builtins/ComponentMeta/index.tsx
  .dumi/theme/common/ComponentChangelog/index.tsx
  .dumi/theme/common/styles/HeadingAnchor.tsx
  .dumi/theme/slots/Content/index.tsx
  components/button/index.en-US.md
  components/button/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
