Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: fix Slider demo description for step=null with marks (#57415)
  components/slider/demo/mark.md
Due: prettier --ignore-unknown --write

chore: release 6.3.4
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
  scripts/generate-component-changelog.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: add @ant-design/cli documentation and links (#57413)
  docs/react/cli.en-US.md
  docs/react/cli.zh-CN.md
  docs/react/introduce.en-US.md
  docs/react/introduce.zh-CN.md
  docs/react/recommendation.en-US.md
  docs/react/recommendation.zh-CN.md
Due: prettier --ignore-unknown --write

chore: optimize changelog-collect skill with parallel subagents and antd standards
  .agents/skills/changelog-collect/SKILL.md
Due: prettier --ignore-unknown --write

docs: release 6.3.4 (#57418)
  .agents/skills/changelog-collect/SKILL.md
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
  scripts/generate-component-changelog.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test: fix jest error
  typings/jest.d.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs(Affix): add version info and global config reference to props table
  components/affix/index.en-US.md
  components/affix/index.zh-CN.md
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs(Alert): combine props and config
  CLAUDE.md
  components/alert/index.en-US.md
  components/alert/index.zh-CN.md
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs(CLAUDE): update API table format for English and Chinese versions
  CLAUDE.md
Due: prettier --ignore-unknown --write

docs(CLAUDE): update parameter label to property in Chinese API table
  CLAUDE.md
Due: prettier --ignore-unknown --write

docs: update parameter label to '参数' in Chinese API table
  CLAUDE.md
Due: prettier --ignore-unknown --write

docs: update API table header for consistency in English version
  CLAUDE.md
Due: prettier --ignore-unknown --write

docs: update API table headers and descriptions for clarity and consistency
  CLAUDE.md
Due: prettier --ignore-unknown --write

docs: update loadingIcon and type entries in API table for clarity and consistency
  CLAUDE.md
Due: prettier --ignore-unknown --write

chore: upgrade deps
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: revert accidental inclusion of useSuffixIcon
  components/date-picker/generatePicker/useSuffixIcon.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: only wrap calendar/clock icon in aria-hidden, keep feedbackIcon accessible
  components/date-picker/generatePicker/useSuffixIcon.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: prevent Table rowSelection crash when selectedRowKeys becomes undefined
  components/table/__tests__/Table.rowSelection.test.tsx
  components/table/hooks/useSelection.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: clarify PR body language guidance in CLAUDE.md
  CLAUDE.md
Due: prettier --ignore-unknown --write

docs: clarify PR body language guidance in CLAUDE.md (#57425)
  CLAUDE.md
Due: prettier --ignore-unknown --write

docs(Alert): remove deprecated className and style props from API tables in English and Chinese versions
  components/alert/index.en-US.md
  components/alert/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs(Alert): add closeIcon prop to API tables in English and Chinese versions
  components/alert/index.en-US.md
  components/alert/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs(Alert): update API tables in English and Chinese versions to reflect changes in prop availability and versioning details
  components/alert/index.en-US.md
  components/alert/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat: calendar datacontent styles
  components/calendar/demo/_semantic.tsx
  components/calendar/generateCalendar.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: update
  components/config-provider/context.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs(Alert): combine props and config (#57421)
  CLAUDE.md
  components/alert/index.en-US.md
  components/alert/index.zh-CN.md
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs(Affix): combine props and config
  CLAUDE.md
  components/affix/index.en-US.md
  components/affix/index.zh-CN.md
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix: preserve AutoComplete popupMatchSelectWidth false value
  components/auto-complete/AutoComplete.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: add unit tests for Calendar itemDateContent semantic
  components/calendar/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/calendar/__tests__/semantic.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: respect AutoComplete popupMatchSelectWidth={false} (#57428)
  components/auto-complete/AutoComplete.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: add unit tests for Calendar itemDateContent semantic
  components/calendar/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/calendar/__tests__/semantic.test.tsx
  components/calendar/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Input): add focus styles for clear button to support keyboard accessibility
  components/input/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: update
  components/_util/__tests__/wave.test.tsx
  components/_util/wave/index.ts
  components/config-provider/__tests__/wave.test.tsx
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: prevent Table rowSelection crash when selectedRowKeys becomes undefined (#57424)
  components/table/__tests__/Table.rowSelection.test.tsx
  components/table/hooks/useSelection.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: Trigger type on wave config (#57402)
  components/_util/__tests__/wave.test.tsx
  components/_util/wave/index.ts
  components/config-provider/__tests__/wave.test.tsx
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: adjust code
  components/calendar/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/calendar/__tests__/semantic.test.tsx
  components/calendar/demo/_semantic.tsx
  components/calendar/generateCalendar.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
