Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

chore: update
  .dumi/theme/builtins/RefinedChangelog/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update
  scripts/generate-latest-changelog.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: revert changes to ColorHexInput to fix input issues
  components/color-picker/components/ColorHexInput.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add backtop
  .dumi/theme/slots/Content/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: replace custom hastToString implementation with hast-util-to-string package
  .dumi/changelog-plugin/hast-util-to-string.js
  .dumi/changelog-plugin/index.ts
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat: add rehypeChangelog plugin for processing changelog files
  .dumi/rehypeChangelog.ts
  .dumirc.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: update hastToString import to support ESM module
  .dumi/rehypeChangelog.ts
Due: biome check --write --no-errors-on-unmatched, eslint

style: update style
  .dumi/theme/builtins/RefinedChangelog/index.tsx
  .dumi/theme/slots/Content/DocAnchor.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update sctructure
  components/_util/wave/WaveEffect.tsx
  components/_util/wave/index.ts
  components/_util/wave/interface.ts
  components/_util/wave/useWave.ts
  components/_util/wave/util.ts
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/steps/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/steps/__tests__/__snapshots__/demo.test.ts.snap
  components/steps/__tests__/__snapshots__/index.test.tsx.snap
  components/steps/index.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update comment
  components/steps/style/index.ts
  components/steps/style/label-placement.ts
  components/steps/style/panel.ts
  components/steps/style/vertical.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: clean up
  components/steps/style/rtl.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: clean up
  components/_util/wave/index.ts
  components/_util/wave/util.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: revert
  .dumi/theme/slots/Content/DocAnchor.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: cursor style
  components/steps/style/index.ts
  components/steps/style/inline.ts
  components/steps/style/status.ts
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/button/button.tsx
  components/button/useLoadingState.ts
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/button/useLoadingState.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: coverage
  components/_util/__tests__/wave.test.tsx
  components/steps/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/steps/__tests__/__snapshots__/demo.test.ts.snap
  components/steps/demo/label-placement.md
  components/steps/demo/nav.tsx
  components/steps/demo/panel.tsx
  components/steps/demo/simple.md
  components/steps/demo/simple.tsx
  components/steps/demo/small-size.md
  components/steps/demo/small-size.tsx
  components/steps/demo/vertical-small.md
  components/steps/demo/vertical-small.tsx
  components/steps/demo/vertical.tsx
  components/steps/index.en-US.md
  components/steps/index.zh-CN.md
  components/steps/style/inline.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test: fix image test
  components/statistic/Timer.tsx
  components/statistic/__tests__/__snapshots__/demo.test.ts.snap
  components/statistic/__tests__/image.test.ts
  components/statistic/__tests__/index.test.tsx
  tests/shared/imageTest.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add missing part
  components/steps/index.en-US.md
  components/steps/index.zh-CN.md
Due: prettier --ignore-unknown --write

test: fix image test (#53817)
  components/statistic/Timer.tsx
  components/statistic/__tests__/__snapshots__/demo.test.ts.snap
  components/statistic/__tests__/image.test.ts
  components/statistic/__tests__/index.test.tsx
  tests/shared/imageTest.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: order
  components/index.ts
  components/steps/__tests__/index.test.tsx
  components/steps/demo/component-token.tsx
  components/steps/demo/progress-dot.tsx
  components/steps/demo/variant-debug.tsx
  components/steps/index.en-US.md
  components/steps/index.tsx
  components/steps/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test: add test case
  components/steps/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/steps/__tests__/index.test.tsx
  components/steps/index.en-US.md
  components/steps/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: update style
  .dumi/theme/builtins/RefinedChangelog/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: fix ts
  components/steps/demo/progress-dot.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: clean up
  components/steps/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: ConfigProvider support classnames and styles for list
  components/config-provider/context.ts
  components/list/Item.tsx
  components/list/demo/_semantic.tsx
  components/list/demo/_semantic_basic.tsx
  components/list/demo/_semantic_meta.tsx
  components/list/index.en-US.md
  components/list/index.tsx
  components/list/index.zh-CN.md
  components/list/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/drawer/__tests__/__snapshots__/demo.test.ts.snap
  components/list/Item.tsx
  components/list/__tests__/__snapshots__/Item.test.tsx.snap
  components/list/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/list/__tests__/__snapshots__/demo.test.ts.snap
  components/list/demo/_semantic_basic.tsx
  components/list/demo/_semantic_meta.tsx
  components/list/index.tsx
  components/steps/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/steps/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint

fix
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
Due: none

Update components/segmented/index.en-US.md
  components/segmented/index.en-US.md
Due: prettier --ignore-unknown --write

Update index.zh-CN.md
  components/segmented/index.zh-CN.md
Due: prettier --ignore-unknown --write

update
  components/button/__tests__/index.test.tsx
  components/button/button.tsx
  components/button/useLoadingState.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: change demo
  components/segmented/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/segmented/__tests__/__snapshots__/demo.test.ts.snap
  components/segmented/demo/vertical.md
  components/segmented/demo/vertical.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write
