Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: support Typography actions placement (#57440)
  components/typography/Base/Ellipsis.tsx
  components/typography/Base/index.tsx
  components/typography/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/typography/__tests__/__snapshots__/demo.test.tsx.snap
  components/typography/__tests__/copy.test.tsx
  components/typography/__tests__/ellipsis.test.tsx
  components/typography/demo/copyable.md
  components/typography/demo/copyable.tsx
  components/typography/index.en-US.md
  components/typography/index.zh-CN.md
  components/typography/style/index.ts
  scripts/__snapshots__/check-site.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: fix TimePicker column cannot scroll on touch devices
  components/date-picker/style/panel.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Tag): improve solid variant text contrast in dark theme
  components/tag/__tests__/index.test.tsx
  components/tag/index.tsx
  components/tag/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

style(workflows): 调整通知消息中表情符号的位置
  .github/workflows/discussion-open-check.yml
  .github/workflows/issue-open-check.yml
  .github/workflows/pr-open-notify.yml
Due: prettier --ignore-unknown --write

fix: address review feedback - fix undefined token and improve test assertion
  components/tag/__tests__/index.test.tsx
  components/tag/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

style(workflows): 调整通知消息中表情符号的位置 (#57470)
  .github/workflows/discussion-open-check.yml
  .github/workflows/issue-open-check.yml
  .github/workflows/pr-open-notify.yml
Due: prettier --ignore-unknown --write

fix: fix TimePicker column cannot scroll on touch devices (#57468)
  components/date-picker/style/panel.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: resolve duplicate key conflict for color='default' tags
  components/tag/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(TreeSelect): Fix the issue where the switcher and checkbox, content are not vertically centered when the parent node wraps content
  components/tree-select/__tests__/index.test.tsx
  components/tree-select/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

Fix capitalization in transition documentation
  docs/spec/transition.en-US.md
Due: prettier --ignore-unknown --write

Refactor argument types in destroy and close functions
  components/modal/confirm.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: refactor isCollapsed logic for better readability
  components/splitter/Panel.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update destroyOnHidden prop version to 6.4.0 in Splitter documentation
  components/splitter/index.en-US.md
  components/splitter/index.zh-CN.md
Due: prettier --ignore-unknown --write

test: fix style prop coverage
  components/splitter/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: enhance isCollapsed logic to handle string sizes in InternalPanel
  components/splitter/Panel.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: fix capitalization in transition documentation (#57472)
  docs/spec/transition.en-US.md
Due: prettier --ignore-unknown --write

fix(Upload): show error message inline for touch screen accessibility (#57315)
  components/upload/UploadList/ListItem.tsx
  components/upload/style/list.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: update
  components/splitter/__tests__/index.test.tsx
  components/splitter/hooks/useItems.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: update
  components/splitter/Panel.tsx
  components/splitter/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Tree): Fix the inconsistency between the alignment of the Tree component's switch and checkbox/content
  components/tree-select/__tests__/index.test.tsx
  components/tree-select/style/index.ts
  components/tree/__tests__/a11y.test.ts
  components/tree/__tests__/demo-extend.test.ts
  components/tree/__tests__/demo.test.ts
  components/tree/__tests__/image.test.ts
  components/tree/demo/parent-node-element-debug.md
  components/tree/demo/parent-node-element-debug.tsx
  components/tree/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test(Tree): Update Tree Component on Parent Node Content Alignment Test Cases
  components/tree/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tree/__tests__/__snapshots__/demo.test.ts.snap
  components/tree/__tests__/a11y.test.ts
  components/tree/__tests__/demo-extend.test.ts
  components/tree/__tests__/demo.test.ts
  components/tree/__tests__/image.test.ts
  components/tree/demo/parent-node-element-debug.md
  components/tree/demo/parent-node-element-debug.tsx
  components/tree/index.en-US.md
  components/tree/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: replaces manual null/undefined check with isNonNullable
  components/splitter/hooks/useSizes.ts
Due: biome check --write --no-errors-on-unmatched, eslint

revert
  .github/workflows/site-deploy.yml
Due: prettier --ignore-unknown --write

revert
  .github/workflows/preview-deploy.yml
Due: prettier --ignore-unknown --write

site: update imports path
  .dumi/hooks/useThemeAnimation.ts
  .dumi/pages/index/components/Theme/index.tsx
  .dumi/pages/index/components/ThemePreview/index.tsx
  .dumi/theme/builtins/Previewer/DesignPreviewer.tsx
  .dumi/theme/common/ThemeSwitch/PromptDrawer.tsx
  .dumi/theme/layouts/ResourceLayout/AffixTabs.tsx
  .dumi/theme/slots/SiteContext.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix
  .github/workflows/preview-deploy.yml
Due: prettier --ignore-unknown --write

demo: update imports path
  components/collapse/demo/style-class.tsx
  components/empty/demo/style-class.tsx
  components/masonry/demo/basic.tsx
  components/masonry/demo/dynamic.tsx
  components/progress/demo/dashboard.tsx
  components/segmented/demo/shape.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix
  .github/workflows/preview-deploy.yml
  .github/workflows/visual-regression-diff-finish.yml
  .github/workflows/visual-regression-persist-finish.yml
Due: prettier --ignore-unknown --write

Update components/splitter/Panel.tsx
  components/splitter/Panel.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

demo: update imports path (#57479)
  components/collapse/demo/style-class.tsx
  components/empty/demo/style-class.tsx
  components/masonry/demo/basic.tsx
  components/masonry/demo/dynamic.tsx
  components/progress/demo/dashboard.tsx
  components/segmented/demo/shape.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update AGENTS.md
  CLAUDE.md
Due: prettier --ignore-unknown --write

site: update imports path (#57478)
  .dumi/hooks/useThemeAnimation.ts
  .dumi/pages/index/components/Theme/index.tsx
  .dumi/pages/index/components/ThemePreview/index.tsx
  .dumi/theme/builtins/Previewer/DesignPreviewer.tsx
  .dumi/theme/common/ThemeSwitch/PromptDrawer.tsx
  .dumi/theme/layouts/ResourceLayout/AffixTabs.tsx
  .dumi/theme/slots/SiteContext.ts
Due: biome check --write --no-errors-on-unmatched, eslint

ci: fix ci security (#57477)
  .github/workflows/issue-check-inactive.yml
  .github/workflows/issue-close-require.yml
  .github/workflows/issue-labeled.yml
  .github/workflows/issue-open-check.yml
  .github/workflows/issue-remove-inactive.yml
  .github/workflows/mock-project-build.yml
  .github/workflows/pkg.pr.new.yml
  .github/workflows/pr-auto-merge.yml
  .github/workflows/preview-build.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/release-dingtalk.yml
  .github/workflows/site-deploy.yml
  .github/workflows/size-limit.yml
  .github/workflows/sync-gitee.yml
  .github/workflows/test.yml
  .github/workflows/upgrade-deps.yml
  .github/workflows/verify-package-version.yml
  .github/workflows/visual-regression-diff-build.yml
  .github/workflows/visual-regression-diff-finish.yml
  .github/workflows/visual-regression-persist-finish.yml
  .github/workflows/visual-regression-persist-start.yml
Due: prettier --ignore-unknown --write

docs: update AGENTS.md (#57480)
  CLAUDE.md
Due: prettier --ignore-unknown --write

chore: replaces manual null/undefined check with isNonNullable (#57476)
  components/splitter/hooks/useSizes.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore(biome): igonre worktrees
  biome.json
Due: biome check --write --no-errors-on-unmatched, eslint

ci: demo lint fix
  components/collapse/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: imported multiple times
  components/empty/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: pin 57 unpinned action(s),extract 3 unsafe expression(s) to env vars
  .github/workflows/preview-deploy.yml
  .github/workflows/site-deploy.yml
Due: prettier --ignore-unknown --write

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
