Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: reset deprecated BackTop
  components/back-top/index.tsx
  components/back-top/style/index.ts
  components/config-provider/__tests__/components.test.tsx
  components/float-button/BackTop.tsx
  components/index.ts
  components/theme/interface/components.ts
  tests/__snapshots__/index.test.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update
  components/input/Input.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snapshot
  components/color-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/color-picker/__tests__/__snapshots__/index.test.tsx.snap
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
  components/form/__tests__/__snapshots__/index.test.tsx.snap
  components/image/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/image/__tests__/__snapshots__/demo.test.ts.snap
  components/input-number/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input-number/__tests__/__snapshots__/demo.test.tsx.snap
  components/input-number/__tests__/__snapshots__/index.test.tsx.snap
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/notification/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/notification/__tests__/__snapshots__/demo.test.ts.snap
  components/slider/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/slider/__tests__/__snapshots__/demo.test.ts.snap
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
  components/tooltip/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tooltip/__tests__/__snapshots__/demo.test.tsx.snap
  components/watermark/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/watermark/__tests__/__snapshots__/demo.test.ts.snap
Due: none

chore: adjust import
  components/input/Input.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update deps
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/__tests__/__snapshots__/index.test.ts.snap
  components/back-top/__tests__/__snapshots__/index.test.tsx.snap
  components/back-top/__tests__/a11y.test.ts
  components/back-top/__tests__/demo-extend.test.ts
  components/back-top/__tests__/demo.test.tsx
  components/back-top/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/back-top/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/back-top/__tests__/__snapshots__/demo.test.tsx.snap
  components/back-top/demo/basic.md
  components/back-top/demo/basic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

update
  components/back-top/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update log
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

Update CHANGELOG.zh-CN.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

update snap
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
Due: none

update
  components/back-top/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/back-top/__tests__/__snapshots__/demo.test.tsx.snap
  components/back-top/demo/basic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Upload API添加类型说明
  components/upload/index.zh-CN.md
Due: prettier --ignore-unknown --write

Update components/upload/index.zh-CN.md
  components/upload/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix: Correct spacing in copy message from '복사 됨' to '복사됨'
  components/locale/ko_KR.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(local): Correct spacing in copy message from '복사 됨' to '복사됨' (#55672)
  components/locale/ko_KR.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update log (#55669)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

chore: reset deprecated BackTop (#55668)
  components/__tests__/__snapshots__/index.test.ts.snap
  components/back-top/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/back-top/__tests__/__snapshots__/demo.test.tsx.snap
  components/back-top/__tests__/__snapshots__/index.test.tsx.snap
  components/back-top/__tests__/a11y.test.ts
  components/back-top/__tests__/demo-extend.test.ts
  components/back-top/__tests__/demo.test.tsx
  components/back-top/__tests__/index.test.tsx
  components/back-top/demo/basic.md
  components/back-top/demo/basic.tsx
  components/back-top/index.tsx
  components/back-top/style/index.ts
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/config-provider/__tests__/components.test.tsx
  components/float-button/BackTop.tsx
  components/index.ts
  components/input/Input.tsx
  components/theme/interface/components.ts
  package.json
  tests/__snapshots__/index.test.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

refactor: Refactoring Space.Addon style and class name
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/input-number/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input-number/__tests__/__snapshots__/demo.test.tsx.snap
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/space/Addon.tsx
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
  components/space/style/addon.ts
  components/space/style/compact.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: add css var
  components/space/Addon.tsx
  components/space/style/addon.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat[InputNumber]: deprecated addon* attribute
  components/config-provider/demo/direction.tsx
  components/drawer/demo/form-in-drawer.tsx
  components/form/demo/register.tsx
  components/input-number/demo/presuffix.tsx
  components/input-number/index.en-US.md
  components/input-number/index.tsx
  components/input-number/index.zh-CN.md
  components/input/Input.tsx
  components/input/demo/compact-style.tsx
  components/input/demo/search-input.tsx
  components/space/demo/compact.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Update components/form/demo/register.tsx
  components/form/demo/register.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snap
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
  components/input-number/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input-number/__tests__/__snapshots__/demo.test.tsx.snap
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

test: update form snap
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

update
  components/input-number/index.tsx
  components/input/Input.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: add Space.Addon
  components/space/Addon.tsx
  components/space/index.tsx
  components/space/style/addon.ts
  components/space/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

update Search
  components/input/Search.tsx
  components/space/demo/compact.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test: demo add annotation
  components/form/demo/register.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: change Search addon*
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/input/Search.tsx
  components/input/__tests__/Search.test.tsx
  components/input/__tests__/__snapshots__/Search.test.tsx.snap
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/tree/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tree/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint

test: update compact-middle class snap
  components/auto-complete/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/auto-complete/__tests__/__snapshots__/demo.test.tsx.snap
  components/badge/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/badge/__tests__/__snapshots__/demo.test.tsx.snap
  components/button/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/button/__tests__/__snapshots__/demo.test.ts.snap
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
  components/input/__tests__/__snapshots__/Search.test.tsx.snap
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
  components/steps/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/steps/__tests__/__snapshots__/demo.test.ts.snap
Due: none

test: use addon in demos
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/drawer/demo/form-in-drawer.tsx
  components/input-number/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input-number/__tests__/__snapshots__/demo.test.tsx.snap
  components/input-number/demo/presuffix.tsx
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/input/demo/compact-style.tsx
  components/input/demo/search-input.tsx
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
  components/space/__tests__/space-compact.test.tsx
  components/space/demo/compact.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: fix style lint
  components/space/Compact.tsx
  components/space/style/compactCell.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update logic
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/drawer/demo/form-in-drawer.tsx
  components/space/CompactCell.tsx
  components/space/style/compactCell.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: delete if (!button) return input
  components/input/Search.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: update compactCell snap
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
  components/input-number/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input-number/__tests__/__snapshots__/demo.test.tsx.snap
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

feat: Space.Addon -> Space.CompactCell
  components/drawer/demo/form-in-drawer.tsx
  components/input-number/demo/presuffix.tsx
  components/input/demo/compact-style.tsx
  components/input/demo/search-input.tsx
  components/space/CompactCell.tsx
  components/space/demo/compact.tsx
  components/space/index.tsx
  components/space/style/compactCell.ts
  components/space/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

update test snap
  components/auto-complete/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/auto-complete/__tests__/__snapshots__/demo.test.tsx.snap
  components/button/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/button/__tests__/__snapshots__/demo.test.ts.snap
  components/input-number/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input-number/__tests__/__snapshots__/demo.test.tsx.snap
  components/input/__tests__/__snapshots__/Search.test.tsx.snap
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/tree/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tree/__tests__/__snapshots__/demo.test.ts.snap
Due: none

update test snap
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
Due: none

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
