Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

fix: pass zeroRuntime to icon context
  components/config-provider/__tests__/nonce.test.tsx
  components/config-provider/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: align scroll fade overlay behavior
  components/style/__tests__/index.test.ts
  components/style/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: pass zeroRuntime to icon context (#58517)
  components/config-provider/__tests__/nonce.test.tsx
  components/config-provider/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Grid): support CSS Grid layout mode
  components/grid/RowContext.ts
  components/grid/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/grid/__tests__/__snapshots__/demo.test.ts.snap
  components/grid/__tests__/index.test.tsx
  components/grid/col.tsx
  components/grid/demo/grid.md
  components/grid/demo/grid.tsx
  components/grid/index.en-US.md
  components/grid/index.tsx
  components/grid/index.zh-CN.md
  components/grid/row.tsx
  components/grid/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: add agent discovery metadata (#58510)
  functions/.well-known/oauth-authorization-server.ts
  functions/.well-known/oauth-protected-resource.ts
  functions/_middleware.ts
  package.json
  public/.well-known/api-catalog
  public/.well-known/jwks.json
  public/.well-known/mcp/server-card.json
  public/.well-known/openapi.json
  public/_headers
  public/auth.md
  scripts/check-agent-discovery.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(Select): follow-up refine single-mode open-state labelRender dimming (#58288)
  components/select/style/select-input.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: enable utoopack to build site (#58457)
  .dumi/theme/builtins/IconSearch/fields.ts
  .dumirc.ts
  .gitignore
Due: biome check --write --no-errors-on-unmatched, eslint

fix: keep Table sticky header top border in bordered mode (#58451)
  components/table/style/bordered.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: add rate star border tokens (#58501)
  components/rate/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/rate/__tests__/__snapshots__/demo.test.ts.snap
  components/rate/demo/component-token.md
  components/rate/demo/component-token.tsx
  components/rate/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

ci: sync preview deploy failures to PR checks (#58473)
  .github/workflows/preview-deploy.yml
Due: prettier --ignore-unknown --write

fix(Table): honor defaultSortOrder on responsive columns (#58008)
  components/table/InternalTable.tsx
  components/table/__tests__/Table.sorter.test.tsx
  components/table/hooks/useSorter.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore(deps): bump @rc-component/select to v1.8.2
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

Apply suggestions from code review
  components/form/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: prevent disabled FloatButton.Group hover menu opening (#58513)
  components/float-button/FloatButtonGroup.tsx
  components/float-button/__tests__/group.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Badge): improve processing status in dark mode (#58414)
  components/badge/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: address feature merge review issues
  components/steps/__tests__/maxCount.test.tsx
  components/steps/index.tsx
  components/steps/useDisplaySteps.ts
  components/watermark/__tests__/index.test.tsx
  components/watermark/index.tsx
  components/watermark/utils.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update @ant-design/icons to 6.3.0
  components/upload/UploadList/index.tsx
  components/upload/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/upload/__tests__/__snapshots__/demo.test.ts.snap
  components/upload/__tests__/__snapshots__/uploadlist.test.tsx.snap
  components/upload/__tests__/semantic.test.tsx
  components/upload/__tests__/uploadlist.test.tsx
  components/upload/style/picture.ts
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Tabs): support body and content semantic DOM
  components/tabs/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tabs/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/tabs/__tests__/__snapshots__/demo.test.ts.snap
  components/tabs/__tests__/__snapshots__/index.test.tsx.snap
  components/tabs/__tests__/index.test.tsx
  components/tabs/__tests__/semantic.test.tsx
  components/tabs/demo/_semantic.tsx
  components/tabs/demo/card-top.tsx
  components/tabs/demo/style-class.tsx
  components/tabs/index.tsx
  components/tabs/style/index.ts
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

test: update space icon snapshot
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

test(Tabs): update nested snapshots
  components/card/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/card/__tests__/__snapshots__/demo.test.ts.snap
  components/card/__tests__/__snapshots__/index.test.tsx.snap
  components/card/__tests__/__snapshots__/vitest/index.test.tsx.snap
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/splitter/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/splitter/__tests__/__snapshots__/demo.test.ts.snap
Due: none

test: update image icon snapshot
  components/image/__tests__/__snapshots__/vitest/index.test.tsx.snap
Due: none

test: update Image snapshot
  components/image/__tests__/__snapshots__/vitest/index.test.tsx.snap
Due: none

test: update icon snapshots
  components/float-button/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/image/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/image/__tests__/__snapshots__/index.test.tsx.snap
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

Apply suggestions from code review
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Alert): simplify title-only alignment
  components/alert/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Tabs): support body and content semantic DOM (#58521)
  components/card/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/card/__tests__/__snapshots__/demo.test.ts.snap
  components/card/__tests__/__snapshots__/index.test.tsx.snap
  components/card/__tests__/__snapshots__/vitest/index.test.tsx.snap
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/float-button/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/image/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/image/__tests__/__snapshots__/index.test.tsx.snap
  components/image/__tests__/__snapshots__/vitest/index.test.tsx.snap
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
  components/splitter/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/splitter/__tests__/__snapshots__/demo.test.ts.snap
  components/tabs/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tabs/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/tabs/__tests__/__snapshots__/demo.test.ts.snap
  components/tabs/__tests__/__snapshots__/index.test.tsx.snap
  components/tabs/__tests__/index.test.tsx
  components/tabs/__tests__/semantic.test.tsx
  components/tabs/demo/_semantic.tsx
  components/tabs/demo/card-top.tsx
  components/tabs/demo/style-class.tsx
  components/tabs/index.tsx
  components/tabs/style/index.ts
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

test: update icon snapshots
  components/float-button/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/image/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/image/__tests__/__snapshots__/index.test.tsx.snap
  components/image/__tests__/__snapshots__/vitest/index.test.tsx.snap
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

chore: update @ant-design/icons to 6.3.1
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

Update test.yml
  .github/workflows/test.yml
Due: prettier --ignore-unknown --write

Update size-limit.yml
  .github/workflows/size-limit.yml
Due: prettier --ignore-unknown --write

Update visual-regression-diff-build.yml
  .github/workflows/visual-regression-diff-build.yml
Due: prettier --ignore-unknown --write

fix(Select): prevent creating disabled tags (#58518)
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update @ant-design/icons to 6.3.1 (#58497)
  .github/workflows/size-limit.yml
  .github/workflows/test.yml
  .github/workflows/visual-regression-diff-build.yml
  components/upload/UploadList/index.tsx
  components/upload/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/upload/__tests__/__snapshots__/demo.test.ts.snap
  components/upload/__tests__/__snapshots__/uploadlist.test.tsx.snap
  components/upload/__tests__/semantic.test.tsx
  components/upload/__tests__/uploadlist.test.tsx
  components/upload/style/picture.ts
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: add new icons to icon page
  .dumi/theme/builtins/IconSearch/IconSearch.tsx
  .dumi/theme/builtins/IconSearch/fields.ts
  .dumi/theme/builtins/IconSearch/meta/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: use ant.design URLs for component LLMs links (#57725)
  .dumi/theme/builtins/ComponentMeta/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Alert): resolve CSS specificity conflict for icon vertical alignment with description (#57915)
  components/alert/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint
