Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: add demo and docs
  components/notification/demo/progress-color.md
  components/notification/demo/progress-color.tsx
  components/notification/index.en-US.md
  components/notification/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: add snapshot
  components/notification/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/notification/__tests__/__snapshots__/demo.test.ts.snap
Due: none

chore: upgrade deps
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

docs: Update index.en-US.md
  components/tooltip/index.en-US.md
Due: prettier --ignore-unknown --write

Update index.zh-CN.md
  components/tooltip/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: Update index.en-US.md (#52969)
  components/tooltip/index.en-US.md
  components/tooltip/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix(AutoComplete): add missing style to ensure alignment (#52819)
  components/auto-complete/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/auto-complete/__tests__/__snapshots__/demo.test.tsx.snap
  components/auto-complete/demo/AutoComplete-and-Select.md
  components/auto-complete/demo/AutoComplete-and-Select.tsx
  components/auto-complete/index.en-US.md
  components/auto-complete/index.zh-CN.md
  components/select/style/single.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: update docs
  components/masonry/Masonry.tsx
  components/masonry/index.en-US.md
  components/masonry/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: add SemanticPreview
  components/masonry/Masonry.tsx
  components/masonry/demo/_semantic.tsx
  components/masonry/index.en-US.md
  components/masonry/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: adjust calc logic
  components/masonry/Masonry.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add more info
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
  components/masonry/index.en-US.md
  components/masonry/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix: lint fix
  .dumi/theme/slots/Header/index.tsx
  components/cascader/demo/custom-dropdown.tsx
  components/config-provider/demo/direction.tsx
  components/select/demo/custom-dropdown-menu.tsx
  components/space/demo/compact.tsx
  components/tree-select/demo/async.tsx
  components/tree-select/demo/basic.tsx
  components/tree-select/demo/component-token.tsx
  components/tree-select/demo/multiple.tsx
  components/tree-select/demo/placement.tsx
  components/tree-select/demo/suffix.tsx
  components/tree-select/demo/treeData.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: bump cssinjs (#52952)
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix: remove mark style from reset.css
  components/style/reset.css
Due: biome check --write --no-errors-on-unmatched, eslint

test: add test case
  components/config-provider/__tests__/style.test.tsx
  components/config-provider/context.ts
  components/config-provider/index.tsx
  components/masonry/Masonry.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: fix lint
  components/masonry/index.en-US.md
  components/masonry/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat: ConfigProvider support classnames and styles for timeline
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
  components/timeline/Timeline.tsx
  components/timeline/TimelineItem.tsx
  components/timeline/TimelineItemList.tsx
  components/timeline/__tests__/index.test.tsx
  components/timeline/demo/_semantic.tsx
  components/timeline/index.en-US.md
  components/timeline/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix
  components/timeline/Timeline.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snapshot
  components/masonry/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/masonry/__tests__/__snapshots__/demo.test.ts.snap
  components/masonry/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: migrate Drawer to @rc-component/drawer
  .dumi/theme/slots/Sidebar/index.tsx
  components/drawer/DrawerPanel.tsx
  components/drawer/__tests__/MultiDrawer.test.tsx
  components/drawer/__tests__/demo-extend.test.tsx
  components/drawer/index.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snapshot
  components/auto-complete/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/auto-complete/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

chore: rename notificationProgressBg to progressBg
  components/notification/demo/progress-color.tsx
  components/notification/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: migrate Image to @rc-component/image
  components/image/PreviewGroup.tsx
  components/image/index.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: replace api
  components/mentions/index.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix cascader dropdown api and snap, popupAlign
  components/auto-complete/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/auto-complete/__tests__/__snapshots__/demo.test.tsx.snap
  components/auto-complete/index.tsx
  components/cascader/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/cascader/__tests__/__snapshots__/demo.test.tsx.snap
  components/cascader/__tests__/__snapshots__/index.test.tsx.snap
  components/cascader/index.tsx
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/config-provider/__tests__/__snapshots__/popup.test.tsx.snap
  components/empty/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/empty/__tests__/__snapshots__/demo.test.ts.snap
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
  components/form/__tests__/__snapshots__/index.test.tsx.snap
  components/input-number/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input-number/__tests__/__snapshots__/demo.test.tsx.snap
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/select/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/select/__tests__/__snapshots__/demo.test.tsx.snap
  components/select/index.tsx
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
  components/tree-select/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tree-select/__tests__/__snapshots__/demo.test.tsx.snap
  components/tree-select/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix ci test
  components/transfer/__tests__/dropdown.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix key
  components/table/__tests__/Table.filter.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snapshot
  components/transfer/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/transfer/__tests__/__snapshots__/demo.test.ts.snap
  components/transfer/__tests__/__snapshots__/index.test.tsx.snap
  components/transfer/__tests__/__snapshots__/list.test.tsx.snap
  components/transfer/__tests__/dropdown.test.tsx
  components/transfer/list.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Revert "test: update snapshot"
  components/transfer/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/transfer/__tests__/__snapshots__/demo.test.ts.snap
  components/transfer/__tests__/__snapshots__/index.test.tsx.snap
  components/transfer/__tests__/__snapshots__/list.test.tsx.snap
  components/transfer/__tests__/dropdown.test.tsx
  components/transfer/list.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: fix logic
  components/dropdown/dropdown.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snapshot
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
Due: none

chore: some change
  tests/setup.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: rm css-var visual regression
  scripts/visual-regression/build.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: Sync button and notification progress bar colors
  components/notification/demo/progress-color.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
