Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: table pagination theme color broken with small size
  components/pagination/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

Fixed the bug for showing extra text if added in ant-menu
  components/menu/MenuItem.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

ci: Add try catch to issue inactivity reminder script
  .github/workflows/issue-inactivity-reminder.yml
Due: prettier --ignore-unknown --write

doc: update duration version
  components/carousel/demo/dot-duration.md
  components/carousel/index.en-US.md
  components/carousel/index.tsx
  components/carousel/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test: update test
  components/carousel/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/carousel/__tests__/__snapshots__/demo.test.ts.snap
  components/carousel/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Fixed extra text overflowing issue
  components/menu/MenuItem.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

doc: update duration version (#52832)
  components/carousel/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/carousel/__tests__/__snapshots__/demo.test.ts.snap
  components/carousel/__tests__/index.test.tsx
  components/carousel/demo/dot-duration.md
  components/carousel/index.en-US.md
  components/carousel/index.tsx
  components/carousel/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: add deprecated for tooltip
  components/tooltip/index.tsx
  components/tooltip/shared/sharedProps.en-US.md
  components/tooltip/shared/sharedProps.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Removed the styles from inline antd-library and added to respective place
  components/menu/MenuItem.tsx
  components/menu/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

Increased the size of extra text so that it can also be seen little more
  components/menu/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add deprecated for tooltip (#52834)
  components/tooltip/index.tsx
  components/tooltip/shared/sharedProps.en-US.md
  components/tooltip/shared/sharedProps.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(tabs): add missing style design token
  components/tabs/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: Supports customizing the background color of default type buttons in disabled state
  components/button/style/index.ts
  components/button/style/token.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: add corresponding test case
  components/button/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

style: adjust tab height
  components/tabs/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: rewrite renderSeparator to FC
  components/input/OTP/Separator.tsx
  components/input/OTP/index.tsx
  components/input/demo/otp.tsx
  components/input/index.en-US.md
  components/input/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

refactor: rewrite renderSeparator to FC
  components/input/OTP/Separator.tsx
  components/input/OTP/index.tsx
  components/input/demo/otp.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: rewrite renderSeparator to FC
  components/input/OTP/Separator.tsx
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
Due: biome check --write --no-errors-on-unmatched, eslint

fix: fix
  components/input/OTP/Separator.tsx
  components/input/OTP/index.tsx
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/input/demo/otp.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

style: fix tabs size
  components/tabs/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

ci: Add try catch to issue inactivity reminder script (#52831)
  .github/workflows/issue-inactivity-reminder.yml
Due: prettier --ignore-unknown --write

lint: reopen no-new-array rules (#52826)
  components/transfer/hooks/useData.ts
  components/transfer/hooks/useSelection.ts
  eslint.config.mjs
Due: biome check --write --no-errors-on-unmatched, eslint

update demo
  components/spin/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snapshot
  components/flex/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/flex/__tests__/__snapshots__/demo.test.ts.snap
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
  components/qr-code/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/qr-code/__tests__/__snapshots__/demo.test.ts.snap
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

fix: color of link
  components/button/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snapshot
  components/button/style/index.ts
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/table/__tests__/__snapshots__/Table.filter.test.tsx.snap
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snapshot
  components/button/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/button/__tests__/__snapshots__/demo.test.ts.snap
  components/button/button.tsx
  components/button/buttonHelpers.tsx
  components/button/demo/component-token.tsx
  components/button/style/index.ts
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/flex/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/flex/__tests__/__snapshots__/demo.test.ts.snap
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
  components/qr-code/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/qr-code/__tests__/__snapshots__/demo.test.ts.snap
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
  components/table/__tests__/__snapshots__/Table.filter.test.tsx.snap
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint

update demo
  components/spin/demo/_semantic_fullscreen.tsx
  components/spin/index.en-US.md
  components/spin/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: Button missing primary style (#52812)
  components/button/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/button/__tests__/__snapshots__/demo.test.ts.snap
  components/button/button.tsx
  components/button/demo/component-token.tsx
  components/button/style/index.ts
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/flex/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/flex/__tests__/__snapshots__/demo.test.ts.snap
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
  components/qr-code/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/qr-code/__tests__/__snapshots__/demo.test.ts.snap
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
  components/table/__tests__/__snapshots__/Table.filter.test.tsx.snap
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint

docs: changelog of 5.24.1
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: fix lint
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

test: update snapshot
  components/tabs/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tabs/__tests__/__snapshots__/demo.test.ts.snap
  components/tabs/demo/component-token.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: ConfigProvider support classnames and styles for switch
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
  components/switch/__tests__/index.test.tsx
  components/switch/demo/_semantic.tsx
  components/switch/index.en-US.md
  components/switch/index.tsx
  components/switch/index.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: miss en ver
  CHANGELOG.en-US.md
Due: prettier --ignore-unknown --write

chore: fix en
  CHANGELOG.en-US.md
Due: prettier --ignore-unknown --write

chore: size-limit add 1KiB
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update demo for diff
  components/tabs/demo/component-token.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: add 1kib
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
