Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

refactor it
  .dumi/theme/common/SemanticPreview.tsx
  components/badge/demo/_semantic.tsx
  components/button/demo/_semantic.tsx
  components/card/demo/_semantic.tsx
  components/collapse/demo/_semantic.tsx
  components/descriptions/demo/_semantic.tsx
  components/drawer/demo/_semantic.tsx
  components/empty/demo/_semantic.tsx
  components/input/demo/_semantic_input.tsx
  components/input/demo/_semantic_textarea.tsx
  components/list/demo/_semantic.tsx
  components/modal/demo/_semantic.tsx
  components/popconfirm/demo/_semantic.tsx
  components/popover/demo/_semantic.tsx
  components/slider/demo/_semantic.tsx
  components/space/demo/_semantic.tsx
  components/tooltip/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

separate tsToJs
  .dumi/theme/plugin.ts
  .dumi/theme/tsToJs.ts
  .dumi/theme/utils.ts
Due: biome check --write --no-errors-on-unmatched, eslint

Update .dumi/theme/utils.ts
  .dumi/theme/utils.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: Blog about v6 css (#53899)
  docs/blog/css-tricks.en-US.md
  docs/blog/css-tricks.zh-CN.md
  docs/blog/css-tricks/condition.tsx
  docs/blog/css-tricks/scope.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

style: fix Tabs unexpected focus style
  components/tabs/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix path
  components/cascader/demo/_semantic.tsx
  components/date-picker/demo/_semantic.tsx
  components/tree-select/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update doc
  components/timeline/Timeline.tsx
  components/timeline/demo/_semantic.tsx
  components/timeline/demo/alternate.tsx
  components/timeline/demo/basic.tsx
  components/timeline/demo/color.tsx
  components/timeline/demo/component-token.tsx
  components/timeline/demo/custom.tsx
  components/timeline/demo/end.md
  components/timeline/demo/end.tsx
  components/timeline/demo/label.tsx
  components/timeline/demo/pending.md
  components/timeline/demo/pending.tsx
  components/timeline/demo/right.md
  components/timeline/demo/variant.tsx
  components/timeline/demo/wireframe.md
  components/timeline/demo/wireframe.tsx
  components/timeline/index.en-US.md
  components/timeline/index.zh-CN.md
  components/timeline/useItems.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: formItemInput
  components/form/FormItemInput.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: semantic style
  components/timeline/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix SelectSemanticTemplate.tsx
  .dumi/theme/common/SelectSemanticTemplate.tsx
  components/auto-complete/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix SemanticPreview.tsx
  .dumi/theme/common/SemanticPreview.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

revert utils/tsToJs
  .dumi/theme/plugin.ts
  .dumi/theme/utils/index.ts
  .dumi/theme/utils/tsToJs.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix lint
  .dumi/theme/common/SelectSemanticTemplate.tsx
  .dumi/theme/utils/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix path
  components/select/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix path
  .dumi/theme/utils/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

style: fix Tabs unexpected focus style (#53901)
  components/tabs/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: refactor .dumi code folders (#53437)
  .dumi/theme/common/SelectSemanticTemplate.tsx
  .dumi/theme/common/SemanticPreview.tsx
  .dumi/theme/utils/__tests__/runTests.ts
  .dumi/theme/utils/__tests__/tsToJs.test.ts
  .dumi/theme/utils/index.ts
  .dumi/theme/utils/tsToJs.test.ts
  .dumi/theme/utils/tsToJs.ts
  components/auto-complete/demo/_semantic.tsx
  components/badge/demo/_semantic.tsx
  components/button/demo/_semantic.tsx
  components/card/demo/_semantic.tsx
  components/cascader/demo/_semantic.tsx
  components/collapse/demo/_semantic.tsx
  components/date-picker/demo/_semantic.tsx
  components/descriptions/demo/_semantic.tsx
  components/drawer/demo/_semantic.tsx
  components/empty/demo/_semantic.tsx
  components/input/demo/_semantic_input.tsx
  components/input/demo/_semantic_textarea.tsx
  components/list/demo/_semantic.tsx
  components/modal/demo/_semantic.tsx
  components/popconfirm/demo/_semantic.tsx
  components/popover/demo/_semantic.tsx
  components/select/demo/_semantic.tsx
  components/slider/demo/_semantic.tsx
  components/space/demo/_semantic.tsx
  components/tooltip/demo/_semantic.tsx
  components/tree-select/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: remove SemanticPreview
  components/alert/demo/_semantic.tsx
  components/anchor/demo/_semantic.tsx
  components/badge/demo/_semantic_ribbon.tsx
  components/breadcrumb/demo/_semantic.tsx
  components/calendar/demo/_semantic.tsx
  components/card/demo/_semantic_meta.tsx
  components/checkbox/demo/_semantic.tsx
  components/color-picker/demo/_semantic.tsx
  components/dropdown/demo/_semantic.tsx
  components/form/demo/_semantic.tsx
  components/image/demo/_semantic.tsx
  components/input-number/demo/_semantic.tsx
  components/masonry/demo/_semantic.tsx
  components/mentions/demo/_semantic.tsx
  components/menu/demo/_semantic.tsx
  components/message/demo/_semantic.tsx
  components/notification/demo/_semantic.tsx
  components/pagination/demo/_semantic.tsx
  components/progress/demo/_semantic.tsx
  components/qr-code/demo/_semantic.tsx
  components/radio/demo/_semantic.tsx
  components/result/demo/_semantic.tsx
  components/segmented/demo/_semantic.tsx
  components/skeleton/demo/_semantic.tsx
  components/skeleton/demo/_semantic_element.tsx
  components/spin/demo/_semantic.tsx
  components/spin/demo/_semantic_fullscreen.tsx
  components/splitter/demo/_semantic.tsx
  components/statistic/demo/_semantic.tsx
  components/steps/demo/_semantic.tsx
  components/switch/demo/_semantic.tsx
  components/table/demo/_semantic.tsx
  components/tabs/demo/_semantic.tsx
  components/tag/demo/_semantic.tsx
  components/tag/demo/_semantic_group.tsx
  components/timeline/demo/_semantic.tsx
  components/tour/demo/_semantic.tsx
  components/transfer/demo/_semantic.tsx
  components/tree/demo/_semantic.tsx
  components/upload/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: fix lint error
  components/steps/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: add test case about cascader
  components/cascader/__tests__/__snapshots__/index.test.tsx.snap
  components/cascader/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: add test case about cascader (#53910)
  components/cascader/__tests__/__snapshots__/index.test.tsx.snap
  components/cascader/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: ConfigProvider support classNames and styles for divider
  components/config-provider/context.ts
  components/divider/demo/_semantic.tsx
  components/divider/index.en-US.md
  components/divider/index.tsx
  components/divider/index.zh-CN.md
  components/divider/rail.tsx
  components/divider/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

save
  components/badge/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/badge/__tests__/__snapshots__/demo.test.tsx.snap
  components/button/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/button/__tests__/__snapshots__/demo.test.ts.snap
  components/collapse/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/collapse/__tests__/__snapshots__/demo.test.ts.snap
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
  components/divider/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/divider/__tests__/__snapshots__/demo.test.ts.snap
  components/divider/__tests__/semantic.test.tsx
  components/divider/demo/_semantic.tsx
  components/divider/index.tsx
  components/divider/rail.tsx
  components/divider/style/index.ts
  components/grid/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/grid/__tests__/__snapshots__/demo.test.ts.snap
  components/list/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/list/__tests__/__snapshots__/demo.test.ts.snap
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
  components/tag/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tag/__tests__/__snapshots__/demo.test.tsx.snap
  components/tooltip/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tooltip/__tests__/__snapshots__/demo.test.tsx.snap
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

save
  components/divider/demo/_semantic.tsx
  components/divider/index.tsx
  components/divider/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(descriptions): correct DescriptionsItemProps span property type
  components/descriptions/Item.ts
  components/descriptions/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add changelog 5.25.3
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: add test case
  components/descriptions/__tests__/span-type.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(53897-input.search) change test case
  components/input/__tests__/Search.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add changelog 5.25.3 (#53914)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

style update
  components/divider/demo/_semantic.tsx
  components/divider/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

clean
  components/divider/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

demo update
  components/divider/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: rename the test case file name to `type.test.tsx`
  components/descriptions/__tests__/type.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix
  components/divider/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update demo
  components/divider/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: fix CHANGELOG
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

Update CHANGELOG.en-US.md
  CHANGELOG.en-US.md
Due: prettier --ignore-unknown --write
