Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(Transfer): preserve custom action disabled state (#58718)
  components/transfer/Actions.tsx
  components/transfer/__tests__/actions.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: add ES2020 syntax check for dist files
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

docs(Alert): revert icon description (#58750)
  components/alert/demo/custom-icon.md
  components/alert/demo/icon.md
Due: prettier --ignore-unknown --write

test: fix scroll fade demo CI
  components/menu/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/menu/__tests__/demo.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Apply suggestions from code review
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Tag): improve filled variant visibility in dark mode
  components/tag/style/index.ts
  components/tag/style/presetCmp.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: respect line type token in component borders
  components/button/style/variant.ts
  components/color-picker/style/index.ts
  components/select/style/select-input-multiple.ts
  components/space/style/addon.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Table): preserve nested table top border inside custom content (#58746)
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
  components/table/demo/nested-table-in-tabs-debug.md
  components/table/demo/nested-table-in-tabs-debug.tsx
  components/table/index.en-US.md
  components/table/index.zh-CN.md
  components/table/style/bordered.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test(Select): cover clear suffix hover interactions
  components/select/__tests__/image.test.ts
  tests/shared/imageTest.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: respect line type design token in component borders (#58755)
  components/button/style/variant.ts
  components/color-picker/style/index.ts
  components/select/style/select-input-multiple.ts
  components/space/style/addon.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: use Select prefix for scroll fade selector
  components/select/__tests__/index.test.tsx
  components/select/style/dropdown.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: make popup scroll fades configurable
  components/config-provider/context.ts
  components/dropdown/__tests__/index.test.tsx
  components/dropdown/dropdown.tsx
  components/dropdown/index.en-US.md
  components/dropdown/index.zh-CN.md
  components/dropdown/style/index.ts
  components/menu/__tests__/index.test.tsx
  components/menu/index.en-US.md
  components/menu/index.zh-CN.md
  components/menu/menu.tsx
  components/menu/style/theme.ts
  components/select/__tests__/index.test.tsx
  components/select/index.en-US.md
  components/select/index.tsx
  components/select/index.zh-CN.md
  components/select/style/dropdown.ts
  components/style/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(type): improve document type detection in utilities
  components/_util/getScroll.ts
  components/_util/scrollTo.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(type): improve document type detection in utilities (#58758)
  components/_util/getScroll.ts
  components/_util/scrollTo.ts
Due: biome check --write --no-errors-on-unmatched, eslint

remove deprecated api
  components/listy/index.tsx
  components/listy/interface.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: support boolean skip option in node ssr demo test
  components/__tests__/node.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test(Listy): exclude jest.mock based token test from vitest
  vitest.config.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: update antd exports snapshot with Listy
  components/__tests__/__snapshots__/index.test.ts.snap
Due: none

chore(Listy): remove code comments
  components/listy/__tests__/demo-extend.test.ts
  components/listy/__tests__/demo.test.ts
  components/listy/demo/infinite.tsx
  components/listy/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs(Listy): add global config column to API table
  components/listy/index.en-US.md
  components/listy/index.zh-CN.md
Due: prettier --ignore-unknown --write

update
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

test(Listy): skip demo snapshot tests for virtual rendering
  components/listy/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/listy/__tests__/__snapshots__/demo.test.ts.snap
  components/listy/__tests__/demo-extend.test.ts
  components/listy/__tests__/demo.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/listy/index.tsx
  components/listy/interface.ts
Due: biome check --write --no-errors-on-unmatched, eslint

update api docs
  components/listy/index.en-US.md
  components/listy/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat: add Listy virtual list component
  components/config-provider/context.ts
  components/config-provider/index.tsx
  components/index.ts
  components/listy/__tests__/__snapshots__/index.test.tsx.snap
  components/listy/__tests__/__snapshots__/vitest/index.test.tsx.snap
  components/listy/__tests__/index.test.tsx
  components/listy/__tests__/semantic.test.tsx
  components/listy/index.en-US.md
  components/listy/index.tsx
  components/listy/index.zh-CN.md
  components/listy/interface.ts
  components/listy/style/index.ts
  components/theme/interface/components.ts
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(Listy): improve virtual config, itemHeight token and type support
  components/listy/__tests__/index.test.tsx
  components/listy/__tests__/semantic.test.tsx
  components/listy/__tests__/token.test.tsx
  components/listy/index.tsx
  components/listy/interface.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: update exports, site and vitest snapshots for Listy
  components/listy/__tests__/__snapshots__/vitest/index.test.tsx.snap
  scripts/__snapshots__/check-site.ts.snap
  tests/__snapshots__/index.test.ts.snap
Due: none

Update components/listy/index.en-US.md
  components/listy/index.en-US.md
Due: prettier --ignore-unknown --write

fix(Listy): include item padding and border in itemHeight estimation
  components/listy/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(Masonry): simplify virtual mode to require known item heights
  components/masonry/Masonry.tsx
  components/masonry/VirtualMasonry.tsx
  components/masonry/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/masonry/__tests__/__snapshots__/demo.test.ts.snap
  components/masonry/__tests__/virtual.test.tsx
  components/masonry/demo/masonry-virtual.md
  components/masonry/demo/masonry-virtual.tsx
  components/masonry/index.en-US.md
  components/masonry/index.zh-CN.md
  components/masonry/style/index.ts
  components/masonry/utils.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(Masonry): stabilize virtual layout callbacks and CI typing
  components/masonry/Masonry.tsx
  components/masonry/VirtualMasonry.tsx
  components/masonry/__tests__/index.test.tsx
  components/masonry/__tests__/virtual.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update CHANGELOG.zh-CN.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs(time-picker): sync `status` enum value
  components/time-picker/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs(time-picker): sync `status` enum value (#58761)
  components/time-picker/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix: handle OTP IME composition
  components/input/OTP/OTPInput.tsx
  components/input/__tests__/otp.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: address popup scroll fade review feedback
  components/dropdown/__tests__/index.test.tsx
  components/dropdown/dropdown.tsx
  components/dropdown/style/index.ts
  components/menu/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/menu/__tests__/__snapshots__/demo.test.tsx.snap
  components/menu/demo/scrollable-submenu.tsx
  components/menu/style/theme.ts
  components/select/style/dropdown.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: align zero-runtime icon styles with runtime styles
  components/style/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Spin): support minDuration for minimum spinning duration
  components/spin/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/spin/__tests__/__snapshots__/demo.test.ts.snap
  components/spin/__tests__/minDuration.test.tsx
  components/spin/demo/min-duration.md
  components/spin/demo/min-duration.tsx
  components/spin/index.en-US.md
  components/spin/index.tsx
  components/spin/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
