Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

test: rename test fn
  components/_util/statusUtils.ts
  components/descriptions/index.tsx
  components/flex/utils.ts
  components/table/__tests__/Table.semantic.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: turn on ts/consistent-type-imports
  components/color-picker/interface.ts
  eslint.config.mjs
  typings/custom-typings.d.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snap
  components/descriptions/Cell.tsx
  components/descriptions/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/descriptions/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint

chore: bump @eslint-react/eslint-plugin (#55165)
  eslint.config.mjs
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

test(notification): update style-class demo snapshots
  components/notification/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/notification/__tests__/__snapshots__/demo.test.ts.snap
Due: none

chore: turn on ts/consistent-type-imports (#55166)
  components/color-picker/interface.ts
  eslint.config.mjs
  typings/custom-typings.d.ts
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/notification/demo/style-class.md
  components/notification/demo/style-class.md
Due: prettier --ignore-unknown --write

chore: turn on unicorn/prefer-number-properties
  components/_util/__tests__/isPrimitive.test.ts
  components/space/__tests__/gap.test.tsx
  eslint.config.mjs
Due: biome check --write --no-errors-on-unmatched, eslint

adjust code
  components/card/Card.tsx
  components/card/Meta.tsx
  components/card/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/card/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint

update docs md
  components/card/demo/style-class.md
Due: prettier --ignore-unknown --write

chore: turn on unicorn/prefer-includes
  .dumi/remarkAnchor.ts
  .dumi/theme/layouts/DocLayout/index.tsx
  .dumi/theme/slots/Content/Contributors.tsx
  components/auto-complete/demo/non-case-sensitive.tsx
  components/cascader/demo/search.tsx
  components/menu/demo/sider-current.tsx
  components/tag/demo/animation.tsx
  components/transfer/demo/component-token.tsx
  components/transfer/demo/search.tsx
  components/tree/demo/search.tsx
  eslint.config.mjs
Due: biome check --write --no-errors-on-unmatched, eslint

chore: turn on unicorn/prefer-number-properties (#55168)
  components/_util/__tests__/isPrimitive.test.ts
  components/space/__tests__/gap.test.tsx
  eslint.config.mjs
Due: biome check --write --no-errors-on-unmatched, eslint

chore: turn on ts/method-signature-style
  components/message/interface.ts
  components/modal/useModal/index.tsx
  components/notification/interface.ts
  eslint.config.mjs
  typings/jest.d.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(tooltip): add onVisibleChange
  components/tooltip/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(tooltip): adjust the position of noTitle
  components/tooltip/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update demo and snap
  components/card/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/card/__tests__/__snapshots__/demo.test.ts.snap
  components/card/demo/style-class.tsx
  components/card/index.en-US.md
  components/card/index.zh-CN.md
  components/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: turn on ts/method-signature-style (#55167)
  components/message/interface.ts
  components/modal/useModal/index.tsx
  components/notification/interface.ts
  eslint.config.mjs
  typings/jest.d.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: turn on test/prefer-hooks-in-order
  components/_util/__tests__/scrollTo.test.ts
  components/_util/__tests__/util.test.tsx
  components/_util/__tests__/warning.test.tsx
  components/_util/__tests__/wave.test.tsx
  components/affix/__tests__/Affix.test.tsx
  components/auto-complete/__tests__/focus.test.tsx
  components/config-provider/__tests__/form.test.tsx
  components/table/__tests__/empty.test.tsx
  components/tooltip/__tests__/tooltip.test.tsx
  components/upload/__tests__/upload.test.tsx
  components/upload/__tests__/uploadlist.test.tsx
  components/watermark/__tests__/index.test.tsx
  eslint.config.mjs
Due: biome check --write --no-errors-on-unmatched, eslint

test: fix test
  components/popconfirm/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/popconfirm/__tests__/__snapshots__/demo.test.tsx.snap
  components/popconfirm/__tests__/__snapshots__/index.test.tsx.snap
  components/popconfirm/__tests__/index.test.tsx
  components/popover/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/popover/__tests__/__snapshots__/demo.test.tsx.snap
  components/popover/__tests__/__snapshots__/index.test.tsx.snap
  components/popover/__tests__/index.test.tsx
  components/tooltip/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tooltip/__tests__/__snapshots__/demo.test.tsx.snap
Due: biome check --write --no-errors-on-unmatched, eslint

adjust code
  components/switch/demo/style-class.tsx
  components/switch/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snapshot
  components/tour/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

chore: turn on perfectionist/sort-exports
  .dumi/theme/common/styles/index.ts
  components/color-picker/index.tsx
  components/index.ts
  components/list/index.tsx
  components/menu/index.tsx
  components/theme/interface/index.ts
  components/theme/internal.ts
  components/tree/index.tsx
  eslint.config.mjs
Due: biome check --write --no-errors-on-unmatched, eslint

feat(input-otp_textarea_search): Support better customization with semantic classNames/styles as function (#55109)
  components/input/OTP/index.tsx
  components/input/Search.tsx
  components/input/TextArea.tsx
  components/input/__tests__/Search.test.tsx
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/input/__tests__/otp.test.tsx
  components/input/__tests__/textarea.test.tsx
  components/input/demo/style-class.tsx
  components/input/index.en-US.md
  components/input/index.zh-CN.md
  scripts/__snapshots__/check-site.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: turn on test/prefer-hooks-in-order (#55171)
  components/_util/__tests__/scrollTo.test.ts
  components/_util/__tests__/util.test.tsx
  components/_util/__tests__/warning.test.tsx
  components/_util/__tests__/wave.test.tsx
  components/affix/__tests__/Affix.test.tsx
  components/auto-complete/__tests__/focus.test.tsx
  components/config-provider/__tests__/form.test.tsx
  components/table/__tests__/empty.test.tsx
  components/tooltip/__tests__/tooltip.test.tsx
  components/upload/__tests__/upload.test.tsx
  components/upload/__tests__/uploadlist.test.tsx
  components/watermark/__tests__/index.test.tsx
  eslint.config.mjs
Due: biome check --write --no-errors-on-unmatched, eslint

docs: use message hook to avoid context issue
  components/popconfirm/demo/basic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(mentions): Support better customization with semantic classNames/styles as function (#54963)
  components/mentions/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/mentions/__tests__/__snapshots__/demo.test.tsx.snap
  components/mentions/__tests__/index.test.tsx
  components/mentions/demo/_semantic.tsx
  components/mentions/demo/style-class.md
  components/mentions/demo/style-class.tsx
  components/mentions/index.en-US.md
  components/mentions/index.tsx
  components/mentions/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Revert "chore: site"
  .dumi/pages/index/components/Theme/index.tsx
  .utoo.toml
Due: biome check --write --no-errors-on-unmatched, eslint

chore: turn on perfectionist/sort-exports (#55172)
  .dumi/theme/common/styles/index.ts
  components/color-picker/index.tsx
  components/index.ts
  components/list/index.tsx
  components/menu/index.tsx
  components/theme/interface/index.ts
  components/theme/internal.ts
  components/tree/index.tsx
  eslint.config.mjs
Due: biome check --write --no-errors-on-unmatched, eslint

chore: turn on unicorn/prefer-includes (#55169)
  .dumi/remarkAnchor.ts
  .dumi/theme/layouts/DocLayout/index.tsx
  .dumi/theme/slots/Content/Contributors.tsx
  components/auto-complete/demo/non-case-sensitive.tsx
  components/cascader/demo/search.tsx
  components/menu/demo/sider-current.tsx
  components/tag/demo/animation.tsx
  components/transfer/demo/component-token.tsx
  components/transfer/demo/search.tsx
  components/tree/demo/search.tsx
  eslint.config.mjs
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/input/TextArea.tsx
  components/mentions/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: turn on unicorn/prefer-string-starts-ends-with
  .dumi/rehypeAntd.ts
  components/upload/utils.ts
  eslint.config.mjs
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snapshot
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/index.test.tsx
  components/menu/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/menu/__tests__/index.test.tsx
  components/segmented/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/segmented/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: lint fix
  components/tree-select/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: lint fix
  components/config-provider/UnstableContext.tsx
  components/masonry/__tests__/index.test.tsx
  components/transfer/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: fix popconfirm style (#55173)
  components/popconfirm/demo/basic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: fix test
  components/avatar/__tests__/Avatar.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: fix typo of pannel to panel
  components/tour/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tour/__tests__/__snapshots__/demo.test.tsx.snap
  components/tour/__tests__/__snapshots__/index.test.tsx.snap
  components/tour/__tests__/index.test.tsx
  components/tour/panelRender.tsx
  components/tour/style/index.ts
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat: Add Marathi translations
  components/calendar/locale/mr_IN.ts
  components/date-picker/locale/mr_IN.ts
  components/locale/__tests__/index.test.tsx
  components/locale/mr_IN.ts
  components/time-picker/locale/mr_IN.ts
  docs/react/i18n.en-US.md
  docs/react/i18n.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write
