Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(typo): correct typo from 'palyType' to 'playType' (#55016)
  components/carousel/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore(biome): turn off complexity.useOptionalChain (#54993)
  biome.json
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(splliter): simplify the for loop (#54997)
  components/splitter/Splitter.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: use Node.ELEMENT_NODE replace number (#52163)
  components/_util/wave/index.ts
  tests/setup.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore(dep): bump jsdom from 26 to 27 (#54998)
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

refactor optimization imageTest (#55014)
  components/_util/wave/index.ts
  components/_util/wave/useWave.ts
  tests/shared/imageTest.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

demo: type definition improvement (#55017)
  components/form/demo/register.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: add removeAllListeners for imageTest (#55015)
  tests/shared/imageTest.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs(space): update classNames and styles API documentation
  components/space/index.en-US.md
  components/space/index.zh-CN.md
Due: prettier --ignore-unknown --write

chore: fix lint error for script dir
  scripts/shims-csstree..d.ts
  scripts/tsconfig.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat(space): Support better customization with semantic classNames/styles as function
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
  components/space/__tests__/index.test.tsx
  components/space/demo/style-class.tsx
  components/space/index.en-US.md
  components/space/index.tsx
  components/space/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: update space doc
  components/space/demo/style-class.md
  components/space/index.en-US.md
  components/space/index.zh-CN.md
Due: prettier --ignore-unknown --write

chore: update
  scripts/shims-csstree..d.ts
  scripts/tsconfig.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat(alert): Support better customization with semantic classNames/styles
  components/card/Card.tsx
  components/card/__tests__/index.test.tsx
  components/card/demo/_semantic.tsx
  components/card/demo/style-class.md
  components/card/demo/style-class.tsx
  components/card/index.en-US.md
  components/card/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

refactor: address Meet-student review feedback for Empty semantic demo
  components/empty/demo/style-class.md
  components/empty/demo/style-class.tsx
  components/empty/index.en-US.md
  components/empty/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: fix lint error for script dir (#55022)
  scripts/tsconfig.json
Due: biome check --write --no-errors-on-unmatched, eslint

Update CHANGELOG.en-US.md
  CHANGELOG.en-US.md
Due: prettier --ignore-unknown --write

Update CHANGELOG.zh-CN.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

feat(card): Support better customization with semantic classNames/styles
  components/card/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(breadcrumb): Support better customization with semantic classNames/styles as function
  components/breadcrumb/Breadcrumb.tsx
  components/breadcrumb/__tests__/__snapshots__/Breadcrumb.test.tsx.snap
  components/breadcrumb/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/breadcrumb/__tests__/__snapshots__/demo.test.ts.snap
  components/breadcrumb/__tests__/__snapshots__/itemRender.test.tsx.snap
  components/breadcrumb/__tests__/__snapshots__/router.test.tsx.snap
  components/breadcrumb/__tests__/style-class.test.tsx
  components/breadcrumb/demo/style-class.md
  components/breadcrumb/demo/style-class.tsx
  components/breadcrumb/index.en-US.md
  components/breadcrumb/index.zh-CN.md
  components/layout/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/layout/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

update snap
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
Due: none

feat(divider): Support better customization with semantic classNames/styles as function (#54949)
  components/divider/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/divider/__tests__/__snapshots__/demo.test.ts.snap
  components/divider/__tests__/semantic.test.tsx
  components/divider/demo/style-class.md
  components/divider/demo/style-class.tsx
  components/divider/index.en-US.md
  components/divider/index.tsx
  components/divider/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat(masonry): Support better customization with semantic classNames/styles as function
  components/masonry/Masonry.tsx
  components/masonry/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/masonry/__tests__/__snapshots__/demo.test.ts.snap
  components/masonry/__tests__/index.test.tsx
  components/masonry/demo/style-class.md
  components/masonry/demo/style-class.tsx
  components/masonry/index.en-US.md
  components/masonry/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat(breadcrumb): Support better customization with semantic classNames/styles as function (#54950)
  components/breadcrumb/Breadcrumb.tsx
  components/breadcrumb/__tests__/__snapshots__/Breadcrumb.test.tsx.snap
  components/breadcrumb/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/breadcrumb/__tests__/__snapshots__/demo.test.ts.snap
  components/breadcrumb/__tests__/__snapshots__/itemRender.test.tsx.snap
  components/breadcrumb/__tests__/__snapshots__/router.test.tsx.snap
  components/breadcrumb/__tests__/style-class.test.tsx
  components/breadcrumb/demo/style-class.md
  components/breadcrumb/demo/style-class.tsx
  components/breadcrumb/index.en-US.md
  components/breadcrumb/index.zh-CN.md
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/layout/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/layout/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat(notification): enhance semantic styles and classNames types
  components/notification/interface.ts
  components/notification/useNotification.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(notification): update props merging in styles and classNames
  components/notification/useNotification.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore[Rate]: migrate to @rc-component namespace and update dependencies
  components/rate/index.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix(notification): correct style prop merging and typo
  components/notification/useNotification.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(anchor): Support better customization with semantic classNames/styles as function
  components/anchor/Anchor.tsx
  components/anchor/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/anchor/__tests__/__snapshots__/demo.test.tsx.snap
  components/anchor/__tests__/style-class.test.tsx
  components/anchor/demo/style-class.md
  components/anchor/demo/style-class.tsx
  components/anchor/index.en-US.md
  components/anchor/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(notification): enhance style and classNames resolution
  components/notification/useNotification.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(anchor): Support better customization with semantic classNames/styles as function (#54948)
  components/anchor/Anchor.tsx
  components/anchor/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/anchor/__tests__/__snapshots__/demo.test.tsx.snap
  components/anchor/__tests__/style-class.test.tsx
  components/anchor/demo/style-class.md
  components/anchor/demo/style-class.tsx
  components/anchor/index.en-US.md
  components/anchor/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat(masonry): Support better customization with semantic classNames/styles as function (#55032)
  components/masonry/Masonry.tsx
  components/masonry/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/masonry/__tests__/__snapshots__/demo.test.ts.snap
  components/masonry/__tests__/index.test.tsx
  components/masonry/demo/style-class.md
  components/masonry/demo/style-class.tsx
  components/masonry/index.en-US.md
  components/masonry/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat(card): Support better customization with semantic classNames/styles
  components/card/Card.tsx
  components/card/Meta.tsx
  components/card/index.en-US.md
  components/card/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(notification): rename resolved to merged in styles and classNames
  components/notification/useNotification.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(card): Support better customization with semantic classNames/styles
  components/card/Card.tsx
  components/card/demo/style-class.md
  components/card/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Support better customization with semantic classNames/styles
  components/alert/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/alert/__tests__/__snapshots__/demo.test.ts.snap
  components/alert/__tests__/index.test.tsx
  components/alert/demo/style-class.md
  components/alert/demo/style-class.tsx
  components/alert/index.en-US.md
  components/alert/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Support better customization with semantic classNames/styles
  components/result/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/result/__tests__/__snapshots__/demo.test.ts.snap
  components/result/__tests__/index.test.tsx
  components/result/demo/style-class.md
  components/result/demo/style-class.tsx
  components/result/index.en-US.md
  components/result/index.tsx
  components/result/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Revert "Merge branch 'next' of github.com:ccc1018/ant-design into feature/result"
  components/alert/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/alert/__tests__/__snapshots__/demo.test.ts.snap
  components/alert/__tests__/index.test.tsx
  components/alert/demo/style-class.md
  components/alert/demo/style-class.tsx
  components/alert/index.en-US.md
  components/alert/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
