Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

update
  components/locale/bg_BG.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: expose Form warning helper as hook
  components/_util/warning.ts
  components/form/FormItem/index.tsx
  components/form/FormList.tsx
  components/form/__tests__/compiler.test.ts
  components/form/hooks/useFormItemStatus.ts
  components/form/hooks/useFormWarning.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: correct steps and timeline style priority
  components/steps/__tests__/semantic.test.tsx
  components/steps/index.tsx
  components/timeline/Timeline.tsx
  components/timeline/__tests__/semantic.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs(Table): add auto height demo
  components/table/__tests__/__snapshots__/demo.test.ts.snap
  components/table/demo/auto-height.md
  components/table/demo/auto-height.tsx
  components/table/index.en-US.md
  components/table/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test(Table): skip auto height demo snapshots
  components/table/__tests__/__snapshots__/demo.test.ts.snap
  components/table/__tests__/demo.test.ts
  components/table/__tests__/image.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs(Table): refine auto height demo
  components/table/demo/auto-height.md
  components/table/demo/auto-height.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs(Table): polish auto height description
  components/table/demo/auto-height.md
Due: prettier --ignore-unknown --write

test(Table): skip auto height extend snapshot
  components/table/__tests__/demo-extend.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs(Table): add auto height demo
  components/table/__tests__/demo-extend.test.ts
  components/table/__tests__/demo.test.ts
  components/table/__tests__/image.test.ts
  components/table/demo/auto-height.md
  components/table/demo/auto-height.tsx
  components/table/index.en-US.md
  components/table/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

ci: align vitest shard count with jest
  .github/workflows/test.yml
Due: prettier --ignore-unknown --write

fix(Pagination): keep size changer width in form item
  components/pagination/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs(Notification): clarify fixed-width usage
  components/notification/PurePanel.tsx
  components/notification/__tests__/index.test.tsx
  components/notification/index.en-US.md
  components/notification/index.zh-CN.md
  components/notification/useNotification.tsx
  components/notification/util.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: hide Select suffix when clear icon appears
  components/select/style/index.ts
  components/select/style/select-input.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Mentions): support popupRender to customize dropdown menu
  components/mentions/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/mentions/__tests__/__snapshots__/demo.test.tsx.snap
  components/mentions/demo/popupRender.md
  components/mentions/demo/popupRender.tsx
  components/mentions/index.en-US.md
  components/mentions/index.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat(Mentions): enhance popupRender with custom header and divider
  components/mentions/demo/popupRender.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Pagination): use internal size changer class
  components/pagination/Pagination.tsx
  components/pagination/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs(Mentions): fix popupRender ordering in API table
  components/mentions/index.en-US.md
  components/mentions/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs(Notification): add FAQ for fixed-width usage (#58545)
  components/notification/index.en-US.md
  components/notification/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix(Descriptions): restore view width
  components/descriptions/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Mentions): update popupRender styles to use theme tokens
  components/mentions/demo/popupRender.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: correct message and notification style priority
  components/message/PurePanel.tsx
  components/message/__tests__/semantic.test.tsx
  components/message/useMessage.tsx
  components/notification/PurePanel.tsx
  components/notification/__tests__/semantic.test.tsx
  components/notification/useNotification.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Descriptions): restore view width (#58583)
  components/descriptions/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Mentions): integrate usePopupRender for customizable popup rendering
  components/mentions/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: correct notification pure panel semantic types
  components/notification/PurePanel.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs(Mentions): fix popupRender version
  components/mentions/index.en-US.md
  components/mentions/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat(Mentions): support popupRender to customize dropdown menu (#58582)
  components/mentions/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/mentions/__tests__/__snapshots__/demo.test.tsx.snap
  components/mentions/demo/popupRender.md
  components/mentions/demo/popupRender.tsx
  components/mentions/index.en-US.md
  components/mentions/index.tsx
  components/mentions/index.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: correct image style priority
  components/image/__tests__/semantic.test.tsx
  components/image/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Button): align icon in Card extra
  components/button/style/index.ts
  components/card/demo/button-alignment-debug.tsx
  components/card/index.en-US.md
  components/card/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test(Card): update button alignment demo snapshots
  components/card/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/card/__tests__/__snapshots__/demo.test.ts.snap
Due: none

fix(Button): align icon in Card extra (#58584)
  components/button/style/index.ts
  components/card/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/card/__tests__/__snapshots__/demo.test.ts.snap
  components/card/demo/button-alignment-debug.tsx
  components/card/index.en-US.md
  components/card/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: correct tour style priority
  components/tour/__tests__/semantic.test.tsx
  components/tour/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: correct badge style priority
  components/badge/Badge.tsx
  components/badge/__tests__/semantic.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: soften popup scroll shadows
  components/style/__tests__/index.test.ts
  components/style/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(tag): improve filled variant visibility in dark mode
  components/tag/style/presetCmp.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: use gradient popup scroll fades
  components/menu/style/theme.ts
  components/style/__tests__/index.test.ts
  components/style/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: hide popup scroll fades at edges
  components/style/__tests__/index.test.ts
  components/style/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
