Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: update
  components/button/index.en-US.md
  components/button/index.zh-CN.md
Due: prettier --ignore-unknown --write

@rc-component/notification已经删除closeIcon，use Message删除closeIcon的配置
  components/message/useMessage.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: replace sylvanas to ts/prettier (#53271)
  .dumi/theme/plugin.ts
  .dumi/theme/utils/__tests__/runTests.ts
  .dumi/theme/utils/__tests__/tsToJs.test.ts
  .dumi/theme/utils/tsToJs.test.ts
  .dumi/theme/utils/tsToJs.ts
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: remove log of react-scan (#53273)
  .dumi/theme/layouts/GlobalLayout.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: ConfigProvider support button variant and color (#53165)
  components/button/button.tsx
  components/config-provider/context.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: suffix of InputNumber moves left after the mouse enters when it is disabled (#53184)
  components/input-number/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input-number/__tests__/__snapshots__/demo.test.tsx.snap
  components/input-number/__tests__/suffix.test.tsx
  components/input-number/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: changelog 5.24.5 (#53278)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
  scripts/generate-component-changelog.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

icon版本使用提示 (#53284)
  components/icon/index.en-US.md
  components/icon/index.zh-CN.md
Due: prettier --ignore-unknown --write

chore: try to reduce bundle size (#53298)
  components/avatar/Avatar.tsx
  components/table/hooks/useLazyKVMap.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: table pagination theme color broken with small size (#52829)
  components/pagination/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

change closeButton style (#53292)
  components/notification/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: fix iframe demo url with right theme (#53305)
  .dumi/theme/builtins/Previewer/CodePreviewer.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore(site): token value preview (#53306)
  .dumi/theme/builtins/ColorChunk/index.tsx
  .dumi/theme/builtins/TokenTable/index.tsx
  .dumi/theme/common/BezierVisualizer/Visualizer.tsx
  .dumi/theme/common/BezierVisualizer/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: Not close modal when confirmLoading is loading (#53227)
  components/modal/Modal.tsx
  components/modal/__tests__/Modal.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update ColorPicker defaultFormat default value
  components/color-picker/index.en-US.md
  components/color-picker/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat:依赖新增@rc-component/notification
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat: 对notification的closable改造，并将rc-notification使用修改为@rc-component/notification
  components/_util/hooks/useClosable.tsx
  components/message/PurePanel.tsx
  components/message/useMessage.tsx
  components/notification/PurePanel.tsx
  components/notification/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/notification/__tests__/__snapshots__/demo.test.ts.snap
  components/notification/__tests__/hooks.test.tsx
  components/notification/__tests__/index.test.tsx
  components/notification/useNotification.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat: Configure the aria attribute to the button node of the Modal
  components/_util/hooks/useClosable.tsx
  components/modal/Modal.tsx
  components/modal/__tests__/Modal.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

改正ariaProps类型
  components/_util/hooks/useClosable.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: Configure the aria attribute to the button node of the Tour
  components/tour/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tour/__tests__/__snapshots__/demo.test.tsx.snap
  components/tour/__tests__/__snapshots__/index.test.tsx.snap
  components/tour/__tests__/index.test.tsx
  components/tour/panelRender.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs(theme): cover dumi-theme
  .dumi/theme/builtins/Badge/index.tsx
  components/avatar/index.zh-CN.md
  components/mentions/index.zh-CN.md
  components/select/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: update
  components/avatar/index.en-US.md
  components/mentions/index.en-US.md
  components/select/index.en-US.md
Due: prettier --ignore-unknown --write

feat: add CP support for tree-select and update doc
  components/auto-complete/AutoComplete.tsx
  components/auto-complete/demo/_semantic.tsx
  components/auto-complete/index.en-US.md
  components/auto-complete/index.zh-CN.md
  components/config-provider/context.ts
  components/select/demo/_semantic.tsx
  components/select/index.en-US.md
  components/select/index.zh-CN.md
  components/tree-select/index.en-US.md
  components/tree-select/index.tsx
  components/tree-select/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: update Select and TreeSelect common props in configuration documentation
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
Due: prettier --ignore-unknown --write

Update components/config-provider/index.zh-CN.md
  components/config-provider/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: update Cascader and ConfigProvider documentation to include new classNames and styles props
  components/cascader/index.en-US.md
  components/cascader/index.zh-CN.md
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
Due: prettier --ignore-unknown --write

save
  components/config-provider/context.ts
  components/menu/MenuContext.tsx
  components/menu/MenuItem.tsx
  components/menu/SubMenu.tsx
  components/menu/demo/_semantic.tsx
  components/menu/index.en-US.md
  components/menu/index.zh-CN.md
  components/menu/menu.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Update components/config-provider/index.en-US.md
  components/config-provider/index.en-US.md
Due: prettier --ignore-unknown --write

feat: add root support
  components/cascader/demo/_semantic.tsx
  components/cascader/index.tsx
  components/cascader/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Update components/cascader/demo/_semantic.tsx
  components/cascader/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: merge root
  components/cascader/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: 修改notification mergedCloseIcon 的获取方式，并增加useClosable 非hook的方法
  components/_util/hooks/useClosable.tsx
  components/message/useMessage.tsx
  components/notification/__tests__/hooks.test.tsx
  components/notification/__tests__/index.test.tsx
  components/notification/useNotification.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

补充computeClosable方法的单测
  components/_util/__tests__/hooks.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

补充computeClosable 方法单测
  components/_util/__tests__/hooks.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs(theme): cover dumi-theme (#53320)
  .dumi/theme/builtins/Badge/index.tsx
  components/avatar/index.en-US.md
  components/avatar/index.zh-CN.md
  components/mentions/index.en-US.md
  components/mentions/index.zh-CN.md
  components/select/index.en-US.md
  components/select/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: add root support
  .dumi/components/TemplateSemanticPreview.tsx
  components/auto-complete/AutoComplete.tsx
  components/auto-complete/demo/_semantic.tsx
  components/auto-complete/index.zh-CN.md
  components/select/demo/_semantic.tsx
  components/select/index.tsx
  components/select/index.zh-CN.md
  components/tree-select/demo/_semantic.tsx
  components/tree-select/index.tsx
  components/tree-select/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: move theme swither to Header
  .dumi/theme/common/ThemeSwitch/index.tsx
  .dumi/theme/locales/en-US.json
  .dumi/theme/locales/zh-CN.json
  .dumi/theme/slots/Header/SwitchBtn.tsx
  .dumi/theme/slots/Header/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
