Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

chore: replace require imports in tests
  .dumi/theme/plugins/semantic-md.ts
  components/__tests__/17.test.ts
  components/__tests__/index.test.ts
  components/__tests__/node.test.tsx
  components/calendar/__tests__/index.test.tsx
  components/collapse/__tests__/index.test.tsx
  eslint.config.mjs
  tests/changelog.test.ts
  tests/index.test.ts
  tests/shared/accessibilityTest.tsx
  tests/shared/demoTest.tsx
  tests/shared/imageTest.tsx
  tests/shared/rootPropsTest.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix
  eslint.config.mjs
Due: biome check --write --no-errors-on-unmatched, eslint

style: use top-level type-only imports
  components/tag/CheckableTag.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore(cssinjs): rm useless unit
  components/tabs/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

type(tree): improve type (#57307)
  components/tree/Tree.tsx
  components/tree/utils/dropIndicator.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore(cssinjs): rm useless unit (#57310)
  components/tabs/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(site): adopts logical CSS to improve RTL support
  .dumi/pages/index/components/ThemePreview/index.tsx
  components/dropdown/demo/style-class.tsx
  components/input-number/demo/_semantic.tsx
  components/message/__tests__/semantic.test.tsx
  components/select/demo/select-users.tsx
  components/skeleton/demo/_semantic_element.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/message/__tests__/semantic.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update snap
  components/dropdown/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

update snap
  components/input-number/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/skeleton/__tests__/__snapshots__/demo-semantic.test.tsx.snap
Due: none

Revert "chore: bump jsdom from 28.1.0 to 29.0.0 in the dev-dependencies group…"
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

Revert "chore: bump jsdom from 28.1.0 to 29.0.0 in the dev-dependencie" (#57313)
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix(site): adopts logical CSS to improve RTL support (#57312)
  .dumi/pages/index/components/ThemePreview/index.tsx
  components/dropdown/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/dropdown/demo/style-class.tsx
  components/input-number/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/input-number/demo/_semantic.tsx
  components/message/__tests__/semantic.test.tsx
  components/select/demo/select-users.tsx
  components/skeleton/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/skeleton/demo/_semantic_element.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(ConfigProvider): support focusable for Modal and Drawer
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
  components/drawer/Drawer.tsx
  components/drawer/__tests__/Drawer.test.tsx
  components/modal/Modal.tsx
  components/modal/__tests__/Modal.test.tsx
  components/modal/__tests__/confirm.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: replace require imports in tests (#57309)
  .dumi/theme/plugins/semantic-md.ts
  components/__tests__/17.test.ts
  components/__tests__/index.test.ts
  components/__tests__/node.test.tsx
  components/calendar/__tests__/index.test.tsx
  components/collapse/__tests__/index.test.tsx
  eslint.config.mjs
  tests/changelog.test.ts
  tests/index.test.ts
  tests/shared/accessibilityTest.tsx
  tests/shared/demoTest.tsx
  tests/shared/imageTest.tsx
  tests/shared/rootPropsTest.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(CheckableTag): apply color class regardless of checked state
  components/tag/CheckableTag.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: add transition for backdrop-filter on Image preview mask blur (#57299)
  components/image/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: update segmented snapshot for new data attributes table
  scripts/__snapshots__/check-site.ts.snap
Due: none

Revert "test: update segmented snapshot for new data attributes table"
  scripts/__snapshots__/check-site.ts.snap
Due: none

docs(segmented): inline data-selected/data-disabled info into SegmentedItemType section
  components/segmented/index.en-US.md
  components/segmented/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: add changelog 6.3.3
  .claude/skills/changelog-collect/SKILL.md
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: 更新
  .claude/skills/changelog-collect/SKILL.md
Due: prettier --ignore-unknown --write

fix(ConfigProvider): unwrap nested default locale object caused by bundler interop
  components/config-provider/__tests__/locale.test.tsx
  components/config-provider/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: 更新
  .claude/skills/changelog-collect/SKILL.md
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: 更新
  CLAUDE.md
Due: prettier --ignore-unknown --write

update
  components/config-provider/__tests__/locale.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add changelog 6.3.3 (#57317)
  .claude/skills/changelog-collect/SKILL.md
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  CLAUDE.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

update
  components/config-provider/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: disable biome noPrototypeBuiltins rule
  biome.json
Due: biome check --write --no-errors-on-unmatched, eslint

update
  eslint.config.mjs
Due: biome check --write --no-errors-on-unmatched, eslint

update
  biome.json
  components/config-provider/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Fix Select clearIcon prop usage
  components/auto-complete/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/select/__tests__/index.test.tsx
  components/select/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: disable prefer-object-has-own related lint rules (#57319)
  biome.json
  eslint.config.mjs
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update changelog emoji
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  CLAUDE.md
Due: prettier --ignore-unknown --write

chore: update changelog emoji (#57321)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  CLAUDE.md
Due: prettier --ignore-unknown --write

test(Tree): remove redundant switcherIcon showLine assertions
  components/tree/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Tree): correct custom switcherIcon className when showLine is enabled (#57303)
  components/tree/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tree/__tests__/__snapshots__/demo.test.ts.snap
  components/tree/utils/iconUtil.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Message): add stack support for message component
  components/message/__tests__/hooks.test.tsx
  components/message/demo/stack.md
  components/message/demo/stack.tsx
  components/message/index.en-US.md
  components/message/index.tsx
  components/message/index.zh-CN.md
  components/message/interface.ts
  components/message/style/index.ts
  components/message/style/stack.ts
  components/message/useMessage.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write
