Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

update: exclude dependency
  components/splitter/hooks/useSizes.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs(icon): automatically scroll to the top after icon search
  .dumi/theme/builtins/IconSearch/IconSearch.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Apply suggestion from @afc163
  components/icon/index.en-US.md
Due: prettier --ignore-unknown --write

docs(icon): automatically scroll to the top after icon search (#55596)
  .dumi/theme/builtins/IconSearch/IconSearch.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: Optimize the deletion of watermark monitoring function
  components/watermark/__tests__/index.test.tsx
  components/watermark/demo/portal.md
  components/watermark/demo/portal.tsx
  components/watermark/index.tsx
  components/watermark/useWatermark.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

type: optimize `LiteralUnion` type and add `Primitive` type
  components/_util/type.ts
  components/flex/interface.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: script update
  package.json
  scripts/print-changelog.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: support exclude
  scripts/print-changelog.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: script support exclude
  scripts/print-changelog.ts
Due: biome check --write --no-errors-on-unmatched, eslint

util: add getDeviceLevel method
  .dumi/theme/builtins/IconSearch/IconSearch.tsx
  components/_util/__tests__/getDeviceLevel.test.ts
  components/_util/getDeviceLevel.ts
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/_util/__tests__/getDeviceLevel.test.ts
  components/_util/__tests__/getDeviceLevel.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint

update
  .dumi/theme/builtins/IconSearch/IconSearch.tsx
  components/_util/getDeviceLevel.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: Optimize the timing of watermark callback
  components/watermark/index.tsx
  components/watermark/useWatermark.ts
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/carousel/index.tsx
  components/carousel/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: changelog of cn
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: changelog of en
  CHANGELOG.en-US.md
Due: prettier --ignore-unknown --write

fix: fix select underlined height
  components/select/style/variants.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

fix: fix input underlined hover color
  components/input/style/variants.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: bump @rc-component/pagination and update snap
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore(site): add semantic-beauty blog (#55561)
  docs/blog/semantic-beauty.en-US.md
  docs/blog/semantic-beauty.zh-CN.md
  docs/blog/semantic-beauty/demos.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: bump @rc-component/pagination and update snap (#55610)
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix: use animation
  components/carousel/index.tsx
  components/carousel/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: changelog of 6.0.0-alpha.4 (#55604)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
  scripts/print-changelog.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: update
  components/carousel/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

type: optimize `LiteralUnion` type and add `Primitive` type (#55599)
  components/_util/type.ts
  components/flex/interface.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update icon component import code and documentation warnings (#55594)
  .dumi/theme/builtins/ComponentMeta/index.tsx
  components/icon/index.en-US.md
  components/icon/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: input underlined hover color (#55609)
  components/input/style/variants.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: ci
  components/carousel/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(g): update
  components/carousel/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

demo: fix extra padding in Carousel demos
  components/carousel/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/carousel/__tests__/__snapshots__/demo.test.ts.snap
  components/carousel/demo/autoplay.tsx
  components/carousel/demo/dot-duration.tsx
  components/carousel/demo/fade.tsx
  components/carousel/demo/position.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Apply suggestion from @afc163
  components/carousel/demo/dot-duration.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Apply suggestion from @afc163
  components/carousel/demo/position.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(carousel): The transform animation is invalid when the drawing is first performed. (#55589)
  components/carousel/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: update dot-duration value in carousel demo snapshots
  components/carousel/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/carousel/__tests__/__snapshots__/demo.test.ts.snap
Due: none
