Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

chore:remove redundant code
  components/input-number/__tests__/suffix.test.tsx
  components/input-number/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore:remove console.log
  components/input-number/__tests__/suffix.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: bump rc-image
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

docs: fix demo
  components/image/index.tsx
  components/upload/demo/file-type.tsx
  components/upload/demo/picture-card.tsx
  components/upload/demo/picture-circle.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: clean up
  components/image/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: unique code
  components/image/PreviewGroup.tsx
  components/image/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/image/__tests__/__snapshots__/demo.test.ts.snap
  components/image/hooks/useMergedPreviewConfig.ts
  components/image/hooks/usePreviewConfig.ts
  components/image/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: fix lint
  components/_util/__tests__/useZIndex.test.tsx
  components/image/demo/controlled-preview.tsx
  components/image/demo/imageRender.tsx
  components/image/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: add deprecated warning
  components/_util/hooks/useMergeSemantic.ts
  components/image/PreviewGroup.tsx
  components/image/__tests__/deprecated.test.tsx
  components/image/hooks/useMergedPreviewConfig.ts
  components/image/hooks/usePreviewConfig.ts
  components/image/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update docs
  components/image/index.en-US.md
  components/image/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: order api
  components/image/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: update docs
  components/image/index.en-US.md
Due: prettier --ignore-unknown --write

docs: update docs
  components/image/index.zh-CN.md
Due: prettier --ignore-unknown --write

chore: clean up
  components/image/index.en-US.md
Due: prettier --ignore-unknown --write

chore: translate
  components/image/index.en-US.md
Due: prettier --ignore-unknown --write

docs: fix logic
  components/image/index.en-US.md
  components/image/index.zh-CN.md
Due: prettier --ignore-unknown --write

rename locale property
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/locale/en_US.ts
  components/locale/index.tsx
  components/locale/zh_CN.ts
  components/table/__tests__/Table.sorter.test.tsx
  components/table/__tests__/__snapshots__/Table.sorter.test.tsx.snap
  components/table/__tests__/__snapshots__/Table.test.tsx.snap
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
  components/table/hooks/useSorter.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs(config-provider): the api uses a code format
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
Due: prettier --ignore-unknown --write

chore: unlock nwsapi
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

docs: the api uses a code format (#53207)
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
Due: prettier --ignore-unknown --write

chore: unlock nwsapi (#53206)
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix: includes aria-description in table header when column is sortable (#53087)
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/locale/en_US.ts
  components/locale/index.tsx
  components/locale/zh_CN.ts
  components/table/InternalTable.tsx
  components/table/__tests__/Table.sorter.test.tsx
  components/table/__tests__/__snapshots__/Table.sorter.test.tsx.snap
  components/table/__tests__/__snapshots__/Table.test.tsx.snap
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
  components/table/hooks/useSorter.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: improve for config-provider api
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: improve for config-provider api (#53209)
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat: ConfigProvider support classNames and styles for image (#53028)
  .dumi/components/SemanticPreview.tsx
  components/_util/__tests__/useZIndex.test.tsx
  components/_util/hooks/useMergeSemantic.ts
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
  components/image/PreviewGroup.tsx
  components/image/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/image/__tests__/__snapshots__/demo.test.ts.snap
  components/image/__tests__/__snapshots__/index.test.tsx.snap
  components/image/__tests__/deprecated.test.tsx
  components/image/__tests__/index.test.tsx
  components/image/demo/_semantic.tsx
  components/image/demo/controlled-preview.tsx
  components/image/demo/imageRender.tsx
  components/image/demo/preview-imgInfo.tsx
  components/image/demo/preview-mask.tsx
  components/image/demo/toolbarRender.tsx
  components/image/hooks/useMergedPreviewConfig.ts
  components/image/hooks/usePreviewConfig.ts
  components/image/index.en-US.md
  components/image/index.tsx
  components/image/index.zh-CN.md
  components/image/style/index.ts
  components/upload/demo/file-type.tsx
  components/upload/demo/picture-card.tsx
  components/upload/demo/picture-circle.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

master保持和主仓库一致
  components/select/style/index.ts
  tests/shared/imageTest.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

恢复到master相同代码
  components/select/style/index.ts
  tests/shared/imageTest.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

修改useClosable ，漏出ariaProps，并modal传递到dialog
  components/_util/hooks/useClosable.tsx
  components/modal/Modal.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update layer ref
  docs/react/compatible-style.en-US.md
  docs/react/compatible-style.zh-CN.md
Due: prettier --ignore-unknown --write

fix: resolved conflict
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
  components/input/hooks/useHandleResizeWrapper.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: lint ci
  components/input/__tests__/textarea.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update layer ref (#53212)
  docs/react/compatible-style.en-US.md
  docs/react/compatible-style.zh-CN.md
Due: prettier --ignore-unknown --write

feat: ConfigProvider support classNames and styles for tree
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
  components/tree/Tree.tsx
  components/tree/__tests__/index.test.tsx
  components/tree/demo/_semantic.tsx
  components/tree/index.en-US.md
  components/tree/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

增加单测
  components/modal/__tests__/Modal.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix
  components/tree/Tree.tsx
  components/tree/demo/_semantic.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix
  components/tree/Tree.tsx
  components/tree/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: ConfigProvider support classNames and styles for autoComplete
  components/auto-complete/AutoComplete.tsx
  components/auto-complete/__tests__/index.test.tsx
  components/auto-complete/demo/_semantic.tsx
  components/auto-complete/demo/certain-category.tsx
  components/auto-complete/index.en-US.md
  components/auto-complete/index.zh-CN.md
  components/config-provider/context.ts
  components/config-provider/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write
