Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

feat(timeline): Support better customization with semantic classNames/styles as function
  components/timeline/Timeline.tsx
  components/timeline/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/timeline/__tests__/__snapshots__/demo.test.ts.snap
  components/timeline/__tests__/index.test.tsx
  components/timeline/demo/style-class.md
  components/timeline/demo/style-class.tsx
  components/timeline/index.en-US.md
  components/timeline/index.tsx
  components/timeline/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat(tour): Support better customization with semantic classNames/styles as function
  components/tour/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tour/__tests__/__snapshots__/demo.test.tsx.snap
  components/tour/__tests__/index.test.tsx
  components/tour/demo/style-class.md
  components/tour/demo/style-class.tsx
  components/tour/index.en-US.md
  components/tour/index.tsx
  components/tour/index.zh-CN.md
  components/tour/interface.ts
  components/tour/panelRender.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat(tree): Support better customization with semantic classNames/styles as function
  components/tree/Tree.tsx
  components/tree/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tree/__tests__/__snapshots__/demo.test.ts.snap
  components/tree/__tests__/index.test.tsx
  components/tree/demo/style-class.md
  components/tree/demo/style-class.tsx
  components/tree/index.en-US.md
  components/tree/index.tsx
  components/tree/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Update components/tag/demo/style-class.md
  components/tag/demo/style-class.md
Due: prettier --ignore-unknown --write

Update components/tree/Tree.tsx
  components/tree/Tree.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/tree/demo/style-class.md
  components/tree/demo/style-class.md
Due: prettier --ignore-unknown --write

chore: site
  .dumi/pages/index/components/Theme/index.tsx
  .utoo.toml
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update
  .dumi/pages/index/components/Theme/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Revert "fix(Table): fix duplicated filter dropdowns and tooltips is shown when Table is sticky (#54910)
  components/table/InternalTable.tsx
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
  components/table/__tests__/__snapshots__/empty.test.tsx.snap
  components/table/__tests__/demo.test.ts
  components/table/demo/measure-row-render.md
  components/table/demo/measure-row-render.tsx
  components/table/index.en-US.md
  components/table/index.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat(switch): Support better customization with semantic classNames/styles as function
  components/switch/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/switch/__tests__/__snapshots__/demo.test.ts.snap
  components/switch/__tests__/style-class.test.tsx
  components/switch/demo/style-class.md
  components/switch/demo/style-class.tsx
  components/switch/index.en-US.md
  components/switch/index.tsx
  components/switch/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore(biome): turn off complexity.useOptionalChain
  biome.json
  components/splitter/SplitBar.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: simplify the loop
  components/splitter/Splitter.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/switch/demo/style-class.md
  components/switch/demo/style-class.md
Due: prettier --ignore-unknown --write

Update components/switch/index.tsx
  components/switch/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore(biome): turn off complexity.useOptionalChain (#54993)
  biome.json
  components/splitter/SplitBar.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(splliter): simplify the for loop (#54997)
  components/splitter/Splitter.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update(test): 更新测试case
  components/input-number/__tests__/style-class.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(switch): Manually sort according to initials for easy user review of documents
  components/switch/index.en-US.md
  components/switch/index.zh-CN.md
Due: prettier --ignore-unknown --write

chore: bump jsdom from 26 to 27
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

Modify Result and Alert to support better customization with semantic classNames/styles
  SEMANTIC_CUSTOMIZATION_SUMMARY.md
  components/alert/Alert.tsx
  components/alert/README.md
  components/alert/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/alert/__tests__/__snapshots__/demo.test.ts.snap
  components/alert/__tests__/__snapshots__/index.test.tsx.snap
  components/alert/demo/semantic-customization.md
  components/alert/demo/semantic-customization.tsx
  components/alert/style/index.ts
  components/result/README.md
  components/result/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/result/__tests__/__snapshots__/demo.test.ts.snap
  components/result/__tests__/__snapshots__/index.test.tsx.snap
  components/result/demo/semantic-customization.md
  components/result/demo/semantic-customization.tsx
  components/result/index.tsx
  components/result/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Upadate components/switch/index.en-US And index.zh-CN
  components/switch/index.en-US.md
  components/switch/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix: Improve conditional rendering and documentation formatting
  SEMANTIC_CUSTOMIZATION_SUMMARY.md
  components/alert/Alert.tsx
  components/alert/README.md
  components/alert/demo/semantic-customization.md
  components/result/README.md
  components/result/demo/semantic-customization.md
  components/result/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat(divider): Support better customization with semantic classNames/styles as function
  components/divider/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/divider/__tests__/__snapshots__/demo.test.ts.snap
  components/divider/__tests__/semantic.test.tsx
  components/divider/demo/style-class.md
  components/divider/demo/style-class.tsx
  components/divider/index.en-US.md
  components/divider/index.tsx
  components/divider/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat(anchor): Support better customization with semantic classNames/styles as function
  components/anchor/Anchor.tsx
  components/anchor/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/anchor/__tests__/__snapshots__/demo.test.tsx.snap
  components/anchor/__tests__/style-class.test.tsx
  components/anchor/demo/style-class.md
  components/anchor/demo/style-class.tsx
  components/anchor/index.en-US.md
  components/anchor/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat(breadcrumb): Support better customization with semantic classNames/styles as function
  components/breadcrumb/Breadcrumb.tsx
  components/breadcrumb/__tests__/__snapshots__/Breadcrumb.test.tsx.snap
  components/breadcrumb/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/breadcrumb/__tests__/__snapshots__/demo.test.ts.snap
  components/breadcrumb/__tests__/__snapshots__/itemRender.test.tsx.snap
  components/breadcrumb/__tests__/__snapshots__/router.test.tsx.snap
  components/breadcrumb/__tests__/style-class.test.tsx
  components/breadcrumb/demo/style-class.md
  components/breadcrumb/demo/style-class.tsx
  components/breadcrumb/index.en-US.md
  components/breadcrumb/index.zh-CN.md
  components/layout/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/layout/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Update components\switch\index.tsx
  components/switch/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(menu): Support better customization with semantic classNames/styles as function
  components/menu/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/menu/__tests__/__snapshots__/demo.test.tsx.snap
  components/menu/__tests__/index.test.tsx
  components/menu/demo/style-class.md
  components/menu/demo/style-class.tsx
  components/menu/index.en-US.md
  components/menu/index.tsx
  components/menu/index.zh-CN.md
  components/menu/menu.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat(pagination): Support better customization with semantic classNames/styles as function
  components/pagination/Pagination.tsx
  components/pagination/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/pagination/__tests__/__snapshots__/demo.test.ts.snap
  components/pagination/__tests__/index.test.tsx
  components/pagination/demo/style-class.md
  components/pagination/demo/style-class.tsx
  components/pagination/index.en-US.md
  components/pagination/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: add miss dep for useMemo
  components/_util/hooks/useMergeSemantic/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/_util/hooks/useMergeSemantic/index.ts
  components/_util/hooks/useMergeSemantic/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add Quick Start for Development to README
  README.md
Due: prettier --ignore-unknown --write

fix: add miss dep for useMemo (#55001)
  components/_util/hooks/useMergeSemantic/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore(deps): bump @rc-component/table from 1.5.0 to 1.7.0
  components/table/InternalTable.tsx
  components/table/__tests__/__snapshots__/Table.expand.test.tsx.snap
  components/table/__tests__/__snapshots__/Table.filter.test.tsx.snap
  components/table/__tests__/__snapshots__/Table.pagination.test.tsx.snap
  components/table/__tests__/__snapshots__/Table.sorter.test.tsx.snap
  components/table/__tests__/__snapshots__/Table.test.tsx.snap
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
  components/table/__tests__/__snapshots__/empty.test.tsx.snap
  components/table/__tests__/demo.test.ts
  components/table/demo/measure-row-render.md
  components/table/demo/measure-row-render.tsx
  components/table/index.en-US.md
  components/table/index.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test: update test snap
  components/empty/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/empty/__tests__/__snapshots__/demo.test.ts.snap
Due: none

test: update test snap
  components/descriptions/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/descriptions/__tests__/__snapshots__/demo.test.ts.snap
Due: none
