Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

doc: remove resizable column demo from Table component
  components/table/demo/resizable-column.md
  components/table/demo/resizable-column.tsx
  components/table/index.en-US.md
  components/table/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: bump ant-desigin/x
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

type: fix modal type (#56441)
  components/modal/confirm.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix export
  .dumi/theme/common/ThemeSwitch/usePromptTheme.ts
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add missing CN doc for getValueProps api (#56444)
  components/form/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: customize icons
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
  docs/react/customize-icons.en-US.md
  docs/react/customize-icons.zh-CN.md
Due: prettier --ignore-unknown --write

chore: rm deps
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

update: update snapshot file
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
Due: none

fix lint
  .dumi/theme/common/ThemeSwitch/PromptDrawer.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: package.json version number error
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

docs: customize icons
  docs/react/customize-icons.en-US.md
  docs/react/customize-icons.zh-CN.md
Due: prettier --ignore-unknown --write

docs: customize icons
  docs/react/customize-icons.en-US.md
Due: prettier --ignore-unknown --write

fix: setup utoo
  .github/workflows/size-limit.yml
Due: prettier --ignore-unknown --write

feat: table support auto index
  components/table/InternalTable.tsx
  components/table/demo/row-selection-custom.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: remove demo of Table hidden resizable column (#56447)
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
  components/table/demo/resizable-column.md
  components/table/demo/resizable-column.tsx
  components/table/index.en-US.md
  components/table/index.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: update DatePicker defaultValue
  .dumi/pages/index/components/ComponentsList.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update DatePicker defaultValue (#56455)
  .dumi/pages/index/components/ComponentsList.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: size-limit to 617 KiB
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix: setup utoo (#56452)
  .github/workflows/size-limit.yml
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: bump eslint
  eslint.config.mjs
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: bump eslint (#56457)
  eslint.config.mjs
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

type: rm redundant any type
  scripts/generate-token-meta.ts
Due: biome check --write --no-errors-on-unmatched, eslint

type: rm redundant any type (#56460)
  scripts/generate-token-meta.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Pagination): three size (#56009)
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/input/style/index.ts
  components/pagination/Pagination.tsx
  components/pagination/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/pagination/__tests__/__snapshots__/demo.test.ts.snap
  components/pagination/__tests__/__snapshots__/index.test.tsx.snap
  components/pagination/__tests__/index.test.tsx
  components/pagination/demo/mini.md
  components/pagination/demo/mini.tsx
  components/pagination/index.en-US.md
  components/pagination/index.zh-CN.md
  components/pagination/style/bordered.ts
  components/pagination/style/index.ts
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
  components/transfer/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/transfer/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: test
  components/table/InternalTable.tsx
  components/table/demo/row-selection-custom.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: customize icons
  docs/react/customize-icons.en-US.md
  docs/react/customize-icons.zh-CN.md
  docs/react/customize-icons/bootstrap-icons.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

refactor: esc handling logic and fix esc can't close image preview in modal (#56386)
  components/modal/__tests__/confirm.test.tsx
  components/modal/__tests__/hook.test.tsx
  components/modal/style/index.ts
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: rm useless yml
  .github/workflows/test-v6.yml
  .github/workflows/test.yml
Due: prettier --ignore-unknown --write

chore: rm useless yml (#56461)
  .github/workflows/test-v6.yml
  .github/workflows/test.yml
Due: prettier --ignore-unknown --write

test: update snap
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/pagination/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/pagination/__tests__/__snapshots__/demo.test.ts.snap
  components/pagination/__tests__/__snapshots__/index.test.tsx.snap
Due: none

ci(size-limit): uses bun
  .github/workflows/size-limit.yml
Due: prettier --ignore-unknown --write

feat: add focusable support to drawer component
  components/drawer/index.tsx
  components/drawer/useFocusable.ts
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

test: add test case
  components/drawer/__tests__/Drawer.test.tsx
  components/drawer/useFocusable.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add focusable prop documentation for drawer component
  components/drawer/index.en-US.md
  components/drawer/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: customize icons
  docs/react/customize-icons/bootstrap-icons.tsx
  docs/react/customize-icons/examples.tsx
Due: biome check --write --no-errors-on-unmatched, eslint
