Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

test: improve select semantic test case
  components/auto-complete/__tests__/semantic.test.tsx
  components/select/__tests__/semantic.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: improve select semantic test case (#55560)
  components/auto-complete/__tests__/semantic.test.tsx
  components/select/__tests__/semantic.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore(site): add semantic-beauty blog
  docs/blog/semantic-beauty.en-US.md
  docs/blog/semantic-beauty.zh-CN.md
  docs/blog/semantic-beauty/demos.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Update docs/blog/semantic-beauty/demos.tsx
  docs/blog/semantic-beauty/demos.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

autospace-fix
  .dumi/global.less
Due: none

autospace-fix (#55562)
  .dumi/global.less
Due: none

docs(:sparkles:): release 5.28.0
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

update
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

Update CHANGELOG.en-US.md
  CHANGELOG.en-US.md
Due: prettier --ignore-unknown --write

docs: release 5.28.0 (#55564)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

text auto space
  components/input/demo/style-class.tsx
  docs/blog/semantic-beauty.en-US.md
  docs/blog/semantic-beauty.zh-CN.md
  docs/blog/semantic-beauty/demos.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

revert demo
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/input/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

revert demo
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

demo: add name
  components/input/TextArea.tsx
  components/input/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update snap
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/input/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

demo: add name (#55568)
  components/input/TextArea.tsx
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/input/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: adopting improvement points
  components/_util/ActionButton.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: rename isValidNode
  .dumi/theme/builtins/FlexWithImagePreview/index.tsx
  components/descriptions/Cell.tsx
  components/table/demo/ajax.tsx
  components/tour/panelRender.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: use classNames
  components/table/hooks/useSorter.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/table/hooks/useSorter.tsx
  components/table/hooks/useSorter.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: use classNames (#55571)
  components/table/hooks/useSorter.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/descriptions/Cell.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: uses correct style for content rendering
  components/descriptions/Cell.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: uses correct style for content rendering (#55572)
  components/descriptions/Cell.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update demo code
  components/descriptions/Cell.tsx
  components/descriptions/DescriptionsContext.ts
  components/table/demo/ajax.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: rename isValidNode (#55570)
  .dumi/theme/builtins/FlexWithImagePreview/index.tsx
  components/descriptions/Cell.tsx
  components/descriptions/DescriptionsContext.ts
  components/tour/panelRender.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore(decription): improve classNames
  components/descriptions/Cell.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Refactor classNames import and usage in Cell component
  components/descriptions/Cell.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore(decription): improve classNames (#55573)
  components/descriptions/Cell.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update clsx
  components/descriptions/Cell.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update clsx
  components/table/hooks/useSorter.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update api description
  components/config-provider/context.ts
  components/theme/context.ts
  docs/react/customize-theme.en-US.md
  docs/react/customize-theme.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

update
  components/config-provider/context.ts
  components/theme/context.ts
  docs/react/customize-theme.en-US.md
  docs/react/customize-theme.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

update
  components/config-provider/context.ts
  components/theme/context.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: border is null whenhover search Button
  components/input/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/space/index.zh-CN.md
  components/space/index.zh-CN.md
Due: prettier --ignore-unknown --write
