Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

type(site): typeScript definition improvement (#58606)
  .dumi/pages/index/components/Theme/index.tsx
  .dumi/pages/index/components/ThemePreview/index.tsx
  .dumi/pages/index/components/ThemePreview/previewThemes/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add Serene preview theme for theme collection (#56936) (#58607)
  .dumi/pages/index/components/ThemePreview/previewThemes/assets/serene-icon.svg
  .dumi/pages/index/components/ThemePreview/previewThemes/index.ts
  .dumi/pages/index/components/ThemePreview/previewThemes/sereneTheme.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: avoid hiding suffix content when clear icon appears
  components/date-picker/style/index.ts
  components/select/style/index.ts
  components/select/style/select-input.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: align Select clear suffix behavior with DatePicker
  components/date-picker/style/index.ts
  components/select/style/index.ts
  components/select/style/select-input.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: align Select suffix transition easing
  components/select/style/select-input.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: avoid merging split pure panel styles
  components/message/PurePanel.tsx
  components/message/__tests__/semantic.test.tsx
  components/notification/PurePanel.tsx
  components/notification/__tests__/semantic.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

site: flatten all icon search variants by category
  .dumi/theme/builtins/IconSearch/IconSearch.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: fix menu semantic demo popup scroll
  components/menu/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: fix menu semantic horizontal overflow
  components/menu/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

demo: refine menu semantic demo items
  components/menu/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/menu/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

demo: fix Menu semantic demo popup behavior (#58608)
  components/menu/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/menu/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(Table): extract pure utility function helpers (#58600)
  components/table/InternalTable.tsx
  components/table/hooks/useColumnTitleProps.ts
  components/table/hooks/useSpinProps.ts
  components/table/util.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: pagination test and update snap
  components/list/__tests__/__snapshots__/pagination.test.tsx.snap
  components/list/__tests__/pagination.test.tsx
  components/list/index.tsx
  components/pagination/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/pagination/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/pagination/__tests__/__snapshots__/demo.test.ts.snap
  components/pagination/__tests__/__snapshots__/index.test.tsx.snap
  components/table/__tests__/Table.pagination.test.tsx
  components/table/__tests__/__snapshots__/Table.pagination.test.tsx.snap
  components/table/hooks/usePagination.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snap
  components/list/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/list/__tests__/__snapshots__/demo.test.ts.snap
  components/table/__tests__/__snapshots__/Table.expand.test.tsx.snap
  components/table/__tests__/__snapshots__/Table.rowSelection.test.tsx.snap
  components/table/__tests__/__snapshots__/Table.sorter.test.tsx.snap
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
  components/transfer/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/transfer/__tests__/__snapshots__/demo.test.ts.snap
Due: none

fix(Table): selection column z-index not working with fixed columns
  components/table/style/selection.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: fix grid component API table ordering and add English anchor
  components/grid/index.en-US.md
  components/grid/index.zh-CN.md
Due: prettier --ignore-unknown --write

chore: code style optimization
  .dumi/pages/index/components/PreviewPane/Simple.tsx
  .dumi/pages/index/components/ThemePreview/index.tsx
  .dumi/pages/index/components/ThemePreview/previewThemes/bootstrapTheme.ts
  .dumi/pages/index/components/ThemePreview/previewThemes/geekTheme.ts
  .dumi/pages/index/components/ThemePreview/previewThemes/glassTheme.ts
  .dumi/pages/index/components/ThemePreview/previewThemes/index.ts
  .dumi/pages/index/components/ThemePreview/previewThemes/muiTheme.ts
  .dumi/pages/index/components/ThemePreview/previewThemes/shadcnTheme.ts
  .dumi/pages/index/components/ThemePreview/svg-component/index.ts
  .dumi/pages/index/components/ThemePreview/svg-component/serene-icon.tsx
  components/checkbox/demo/style-class.tsx
  components/color-picker/components/ColorClear.tsx
  components/radio/demo/style-class.tsx
  components/theme/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: code style optimization
  .dumi/pages/index/components/ThemePreview/previewThemes/assets/serene-icon.svg
Due: none

update
  .dumi/pages/index/components/ThemePreview/index.tsx
  .dumi/pages/index/components/ThemePreview/svg-component/serene-icon.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: code style optimization (#58610)
  .dumi/pages/index/components/PreviewPane/Simple.tsx
  .dumi/pages/index/components/ThemePreview/index.tsx
  .dumi/pages/index/components/ThemePreview/previewThemes/assets/serene-icon.svg
  .dumi/pages/index/components/ThemePreview/previewThemes/bootstrapTheme.ts
  .dumi/pages/index/components/ThemePreview/previewThemes/geekTheme.ts
  .dumi/pages/index/components/ThemePreview/previewThemes/glassTheme.ts
  .dumi/pages/index/components/ThemePreview/previewThemes/index.ts
  .dumi/pages/index/components/ThemePreview/previewThemes/muiTheme.ts
  .dumi/pages/index/components/ThemePreview/previewThemes/shadcnTheme.ts
  .dumi/pages/index/components/ThemePreview/svg-component/index.ts
  .dumi/pages/index/components/ThemePreview/svg-component/serene-icon.tsx
  components/checkbox/demo/style-class.tsx
  components/color-picker/components/ColorClear.tsx
  components/radio/demo/style-class.tsx
  components/theme/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore(site): update site style
  .dumi/pages/index/components/Theme/index.tsx
  .dumi/pages/index/components/ThemePreview/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore(site): update site style (#58611)
  .dumi/pages/index/components/Theme/index.tsx
  .dumi/pages/index/components/ThemePreview/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: upgrade deps
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix: package_managers.dependabot.dependabot-missing-cooldown.dependabot-missing-cooldown security vulnerability
  .github/dependabot.yml
Due: prettier --ignore-unknown --write

fix(Input): prevent Search button focus outline from being covered
  components/input/style/search.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snap
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
Due: none

fix(Input): prevent Search button focus outline from being covered (#58615)
  components/input/style/search.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add table scroll ghost blog
  docs/blog/table-scroll-ghost.zh-CN.md
Due: prettier --ignore-unknown --write

demo: add Layout collapsible overlay example (#58566)
  components/layout/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/layout/__tests__/__snapshots__/demo.test.ts.snap
  components/layout/demo/collapsible-overlay.md
  components/layout/demo/collapsible-overlay.tsx
  components/layout/index.en-US.md
  components/layout/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: correct semantic style priority in more components (#58564)
  components/_util/hooks/useMergeSemantic/index.ts
  components/badge/Badge.tsx
  components/badge/Ribbon.tsx
  components/badge/__tests__/ribbon.test.tsx
  components/badge/__tests__/semantic.test.tsx
  components/drawer/Drawer.tsx
  components/drawer/__tests__/semantic.test.tsx
  components/float-button/FloatButtonGroup.tsx
  components/float-button/__tests__/semantic.test.tsx
  components/image/__tests__/semantic.test.tsx
  components/image/index.tsx
  components/message/__tests__/semantic.test.tsx
  components/message/useMessage.tsx
  components/modal/PurePanel.tsx
  components/modal/__tests__/semantic.test.tsx
  components/notification/PurePanel.tsx
  components/notification/__tests__/semantic.test.tsx
  components/notification/useNotification.tsx
  components/steps/__tests__/semantic.test.tsx
  components/steps/index.tsx
  components/timeline/Timeline.tsx
  components/timeline/__tests__/semantic.test.tsx
  components/tour/__tests__/semantic.test.tsx
  components/tour/index.tsx
  components/upload/Upload.tsx
  components/upload/__tests__/semantic.test.tsx
  tests/shared/semanticStylePriority.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: add regression test for compact small search button height (#54859)
  components/input/__tests__/Search.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: this dependabot configuration does not set a co... in... (#58614)
  .github/dependabot.yml
Due: prettier --ignore-unknown --write

fix: use getComputedStyle instead of getBoundingClientRect in test (#54859)
  components/input/__tests__/Search.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update table scroll ghost blog
  docs/blog/table-scroll-ghost.en-US.md
  docs/blog/table-scroll-ghost.zh-CN.md
Due: prettier --ignore-unknown --write

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
