Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Update components/transfer/index.zh-CN.md
  components/transfer/index.zh-CN.md
Due: prettier --ignore-unknown --write

Update components/transfer/index.en-US.md
  components/transfer/index.en-US.md
Due: prettier --ignore-unknown --write

docs: Update CHANGELOG (#54101)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

feat: Transfer actions prop supports ReactNode array
  components/transfer/Actions.tsx
  components/transfer/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/transfer/__tests__/__snapshots__/demo.test.ts.snap
  components/transfer/__tests__/index.test.tsx
  components/transfer/demo/custom-operations.md
  components/transfer/demo/custom-operations.tsx
  components/transfer/index.en-US.md
  components/transfer/index.tsx
  components/transfer/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

demo: add demos about actions
  components/transfer/Actions.tsx
  components/transfer/demo/actions.md
  components/transfer/demo/actions.tsx
  components/transfer/demo/custom-operations.md
  components/transfer/index.en-US.md
  components/transfer/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

demo: add demos about actions
  components/transfer/__tests__/index.test.tsx
  components/transfer/demo/actions.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snapshot
  components/config-provider/__tests__/theme.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update snapshot
  components/transfer/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/transfer/__tests__/__snapshots__/demo.test.ts.snap
Due: none

refactor
  components/transfer/Actions.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  .cursor/rules/project.mdc
  components/transfer/Actions.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: dynamic naming
  components/button/style/variant.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: fix test case
  components/config-provider/__tests__/cssinjs.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: fix test case
  components/button/style/variant.ts
  components/config-provider/__tests__/theme.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

style: fix Form.Item children not align center
  components/form/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: changelog 5.26.1 (#54103)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Update package.json
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: upgrade tsx from ~4.20.3 to ^4.20.3
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: Button use css var instead of for loop generate style (#54100)
  components/button/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/button/__tests__/__snapshots__/demo.test.ts.snap
  components/button/button.tsx
  components/button/style/index.ts
  components/button/style/variant.ts
  components/config-provider/__tests__/cssinjs.test.tsx
  components/config-provider/__tests__/theme.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: upgrade tsx from ~4.20.3 to ^4.20.3 (#54109)
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: upgrade typescript from ~5.8.2 to ^5.8.3
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: upgrade deps
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

migrate biome.json
  biome.json
Due: biome check --write --no-errors-on-unmatched, eslint

lint
  biome.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix
  .dumi/pages/index/components/Theme/index.tsx
  .dumi/theme/builtins/Previewer/Actions.tsx
  biome.json
  components/_util/easings.ts
  components/config-provider/__tests__/theme.test.tsx
  components/space/demo/compact-nested.tsx
  components/space/demo/debug.tsx
  components/spin/Indicator/Progress.tsx
  components/style/reset.css
  components/theme/themes/dark/index.ts
  components/theme/themes/default/index.ts
  components/upload/Upload.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix children width
  components/form/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix switch align
  components/form/style/index.ts
  components/switch/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix
  components/form/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

lint fix
  scripts/generate-authors.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix
  components/config-provider/__tests__/theme.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/switch/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: discription in extra.md
  components/collapse/demo/extra.md
Due: prettier --ignore-unknown --write

docs: correct description of collapse/demo/extra.md (#54120)
  components/collapse/demo/extra.md
Due: prettier --ignore-unknown --write

fix: fix lint error
  scripts/generate-authors.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix
  components/switch/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: fix lint error (#54122)
  scripts/generate-authors.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: replace expand icons with svg component
  .dumi/theme/builtins/Previewer/Actions.tsx
  .dumi/theme/builtins/Previewer/CodePreviewer.tsx
  .dumi/theme/common/styles/Demo.tsx
  .dumi/theme/icons/ExpandIcon.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
