Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

feat(Progress): support custom circle start position
  components/progress/Circle.tsx
  components/progress/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/progress/__tests__/__snapshots__/demo.test.ts.snap
  components/progress/__tests__/index.test.tsx
  components/progress/demo/circle-start-position.md
  components/progress/demo/circle-start-position.tsx
  components/progress/index.en-US.md
  components/progress/index.zh-CN.md
  components/progress/progress.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: fix i18n contribution guide link (#59173)
  docs/react/i18n.zh-CN.md
Due: prettier --ignore-unknown --write

fix(Slider): keep edge tooltips within viewport
  components/_util/placements.ts
  components/slider/SliderTooltip.tsx
  components/slider/__tests__/SliderTooltip.test.tsx
  components/tooltip/__tests__/__snapshots__/tooltip.test.tsx.snap
  components/tooltip/__tests__/tooltip.test.tsx
  components/tooltip/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test(Slider): update tooltip arrow snapshots
  components/slider/__tests__/__snapshots__/index.test.tsx.snap
Due: none

docs: fix invalid links
  docs/blog/testing-migrate.en-US.md
  docs/blog/testing-migrate.zh-CN.md
  docs/react/customize-theme.en-US.md
  docs/react/customize-theme.zh-CN.md
  docs/spec/introduce.en-US.md
Due: prettier --ignore-unknown --write

docs: fix typo
  docs/react/use-with-farm.en-US.md
Due: prettier --ignore-unknown --write

fix: preserve existing boolean renderability
  components/_util/__tests__/isReactRenderable.test.ts
  components/_util/is.ts
  components/list/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: upgrade deps
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

docs: fix typo (#59177)
  docs/react/use-with-farm.en-US.md
Due: prettier --ignore-unknown --write

docs: fix invalid links (#59176)
  docs/blog/testing-migrate.en-US.md
  docs/blog/testing-migrate.zh-CN.md
  docs/react/customize-theme.en-US.md
  docs/react/customize-theme.zh-CN.md
  docs/spec/introduce.en-US.md
Due: prettier --ignore-unknown --write

fix(Layout): handle undefined collapsed as uncontrolled (#59175)
  components/layout/Sider.tsx
  components/layout/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Input.Search): preserve custom enterButton onMouseDown
  components/input/Search.tsx
  components/input/__tests__/Search.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Menu): support subItem and subItemTitle semantic
  components/menu/SubMenu.tsx
  components/menu/__tests__/semantic.test.tsx
  components/menu/demo/_semantic.tsx
  components/menu/menu.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Tooltip): scope arrow clamping to unrestricted shifts
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/date-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/float-button/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/grid/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/progress/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/slider/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tooltip/__tests__/__snapshots__/tooltip.test.tsx.snap
  components/tooltip/__tests__/tooltip.test.tsx
  components/tooltip/index.tsx
  components/tour/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/typography/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/watermark/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Input.Password): ignore repeated key activation (#59135)
  components/input/Password.tsx
  components/input/__tests__/Password.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Tag): ignore repeated key activation (#59134)
  components/tag/CheckableTag.tsx
  components/tag/__tests__/index.test.tsx
  components/tag/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: remove stale create-react-app guide references
  docs/react/getting-started.en-US.md
Due: prettier --ignore-unknown --write

docs: remove stale create-react-app guide references (#59183)
  docs/react/getting-started.en-US.md
Due: prettier --ignore-unknown --write

fix(Input.Search): preserve custom enterButton onMouseDown (#59180)
  components/input/Search.tsx
  components/input/__tests__/Search.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: pin jest dependencies
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

🐛 fix: pin jest dependencies (#59186)
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: remove obsolete nwsapi override
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Menu): add subItem/subItemTitle to top-level semantic types
  components/menu/menu.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: bump @rc-component deps
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Select): migrate internal suffix usage
  components/auto-complete/AutoComplete.tsx
  components/auto-complete/__tests__/index.test.tsx
  components/select/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Select): document suffix prop
  components/select/__tests__/index.test.tsx
  components/select/index.en-US.md
  components/select/index.tsx
  components/select/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: remove obsolete nwsapi override (#59187)
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

docs: align getting started guides
  docs/react/getting-started.en-US.md
  docs/react/getting-started.zh-CN.md
Due: prettier --ignore-unknown --write

docs(Menu): mark subItem/subItemTitle semantic version in preview
  components/menu/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/menu/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update size-limit
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update
  components/float-button/BackTop.tsx
  components/input/Group.tsx
  components/mentions/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update package.json
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix(List): use rc util renderability helper
  components/list/Item.tsx
  components/list/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: use rc util renderability helper
  components/divider/index.tsx
  components/spin/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update
  components/avatar/index.tsx
  components/back-top/index.tsx
  components/float-button/BackTop.tsx
  components/input/Group.tsx
  components/input/index.tsx
  components/mentions/index.tsx
  components/select/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

demo: avoid third-party utility in Table ajax example
  components/table/demo/ajax.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

demo: avoid third-party utility in Table ajax example (#59191)
  components/table/demo/ajax.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: explain renderable content behavior in FAQ
  docs/react/faq.en-US.md
  docs/react/faq.zh-CN.md
Due: prettier --ignore-unknown --write
