Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: update bug list
  BUG_VERSIONS.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: unlock countup.js@2.8.0
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: unlock countup.js@2.8.0 (#53654)
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: deprecated destroyTooltipOnHide API
  components/popover/demo/_semantic.tsx
  components/tooltip/__tests__/tooltip.test.tsx
  components/tooltip/demo/destroy-tooltip-on-hide.tsx
  components/tooltip/index.tsx
  components/tooltip/shared/sharedProps.en-US.md
  components/tooltip/shared/sharedProps.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

demo: demo update
  components/tooltip/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tooltip/__tests__/__snapshots__/demo.test.tsx.snap
  components/tooltip/demo/destroy-on-close.md
  components/tooltip/demo/destroy-on-close.tsx
  components/tooltip/demo/destroy-tooltip-on-hide.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

demo: demo update
  components/tooltip/index.en-US.md
  components/tooltip/index.tsx
  components/tooltip/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

demo: demo update
  .dumi/theme/builtins/ComponentTokenTable/index.tsx
  .dumi/theme/common/ComponentChangelog/ComponentChangelog.tsx
  .dumi/theme/slots/Header/index.tsx
  components/avatar/AvatarGroup.tsx
  components/color-picker/ColorPicker.tsx
  components/color-picker/index.en-US.md
  components/color-picker/index.zh-CN.md
  components/color-picker/interface.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: fix
  components/tooltip/index.tsx
  components/tooltip/shared/sharedProps.en-US.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

refactor: deprecated `destroyTooltipOnHide` API (#53656)
  .dumi/theme/builtins/ComponentTokenTable/index.tsx
  .dumi/theme/common/ComponentChangelog/ComponentChangelog.tsx
  .dumi/theme/slots/Header/index.tsx
  components/avatar/AvatarGroup.tsx
  components/color-picker/ColorPicker.tsx
  components/color-picker/index.en-US.md
  components/color-picker/index.zh-CN.md
  components/color-picker/interface.ts
  components/popover/demo/_semantic.tsx
  components/tooltip/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tooltip/__tests__/__snapshots__/demo.test.tsx.snap
  components/tooltip/__tests__/tooltip.test.tsx
  components/tooltip/demo/destroy-on-close.md
  components/tooltip/demo/destroy-on-close.tsx
  components/tooltip/demo/destroy-tooltip-on-hide.md
  components/tooltip/index.en-US.md
  components/tooltip/index.tsx
  components/tooltip/index.zh-CN.md
  components/tooltip/shared/sharedProps.en-US.md
  components/tooltip/shared/sharedProps.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: Update README.md
  README.md
Due: prettier --ignore-unknown --write

Update README-zh_CN.md
  README-zh_CN.md
Due: prettier --ignore-unknown --write

fix: Mask not hiding correctly in lazy mode (#53653)
  BUG_VERSIONS.json
  components/splitter/SplitBar.tsx
  components/splitter/__tests__/lazy.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add DeepWiki badge (#53660)
  README-zh_CN.md
  README.md
Due: prettier --ignore-unknown --write

docs: Update README.md (#53661)
  README-zh_CN.md
  README.md
Due: prettier --ignore-unknown --write

INTERNAL: add internal method `__getReactRender` to ConfigProvider for internal usage
  components/config-provider/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update
  components/config-provider/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update
  components/config-provider/UnstableContext.tsx
  components/config-provider/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

unit test
  components/__tests__/unstable.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update
  components/__tests__/unstable.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs(icon): add compatibility tips
  components/icon/index.en-US.md
  components/icon/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix<DatePicker>:Incorrect date-picker small Token
  components/date-picker/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: Revert unnecessary format modify
  README-zh_CN.md
  README.md
  components/_util/hooks/useClosable.tsx
  components/drawer/DrawerPanel.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

site: fix deprecated warning of alert
  .dumi/pages/index/components/ComponentsList.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(StyleProvider): re-export in antd
  components/__tests__/__snapshots__/index.test.ts.snap
  components/config-provider/demo/holderRender.tsx
  components/index.ts
  docs/blog/extract-ssr.en-US.md
  docs/blog/extract-ssr.zh-CN.md
  docs/react/compatible-style.en-US.md
  docs/react/compatible-style.zh-CN.md
  docs/react/server-side-rendering.en-US.md
  docs/react/server-side-rendering.zh-CN.md
  docs/react/use-with-next.en-US.md
  docs/react/use-with-next.zh-CN.md
  tests/__snapshots__/index.test.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(test): Update snapshots
  components/tour/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

docs(icon): add compatibility tips (#53666)
  components/icon/index.en-US.md
  components/icon/index.zh-CN.md
Due: prettier --ignore-unknown --write

u
  .dumi/theme/builtins/Container/index.tsx
  components/skeleton/shared/sharedProps.en-US.md
  components/skeleton/shared/sharedProps.zh-CN.md
  components/statistic/index.en-US.md
  components/statistic/index.zh-CN.md
  components/tooltip/shared/sharedFAQ.en-US.md
  components/tooltip/shared/sharedFAQ.zh-CN.md
  components/tooltip/shared/sharedProps.en-US.md
  components/tooltip/shared/sharedProps.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: 更新 5.24.9 版本日志，添加多个修复说明
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: 修正 Select 在移动设备上显示 `clearIcon` 的描述
  CHANGELOG.en-US.md
Due: prettier --ignore-unknown --write

fix: 修复 Affix 的 `offsetTop` 和 `offsetBottom` 属性修改不生效的问题
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

fix: 修复 Affix 修改 `offsetTop` 和 `offsetBottom` 属性时固定效果不生效的问题
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

fix: 修复 CHANGELOG 中的描述格式和内容一致性
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: move mock api from randomuser.me to mocky.io
  components/list/demo/infinite-load.tsx
  components/list/demo/loadmore.tsx
  components/list/demo/virtual-list.tsx
  components/select/demo/select-users.tsx
  components/table/demo/ajax.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(m): ExtraCase
  components/date-picker/demo/components.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

样式调整,规范调整
  components/menu/demo/custom-popup-render.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/table/demo/ajax.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

site: fix deprecated warning of alert (#53672)
  .dumi/pages/index/components/ComponentsList.tsx
  .dumi/theme/builtins/Container/index.tsx
  components/skeleton/shared/sharedProps.en-US.md
  components/skeleton/shared/sharedProps.zh-CN.md
  components/statistic/index.en-US.md
  components/statistic/index.zh-CN.md
  components/tooltip/shared/sharedFAQ.en-US.md
  components/tooltip/shared/sharedFAQ.zh-CN.md
  components/tooltip/shared/sharedProps.en-US.md
  components/tooltip/shared/sharedProps.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

update
  components/list/demo/infinite-load.tsx
  components/list/demo/loadmore.tsx
  components/list/demo/virtual-list.tsx
  components/select/demo/select-users.tsx
  components/table/demo/ajax.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
