Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Update components/card/Card.tsx
  components/card/Card.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: update snap
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
Due: none

docs: add guidance for issues fixed but not yet released (#57121)
  .claude/skills/issue-reply/SKILL.md
Due: prettier --ignore-unknown --write

feat: add disabled prop to FloatButton (#57123)
  components/float-button/FloatButton.tsx
  components/float-button/__tests__/index.test.tsx
  components/float-button/index.en-US.md
  components/float-button/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

refactor: source target
  components/transfer/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/transfer/__tests__/semantic.test.tsx
  components/transfer/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: update demo
  components/transfer/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/transfer/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: name
  components/input/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: snap
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

fix(AutoComplete): position dropdown at cursor for multi-line textarea
  components/auto-complete/AutoComplete.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore(ci): npm registry
  .utoo.toml
Due: none

feat: review
  components/calendar/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: import InternalTypography and pass correct props from Base
  components/typography/Base/index.tsx
  components/typography/Typography.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

style: format Typography.tsx class name order
  components/typography/Typography.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

style: update Typography snapshots with formatted class names
  components/typography/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/typography/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/typography/__tests__/__snapshots__/demo.test.tsx.snap
  components/typography/__tests__/__snapshots__/index.test.tsx.snap
Due: none

feat: test snap
  components/badge/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/badge/__tests__/__snapshots__/demo.test.tsx.snap
  components/badge/demo/style-class.tsx
  components/tour/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tour/demo/style-class.tsx
  components/transfer/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/transfer/__tests__/__snapshots__/demo.test.ts.snap
  components/transfer/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(locale): add es_US locale (Spanish with US date formatting)
  components/locale/__tests__/index.test.tsx
  components/locale/es_US.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(locale): avoid code duplications
  components/locale/es_US.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(locale): added dayjs locale in test file
  components/locale/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

demo: update snap (#57134)
  components/badge/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/badge/__tests__/__snapshots__/demo.test.tsx.snap
  components/badge/demo/style-class.tsx
  components/tour/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tour/demo/style-class.tsx
  components/transfer/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/transfer/__tests__/__snapshots__/demo.test.ts.snap
  components/transfer/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

deps: add @typescript-eslint/eslint-plugin ^8.56.1
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

deps: add @typescript-eslint/eslint-plugin ^8.56.1 (#57139)
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Splitter): Update `sizes` calculation in `useSizes` to only use `innerSizes` when no Panel has received a value for the `size` prop.
  components/splitter/hooks/useSizes.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Checkbox): keep checkbox same width in Group and add debug demo
  components/checkbox/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/checkbox/__tests__/__snapshots__/demo.test.tsx.snap
  components/checkbox/demo/debug-group-width.md
  components/checkbox/demo/debug-group-width.tsx
  components/checkbox/index.en-US.md
  components/checkbox/index.zh-CN.md
  components/checkbox/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(Checkbox): keep checkbox same width in Group (#57144)
  components/checkbox/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/checkbox/__tests__/__snapshots__/demo.test.tsx.snap
  components/checkbox/demo/debug-group-width.md
  components/checkbox/demo/debug-group-width.tsx
  components/checkbox/index.en-US.md
  components/checkbox/index.zh-CN.md
  components/checkbox/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: add source and target semantic dom support for Transfer (#57101)
  components/transfer/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/transfer/__tests__/semantic.test.tsx
  components/transfer/demo/_semantic.tsx
  components/transfer/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(deps): upgrade @rc-component/form to ~1.7.0
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Input): use colorBorderDisabled token for disabled input border color
  components/input/style/variants.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(deps): upgrade @rc-component/form to ~1.7.1
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: use medium instead of default for size (#57127)
  components/badge/Badge.tsx
  components/badge/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/badge/__tests__/__snapshots__/demo.test.tsx.snap
  components/badge/demo/colorful-with-count-debug.tsx
  components/badge/demo/size.tsx
  components/badge/demo/style-class.tsx
  components/badge/index.en-US.md
  components/badge/index.zh-CN.md
  components/card/Card.tsx
  components/card/demo/basic.md
  components/card/demo/tabs.tsx
  components/card/index.en-US.md
  components/card/index.zh-CN.md
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/descriptions/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/descriptions/__tests__/__snapshots__/demo.test.ts.snap
  components/descriptions/demo/component-token.tsx
  components/descriptions/demo/size.tsx
  components/descriptions/demo/style-class.tsx
  components/descriptions/index.en-US.md
  components/descriptions/index.tsx
  components/descriptions/index.zh-CN.md
  components/descriptions/style/index.ts
  components/progress/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/progress/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/progress/__tests__/__snapshots__/demo.test.ts.snap
  components/progress/__tests__/__snapshots__/index.test.tsx.snap
  components/progress/index.en-US.md
  components/progress/index.zh-CN.md
  components/progress/progress.tsx
  components/steps/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/steps/__tests__/__snapshots__/demo.test.ts.snap
  components/steps/demo/steps-in-steps.tsx
  components/steps/index.en-US.md
  components/steps/index.tsx
  components/steps/index.zh-CN.md
  components/switch/demo/style-class.tsx
  components/switch/index.en-US.md
  components/switch/index.tsx
  components/switch/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: Form dynamic rules with deps (#57147)
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: adjust ts
  components/badge/__tests__/ribbon.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore(dumi): upgrade parseFileData script from v1.0.1 to v1.1.0
  .dumi/theme/builtins/Previewer/CodeBlockButton.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: remove duplicate import statements in test files
  components/breadcrumb/__tests__/Breadcrumb.test.tsx
  components/button/__tests__/index.test.tsx
  components/calendar/__tests__/index.test.tsx
  components/card/__tests__/index.test.tsx
  components/card/__tests__/semantic.test.tsx
  components/checkbox/__tests__/semantic.test.tsx
  components/collapse/__tests__/semantic.test.tsx
  components/config-provider/__tests__/style.test.tsx
  components/date-picker/__tests__/semantic.test.tsx
  components/float-button/__tests__/semantic.test.tsx
  components/skeleton/__tests__/semantic.test.tsx
  components/steps/__tests__/semantic.test.tsx
  components/switch/__tests__/semantic.test.tsx
  components/table/__tests__/semantic.test.tsx
  components/time-picker/__tests__/index.test.tsx
  components/time-picker/__tests__/semantic.test.tsx
  components/timeline/__tests__/semantic.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: remove redundant return statement in Collapse stylesFn
  components/collapse/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: correct type assertion for ColorPicker popupOverlayInner styles
  components/color-picker/ColorPicker.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: remove unused selectedKeysRef
  components/table/hooks/useSelection.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(RangePicker): add tests for custom and global suffixIcon rendering
  components/date-picker/__tests__/RangePicker.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

remove space before | 'cleanup'
  components/table/interface.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(RangePicker): add support for custom and global clearIcon via ConfigProvider
  components/date-picker/__tests__/RangePicker.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
