Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

Update components/select/demo/option-render.tsx
  components/select/demo/option-render.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/select/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

fix(table): code optimization
  components/table/InternalTable.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs：修正 AtomUI 地址
  docs/spec/introduce.en-US.md
  docs/spec/introduce.zh-CN.md
Due: prettier --ignore-unknown --write

site: fix atomui oss code repository address (#56186)
  docs/spec/introduce.en-US.md
  docs/spec/introduce.zh-CN.md
Due: prettier --ignore-unknown --write

docs: update the demo of custom dropdown options for `Select` component (#56182)
  components/select/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/select/__tests__/__snapshots__/demo.test.tsx.snap
  components/select/demo/option-render.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: correct deprecated prop name for dropdownRender
  components/cascader/demo/custom-dropdown.md
  components/select/demo/custom-dropdown-menu.md
  components/select/index.zh-CN.md
Due: prettier --ignore-unknown --write

Update components/select/index.zh-CN.md
  components/select/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix(splitter): resolve incorrect collapse behavior in RTL vertical mode (#56179)
  components/splitter/Splitter.tsx
  components/splitter/hooks/useResizable.ts
  components/splitter/hooks/useResize.ts
  components/splitter/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: correct deprecated prop name for dropdownRender (#56188)
  components/cascader/demo/custom-dropdown.md
  components/select/demo/custom-dropdown-menu.md
  components/select/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix(Input): fix Search allowClear border missing in Compact mode (#56105)
  components/input/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: notification wrong background color when cssVar is false (#56169)
  components/notification/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/notification/__tests__/__snapshots__/demo.test.ts.snap
  components/notification/demo/component-token.tsx
  components/notification/demo/with-icon.tsx
  components/notification/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: bump version to 5.29.2 and update changelogs
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: bump happy-work-theme to 2.0.0
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

Update CHANGELOG.en-US.md
  CHANGELOG.en-US.md
Due: prettier --ignore-unknown --write

chore(deps): bump happy-work-theme to 2.0.0 (#56192)
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

demo: update Segmented demo (#56191)
  .dumi/theme/common/SelectSemanticTemplate.tsx
  components/menu/demo/_semantic.tsx
  components/progress/demo/_semantic.tsx
  components/segmented/demo/_semantic.tsx
  components/segmented/demo/block.tsx
  components/segmented/demo/controlled.tsx
  components/segmented/demo/shape.tsx
  components/skeleton/demo/_semantic_element.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  .dumi/theme/common/BehaviorMap/BehaviorMap.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(upload): align progress bar using item gap instead of text line height
  components/upload/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

update
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Transfer): Prioritize using the disabled property of the Transfer component
  components/transfer/ListItem.tsx
  components/transfer/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: feature supported #50885
  components/input-number/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input-number/__tests__/__snapshots__/demo.test.tsx.snap
  components/input-number/demo/allow-clear.md
  components/input-number/demo/allow-clear.tsx
  components/input-number/index.en-US.md
  components/input-number/index.tsx
  components/input-number/index.zh-CN.md
  components/input-number/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: fix holderRender demo not working in production build
  components/config-provider/demo/holderRender.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Image): Image mask fade enter blur transition does not work
  components/image/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

site: fix holderRender demo not working in production build (#56203)
  components/config-provider/demo/holderRender.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update docs
  components/tooltip/shared/sharedFAQ.en-US.md
  components/tooltip/shared/sharedFAQ.zh-CN.md
Due: prettier --ignore-unknown --write

fix lint
  scripts/post-publish.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update docs (#56206)
  components/tooltip/shared/sharedFAQ.en-US.md
  components/tooltip/shared/sharedFAQ.zh-CN.md
  scripts/post-publish.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(Card): adjust Card border-radius in grid mode without head
  components/card/Card.tsx
  components/card/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

site: remove unused bottom from sticky layout
  components/layout/demo/fixed-sider.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Apply suggestions from code review
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

chore: remove broken check-commit script
  package.json
  scripts/test-all.sh
Due: biome check --write --no-errors-on-unmatched, eslint

chore: remove broken check-commit script (#56216)
  package.json
  scripts/test-all.sh
Due: biome check --write --no-errors-on-unmatched, eslint

fix: lint error
  scripts/post-publish.ts
Due: biome check --write --no-errors-on-unmatched, eslint
