Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

♻️ clean: deprecated api
  components/date-picker/locale/ar_EG.ts
  components/date-picker/locale/pl_PL.ts
  components/date-picker/locale/pt_PT.ts
  components/date-picker/locale/sl_SI.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: revert change
  components/locale/useLocale.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: bump table deps
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: back of style
  components/table/style/fixed.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update Component Token Table
  components/masonry/index.en-US.md
  components/masonry/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: update Component Token Table (#53095)
  components/masonry/index.en-US.md
  components/masonry/index.zh-CN.md
Due: prettier --ignore-unknown --write

type: optimization ItemColumnsType
  components/masonry/Masonry.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

type: optimization ItemColumnsType (#53096)
  components/masonry/Masonry.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: update deprecated api
  components/_util/responsiveObserver.ts
  components/grid/__tests__/index.test.tsx
  components/layout/Sider.tsx
  tests/setup.ts
  tests/shared/imageTest.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: update deprecated api
  components/grid/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: update deprecated api
  components/_util/__tests__/responsiveObserve.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Tag): custom color support 3 variants
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/config-provider/context.ts
  components/grid/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/select/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/select/__tests__/__snapshots__/demo.test.tsx.snap
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
  components/tag/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tag/__tests__/__snapshots__/demo.test.ts.snap
  components/tag/__tests__/__snapshots__/index.test.tsx.snap
  components/tag/__tests__/index.test.tsx
  components/tag/demo/borderless.md
  components/tag/demo/borderless.tsx
  components/tag/demo/borderlessLayout.md
  components/tag/demo/borderlessLayout.tsx
  components/tag/demo/colorful-inverse.md
  components/tag/demo/colorful-inverse.tsx
  components/tag/demo/colorful.tsx
  components/tag/demo/component-token.tsx
  components/tag/demo/disabled.tsx
  components/tag/demo/status.tsx
  components/tag/index.en-US.md
  components/tag/index.tsx
  components/tag/index.zh-CN.md
  components/tag/style/index.ts
  components/tag/style/presetCmp.ts
  components/tag/style/statusCmp.ts
  components/transfer/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/transfer/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

refactor: update deprecated api `addListener` => `addEventListener` (#53099)
  components/_util/__tests__/responsiveObserve.test.tsx
  components/_util/responsiveObserver.ts
  components/grid/__tests__/index.test.tsx
  components/layout/Sider.tsx
  tests/setup.ts
  tests/shared/imageTest.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

site: update log tag style
  .dumi/hooks/useMenu.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

site: update log tag style (#53102)
  .dumi/hooks/useMenu.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

site: fix Popover style with RTL mode
  .dumi/theme/builtins/ComponentTokenTable/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

site: fix Popover style with RTL mode (#53104)
  .dumi/theme/builtins/ComponentTokenTable/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

revert
  components/date-picker/locale/ar_EG.ts
  components/date-picker/locale/pl_PL.ts
  components/date-picker/locale/pt_PT.ts
  components/date-picker/locale/sl_SI.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: remove outdated api
  components/date-picker/locale/ar_EG.ts
  components/date-picker/locale/pl_PL.ts
  components/date-picker/locale/pt_PT.ts
  components/date-picker/locale/sl_SI.ts
  components/locale/hy_AM.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: 移除冗余配置
  components/date-picker/locale/ar_EG.ts
  components/date-picker/locale/pl_PL.ts
  components/date-picker/locale/pt_PT.ts
  components/date-picker/locale/sl_SI.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: replace deprecated api
  components/date-picker/locale/ar_EG.ts
  components/date-picker/locale/pl_PL.ts
  components/date-picker/locale/pt_PT.ts
  components/date-picker/locale/sl_SI.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: remove invalid
  components/date-picker/locale/ar_EG.ts
Due: biome check --write --no-errors-on-unmatched, eslint

Revert "refactor: update deprecated api `addListener` => `addEventListener` (…"
  components/_util/__tests__/responsiveObserve.test.tsx
  components/_util/responsiveObserver.ts
  components/grid/__tests__/index.test.tsx
  components/layout/Sider.tsx
  tests/setup.ts
  tests/shared/imageTest.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Revert "refactor: update deprecated api `addListener` => `addEventListener` (…" (#53106)
  components/_util/__tests__/responsiveObserve.test.tsx
  components/_util/responsiveObserver.ts
  components/grid/__tests__/index.test.tsx
  components/layout/Sider.tsx
  tests/setup.ts
  tests/shared/imageTest.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snap
  components/typography/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/typography/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

Revert "chore: replace deprecated api"
  components/date-picker/locale/ar_EG.ts
  components/date-picker/locale/pl_PL.ts
  components/date-picker/locale/pt_PT.ts
  components/date-picker/locale/sl_SI.ts
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: optimization compatible logic
  components/_util/__tests__/responsiveObserve.test.tsx
  components/_util/responsiveObserver.ts
  components/layout/Sider.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: fix test case
  components/grid/__tests__/index.test.tsx
  tests/setup.ts
  tests/shared/imageTest.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update
  components/date-picker/locale/example.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: remove mark
  components/date-picker/locale/example.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix: fix
  components/_util/responsiveObserver.ts
  components/layout/Sider.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: Formatting and text editing
  components/button/style/token.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: fix
  components/grid/__tests__/__snapshots__/index.test.tsx.snap
  components/grid/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: fix
  components/_util/responsiveObserver.ts
  components/grid/__tests__/index.test.tsx
  components/layout/Sider.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: add .cursorrules
  .cursorrules
Due: none

Update .cursorrules
  .cursorrules
Due: none

chore: add .cursorrules (#53108)
  .cursorrules
Due: none

chore: fix style
  components/table/demo/dynamic-settings.tsx
  components/table/demo/fixed-columns-header.tsx
  components/table/demo/fixed-columns.tsx
  components/table/demo/fixed-gapped-columns.tsx
  components/table/demo/fixed-header.tsx
  components/table/demo/grouping-columns.tsx
  components/table/demo/summary.tsx
  components/table/style/fixed.ts
  components/table/style/rtl.ts
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: fix style overflow
  components/table/index.en-US.md
  components/table/index.zh-CN.md
  components/table/style/fixed.ts
  components/table/style/rtl.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
