Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: upgrade deps
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix
  .jest.js
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Input.TextArea): support allowClear.disabled
  components/input/TextArea.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test(TextArea): add test for allowClear.disabled functionality
  components/input/__tests__/textarea.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Input.Search): support searchIcon (#57256)
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.tsx
  components/config-provider/index.zh-CN.md
  components/input/Search.tsx
  components/input/__tests__/Search.test.tsx
  components/input/index.en-US.md
  components/input/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: prevent scroll-to-top when context menu closes and tree regains focus
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat(ConfigProvider,Mentions): support allowClear config
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
  components/mentions/__tests__/index.test.tsx
  components/mentions/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(Tag): support semantic classNames and styles for close icon
  components/tag/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/tag/__tests__/semantic.test.tsx
  components/tag/demo/_semantic.tsx
  components/tag/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Mentions): ensure allowClear defaults to false and inherit from ConfigProvider
  components/mentions/__tests__/index.test.tsx
  components/mentions/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Tree): prevent scroll-to-top when context menu closes and tree regains focus (#57329)
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Tag): add semantic support for close icon (#57331)
  components/tag/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/tag/__tests__/semantic.test.tsx
  components/tag/demo/_semantic.tsx
  components/tag/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Flex): add childrenFlex prop to apply flex CSS to direct children
  components/flex/index.tsx
  components/flex/interface.ts
  components/flex/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test(Flex): add unit tests for childrenFlex prop
  components/flex/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs(Flex): add childrenFlex to API documentation
  components/flex/index.en-US.md
  components/flex/index.zh-CN.md
Due: prettier --ignore-unknown --write

Update components/flex/index.tsx
  components/flex/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(ConfigProvider,Upload): support showUploadList config
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
  components/upload/Upload.tsx
  components/upload/__tests__/upload.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: widen autoAdjustOverflow types
  components/_util/placements.ts
  components/dropdown/__tests__/index.test.tsx
  components/popover/__tests__/index.test.tsx
  components/tooltip/__tests__/tooltip.test.tsx
  components/tooltip/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: document autoAdjustOverflow object config
  components/dropdown/index.en-US.md
  components/dropdown/index.zh-CN.md
  components/tooltip/shared/sharedProps.en-US.md
  components/tooltip/shared/sharedProps.zh-CN.md
Due: prettier --ignore-unknown --write

refactor: import mergeProps from util package
  components/_util/extendsObject.ts
  components/_util/hooks/useClosable.tsx
  components/list/index.tsx
  components/table/hooks/useFilter/FilterDropdown.tsx
  components/table/hooks/usePagination.ts
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix(useWatermark): handle undefined onRemove callback gracefully
  components/watermark/useWatermark.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Table): avoid duplicated controlled Popover rendering in scroll measure rows
  components/table/__tests__/Table.test.tsx
  components/tooltip/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: update snap
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

Potential fix for pull request finding
  components/watermark/useWatermark.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(input): use colorBorderDisabled token for disabled input border
  components/input/style/variants.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: also set colorBorderDisabled for underlined disabled initial state
  components/input/style/variants.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: remove redundant :not([disabled]) from disabled hover selector
  components/input/style/variants.ts
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: import mergeProps from util package (#57341)
  components/_util/extendsObject.ts
  components/_util/hooks/useClosable.tsx
  components/list/index.tsx
  components/table/hooks/useFilter/FilterDropdown.tsx
  components/table/hooks/usePagination.ts
  components/watermark/useWatermark.ts
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

ci(Watermark): guard undefined onRemove callback in hook
  components/watermark/useWatermark.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update CheckableTag size version to 6.4.0 in documentation and component files
  components/tag/CheckableTag.tsx
  components/tag/index.en-US.md
  components/tag/index.tsx
  components/tag/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(Watermark): guard undefined onRemove callback in hook (#57344)
  components/watermark/useWatermark.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix
  .dumi/theme/common/ThemeSwitch/PromptDrawer.tsx
  biome.json
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Tooltip): hide tooltip in table measure row and format legacy props definition
  components/tooltip/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: add debug demo
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/demo/measure-row-render.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix the lint issue
  components/image/demo/toolbarRender.tsx
  components/image/index.en-US.md
  components/image/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: test CI
  contributors.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Menu): align vertical collapsed icons for large collapsedIconSize
  components/menu/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/menu/__tests__/__snapshots__/demo.test.tsx.snap
  components/menu/demo/collapsed-icon-debug.md
  components/menu/demo/collapsed-icon-debug.tsx
  components/menu/index.en-US.md
  components/menu/index.zh-CN.md
  components/menu/style/vertical.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Update components/menu/demo/collapsed-icon-debug.tsx
  components/menu/demo/collapsed-icon-debug.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
