Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

update test snap
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

update test snap
  components/input/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: fix logic
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
  components/form/demo/register.tsx
  components/input/Search.tsx
  components/input/__tests__/Search.test.tsx
  components/space/Compact.tsx
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
  components/space/demo/compact.tsx
  components/space/style/compact.ts
  components/space/style/compactCell.ts
  components/space/style/index.ts
  components/style/compact-item.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: update test
  components/space/__tests__/space-compact.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: fix search
  components/input/Search.tsx
  components/input/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

revert test
  components/input/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snap
  components/badge/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/badge/__tests__/__snapshots__/demo.test.tsx.snap
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/input/__tests__/__snapshots__/Search.test.tsx.snap
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/space/Compact.tsx
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
  components/space/__tests__/space-compact.test.tsx
  components/steps/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/steps/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add api Version
  components/space/index.en-US.md
  components/space/index.zh-CN.md
Due: prettier --ignore-unknown --write

test: update
  components/space/__tests__/space-compact.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: change description
  components/space/CompactCell.tsx
  components/space/index.en-US.md
  components/space/index.zh-CN.md
  components/space/style/compact.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: add description for CompactCell
  components/space/index.en-US.md
  components/space/index.zh-CN.md
  scripts/__snapshots__/check-site.ts.snap
Due: prettier --ignore-unknown --write

test: change search style
  components/auto-complete/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/auto-complete/__tests__/__snapshots__/demo.test.tsx.snap
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/input/Search.tsx
  components/input/__tests__/__snapshots__/Search.test.tsx.snap
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/input/demo/search-input.tsx
  components/input/style/index.ts
  components/tree/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tree/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint

feat: searchButton text color
  components/input/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snap
  components/button/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/button/__tests__/__snapshots__/demo.test.ts.snap
Due: none

fix: border is null whenhover search Button
  components/input/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snap
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

feat: compactCell -> compactAddon
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/drawer/demo/form-in-drawer.tsx
  components/input-number/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input-number/__tests__/__snapshots__/demo.test.tsx.snap
  components/input-number/demo/presuffix.tsx
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/input/demo/compact-style.tsx
  components/input/demo/search-input.tsx
  components/space/CompactAddon.tsx
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
  components/space/demo/compact.tsx
  components/space/index.en-US.md
  components/space/index.tsx
  components/space/index.zh-CN.md
  components/space/style/compact.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Update components/space/index.en-US.md
  components/space/index.en-US.md
Due: prettier --ignore-unknown --write

Update components/space/index.zh-CN.md
  components/space/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: change Compact description
  components/space/index.en-US.md
  components/space/index.zh-CN.md
Due: prettier --ignore-unknown --write

refactor: Refactoring Space.Addon style and class name
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/input-number/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input-number/__tests__/__snapshots__/demo.test.tsx.snap
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/space/Addon.tsx
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
  components/space/style/addon.ts
  components/space/style/compact.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: add css var
  components/space/Addon.tsx
  components/space/style/addon.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: compactAddon -> Addon
  components/drawer/demo/form-in-drawer.tsx
  components/input-number/demo/presuffix.tsx
  components/input/demo/compact-style.tsx
  components/input/demo/search-input.tsx
  components/space/Addon.tsx
  components/space/demo/compact.tsx
  components/space/index.en-US.md
  components/space/index.tsx
  components/space/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: Remove component name quotation marks from the document
  components/input-number/index.en-US.md
  components/input-number/index.zh-CN.md
  components/input/demo/compact-style.md
  components/input/index.en-US.md
  components/input/index.zh-CN.md
  components/space/demo/compact-nested.md
  components/space/demo/compact.md
Due: prettier --ignore-unknown --write

chore: adjust style
  components/input/Search.tsx
  components/input/style/search.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: back
  components/form/demo/register.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update demo
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

test: update snapshot
  components/input-number/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input-number/__tests__/__snapshots__/demo.test.tsx.snap
  components/input-number/demo/presuffix.tsx
  components/input/Group.tsx
  components/input/__tests__/__snapshots__/Search.test.tsx.snap
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/input/__tests__/__snapshots__/index.test.tsx.snap
  components/input/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(modal): remove duplicate locale type definition
  components/index.ts
  components/locale/index.tsx
  components/modal/locale.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: add Deprecated
  components/back-top/index.tsx
  components/list/index.tsx
  tests/shared/demoTest.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update tests/shared/demoTest.tsx
  tests/shared/demoTest.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  tests/shared/demoTest.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: add Deprecated keywords (#55684)
  components/back-top/index.tsx
  components/list/index.tsx
  tests/shared/demoTest.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: Restore Search using Compact
  components/auto-complete/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/auto-complete/__tests__/__snapshots__/demo.test.tsx.snap
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/input/Search.tsx
  components/input/__tests__/__snapshots__/Search.test.tsx.snap
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/input/style/index.ts
  components/space/Addon.tsx
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
  components/space/__tests__/space-compact.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: Remove unused wrapCSSVar
  components/input/Search.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snap
  components/auto-complete/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/auto-complete/__tests__/__snapshots__/demo.test.tsx.snap
  components/button/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/button/__tests__/__snapshots__/demo.test.ts.snap
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/tree/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tree/__tests__/__snapshots__/demo.test.ts.snap
Due: none
