Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: input.otp separator api add version
  components/input/index.en-US.md
  components/input/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix: Modal quick close lock
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

docs: input.otp separator api add version (#52752)
  components/input/index.en-US.md
  components/input/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix: TreeSelect maxCount UI效果未生效 #52289
  components/tree-select/index.tsx
  components/tree-select/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update snapshot
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/empty.test.tsx.snap
Due: none

chore: test
  components/config-provider/__tests__/cssinjs.test.tsx
  components/config-provider/__tests__/nonce.test.tsx
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/segmented/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/segmented/__tests__/__snapshots__/demo.test.ts.snap
  scripts/check-cssinjs.tsx
  tests/shared/imageTest.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update
  .dumi/theme/layouts/GlobalLayout.tsx
  components/app/__tests__/index.test.tsx
  components/button/__tests__/index.test.tsx
  components/config-provider/__tests__/theme.test.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update scripts
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: upgrade deps
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix(style): Segmented round shape style override
  components/segmented/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

Update package.json
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat: Enhance Skeleton components with classNames and styles support (#52470)
  components/card/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/card/__tests__/__snapshots__/demo.test.ts.snap
  components/card/__tests__/__snapshots__/index.test.tsx.snap
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/config-provider/__tests__/style.test.tsx
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.tsx
  components/config-provider/index.zh-CN.md
  components/drawer/__tests__/__snapshots__/Drawer.test.tsx.snap
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/list/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/list/__tests__/__snapshots__/demo.test.ts.snap
  components/skeleton/Avatar.tsx
  components/skeleton/Button.tsx
  components/skeleton/Element.tsx
  components/skeleton/Image.tsx
  components/skeleton/Input.tsx
  components/skeleton/Node.tsx
  components/skeleton/Skeleton.tsx
  components/skeleton/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/skeleton/__tests__/__snapshots__/demo.test.tsx.snap
  components/skeleton/__tests__/__snapshots__/index.test.tsx.snap
  components/skeleton/__tests__/index.test.tsx
  components/skeleton/demo/_semantic.tsx
  components/skeleton/demo/_semantic_element.tsx
  components/skeleton/index.en-US.md
  components/skeleton/index.zh-CN.md
  components/skeleton/shared/sharedProps.en-US.md
  components/skeleton/shared/sharedProps.zh-CN.md
  components/skeleton/style/index.ts
  components/statistic/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/statistic/__tests__/__snapshots__/demo.test.ts.snap
  scripts/__snapshots__/check-site.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: notification support classnames
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
  components/notification/PurePanel.tsx
  components/notification/demo/_semantic.tsx
  components/notification/index.en-US.md
  components/notification/index.zh-CN.md
  components/notification/interface.ts
  components/notification/style/index.ts
  components/notification/useNotification.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

update message to title
  .dumi/theme/slots/Header/index.tsx
  components/app/__tests__/index.test.tsx
  components/app/demo/basic.tsx
  components/app/demo/config.tsx
  components/app/index.en-US.md
  components/app/index.zh-CN.md
  components/config-provider/demo/holderRender.tsx
  components/modal/demo/nested.tsx
  components/notification/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/notification/__tests__/__snapshots__/demo.test.ts.snap
  components/notification/__tests__/config.test.tsx
  components/notification/__tests__/hooks.test.tsx
  components/notification/__tests__/index.test.tsx
  components/notification/__tests__/placement.test.tsx
  components/notification/__tests__/static-warning.test.tsx
  components/notification/demo/basic.tsx
  components/notification/demo/custom-icon.tsx
  components/notification/demo/duration.tsx
  components/notification/demo/render-panel.tsx
  components/notification/demo/show-with-progress.tsx
  components/notification/demo/stack.tsx
  components/notification/demo/update.tsx
  components/notification/demo/with-btn.tsx
  components/notification/demo/with-icon.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

add test
  components/notification/__tests__/hooks.test.tsx
  components/notification/__tests__/index.test.tsx
  components/notification/demo/custom-style.tsx
  components/notification/demo/hooks.tsx
  components/notification/demo/placement.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix
  components/config-provider/__tests__/style.test.tsx
  components/notification/useNotification.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

remove content
  components/notification/PurePanel.tsx
  components/notification/demo/_semantic.tsx
  components/notification/interface.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: fix test case
  components/modal/__tests__/hook.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: fix test case
  components/modal/__tests__/confirm.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: clean up
  components/modal/__tests__/confirm.test.tsx
  components/modal/__tests__/hook.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: hooks of context (#52741)
  components/badge/Ribbon.tsx
  components/badge/index.tsx
  components/card/Card.tsx
  components/card/Meta.tsx
  components/modal/Modal.tsx
  components/result/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

add message API compatibility test
  components/notification/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/affix/index.tsx
  components/affix/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

skip ts check
  components/notification/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: Modal quick close lock (#52753)
  components/modal/__tests__/confirm.test.tsx
  components/modal/__tests__/hook.test.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

使 coverage 达到百分百
  components/tree-select/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update and rename custom.tsx to SteeringWheel.tsx
  components/icon/demo/SteeringWheel.tsx
  components/icon/demo/custom.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: [v6] use CSS logical properties (#52560)
  components/calendar/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/calendar/__tests__/__snapshots__/demo.test.ts.snap
  components/card/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/card/__tests__/__snapshots__/demo.test.ts.snap
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
  components/grid/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/grid/__tests__/__snapshots__/demo.test.ts.snap
  components/grid/__tests__/__snapshots__/index.test.tsx.snap
  components/grid/__tests__/gap.test.tsx
  components/grid/__tests__/index.test.tsx
  components/grid/__tests__/server.test.tsx
  components/grid/col.tsx
  components/grid/row.tsx
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/list/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/list/__tests__/__snapshots__/demo.test.ts.snap
  components/statistic/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/statistic/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint

修复测试 bug
  components/tree-select/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Created a type "CompatibleReactNode" that excludes "bigint" from "ReactNode" to maintain compatibility between React 18 and 19
  components/alert/ErrorBoundary.tsx
  components/alert/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update segmented shape demo
  components/segmented/demo/shape.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: ConfigProvider support classnames and styles for tag
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
  components/tag/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tag/__tests__/__snapshots__/demo.test.ts.snap
  components/tag/__tests__/index.test.tsx
  components/tag/demo/_semantic.tsx
  components/tag/index.en-US.md
  components/tag/index.tsx
  components/tag/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

warning errspy
  components/notification/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: coverage
  components/tag/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update demo snapshot
  components/segmented/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/segmented/__tests__/__snapshots__/demo.test.ts.snap
Due: none

fix
  components/tag/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

errSpy.mockRestore();
  components/notification/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(style): Segmented round shape style override (#52757)
  components/segmented/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/segmented/__tests__/__snapshots__/demo.test.ts.snap
  components/segmented/demo/shape.tsx
  components/segmented/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

type: Alert.ErrorBoundary type issue with @type/react@18
  components/alert/ErrorBoundary.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
