Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

test: update test
  components/alert/__tests__/index.test.tsx
  components/alert/__tests__/semantic.test.tsx
  components/anchor/__tests__/Anchor.test.tsx
  components/badge/__tests__/ribbon.test.tsx
  components/breadcrumb/__tests__/Breadcrumb.test.tsx
  components/card/__tests__/index.test.tsx
  components/checkbox/__tests__/semantic.test.tsx
  components/collapse/__tests__/semantic.test.tsx
  components/divider/__tests__/index.test.tsx
  components/grid/__tests__/index.test.tsx
  components/input/__tests__/textarea.test.tsx
  components/modal/__tests__/semantic.test.tsx
  components/qr-code/__tests__/semantic.test.tsx
  components/radio/__tests__/radio.test.tsx
  components/result/__tests__/semantic.test.tsx
  components/segmented/__tests__/semantic.test.tsx
  components/slider/__tests__/semantic.test.tsx
  components/space/__tests__/index.test.tsx
  components/tag/__tests__/index.test.tsx
  components/tour/__tests__/index.test.tsx
  components/tour/__tests__/semantic.test.tsx
  components/transfer/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/_util/__tests__/wave-util.test.tsx
  components/alert/__tests__/semantic.test.tsx
  components/anchor/__tests__/Anchor.test.tsx
  components/badge/__tests__/index.test.tsx
  components/badge/__tests__/ribbon.test.tsx
  components/breadcrumb/__tests__/Breadcrumb.test.tsx
  components/button/__tests__/index.test.tsx
  components/card/__tests__/index.test.tsx
  components/carousel/__tests__/index.test.tsx
  components/checkbox/__tests__/semantic.test.tsx
  components/collapse/__tests__/semantic.test.tsx
  components/config-provider/__tests__/button.test.tsx
  components/input-number/__tests__/prefix.test.tsx
  components/menu/__tests__/index.test.tsx
  components/modal/__tests__/semantic.test.tsx
  components/qr-code/__tests__/semantic.test.tsx
  components/radio/__tests__/radio.test.tsx
  components/radio/__tests__/semantic.test.tsx
  components/result/__tests__/semantic.test.tsx
  components/segmented/__tests__/semantic.test.tsx
  components/slider/__tests__/semantic.test.tsx
  components/space/__tests__/index.test.tsx
  components/splitter/__tests__/semantic.test.tsx
  components/tag/__tests__/index.test.tsx
  components/tour/__tests__/index.test.tsx
  components/transfer/__tests__/index.test.tsx
  components/typography/__tests__/prefixCls.test.tsx
  components/upload/__tests__/semantic.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

demo(input): improve focus effect for styles/classNames
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/input/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add closable api
  components/drawer/index.en-US.md
  components/drawer/index.zh-CN.md
Due: prettier --ignore-unknown --write

demo(checkbox): improve styles for classNames/styles
  components/checkbox/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/checkbox/__tests__/__snapshots__/demo.test.tsx.snap
  components/checkbox/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

demo(input): improve focus effect for styles/classNames (#55547)
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/input/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: improve documentation description
  components/drawer/index.en-US.md
  components/drawer/index.zh-CN.md
Due: prettier --ignore-unknown --write

update
  components/alert/__tests__/index.test.tsx
  components/badge/__tests__/ribbon.test.tsx
  components/breadcrumb/__tests__/Breadcrumb.test.tsx
  components/card/__tests__/index.test.tsx
  components/checkbox/__tests__/semantic.test.tsx
  components/collapse/__tests__/semantic.test.tsx
  components/config-provider/__tests__/button.test.tsx
  components/descriptions/__tests__/index.test.tsx
  components/grid/__tests__/index.test.tsx
  components/menu/__tests__/index.test.tsx
  components/modal/__tests__/semantic.test.tsx
  components/popconfirm/__tests__/semantic.test.tsx
  components/popover/__tests__/semantic.test.tsx
  components/qr-code/__tests__/semantic.test.tsx
  components/radio/__tests__/group.test.tsx
  components/radio/__tests__/radio-button.test.tsx
  components/radio/__tests__/radio.test.tsx
  components/segmented/__tests__/semantic.test.tsx
  components/select/__tests__/index.test.tsx
  components/slider/__tests__/semantic.test.tsx
  components/space/__tests__/index.test.tsx
  components/splitter/__tests__/semantic.test.tsx
  components/switch/__tests__/index.test.tsx
  components/table/__tests__/Table.rowSelection.test.tsx
  components/table/__tests__/Table.virtual.test.tsx
  components/tooltip/__tests__/tooltip.test.tsx
  components/transfer/__tests__/index.test.tsx
  components/upload/__tests__/upload.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/drawer/index.zh-CN.md
  components/drawer/index.zh-CN.md
Due: prettier --ignore-unknown --write

Update components/drawer/index.en-US.md
  components/drawer/index.en-US.md
Due: prettier --ignore-unknown --write

chore: update demo
  components/checkbox/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/checkbox/__tests__/__snapshots__/demo.test.tsx.snap
  components/checkbox/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs(drawer): add closable api (#55548)
  components/drawer/index.en-US.md
  components/drawer/index.zh-CN.md
Due: prettier --ignore-unknown --write

update
  components/anchor/__tests__/Anchor.test.tsx
  components/radio/__tests__/semantic.test.tsx
  components/result/__tests__/semantic.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/alert/__tests__/index.test.tsx
  components/anchor/__tests__/Anchor.test.tsx
  components/badge/__tests__/ribbon.test.tsx
  components/breadcrumb/__tests__/Breadcrumb.test.tsx
  components/color-picker/__tests__/semantic.test.tsx
  components/modal/__tests__/semantic.test.tsx
  components/splitter/__tests__/semantic.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/tour/__tests__/index.test.tsx
  components/typography/__tests__/prefixCls.test.tsx
  components/upload/__tests__/semantic.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

demo(drawer): improve style for classNames/styles
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/drawer/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

demo(checkbox): improve styles for classNames/styles (#55549)
  components/checkbox/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/checkbox/__tests__/__snapshots__/demo.test.tsx.snap
  components/checkbox/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: Add and delete watermark callback for watermark component
  components/watermark/__tests__/index.test.tsx
  components/watermark/demo/portal.md
  components/watermark/demo/portal.tsx
  components/watermark/index.en-US.md
  components/watermark/index.tsx
  components/watermark/index.zh-CN.md
  components/watermark/useWatermark.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: improve drawer api doc
  components/drawer/index.en-US.md
  components/drawer/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: improve drawer api doc (#55552)
  components/drawer/index.en-US.md
  components/drawer/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix: add progress missing memo deps
  components/progress/progress.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: add progress missing memo deps (#55554)
  components/progress/progress.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update code
  components/checkbox/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/checkbox/__tests__/__snapshots__/demo.test.tsx.snap
  components/checkbox/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update snap
  components/checkbox/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/checkbox/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

demo(checkbox): css @layer style
  components/checkbox/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

demo(checkbox): improve styles for classNames/styles (#55553)
  components/checkbox/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/checkbox/__tests__/__snapshots__/demo.test.tsx.snap
  components/checkbox/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: add tag useColor hooks missing memo deps
  components/tag/hooks/useColor.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: add tag useColor hooks missing memo deps (#55555)
  components/tag/hooks/useColor.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: add PromptDrawer missing memo deps
  .dumi/theme/common/ThemeSwitch/PromptDrawer.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: add PromptDrawer missing memo deps (#55556)
  .dumi/theme/common/ThemeSwitch/PromptDrawer.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: update test case
  components/affix/__tests__/Affix.test.tsx
  components/alert/__tests__/index.test.tsx
  components/alert/__tests__/semantic.test.tsx
  components/anchor/__tests__/Anchor.test.tsx
  components/auto-complete/__tests__/index.test.tsx
  components/badge/__tests__/ribbon.test.tsx
  components/breadcrumb/__tests__/Breadcrumb.test.tsx
  components/card/__tests__/index.test.tsx
  components/card/__tests__/semantic.test.tsx
  components/checkbox/__tests__/semantic.test.tsx
  components/collapse/__tests__/semantic.test.tsx
  components/tabs/__tests__/index.test.tsx
  components/tabs/__tests__/semantic.test.tsx
  components/theme/__tests__/token.test.tsx
  components/tooltip/__tests__/semantic.test.tsx
  components/tooltip/__tests__/tooltip.test.tsx
  components/transfer/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/alert/__tests__/semantic.test.tsx
  components/alert/__tests__/semantic.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/alert/__tests__/semantic.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: update test case (#55557)
  components/affix/__tests__/Affix.test.tsx
  components/alert/__tests__/index.test.tsx
  components/alert/__tests__/semantic.test.tsx
  components/anchor/__tests__/Anchor.test.tsx
  components/auto-complete/__tests__/index.test.tsx
  components/badge/__tests__/ribbon.test.tsx
  components/breadcrumb/__tests__/Breadcrumb.test.tsx
  components/card/__tests__/index.test.tsx
  components/card/__tests__/semantic.test.tsx
  components/checkbox/__tests__/semantic.test.tsx
  components/collapse/__tests__/semantic.test.tsx
  components/tabs/__tests__/index.test.tsx
  components/tabs/__tests__/semantic.test.tsx
  components/theme/__tests__/token.test.tsx
  components/tooltip/__tests__/semantic.test.tsx
  components/tooltip/__tests__/tooltip.test.tsx
  components/transfer/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: rm useless test case
  components/auto-complete/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: add missing childrenColumnName dependency
  components/table/InternalTable.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: rm useless test case (#55558)
  components/auto-complete/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: add missing childrenColumnName dependency (#55559)
  components/table/InternalTable.tsx
Due: biome check --write --no-errors-on-unmatched, eslint
