Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Update components/select/index.tsx
  components/select/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore(biome): turn on style.useImportType
  .dumi/theme/builtins/Badge/index.tsx
  .dumi/theme/builtins/Previewer/stackblitzConfig.ts
  .dumi/theme/builtins/RefinedChangelog/index.tsx
  biome.json
  components/_util/hooks/useMergeSemantic/index.ts
  components/card/__tests__/index.test.tsx
  components/date-picker/demo/external-panel.tsx
  components/divider/index.tsx
  components/form/__tests__/ref.test.tsx
  components/input/Input.tsx
  components/list/demo/drag-sorting-handler.tsx
  components/list/demo/grid-drag-sorting-handler.tsx
  components/locale/__tests__/index.test.tsx
  components/modal/Modal.tsx
  components/modal/__tests__/confirm.test.tsx
  components/modal/__tests__/hook.test.tsx
  components/modal/confirm.tsx
  components/modal/interface.ts
  components/splitter/__tests__/lazy.test.tsx
  components/tooltip/util.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore(biome): turn on style.useImportType (#55104)
  .dumi/theme/builtins/Badge/index.tsx
  .dumi/theme/builtins/Previewer/stackblitzConfig.ts
  .dumi/theme/builtins/RefinedChangelog/index.tsx
  biome.json
  components/_util/hooks/useMergeSemantic/index.ts
  components/card/__tests__/index.test.tsx
  components/date-picker/demo/external-panel.tsx
  components/divider/index.tsx
  components/form/__tests__/ref.test.tsx
  components/input/Input.tsx
  components/list/demo/drag-sorting-handler.tsx
  components/list/demo/grid-drag-sorting-handler.tsx
  components/locale/__tests__/index.test.tsx
  components/modal/Modal.tsx
  components/modal/__tests__/confirm.test.tsx
  components/modal/__tests__/hook.test.tsx
  components/modal/confirm.tsx
  components/modal/interface.ts
  components/splitter/__tests__/lazy.test.tsx
  components/tooltip/util.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore(biome): rm some rules that do not need to be changed
  biome.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat: input.search语义化改造修改-自定义antd的Button不受search语义化参数影响
  components/input/Search.tsx
  components/input/__tests__/Search.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: input下语义化demo补充
  components/input/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore(biome): rm some rules that do not need to be changed (#55105)
  biome.json
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: Use indexOf instead of findIndex for index lookup
  biome.json
  components/table/hooks/useFilter/index.tsx
  components/table/hooks/useSelection.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: rm @-ms-viewport
  biome.json
  components/style/reset.css
Due: biome check --write --no-errors-on-unmatched, eslint

chore: add namespace for Number api
  .dumi/theme/common/BezierVisualizer/index.tsx
  biome.json
  components/_util/wave/WaveEffect.tsx
  components/badge/index.tsx
  components/config-provider/UnstableContext.tsx
  components/config-provider/__tests__/unstable.test.tsx
  components/config-provider/demo/wave.tsx
  components/form/FormItem/ItemHolder.tsx
  components/form/demo/customized-form-controls.tsx
  components/layout/Sider.tsx
  components/progress/Line.tsx
  components/progress/progress.tsx
  components/table/__tests__/Table.pagination.test.tsx
  components/table/hooks/useContainerWidth.ts
  components/upload/demo/customize-progress-bar.tsx
  scripts/visual-regression/build.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: input下语义化demo的snapshot更新
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

fix
  components/layout/Sider.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: Use indexOf instead of findIndex for index lookup (#55106)
  biome.json
  components/table/hooks/useFilter/index.tsx
  components/table/hooks/useSelection.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: otp语义化文档修复
  components/input/index.zh-CN.md
Due: prettier --ignore-unknown --write

Update biome.json
  biome.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix: 单测修正
  components/input/__tests__/Search.test.tsx
  components/input/__tests__/otp.test.tsx
  components/input/__tests__/textarea.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: add namespace for Number api (#55107)
  .dumi/theme/common/BezierVisualizer/index.tsx
  biome.json
  components/_util/wave/WaveEffect.tsx
  components/badge/index.tsx
  components/config-provider/UnstableContext.tsx
  components/config-provider/__tests__/unstable.test.tsx
  components/config-provider/demo/wave.tsx
  components/form/FormItem/ItemHolder.tsx
  components/form/demo/customized-form-controls.tsx
  components/layout/Sider.tsx
  components/progress/Line.tsx
  components/progress/progress.tsx
  components/table/__tests__/Table.pagination.test.tsx
  components/table/hooks/useContainerWidth.ts
  components/upload/demo/customize-progress-bar.tsx
  scripts/visual-regression/build.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: type add
  components/input/OTP/index.tsx
  components/input/Search.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: turn on correctness.useHookAtTopLevel
  biome.json
  components/form/Form.tsx
  components/input/Input.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: turn on correctness.useHookAtTopLevel (#55110)
  biome.json
  components/form/Form.tsx
  components/input/Input.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore(biome): code style format
  .dumi/theme/common/ThemeSwitch/PromptDrawer.tsx
  components/config-provider/context.ts
  components/drawer/demo/resizable.tsx
  components/dropdown/__tests__/index.test.tsx
  components/dropdown/demo/_semantic.tsx
  components/float-button/FloatButtonGroup.tsx
  components/float-button/__tests__/semantic.test.tsx
  components/image/PreviewGroup.tsx
  components/menu/MenuContext.tsx
  components/menu/demo/_semantic.tsx
  components/menu/demo/custom-popup-render.tsx
  components/progress/__tests__/placement.test.tsx
  components/progress/demo/dashboard.tsx
  components/rate/demo/text.tsx
  components/rate/index.tsx
  components/skeleton/Image.tsx
  components/skeleton/__tests__/index.test.tsx
  components/steps/__tests__/index.test.tsx
  components/steps/demo/_semantic.tsx
  components/steps/demo/_semantic_items.tsx
  components/steps/demo/variant-debug.tsx
  components/steps/style/panel.ts
  components/steps/style/util.ts
  components/table/demo/_semantic.tsx
  components/timeline/demo/_semantic_items.tsx
  components/timeline/style/horizontal.ts
  components/tooltip/hook/useMergedArrow.ts
  components/tree-select/__tests__/index.test.tsx
  components/tree/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/space/index.tsx
  components/space/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/space/demo/style-class.md
  components/space/demo/style-class.md
Due: prettier --ignore-unknown --write

Update components/splitter/demo/style-class.md
  components/splitter/demo/style-class.md
Due: prettier --ignore-unknown --write

Update components/input-number/demo/style-class.md
  components/input-number/demo/style-class.md
Due: prettier --ignore-unknown --write

Update components/input-number/index.tsx
  components/input-number/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/switch/demo/style-class.md
  components/switch/demo/style-class.md
Due: prettier --ignore-unknown --write

Update components/switch/index.tsx
  components/switch/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/empty/demo/style-class.md
  components/empty/demo/style-class.md
Due: prettier --ignore-unknown --write

feat(Select): Support better customization with semantic classNames/styles as function
  components/_util/hooks/useMergeSemantic/index.ts
  components/select/index.en-US.md
  components/select/index.tsx
  components/select/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat(menu): Support better customization with semantic classNames/styles as function
  components/menu/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/menu/__tests__/__snapshots__/demo.test.tsx.snap
  components/menu/__tests__/index.test.tsx
  components/menu/__tests__/semantic.test.tsx
  components/menu/demo/style-class.md
  components/menu/demo/style-class.tsx
  components/menu/index.en-US.md
  components/menu/index.zh-CN.md
  components/menu/menu.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: docs_fixed
  components/input/index.en-US.md
  components/input/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat(slider): Support better customization with semantic classNames/styles as function
  components/slider/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/slider/__tests__/__snapshots__/demo.test.ts.snap
  components/slider/__tests__/index.test.tsx
  components/slider/demo/style-class.md
  components/slider/demo/style-class.tsx
  components/slider/index.en-US.md
  components/slider/index.tsx
  components/slider/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
