Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: update demo
  components/statistic/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/statistic/__tests__/__snapshots__/demo.test.ts.snap
  components/statistic/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: update snapshot
  components/segmented/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/segmented/__tests__/__snapshots__/demo.test.ts.snap
Due: none

chore: Upgrade rc-upload
  components/upload/interface.ts
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

demo: fix demo
  components/collapse/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(checkbox_radio): Support better customization with semantic classNames/styles as function (#55056)
  components/checkbox/Checkbox.tsx
  components/checkbox/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/checkbox/__tests__/__snapshots__/demo.test.tsx.snap
  components/checkbox/__tests__/checkbox.test.tsx
  components/checkbox/demo/style-class.md
  components/checkbox/demo/style-class.tsx
  components/checkbox/index.en-US.md
  components/checkbox/index.zh-CN.md
  components/radio/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/radio/__tests__/__snapshots__/demo.test.tsx.snap
  components/radio/__tests__/radio.test.tsx
  components/radio/demo/style-class.md
  components/radio/demo/style-class.tsx
  components/radio/index.en-US.md
  components/radio/index.zh-CN.md
  components/radio/interface.ts
  components/radio/radio.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

update demo and snap
  components/auto-complete/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/auto-complete/__tests__/__snapshots__/demo.test.tsx.snap
  components/auto-complete/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/upload/index.en-US.md
  components/upload/index.en-US.md
Due: prettier --ignore-unknown --write

docs: update docs
  components/upload/index.en-US.md
  components/upload/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat(upload): support folder and deprecated directory
  components/upload/Upload.tsx
  components/upload/demo/directory.tsx
  components/upload/index.en-US.md
  components/upload/index.zh-CN.md
  components/upload/interface.ts
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Update components/upload/index.zh-CN.md
  components/upload/index.zh-CN.md
Due: prettier --ignore-unknown --write

Apply suggestion from @yoyo837
  components/upload/Upload.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

demo: fix Collapse demo (#55145)
  components/collapse/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(form): Support better customization with semantic classNames/styles as function
  components/form/Form.tsx
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
  components/form/__tests__/index.test.tsx
  components/form/context.tsx
  components/form/demo/style-class.md
  components/form/demo/style-class.tsx
  components/form/index.en-US.md
  components/form/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Update style-class file dom
  components/switch/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/switch/__tests__/__snapshots__/demo.test.ts.snap
  components/switch/__tests__/style-class.test.tsx
  components/switch/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: opt with memo
  components/auto-complete/AutoComplete.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(auto-complete): Support better customization with semantic classNames/styles as function (#54959)
  components/auto-complete/AutoComplete.tsx
  components/auto-complete/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/auto-complete/__tests__/__snapshots__/demo.test.tsx.snap
  components/auto-complete/__tests__/__snapshots__/semantic.test.tsx.snap
  components/auto-complete/__tests__/semantic.test.tsx
  components/auto-complete/demo/_semantic.tsx
  components/auto-complete/demo/style-class.md
  components/auto-complete/demo/style-class.tsx
  components/auto-complete/index.en-US.md
  components/auto-complete/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: rename var
  components/form/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs(AutoComplete): add underlined variant demo (#55055)
  components/auto-complete/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/auto-complete/__tests__/__snapshots__/demo.test.tsx.snap
  components/auto-complete/demo/variant.md
  components/auto-complete/demo/variant.tsx
  components/auto-complete/index.en-US.md
  components/auto-complete/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

update demo and snap
  components/date-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/date-picker/__tests__/__snapshots__/demo.test.tsx.snap
  components/date-picker/demo/style-class.tsx
  components/time-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/time-picker/__tests__/__snapshots__/demo.test.tsx.snap
  components/time-picker/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update demo
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.tsx
  components/config-provider/index.zh-CN.md
  components/tooltip/demo/smooth-transition.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

refactor(input-number): 简化样式类演示代码并更新测试用例
  components/input-number/__tests__/__snapshots__/style-class.test.tsx.snap
  components/input-number/__tests__/style-class.test.tsx
  components/input-number/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

style(input-number): 修复缩进并更新测试快照
  components/input-number/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input-number/__tests__/__snapshots__/demo.test.tsx.snap
  components/input-number/__tests__/__snapshots__/style-class.test.tsx.snap
  components/input-number/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(form): Support better customization with semantic classNames/styles as function (#55126)
  components/form/Form.tsx
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
  components/form/__tests__/index.test.tsx
  components/form/context.tsx
  components/form/demo/style-class.md
  components/form/demo/style-class.tsx
  components/form/index.en-US.md
  components/form/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

refactor(message): update style-class demo
  components/message/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test(message): update snapshot tests for demo
  components/message/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/message/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat(spin): Support better customization with semantic classNames/styles as function
  components/spin/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/spin/__tests__/__snapshots__/demo.test.ts.snap
  components/spin/__tests__/semantic.test.tsx
  components/spin/demo/style-class.md
  components/spin/demo/style-class.tsx
  components/spin/index.en-US.md
  components/spin/index.tsx
  components/spin/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(spin): address PR review feedback
  components/spin/__tests__/semantic.test.tsx
  components/spin/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

demo: fix Collapse semantic preview demo
  components/collapse/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snap
  components/auto-complete/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/auto-complete/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

chore(biome): lint fix
  components/auto-complete/index.en-US.md
  components/image/hooks/usePreviewConfig.ts
  components/notification/PurePanel.tsx
  components/tag/index.tsx
  components/tree-select/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Refactor classNames import to use alias 'cls'
  components/switch/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/input/__tests__/Search.test.tsx
  components/input/__tests__/Search.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(mentions): Support better customization with semantic classNames/styles as function
  components/mentions/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/mentions/__tests__/__snapshots__/demo.test.tsx.snap
  components/mentions/__tests__/index.test.tsx
  components/mentions/demo/_semantic.tsx
  components/mentions/demo/style-class.md
  components/mentions/demo/style-class.tsx
  components/mentions/index.en-US.md
  components/mentions/index.tsx
  components/mentions/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

update demo snap
  components/mentions/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/mentions/__tests__/__snapshots__/demo.test.tsx.snap
  components/mentions/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update demo and snap
  components/input-number/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input-number/__tests__/__snapshots__/demo.test.tsx.snap
  components/input-number/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update demo snap
  components/select/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/select/__tests__/__snapshots__/demo.test.tsx.snap
  components/select/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update demo and snap
  components/slider/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/slider/__tests__/__snapshots__/demo.test.ts.snap
  components/slider/demo/style-class.tsx
  components/slider/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update demo and snap
  components/switch/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/switch/__tests__/__snapshots__/demo.test.ts.snap
  components/switch/demo/style-class.tsx
  components/switch/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
