Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

feat: ?.
  components/alert/Alert.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat[Alert]: add onClose and afterClose to closable (#54735)
  components/alert/Alert.tsx
  components/alert/__tests__/index.test.tsx
  components/alert/index.en-US.md
  components/alert/index.zh-CN.md
  scripts/__snapshots__/check-site.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: biome format
  components/drawer/demo/mask.tsx
  components/radio/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: biome format (#54773)
  components/drawer/demo/mask.tsx
  components/radio/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

Auto PR Farming: typo fix
  docs/fix.txt
Due: none

feat(Image): support fallback global config (#54702)
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
  components/image/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: update button component token demo and style padding logic
  components/button/demo/component-token.tsx
  components/button/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Button): paddingInline token not working
  components/button/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: add component token support for notification background colors
  components/notification/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/notification/__tests__/__snapshots__/demo.test.ts.snap
  components/notification/demo/component-token.md
  components/notification/demo/component-token.tsx
  components/notification/index.en-US.md
  components/notification/index.zh-CN.md
  components/notification/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(Button): paddingInline token not working (#54775)
  components/button/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Button): padding
  components/button/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

Revert "fix(Button): paddingInline token not working (#54775)"
  components/button/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: update notification demo snapshot and title prop usage
  components/notification/__tests__/__snapshots__/demo.test.ts.snap
  components/notification/demo/component-token.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  .dumi/global.less
Due: none

update
  .dumi/theme/layouts/SidebarLayout/index.tsx
  .dumi/theme/slots/Content/index.tsx
  .dumi/theme/slots/Header/index.tsx
  .dumi/theme/slots/Sidebar/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Revert "fix(Button): paddingInline token not working (#54775)" (#54778)
  components/button/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snapshot
  components/badge/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/badge/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

feat[Image]: add blur effect to mask
  components/config-provider/context.ts
  components/image/PreviewGroup.tsx
  components/image/demo/basic.tsx
  components/image/hooks/useMergedPreviewConfig.ts
  components/image/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: warning
  components/image/hooks/usePreviewConfig.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: demo basic
  components/image/demo/basic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: memo blur className
  components/image/PreviewGroup.tsx
  components/image/__tests__/__snapshots__/index.test.tsx.snap
  components/image/__tests__/index.test.tsx
  components/image/hooks/useMergedPreviewConfig.ts
  components/image/index.tsx
  components/image/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: Use useMergedReviceConfig to obtain mask values
  components/image/PreviewGroup.tsx
  components/image/hooks/useMergedPreviewConfig.ts
  components/image/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: change normalizeMask
  components/image/PreviewGroup.tsx
  components/image/hooks/usePreviewConfig.ts
  components/image/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: Merge memos that do not require separation
  components/image/PreviewGroup.tsx
  components/image/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: add test and demo
  components/image/PreviewGroup.tsx
  components/image/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/image/__tests__/__snapshots__/demo.test.ts.snap
  components/image/__tests__/__snapshots__/index.test.tsx.snap
  components/image/__tests__/index.test.tsx
  components/image/demo/mask.md
  components/image/demo/mask.tsx
  components/image/index.en-US.md
  components/image/index.tsx
  components/image/index.zh-CN.md
  components/image/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: other component mask ts
  components/drawer/__tests__/Drawer.test.tsx
  components/drawer/index.tsx
  components/image/PreviewGroup.tsx
  components/image/index.tsx
  components/modal/__tests__/Modal.test.tsx
  components/modal/interface.ts
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/image/index.zh-CN.md
  components/image/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat:useMergedPreviewConfig ts
  components/image/hooks/useMergedPreviewConfig.ts
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/image/index.en-US.md
  components/image/index.en-US.md
Due: prettier --ignore-unknown --write

feat: use mask instead previewMask
  components/_util/hooks/useMergedMask.ts
  components/config-provider/context.ts
  components/image/PreviewGroup.tsx
  components/image/__tests__/index.test.tsx
  components/image/demo/mask.tsx
  components/image/hooks/useMergedPreviewConfig.ts
  components/image/hooks/usePreviewConfig.ts
  components/image/index.en-US.md
  components/image/index.tsx
  components/image/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: function name
  components/image/PreviewGroup.tsx
  components/image/hooks/usePreviewConfig.ts
  components/image/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: change warning
  components/image/__tests__/deprecated.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

clean
  components/image/demo/mask.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: fix ci failed
  components/drawer/__tests__/__snapshots__/Drawer.test.tsx.snap
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/drawer/__tests__/__snapshots__/demo.test.ts.snap
  components/grid/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/grid/__tests__/__snapshots__/demo.test.ts.snap
  components/grid/__tests__/index.test.tsx
  components/grid/col.tsx
  components/grid/demo/gutter.tsx
  components/grid/row.tsx
  components/masonry/Masonry.tsx
  components/upload/__tests__/uploadlist.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint
