Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

refactor: fix typo of pannel to panel (#55178)
  components/tour/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tour/__tests__/__snapshots__/demo.test.tsx.snap
  components/tour/__tests__/__snapshots__/index.test.tsx.snap
  components/tour/__tests__/index.test.tsx
  components/tour/panelRender.tsx
  components/tour/style/index.ts
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat: Update marathi translations
  components/locale/mr_IN.ts
  components/time-picker/locale/mr_IN.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: bump eslint-plugin-react-refresh from 0.4.14 to 0.4.22
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat: Update translations
  components/locale/mr_IN.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(select): Support better customization with semantic classNames/styles as function (#55101)
  components/_util/statusUtils.ts
  components/select/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/select/__tests__/__snapshots__/demo.test.tsx.snap
  components/select/__tests__/semantic.test.tsx
  components/select/demo/_semantic.tsx
  components/select/demo/style-class.md
  components/select/demo/style-class.tsx
  components/select/index.en-US.md
  components/select/index.tsx
  components/select/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test: fix test
  components/color-picker/__tests__/__snapshots__/index.test.tsx.snap
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/float-button/__tests__/index.test.tsx
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/layout/__tests__/index.test.tsx
  components/table/__tests__/__snapshots__/Table.filter.test.tsx.snap
  components/typography/__tests__/copy.test.tsx
  components/typography/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: bump eslint-plugin-react-refresh from 0.4.14 to 0.4.22 (#55180)
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: migrate to @rc-component namespace and update
  components/upload/Upload.tsx
  components/upload/__tests__/upload.test.tsx
  components/upload/interface.ts
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: adjust
  components/input/demo/tooltip.md
  components/menu/__tests__/index.test.tsx
  components/slider/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: adjust
  components/tooltip/UniqueProvider/MotionContent.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: migrate to @rc-component namespace and update (#55181)
  components/upload/Upload.tsx
  components/upload/__tests__/upload.test.tsx
  components/upload/interface.ts
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

test: coverage
  components/tooltip/UniqueProvider/MotionContent.tsx
  components/tooltip/__tests__/unique.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: adjust style
  components/popover/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(slider): Support better customization with semantic classNames/styles as function (#54965)
  components/slider/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/slider/__tests__/__snapshots__/demo.test.ts.snap
  components/slider/__tests__/index.test.tsx
  components/slider/demo/style-class.md
  components/slider/demo/style-class.tsx
  components/slider/index.en-US.md
  components/slider/index.tsx
  components/slider/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat(switch): Support better customization with semantic classNames/styles as function (#54994)
  components/switch/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/switch/__tests__/__snapshots__/demo.test.ts.snap
  components/switch/__tests__/style-class.test.tsx
  components/switch/demo/style-class.md
  components/switch/demo/style-class.tsx
  components/switch/index.en-US.md
  components/switch/index.tsx
  components/switch/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

update
  components/slider/index.tsx
  components/switch/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/card/Card.tsx
  components/card/Card.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/card/Meta.tsx
  components/card/Meta.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(homepage-components-showcase) : add scroll to fix showcase
  .dumi/pages/index/components/ComponentsList.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update docs
  components/badge/index.zh-CN.md
Due: prettier --ignore-unknown --write

update demo and snap
  components/badge/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/badge/__tests__/__snapshots__/demo.test.tsx.snap
  components/badge/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(badge): Support better customization with semantic classNames/styles as function
  components/badge/Ribbon.tsx
  components/badge/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/badge/__tests__/__snapshots__/demo.test.tsx.snap
  components/badge/__tests__/index.test.tsx
  components/badge/__tests__/ribbon.test.tsx
  components/badge/demo/style-class.md
  components/badge/demo/style-class.tsx
  components/badge/index.en-US.md
  components/badge/index.tsx
  components/badge/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

update snap
  components/slider/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

fix(select): add default role='combobox' to Select root to support aria-required (fixes #46030)
  components/select/__tests__/__snapshots__/index.test.tsx.snap
  components/select/__tests__/index.test.tsx
  components/select/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/table/InternalTable.tsx
  components/tree/DirectoryTree.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

site: use SWR, make query always fast and reactive
  .dumi/hooks/useFetch/cache.ts
  .dumi/hooks/useFetch/index.ts
  .dumi/pages/index/components/BannerRecommends.tsx
  .dumi/pages/index/components/util.ts
  .dumi/theme/builtins/ResourceArticles/index.tsx
  .dumi/theme/common/ComponentChangelog/ComponentChangelog.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

update
  .dumi/theme/common/ComponentChangelog/ComponentChangelog.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: update demo and snap
  components/modal/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/modal/__tests__/__snapshots__/demo.test.tsx.snap
  components/modal/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: revert code
  components/descriptions/Cell.tsx
  components/descriptions/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/descriptions/__tests__/__snapshots__/demo.test.ts.snap
  components/descriptions/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: update demo and snap
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/drawer/__tests__/__snapshots__/demo.test.ts.snap
  components/drawer/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: update demo and snap
  components/modal/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: update demo and snap
  components/skeleton/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/skeleton/__tests__/__snapshots__/demo.test.tsx.snap
  components/skeleton/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/notification/index.zh-CN.md
  components/notification/index.zh-CN.md
Due: prettier --ignore-unknown --write
