Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test: update snapshot
  tests/__snapshots__/index.test.ts.snap
Due: none

Update components/tag/CheckableTag.tsx
  components/tag/CheckableTag.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/tag/index.en-US.md
  components/tag/index.en-US.md
Due: prettier --ignore-unknown --write

docs: Update badge URLs in README.md
  README.md
Due: prettier --ignore-unknown --write

Update badge URLs in Chinese README
  README-zh_CN.md
Due: prettier --ignore-unknown --write

Update README.md
  README.md
Due: prettier --ignore-unknown --write

Apply suggestions from code review
  README-zh_CN.md
Due: prettier --ignore-unknown --write

chore: bump cssinjs
  .utoo.toml
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix(ci): correct to in site-deploy workflow
  .github/workflows/site-deploy.yml
Due: prettier --ignore-unknown --write

fix(ci): correct to in site-deploy workflow (#55751)
  .github/workflows/site-deploy.yml
Due: prettier --ignore-unknown --write

docs: fix unexpected storage logic
  .dumi/hooks/useLocalStorage.ts
Due: biome check --write --no-errors-on-unmatched, eslint

Update package.json
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

Update .dumi/hooks/useLocalStorage.ts
  .dumi/hooks/useLocalStorage.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: Update badge URLs in README.md (#55746)
  README-zh_CN.md
  README.md
Due: prettier --ignore-unknown --write

docs: Fix custom storage sync event (#55753)
  .dumi/hooks/useLocalStorage.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: bump cssinjs (#55748)
  .utoo.toml
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: warning for verson
  components/__tests__/17.test.ts
  components/_util/getReactMajorVersionCanDelMe.ts
  components/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: warning tips (#55745)
  components/__tests__/17.test.ts
  components/__tests__/__snapshots__/index.test.ts.snap
  components/__tests__/index.test.ts
  components/_util/getReactMajorVersionCanDelMe.ts
  components/index.ts
  tests/__snapshots__/index.test.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint

fix: Fixed the issue of carousel dot being unclickable
  components/carousel/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: Fixed the issue of carousel dot being unclickable (#55757)
  components/carousel/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: 5.29.1 changelog
  BUG_VERSIONS.json
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: 5.29.1 changelog (#55759)
  BUG_VERSIONS.json
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: Update Claude Code documentation links to the correct URL
  docs/react/llms.en-US.md
  docs/react/llms.zh-CN.md
Due: prettier --ignore-unknown --write

refactor(Button): The icon function removes redundant returns.
  components/button/button.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(Button): Chinese annotations changed to English annotations
  components/button/button.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: Update Claude Code documentation links to the correct URL (#55764)
  docs/react/llms.en-US.md
  docs/react/llms.zh-CN.md
Due: prettier --ignore-unknown --write

docs: update docs
  docs/react/compatible-style.en-US.md
  docs/react/compatible-style.zh-CN.md
  docs/react/server-side-rendering.en-US.md
  docs/react/server-side-rendering.zh-CN.md
  docs/react/use-with-next.en-US.md
  docs/react/use-with-next.zh-CN.md
Due: prettier --ignore-unknown --write

docs: update docs (#55767)
  docs/react/compatible-style.en-US.md
  docs/react/compatible-style.zh-CN.md
  docs/react/server-side-rendering.en-US.md
  docs/react/server-side-rendering.zh-CN.md
  docs/react/use-with-next.en-US.md
  docs/react/use-with-next.zh-CN.md
Due: prettier --ignore-unknown --write

docs: changelog of 6.0.0-alpha.5
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(Table): cellFontSizeSM not working
  components/table/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: typo
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: changelog of 6.0.0-alpha.5 (#55769)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

refactor(Button): Delete the variable and use it directly in the if statement.
  components/button/button.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update popupRender docs
  components/select/index.en-US.md
  components/select/index.tsx
  components/select/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
