Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

test(ColorPicker): update remaining trigger snapshots
  components/color-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/color-picker/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/color-picker/__tests__/__snapshots__/demo.test.tsx.snap
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

fix(Collapse): localize interactive icon labels
  components/collapse/Collapse.tsx
  components/collapse/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/collapse/__tests__/__snapshots__/demo.test.ts.snap
  components/collapse/__tests__/accessibility.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test(Empty): update semantic demo snapshot
  components/empty/__tests__/__snapshots__/demo-semantic.test.tsx.snap
Due: none

fix(ColorPicker): ignore repeated activation keys
  components/color-picker/__tests__/index.test.tsx
  components/color-picker/components/ColorClear.tsx
  components/color-picker/components/ColorTrigger.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: render numeric zero content nodes
  components/divider/__tests__/index.test.tsx
  components/divider/index.tsx
  components/popconfirm/PurePanel.tsx
  components/popconfirm/__tests__/index.test.tsx
  components/spin/__tests__/index.test.tsx
  components/spin/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Tag): ignore repeated key activation
  components/tag/CheckableTag.tsx
  components/tag/__tests__/index.test.tsx
  components/tag/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Tag): suppress repeated key defaults
  components/tag/CheckableTag.tsx
  components/tag/__tests__/index.test.tsx
  components/tag/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Input.Password): ignore repeated key activation
  components/input/Password.tsx
  components/input/__tests__/Password.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Timeline, Steps, Input, Tour, Watermark): render numeric zero for content nodes
  components/input/Input.tsx
  components/input/__tests__/index.test.tsx
  components/input/utils.ts
  components/steps/__tests__/index.test.tsx
  components/steps/index.tsx
  components/timeline/Timeline.tsx
  components/timeline/__tests__/index.test.tsx
  components/timeline/useItems.tsx
  components/tour/__tests__/index.test.tsx
  components/tour/panelRender.tsx
  components/watermark/__tests__/index.test.tsx
  components/watermark/index.tsx
  components/watermark/utils.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Upload): avoid leaving canvas after GIF preview
  components/upload/__tests__/uploadlist.test.tsx
  components/upload/utils.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Table): make filter triggers keyboard accessible
  components/table/__tests__/Table.filter.test.tsx
  components/table/__tests__/__snapshots__/Table.filter.test.tsx.snap
  components/table/hooks/useFilter/FilterDropdown.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test(Table): update accessibility snapshots
  components/locale/__tests__/__snapshots__/vitest/index.test.tsx.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
Due: none

chore: upgrade deps
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

test(Table): sync remaining accessibility snapshots
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/locale/__tests__/__snapshots__/index.test.tsx.snap
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

fix(Table): ignore repeated filter key activation
  components/table/__tests__/Table.filter.test.tsx
  components/table/hooks/useFilter/FilterDropdown.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Tree): support external file drops in DirectoryTree
  components/tree/DirectoryTree.tsx
  components/tree/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tree/__tests__/__snapshots__/demo.test.ts.snap
  components/tree/__tests__/directory.test.tsx
  components/tree/__tests__/type.test.tsx
  components/tree/demo/external-file-drop.md
  components/tree/demo/external-file-drop.tsx
  components/tree/index.en-US.md
  components/tree/index.tsx
  components/tree/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(Tree): preserve custom file drop titles
  components/tree/DirectoryTree.tsx
  components/tree/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tree/__tests__/__snapshots__/demo.test.ts.snap
  components/tree/__tests__/directory.test.tsx
  components/tree/style/directory.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Upload): avoid leaving canvas after GIF preview (#59137)
  components/upload/__tests__/uploadlist.test.tsx
  components/upload/utils.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test(Tree): type custom file drop data
  components/tree/__tests__/directory.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Table): support empty string values in tree filters
  components/table/__tests__/Table.filter.test.tsx
  components/table/hooks/useFilter/FilterDropdown.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Select): exclude internal popup visibility callback
  components/auto-complete/AutoComplete.tsx
  components/select/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Select): exclude internal popup visibility callback (#59142)
  components/auto-complete/AutoComplete.tsx
  components/select/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Transfer): disable select all for disabled search results (#59121)
  components/transfer/Section.tsx
  components/transfer/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(ColorPicker): open hover trigger from keyboard
  components/color-picker/ColorPicker.tsx
  components/color-picker/__tests__/index.test.tsx
  components/color-picker/components/ColorTrigger.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add changelog for 6.6.2
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test: update snap notification
  components/notification/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/notification/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/notification/__tests__/__snapshots__/demo.test.ts.snap
Due: none

docs: add changelog for 6.6.2 (#59143)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(Table): support empty tree filter values
  components/table/__tests__/Table.filter.test.tsx
  components/table/hooks/useFilter/FilterDropdown.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Layout): keep Sider breakpoint upper bound non-overlapping with Grid
  components/layout/Sider.tsx
  components/layout/__tests__/dynamic-breakpoint.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test:update snap pagination
  components/pagination/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/pagination/__tests__/__snapshots__/demo.test.ts.snap
Due: none

fix(Image): use RTL icons in PreviewGroup
  components/image/PreviewGroup.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs(Pagination): bump onChange info version to 6.7.0
  components/pagination/index.en-US.md
  components/pagination/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix(Image): use RTL icons in PreviewGroup (#59145)
  components/image/PreviewGroup.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Modal): make draggable demo closable on touch devices
  components/modal/demo/modal-render.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

demo(Modal): make draggable demo closable on touch devices (#59146)
  components/modal/demo/modal-render.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(select): import cssinjs helpers in scroll fade tests
  components/select/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test(notification): update close button snapshot
  components/notification/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

test(menu): update popup id snapshots
  components/menu/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/menu/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

test(notification): update demo close button snapshot
  components/notification/__tests__/__snapshots__/demo.test.ts.snap
Due: none
