Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: fix
  components/_util/mediaQueryUtil.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(auto-complete): popup supports Semantic DOM and retire some api
  components/auto-complete/AutoComplete.tsx
  components/auto-complete/__tests__/index.test.tsx
  components/auto-complete/demo/_semantic.tsx
  components/auto-complete/demo/certain-category.tsx
  components/auto-complete/index.en-US.md
  components/auto-complete/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: fix
  components/grid/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(dropdown): rename dropdown api to popup
  components/dropdown/__tests__/index.test.tsx
  components/dropdown/demo/custom-dropdown.tsx
  components/dropdown/dropdown-button.tsx
  components/dropdown/dropdown.tsx
  components/dropdown/index.en-US.md
  components/dropdown/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: fix
  components/grid/__tests__/__snapshots__/index.test.tsx.snap
  components/grid/__tests__/index.test.tsx
  components/layout/__tests__/dynamic-breakpoint.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: fix
  components/grid/__tests__/__snapshots__/index.test.tsx.snap
Due: none

fix: test error
  components/table/hooks/useFilter/FilterDropdown.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: lint error
  components/transfer/__tests__/index.test.tsx
  components/upload/Upload.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

本次pr删除modal之外的修改
  components/modal/__tests__/Modal.test.tsx
  components/notification/style/index.ts
  components/tour/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tour/__tests__/__snapshots__/demo.test.tsx.snap
  components/tour/__tests__/__snapshots__/index.test.tsx.snap
  components/tour/__tests__/index.test.tsx
  components/tour/panelRender.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

tour增加aria-label：Close，并支持配置aria-*在关闭按钮上
  components/tour/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tour/__tests__/__snapshots__/demo.test.tsx.snap
  components/tour/__tests__/__snapshots__/index.test.tsx.snap
  components/tour/__tests__/index.test.tsx
  components/tour/panelRender.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: optimization compatible logic (#53107)
  components/_util/__tests__/responsiveObserve.test.tsx
  components/_util/mediaQueryUtil.ts
  components/_util/responsiveObserver.ts
  components/grid/__tests__/__snapshots__/index.test.tsx.snap
  components/grid/__tests__/index.test.tsx
  components/layout/Sider.tsx
  components/layout/__tests__/dynamic-breakpoint.test.tsx
  tests/setup.ts
  tests/shared/imageTest.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

notificationCloseButton style
  components/notification/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: lint error (#53266)
  components/transfer/__tests__/index.test.tsx
  components/upload/Upload.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: ci failed
  components/grid/__tests__/__snapshots__/index.test.tsx.snap
  components/grid/__tests__/index.test.tsx
  components/transfer/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(CheckableTagGroup): new component
  components/tag/CheckableTagGroup.tsx
  components/tag/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tag/__tests__/__snapshots__/demo.test.ts.snap
  components/tag/__tests__/index.test.tsx
  components/tag/demo/checkable.md
  components/tag/demo/checkable.tsx
  components/tag/index.en-US.md
  components/tag/index.tsx
  components/tag/index.zh-CN.md
  components/tag/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: ConfigProvider support classNames and styles for treeSelect
  components/config-provider/context.ts
  components/tree-select/demo/_semantic.tsx
  components/tree-select/index.en-US.md
  components/tree-select/index.tsx
  components/tree-select/index.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix
  components/config-provider/demo/direction.tsx
  components/space/demo/compact.tsx
  components/tree-select/__tests__/index.test.tsx
  components/tree-select/demo/_semantic.tsx
  components/tree-select/demo/async.tsx
  components/tree-select/demo/basic.tsx
  components/tree-select/demo/component-token.tsx
  components/tree-select/demo/multiple.tsx
  components/tree-select/demo/placement.tsx
  components/tree-select/demo/suffix.tsx
  components/tree-select/demo/treeData.tsx
  components/tree-select/index.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(auto-complete, select): deprecate `onDropdownVisibleChange` in favor of `onOpenChange` and update related tests
  components/auto-complete/AutoComplete.tsx
  components/auto-complete/__tests__/index.test.tsx
  components/select/__tests__/index.test.tsx
  components/select/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: replace sylvanas to ts
  .dumi/theme/plugin.ts
  .dumi/theme/utils/__tests__/runTests.ts
  .dumi/theme/utils/__tests__/tsToJs.test.ts
  .dumi/theme/utils/tsToJs.test.ts
  .dumi/theme/utils/tsToJs.ts
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat(CheckableTagGroup): new component
  components/tag/CheckableTagGroup.tsx
  components/tag/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tag/__tests__/__snapshots__/demo.test.ts.snap
  components/tag/__tests__/index.test.tsx
  components/tag/demo/checkable.md
  components/tag/demo/checkable.tsx
  components/tag/index.en-US.md
  components/tag/index.tsx
  components/tag/index.zh-CN.md
  components/tag/style/index.ts
  scripts/__snapshots__/check-site.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: order
  components/tag/CheckableTagGroup.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

add
  .dumi/theme/utils/tsToJs.test.ts
  .dumi/theme/utils/tsToJs.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(dropdown): update deprecation warning for 'Center' placement
  components/dropdown/__tests__/index.test.tsx
  components/dropdown/dropdown.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: replace sylvanas to ts/prettier (#53271)
  .dumi/theme/plugin.ts
  .dumi/theme/utils/__tests__/runTests.ts
  .dumi/theme/utils/__tests__/tsToJs.test.ts
  .dumi/theme/utils/tsToJs.test.ts
  .dumi/theme/utils/tsToJs.ts
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

test: add test case
  components/tag/CheckableTagGroup.tsx
  components/tag/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tag/__tests__/__snapshots__/demo.test.tsx.snap
  components/tag/__tests__/demo.test.ts
  components/tag/__tests__/demo.test.tsx
  components/tag/__tests__/index.test.tsx
  components/tag/demo/_semantic_group.tsx
  components/tag/demo/checkable.tsx
  components/tag/index.en-US.md
  components/tag/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: remove log of react-scan
  .dumi/theme/layouts/GlobalLayout.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: id support
  components/tag/CheckableTagGroup.tsx
  components/tag/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: aria
  components/tag/CheckableTagGroup.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: remove log of react-scan (#53273)
  .dumi/theme/layouts/GlobalLayout.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(dropdown): rename dropdown api to popup (#53263)
  components/dropdown/__tests__/index.test.tsx
  components/dropdown/demo/custom-dropdown.tsx
  components/dropdown/dropdown-button.tsx
  components/dropdown/dropdown.tsx
  components/dropdown/index.en-US.md
  components/dropdown/index.zh-CN.md
  components/table/hooks/useFilter/FilterDropdown.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: Configure the aria attribute to the button node of the Modal
  components/_util/hooks/useClosable.tsx
  components/modal/Modal.tsx
  components/modal/__tests__/Modal.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: add test case
  components/tag/CheckableTagGroup.tsx
  components/tag/__tests__/index.test.tsx
  components/tag/index.en-US.md
  components/tag/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: changelog 5.24.4
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: add TextArea into Input keywords
  scripts/generate-component-changelog.ts
Due: biome check --write --no-errors-on-unmatched, eslint

Adding AddNewEvent Component in calendar page
  components/calendar/demo/AddEvent.jsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: suffix of InputNumber moves left after the mouse enters when it is disabled (#53184)
  components/input-number/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input-number/__tests__/__snapshots__/demo.test.tsx.snap
  components/input-number/__tests__/suffix.test.tsx
  components/input-number/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

Update CHANGELOG.en-US.md
  CHANGELOG.en-US.md
Due: prettier --ignore-unknown --write

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
