Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

docs: simplify ConfigProvider component config docs
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: simplify ConfigProvider component config docs (#58278)
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: correct Upload disabled API description
  components/upload/index.en-US.md
  components/upload/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix(Pagination): upgrade rc-pagination to stabilize jumper
  components/pagination/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/pagination/__tests__/__snapshots__/demo.test.ts.snap
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Table): update aria-labels for checkboxes and radios to reflect correct row indices
  components/table/__tests__/Table.rowSelection.test.tsx
  components/table/__tests__/__snapshots__/demo.test.ts.snap
  components/table/hooks/useSelection.tsx
  components/transfer/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Cascader): keep parent column fixed for right-aligned placement
  components/cascader/__tests__/index.test.tsx
  components/cascader/style/columns.ts
  components/cascader/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Table): add aria-labels for checkboxes to improve accessibility
  components/table/__tests__/__snapshots__/Table.rowSelection.test.tsx.snap
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/transfer/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

fix(Cascader): scope row-reverse to LTR to avoid RTL double-flip
  components/cascader/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: fix flaky visual diff caused by unstable screenshot rendering (#58259)
  tests/shared/imageTest.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: clarify Form dependencies with setFieldsValue (#58252)
  components/form/index.en-US.md
  components/form/index.zh-CN.md
Due: prettier --ignore-unknown --write

chore: code style optimization (#58230)
  components/_util/capitalize.ts
  components/anchor/AnchorLink.tsx
  components/config-provider/__tests__/__snapshots__/form.test.tsx.snap
  components/form/FormItemLabel.tsx
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
  components/form/demo/dynamic-form-item.tsx
  components/list/Item.tsx
  components/slider/demo/icon-slider.tsx
  components/slider/index.tsx
  components/upload/__tests__/__snapshots__/demo.test.ts.snap
  components/upload/demo/drag-sorting.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: keep icon spin animation working with multiple icon prefixes (#58253)
  components/config-provider/__tests__/index.test.tsx
  components/style/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(AutoComplete): restrict showSearch type to prevent unsupported Select props leaking (#58104)
  components/auto-complete/AutoComplete.tsx
  components/select/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore(site): rm vanilla-tilt (#58238)
  .dumi/pages/index/components/PreviewBanner/ComponentsBlock.tsx
  .dumi/pages/index/components/PreviewBanner/Tilt.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: pinned dumi version to 2.4.28 (#58257)
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

ci: increase compile heap size in workflows (#58239)
  .github/workflows/pkg.pr.new.yml
  .github/workflows/test.yml
Due: prettier --ignore-unknown --write

docs: align Tabs zh-CN API type descriptions (#58248)
  components/tabs/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix(Cascader): fix column divider position under row-reverse
  components/cascader/style/columns.ts
  components/cascader/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: update aria-labels for checkboxes in table and transfer components to reflect correct row indices
  components/table/__tests__/Table.rowSelection.test.tsx
  components/table/__tests__/__snapshots__/Table.rowSelection.test.tsx.snap
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
  components/table/hooks/useSelection.tsx
  components/transfer/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/transfer/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint

fix: Collapse icon of navigation menu jumps to center before collapse animation plays #58269 (#58271)
  components/menu/style/vertical.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: add aria attributes support for getCheckboxProps (#58275)
  components/table/__tests__/Table.rowSelection.test.tsx
  components/table/__tests__/__snapshots__/Table.rowSelection.test.tsx.snap
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
  components/table/hooks/useSelection.tsx
  components/table/interface.ts
  components/transfer/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/transfer/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Select): fix labelRender open-state visibility using CSS
  components/select/style/select-input.ts
Due: biome check --write --no-errors-on-unmatched, eslint

Revert "demo: implement image-image linear scaling"
  components/image/demo/toolbarRender.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add missing semantic prop versions
  components/input-number/index.en-US.md
  components/input-number/index.zh-CN.md
  components/input/index.en-US.md
  components/input/index.zh-CN.md
  components/masonry/index.en-US.md
  components/masonry/index.zh-CN.md
  components/progress/index.en-US.md
  components/progress/index.zh-CN.md
  components/qr-code/index.en-US.md
  components/qr-code/index.zh-CN.md
  components/splitter/index.en-US.md
  components/splitter/index.zh-CN.md
  components/tooltip/index.en-US.md
  components/tooltip/index.zh-CN.md
  components/transfer/index.en-US.md
  components/transfer/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: correct Button semantic config versions
  components/button/index.en-US.md
  components/button/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: 更新@ant-design/cssinjs版本号
  docs/react/server-side-rendering.en-US.md
  docs/react/server-side-rendering.zh-CN.md
  docs/react/use-with-next.en-US.md
  docs/react/use-with-next.zh-CN.md
Due: prettier --ignore-unknown --write

docs: correct Select showSearch config version
  components/select/index.en-US.md
  components/select/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix: keep Popover/Popconfirm rendering when title or content is the number 0
  components/_util/getRenderPropValue.ts
  components/popconfirm/PurePanel.tsx
  components/popconfirm/__tests__/index.test.tsx
  components/popover/PurePanel.tsx
  components/popover/__tests__/index.test.tsx
  components/popover/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update @ant-design/cssinjs version (#58293)
  docs/react/server-side-rendering.en-US.md
  docs/react/server-side-rendering.zh-CN.md
  docs/react/use-with-next.en-US.md
  docs/react/use-with-next.zh-CN.md
Due: prettier --ignore-unknown --write

docs: update CLI doc to match latest ant-design-cli
  docs/react/cli.en-US.md
  docs/react/cli.zh-CN.md
Due: prettier --ignore-unknown --write

docs: sync MCP doc tool count to 8
  docs/react/mcp.en-US.md
  docs/react/mcp.zh-CN.md
Due: prettier --ignore-unknown --write

fix: let semantic dom list fill preview height
  .dumi/theme/common/SemanticPreview.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: keep semantic list bounded by preview row
  .dumi/theme/common/SemanticPreview.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: reduce image semantic preview height
  .dumi/theme/common/SemanticPreview.tsx
  components/image/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint
