Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(affix): Fixes unexpected onChange event behavior in React versions below 18
  components/affix/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add changelog 5.24.3
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: lock nwsapi@2.2.16
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: lock nwsapi@2.2.16 (#53045)
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix: dynamically resize the textarea's wrapper
  components/input/TextArea.tsx
  components/input/__tests__/textarea.test.tsx
  components/input/hooks/useHandleResizeWrapper.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(locale): add Transfer.deselectAll to de_DE
  components/locale/de_DE.ts
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/tooltip/demo/wrap-custom-component.tsx
  components/tooltip/demo/wrap-custom-component.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/tooltip/index.en-US.md
  components/tooltip/index.en-US.md
Due: prettier --ignore-unknown --write

Add link for Wrap Custom Component
  components/tooltip/index.en-US.md
Due: prettier --ignore-unknown --write

fixes snapshot test failure
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

locale: add Transfer.deselectAll to de_DE (#53047)
  components/locale/de_DE.ts
Due: biome check --write --no-errors-on-unmatched, eslint

Update CHANGELOG.en-US.md
  CHANGELOG.en-US.md
Due: prettier --ignore-unknown --write

Update CHANGELOG.zh-CN.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: update
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

test: update snap
  components/tooltip/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tooltip/__tests__/__snapshots__/demo.test.tsx.snap
  components/tooltip/demo/wrap-custom-component.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix md lint
  components/tooltip/demo/wrap-custom-component.md
Due: prettier --ignore-unknown --write

chore: re-trigger
  components/mentions/__tests__/index.test.tsx
  tests/setup.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: re-trigger
  components/mentions/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: only for jsdom
  tests/setup.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add changelog 5.24.3 (#53041)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test: fix demo and update snap (#53031)
  components/notification/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/notification/__tests__/__snapshots__/demo.test.ts.snap
  components/notification/demo/progress-color.tsx
  package.json
  tests/setup.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: fix lint
  components/config-provider/hooks/useSize.ts
  components/table/__tests__/Table.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: fix types
  components/config-provider/hooks/useSize.ts
  components/table/__tests__/Table.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: update logic
  components/form/FormItemLabel.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: adjust check logic to fix lint
  components/config-provider/hooks/useSize.ts
  components/table/__tests__/Table.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update docs
  components/popconfirm/index.en-US.md
  components/popconfirm/index.zh-CN.md
  components/popover/index.en-US.md
  components/popover/index.zh-CN.md
  components/tooltip/index.en-US.md
  components/tooltip/index.zh-CN.md
  components/tooltip/shared/sharedFAQ.en-US.md
  components/tooltip/shared/sharedFAQ.zh-CN.md
Due: prettier --ignore-unknown --write

feat: [v6] new component Masonry (#52162)
  components/__tests__/__snapshots__/index.test.ts.snap
  components/config-provider/__tests__/style.test.tsx
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.tsx
  components/config-provider/index.zh-CN.md
  components/grid/hooks/useGutter.ts
  components/index.ts
  components/masonry/Masonry.tsx
  components/masonry/MasonryItem.tsx
  components/masonry/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/masonry/__tests__/__snapshots__/demo.test.ts.snap
  components/masonry/__tests__/demo-extend.test.ts
  components/masonry/__tests__/demo.test.ts
  components/masonry/__tests__/index.test.tsx
  components/masonry/demo/_semantic.tsx
  components/masonry/demo/basic.md
  components/masonry/demo/basic.tsx
  components/masonry/demo/dynamic.md
  components/masonry/demo/dynamic.tsx
  components/masonry/demo/fresh.md
  components/masonry/demo/fresh.tsx
  components/masonry/demo/image.md
  components/masonry/demo/image.tsx
  components/masonry/demo/responsive.md
  components/masonry/demo/responsive.tsx
  components/masonry/hooks/useDelay.ts
  components/masonry/hooks/usePositions.ts
  components/masonry/hooks/useRefs.ts
  components/masonry/index.en-US.md
  components/masonry/index.tsx
  components/masonry/index.zh-CN.md
  components/masonry/style/index.ts
  components/theme/interface/components.ts
  package.json
  scripts/__snapshots__/check-site.ts.snap
  tests/__snapshots__/index.test.ts.snap
  tests/setup.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: update link
  .github/workflows/issue-labeled.yml
  docs/react/getting-started.en-US.md
  docs/react/use-custom-date-library.en-US.md
  docs/react/use-custom-date-library.zh-CN.md
Due: prettier --ignore-unknown --write

chore: rename
  .github/workflows/issue-labeled.yml
  docs/react/getting-started.en-US.md
  docs/react/use-custom-date-library.en-US.md
  docs/react/use-custom-date-library.zh-CN.md
Due: prettier --ignore-unknown --write

feat: Tour step add coverStyle prop
  components/tour/index.en-US.md
  components/tour/index.zh-CN.md
  components/tour/interface.ts
  components/tour/panelRender.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

demo: improve disabled demo for tooltip
  components/tooltip/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tooltip/__tests__/__snapshots__/demo.test.tsx.snap
  components/tooltip/demo/disabled.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Form): requiredMark not working when component is false (#52950)
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/form/Form.tsx
  components/form/FormItemLabel.tsx
  components/form/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

demo: improve disabled demo for tooltip (#53066)
  components/tooltip/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tooltip/__tests__/__snapshots__/demo.test.tsx.snap
  components/tooltip/demo/disabled.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update link (#53062)
  .github/workflows/issue-labeled.yml
  docs/react/getting-started.en-US.md
  docs/react/use-custom-date-library.en-US.md
  docs/react/use-custom-date-library.zh-CN.md
Due: prettier --ignore-unknown --write

Revert "fixes snapshot test failure"
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

chore: bump deps
  components/table/hooks/useFilter/FilterDropdown.tsx
  components/table/hooks/useSelection.tsx
  components/tree/DirectoryTree.tsx
  components/tree/Tree.tsx
  components/tree/__tests__/directory.test.tsx
  components/tree/__tests__/type.test.tsx
  components/tree/index.tsx
  components/tree/utils/dictUtil.ts
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

demo: use instead for tooltip's disabled demo
  components/tooltip/demo/disabled.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
