Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

chore: update
  .dumi/scripts/mirror-notify.js
Due: biome check --write --no-errors-on-unmatched, eslint

update
  .dumi/scripts/mirror-notify.js
Due: biome check --write --no-errors-on-unmatched, eslint

docs(site): Network connection is not smooth notification (#53930)
  .dumi/scripts/mirror-modal.js
  .dumi/scripts/mirror-notify.js
  .dumi/theme/layouts/GlobalLayout.tsx
  .dumirc.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: use ol instead of ul in Timeline (#53944)
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/timeline/TimelineItemList.tsx
  components/timeline/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/timeline/__tests__/__snapshots__/demo.test.ts.snap
  components/timeline/__tests__/__snapshots__/index.test.tsx.snap
Due: biome check --write --no-errors-on-unmatched, eslint

ci: update assignees for dependency upgrade PR (#53937)
  .github/workflows/upgrade-deps.yml
Due: prettier --ignore-unknown --write

fix(descriptions): correct DescriptionsItemProps span property type (#53913)
  components/descriptions/Item.ts
  components/descriptions/__tests__/type.test.tsx
  components/descriptions/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: simplify container and content components
  .dumi/theme/builtins/Container/index.tsx
  .dumi/theme/builtins/Container/style.ts
  .dumi/theme/slots/Content/InViewSuspense.tsx
  .dumi/theme/slots/Content/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: timer finish call back does not trigger when page in background (#53894)
  components/statistic/Timer.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/config-provider/index.tsx
  components/config-provider/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: Drawer mask show/hide without transition
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat: deprecated warning
  components/divider/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/divider/index.en-US.md
  components/divider/index.en-US.md
Due: prettier --ignore-unknown --write

feat: Restore the size type missed in the merge
  components/divider/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/divider/index.zh-CN.md
  components/divider/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat: use useOrientation and change test,doc
  components/divider/__tests__/index.test.tsx
  components/divider/demo/component-token.tsx
  components/divider/demo/with-text.tsx
  components/divider/index.en-US.md
  components/divider/index.tsx
  components/divider/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: change demos orientation attribut
  .dumi/theme/builtins/ResourceArticles/index.tsx
  components/badge/demo/colorful.tsx
  components/button/demo/debug-icon.tsx
  components/button/demo/icon-position.tsx
  components/button/demo/size.tsx
  components/collapse/demo/size.tsx
  components/color-picker/demo/panel-render.tsx
  components/config-provider/demo/direction.tsx
  components/config-provider/demo/locale.tsx
  components/grid/demo/flex-align.tsx
  components/grid/demo/flex-order.tsx
  components/grid/demo/flex-stretch.tsx
  components/grid/demo/flex.tsx
  components/grid/demo/gutter.tsx
  components/list/demo/component-token.tsx
  components/list/demo/simple.tsx
  components/menu/demo/switch-mode.tsx
  components/skeleton/demo/_semantic_element.tsx
  components/space/demo/split.tsx
  components/tag/demo/colorful.tsx
  components/tag/demo/status.tsx
  components/tooltip/demo/colorful.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: Delete unnecessary demo adjustments
  components/divider/demo/plain.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: change token and demo (orientationMargin->titlePlacementMargin)
  components/divider/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/divider/__tests__/__snapshots__/demo.test.ts.snap
  components/divider/__tests__/index.test.tsx
  components/divider/demo/component-token.tsx
  components/divider/demo/with-text.tsx
  components/divider/style/index.ts
  docs/react/migrate-less-variables.en-US.md
  docs/react/migrate-less-variables.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: change text
  components/divider/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat[Divider]: Unified use of orientation attribute
  components/divider/__tests__/index.test.tsx
  components/divider/demo/component-token.tsx
  components/divider/demo/customize-style.tsx
  components/divider/demo/plain.tsx
  components/divider/demo/vertical.md
  components/divider/demo/vertical.tsx
  components/divider/demo/with-text.md
  components/divider/demo/with-text.tsx
  components/divider/index.en-US.md
  components/divider/index.tsx
  components/divider/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: change demos orientationMargin-> styles.content.margin
  components/divider/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/divider/__tests__/__snapshots__/demo.test.ts.snap
  components/divider/demo/component-token.tsx
  components/divider/demo/with-text.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: delete titlePlacementMargin and udpate snapshots
  components/divider/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/divider/__tests__/__snapshots__/demo.test.ts.snap
  components/divider/__tests__/index.test.tsx
  components/divider/demo/component-token.tsx
  components/divider/demo/with-text.tsx
  components/divider/index.en-US.md
  components/divider/index.tsx
  components/divider/index.zh-CN.md
  components/divider/style/index.ts
  docs/react/migrate-less-variables.en-US.md
  docs/react/migrate-less-variables.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: titlePlacement align
  components/divider/demo/with-text.md
Due: prettier --ignore-unknown --write

test: update snapshot
  components/list/__tests__/__snapshots__/pagination.test.tsx.snap
Due: none

feat: use mergedStyles.content
  components/divider/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: change demos titlePlacement="left/right" -> "start/end"
  components/badge/demo/colorful.tsx
  components/button/demo/debug-icon.tsx
  components/button/demo/icon-position.tsx
  components/button/demo/size.tsx
  components/collapse/demo/size.tsx
  components/config-provider/demo/direction.tsx
  components/config-provider/demo/locale.tsx
  components/divider/__tests__/index.test.tsx
  components/divider/demo/component-token.tsx
  components/divider/demo/customize-style.tsx
  components/divider/demo/plain.tsx
  components/divider/demo/with-text.tsx
  components/grid/demo/flex-align.tsx
  components/grid/demo/flex-order.tsx
  components/grid/demo/flex-stretch.tsx
  components/grid/demo/flex.tsx
  components/grid/demo/gutter.tsx
  components/list/demo/component-token.tsx
  components/list/demo/simple.tsx
  components/skeleton/demo/_semantic_element.tsx
  components/tag/demo/colorful.tsx
  components/tag/demo/status.tsx
  components/tooltip/demo/colorful.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: lint error
  components/divider/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: demo lint error
  components/divider/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: Resolve merge conflicts
  components/divider/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: Call warning using list
  components/divider/index.en-US.md
  components/divider/index.tsx
  components/divider/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: Add deprecated description
  components/divider/index.tsx
  components/divider/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: Modify punctuation usage
  components/divider/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/divider/demo/vertical.md
  components/divider/demo/vertical.md
Due: prettier --ignore-unknown --write

docs: `vertical` to make the divider vertical.
  components/divider/demo/vertical.md
Due: prettier --ignore-unknown --write

docs: Clarify the possible values for titlePlacement in the example
  components/divider/demo/with-text.md
Due: prettier --ignore-unknown --write

imp: avoid important syntax to easier customize from third party
  components/checkbox/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

style: tweak Select selected item background in dark theme
  components/theme/themes/dark/index.ts
  components/theme/util/alias.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: rc-footer FOUC bug
  .dumi/global.css
  .dumi/theme/layouts/DocLayout/index.tsx
  .dumi/theme/static/style.ts
Due: biome check --write --no-errors-on-unmatched, eslint
