Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

fix: formatter demo
  components/input-number/demo/formatter.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: formatter demo (#54615)
  components/input-number/demo/formatter.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(docs): icon 支持同义词搜索提高召回率 - eslint
  .dumi/theme/builtins/IconSearch/IconSearch.tsx
  .dumi/theme/builtins/IconSearch/meta/AccountBook.ts
  .dumi/theme/builtins/IconSearch/meta/Alipay.ts
  .dumi/theme/builtins/IconSearch/meta/Bank.ts
  .dumi/theme/builtins/IconSearch/meta/CarryOut.ts
  .dumi/theme/builtins/IconSearch/meta/Check.ts
  .dumi/theme/builtins/IconSearch/meta/ClockSquare.ts
  .dumi/theme/builtins/IconSearch/meta/Comment.ts
  .dumi/theme/builtins/IconSearch/meta/Copy.ts
  .dumi/theme/builtins/IconSearch/meta/CreditCard.ts
  .dumi/theme/builtins/IconSearch/meta/Dash.ts
  .dumi/theme/builtins/IconSearch/meta/Dollar.ts
  .dumi/theme/builtins/IconSearch/meta/Ellipsis.ts
  .dumi/theme/builtins/IconSearch/meta/Euro.ts
  .dumi/theme/builtins/IconSearch/meta/Holder.ts
  .dumi/theme/builtins/IconSearch/meta/IssuesClose.ts
  .dumi/theme/builtins/IconSearch/meta/More.ts
  .dumi/theme/builtins/IconSearch/meta/PayCircle.ts
  .dumi/theme/builtins/IconSearch/meta/PoundCircle.ts
  .dumi/theme/builtins/IconSearch/meta/PropertySafety.ts
  .dumi/theme/builtins/IconSearch/meta/RedEnvelope.ts
  .dumi/theme/builtins/IconSearch/meta/Robot.ts
  .dumi/theme/builtins/IconSearch/meta/Safety.ts
  .dumi/theme/builtins/IconSearch/meta/Schedule.ts
  .dumi/theme/builtins/IconSearch/meta/Transaction.ts
  .dumi/theme/builtins/IconSearch/meta/index.ts
  .dumi/theme/builtins/IconSearch/meta/tags.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(docs): add more synonyms for ellipsis
  .dumi/theme/builtins/IconSearch/meta/tags.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(docs): show total icons in search input
  .dumi/theme/builtins/IconSearch/IconSearch.tsx
  .dumi/theme/builtins/IconSearch/fields.ts
  .dumi/theme/locales/en-US.json
  .dumi/theme/locales/zh-CN.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat(docs): search deounce interval is so short that a word cannot even be fully typed
  .dumi/theme/builtins/IconSearch/IconSearch.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

style: fix eslint errors
  .dumi/theme/builtins/IconSearch/IconSearch.tsx
  .dumi/theme/builtins/IconSearch/meta/Alipay.ts
  .dumi/theme/builtins/IconSearch/meta/CreditCard.ts
  .dumi/theme/builtins/IconSearch/meta/Safety.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: Modal and Drawer panelRef prop should work
  components/drawer/index.tsx
  components/modal/Modal.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: fix measure logic
  components/input/__tests__/textarea.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: Table check header props (#54600)
  components/table/__tests__/Table.rowSelection.test.tsx
  components/table/hooks/useSelection.tsx
  components/table/index.en-US.md
  components/table/index.zh-CN.md
  components/table/interface.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test: update snapshot
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/demo-extend.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update site snap
  scripts/__snapshots__/check-site.ts.snap
Due: none

feat: add onClose into closable
  components/_util/ActionButton.tsx
  components/modal/Modal.tsx
  components/modal/__tests__/Modal.test.tsx
  components/modal/__tests__/hook.test.tsx
  components/modal/components/ConfirmCancelBtn.tsx
  components/modal/components/ConfirmOkBtn.tsx
  components/modal/index.en-US.md
  components/modal/index.zh-CN.md
  components/modal/interface.ts
  components/modal/useModal/HookModal.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: Modify the invocation method of onClose within the configButton
  components/_util/ActionButton.tsx
  components/modal/components/ConfirmCancelBtn.tsx
  components/modal/components/ConfirmOkBtn.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: afterClose is miss
  components/modal/Modal.tsx
  components/modal/__tests__/hook.test.tsx
  components/modal/useModal/HookModal.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: Modal test afterClose
  components/modal/__tests__/Modal.test.tsx
  components/modal/__tests__/hook.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: Modal and Drawer panelRef prop should work (#54619)
  components/drawer/index.tsx
  components/modal/Modal.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: hover/active text color of filled button with href (#54614)
  components/button/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: form layout style (#54611)
  components/auto-complete/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/auto-complete/__tests__/__snapshots__/demo.test.tsx.snap
  components/button/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/button/__tests__/__snapshots__/demo.test.ts.snap
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/config-provider/__tests__/__snapshots__/form.test.tsx.snap
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/form/Form.tsx
  components/form/FormItem/ItemHolder.tsx
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
  components/form/__tests__/__snapshots__/index.test.tsx.snap
  components/form/__tests__/index.test.tsx
  components/form/context.tsx
  components/form/demo/layout-multiple.tsx
  components/form/style/index.ts
  components/input/__tests__/__snapshots__/index.test.tsx.snap
  components/mentions/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/mentions/__tests__/__snapshots__/demo.test.tsx.snap
  components/select/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/select/__tests__/__snapshots__/demo.test.tsx.snap
  components/skeleton/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/skeleton/__tests__/__snapshots__/demo.test.tsx.snap
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
  components/upload/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/upload/__tests__/__snapshots__/demo.test.ts.snap
  components/watermark/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/watermark/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint

docs: improve icon search expierence (#54617)
  .dumi/theme/builtins/IconSearch/IconSearch.tsx
  .dumi/theme/builtins/IconSearch/fields.ts
  .dumi/theme/builtins/IconSearch/meta/AccountBook.ts
  .dumi/theme/builtins/IconSearch/meta/Alipay.ts
  .dumi/theme/builtins/IconSearch/meta/Bank.ts
  .dumi/theme/builtins/IconSearch/meta/CarryOut.ts
  .dumi/theme/builtins/IconSearch/meta/Check.ts
  .dumi/theme/builtins/IconSearch/meta/ClockSquare.ts
  .dumi/theme/builtins/IconSearch/meta/Comment.ts
  .dumi/theme/builtins/IconSearch/meta/Copy.ts
  .dumi/theme/builtins/IconSearch/meta/CreditCard.ts
  .dumi/theme/builtins/IconSearch/meta/Dash.ts
  .dumi/theme/builtins/IconSearch/meta/Dollar.ts
  .dumi/theme/builtins/IconSearch/meta/Ellipsis.ts
  .dumi/theme/builtins/IconSearch/meta/Euro.ts
  .dumi/theme/builtins/IconSearch/meta/Holder.ts
  .dumi/theme/builtins/IconSearch/meta/IssuesClose.ts
  .dumi/theme/builtins/IconSearch/meta/More.ts
  .dumi/theme/builtins/IconSearch/meta/PayCircle.ts
  .dumi/theme/builtins/IconSearch/meta/PoundCircle.ts
  .dumi/theme/builtins/IconSearch/meta/PropertySafety.ts
  .dumi/theme/builtins/IconSearch/meta/RedEnvelope.ts
  .dumi/theme/builtins/IconSearch/meta/Robot.ts
  .dumi/theme/builtins/IconSearch/meta/Safety.ts
  .dumi/theme/builtins/IconSearch/meta/Schedule.ts
  .dumi/theme/builtins/IconSearch/meta/Transaction.ts
  .dumi/theme/builtins/IconSearch/meta/index.ts
  .dumi/theme/builtins/IconSearch/meta/tags.ts
  .dumi/theme/locales/en-US.json
  .dumi/theme/locales/zh-CN.json
Due: biome check --write --no-errors-on-unmatched, eslint

Add drawer closable placement
  components/drawer/demo/closable-placement.md
  components/drawer/demo/closable-placement.tsx
  components/drawer/index.en-US.md
  components/drawer/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

update
  components/theme/useToken.ts
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: remove unnecessary object spread syntax for genFocusOutline calls
  components/checkbox/style/index.ts
  components/menu/style/theme.ts
  components/pagination/style/index.ts
  components/radio/style/index.ts
  components/segmented/style/index.ts
  components/steps/style/index.ts
  components/style/index.tsx
  components/tree/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: 移除 radio 按钮 focus 样式及清理 package.json 覆盖配置
  components/radio/__tests__/group.test.tsx
  components/radio/style/index.ts
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat(theme): Add new CSS variables for the "size" series (#54621)
  components/theme/useToken.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: remove console.log
  .dumi/theme/builtins/IconSearch/IconSearch.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

revert input timeout
  .dumi/theme/builtins/IconSearch/IconSearch.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: 简化级联选择器面板样式生成函数调用
  components/cascader/style/panel.ts
Due: biome check --write --no-errors-on-unmatched, eslint

Update package.json
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

revert change
  components/radio/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: remove console.log (#54623)
  .dumi/theme/builtins/IconSearch/IconSearch.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: simplify style hook usage by removing unnecessary array wrapper
  components/_util/wave/style.ts
  components/cascader/style/index.ts
  components/layout/style/index.ts
  components/layout/style/sider.ts
  components/splitter/style/index.ts
  components/theme/util/useResetIconStyle.ts
  components/typography/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: remove unnecessary array
  components/calendar/style/index.ts
  components/checkbox/style/index.ts
  components/color-picker/style/index.ts
  components/empty/style/index.ts
  components/form/style/fallbackCmp.ts
  components/input/style/otp.ts
  components/input/style/textarea.ts
  components/mentions/style/index.ts
  components/message/style/index.ts
  components/modal/style/confirm.ts
  components/pagination/style/bordered.ts
  components/rate/style/index.ts
  components/segmented/style/index.ts
  components/skeleton/style/index.ts
  components/spin/style/index.ts
  components/statistic/style/index.ts
  components/steps/style/index.ts
  components/timeline/style/index.ts
  components/tour/style/index.ts
  components/tree-select/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: remove unnecessary object spread syntax for genFocusOutline calls (#54622)
  components/_util/wave/style.ts
  components/calendar/style/index.ts
  components/cascader/style/index.ts
  components/cascader/style/panel.ts
  components/checkbox/style/index.ts
  components/color-picker/style/index.ts
  components/empty/style/index.ts
  components/form/style/fallbackCmp.ts
  components/input/style/otp.ts
  components/input/style/textarea.ts
  components/layout/style/index.ts
  components/layout/style/sider.ts
  components/mentions/style/index.ts
  components/menu/style/theme.ts
  components/message/style/index.ts
  components/modal/style/confirm.ts
  components/pagination/style/bordered.ts
  components/pagination/style/index.ts
  components/radio/style/index.ts
  components/rate/style/index.ts
  components/segmented/style/index.ts
  components/skeleton/style/index.ts
  components/spin/style/index.ts
  components/splitter/style/index.ts
  components/statistic/style/index.ts
  components/steps/style/index.ts
  components/style/index.tsx
  components/theme/util/useResetIconStyle.ts
  components/timeline/style/index.ts
  components/tour/style/index.ts
  components/tree-select/style/index.ts
  components/tree/style/index.ts
  components/typography/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Empty): support image global config
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
  components/empty/__tests__/index.test.tsx
  components/empty/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: zero-runtime
  docs/react/css-variables.en-US.md
  docs/react/css-variables.zh-CN.md
Due: prettier --ignore-unknown --write

feat(Empty): support image global config (#54502)
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
  components/empty/__tests__/index.test.tsx
  components/empty/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Update components/modal/index.en-US.md
  components/modal/index.en-US.md
Due: prettier --ignore-unknown --write
