Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

test: cover Input.OTP IME commit sequence
  components/input/OTP/OTPInput.tsx
  components/input/__tests__/otp.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Spin): remove debounce in minDuration.test.tsx
  components/spin/__tests__/minDuration.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs(ConfigProvider): fix link anchor typo
  components/config-provider/index.en-US.md
Due: prettier --ignore-unknown --write

docs(Image): sync missing reset action and total field in English docs
  components/image/index.en-US.md
Due: prettier --ignore-unknown --write

docs(Select): correct placeholder type to `string`
  components/select/index.en-US.md
Due: prettier --ignore-unknown --write

fix: avoid Form warning hook compiler memoization (#58417)
  components/_util/warning.ts
  components/form/FormItem/index.tsx
  components/form/FormList.tsx
  components/form/__tests__/compiler.test.ts
  components/form/hooks/useFormItemStatus.ts
  components/form/hooks/useFormWarning.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs(Image): sync missing TransformAction `reset` and ToolbarRenderInfoType`total` in English docs (#58766)
  components/image/index.en-US.md
Due: prettier --ignore-unknown --write

docs(ConfigProvider): fix link anchor typo (#58765)
  components/config-provider/index.en-US.md
Due: prettier --ignore-unknown --write

fix: support Yarn PnP subpath imports
  package.json
  scripts/generate-index-proxies.js
  tests/dekko/exports.test.ts
  tests/dekko/lib-es.test.ts
  tests/dekko/use-client.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: keep proxy generation in build config
  .antd-tools.config.js
  package.json
  scripts/generate-index-proxies.js
Due: biome check --write --no-errors-on-unmatched, eslint

docs(Select): correct placeholder type to `ReactNode `
  components/select/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs(Select): correct placeholder type to `ReactNode` (#58778)
  components/select/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix: avoid package proxy overhead
  .antd-tools.config.js
  package.json
  tests/dekko/exports.test.ts
  tests/dekko/use-client.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint

Add clear button tests
  components/select/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Segmented): respect ConfigProvider disabled state
  components/segmented/__tests__/index.test.tsx
  components/segmented/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: widen autoAdjustOverflow types
  components/_util/placements.ts
  components/dropdown/__tests__/index.test.tsx
  components/popover/__tests__/index.test.tsx
  components/tooltip/__tests__/tooltip.test.tsx
  components/tooltip/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: document autoAdjustOverflow object config
  components/dropdown/index.en-US.md
  components/dropdown/index.zh-CN.md
  components/tooltip/shared/sharedProps.en-US.md
  components/tooltip/shared/sharedProps.zh-CN.md
Due: prettier --ignore-unknown --write

fix(Typography): inherit typography props in editable textarea
  components/typography/__tests__/editable.test.tsx
  components/typography/style/mixins.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test(Typography): remove editable font-size inherit test case
  components/typography/__tests__/editable.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test(Typography): drop redundant class assertion in editable font test
  components/typography/__tests__/editable.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Typography): make editable textarea line-height override Input styles
  components/typography/__tests__/editable.test.tsx
  components/typography/style/mixins.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Input): support global variant config for subcomponents
  components/config-provider/context.ts
  components/form/hooks/useVariants.ts
  components/input/OTP/index.tsx
  components/input/Password.tsx
  components/input/Search.tsx
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/input/demo/search-variant-debug.md
  components/input/demo/search-variant-debug.tsx
  components/input/index.en-US.md
  components/input/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Update CHANGELOG.zh-CN.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

Update CHANGELOG.en-US.md
  CHANGELOG.en-US.md
Due: prettier --ignore-unknown --write

docs: add changelog for 6.5.2
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: extend global focusOutline support to more components (#58708)
  components/input/style/token.ts
  components/input/style/variants.ts
  components/rate/style/index.ts
  components/select/style/select-input.ts
  components/select/style/token.ts
  components/splitter/style/index.ts
  components/steps/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update changelog for 6.5.2
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: add changelog for 6.5.2 (#58764)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs(Masonry): mark virtual and itemHeight as 6.6.0
  components/masonry/index.en-US.md
  components/masonry/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix: preserve ES subpaths in Node imports
  .antd-tools.config.js
  package.json
  tests/dekko/exports.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update Ant Design 5.x site link
  docs/react/faq.zh-CN.md
Due: prettier --ignore-unknown --write

docs(FAQ): correct the 5x mirror link
  docs/react/faq.zh-CN.md
Due: prettier --ignore-unknown --write

docs: correct Ant Design 5.x site URL
  docs/react/faq.zh-CN.md
Due: prettier --ignore-unknown --write

Add missing "clear" tranlsation
  components/locale/sq_AL.ts
Due: biome check --write --no-errors-on-unmatched, eslint

Add clear label support to Cascader and TreeSelect
  components/cascader/index.tsx
  components/tree-select/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add mirror links to English FAQ
  docs/react/faq.en-US.md
Due: prettier --ignore-unknown --write

test: cover OTP IME dedupe cleanup
  components/input/__tests__/otp.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update Ant Design 5.x site link (#58787)
  docs/react/faq.en-US.md
  docs/react/faq.zh-CN.md
Due: prettier --ignore-unknown --write
