Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: update
  components/steps/style/progress.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Steps): rm typo progress11 (#56565)
  components/steps/style/progress.ts
Due: biome check --write --no-errors-on-unmatched, eslint

Refactor Header component for improved logic
  .dumi/theme/slots/Header/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Change import path for versions.json file
  .dumi/theme/slots/Header/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Refactor fetcher and update VersionItem interface
  .dumi/theme/slots/Header/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Fix version URL to use window.location.origin
  .dumi/theme/slots/Header/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: load version data dynamically JSON (#56464)
  .dumi/theme/slots/Header/index.tsx
  .dumi/theme/themeConfig.ts
  .dumi/theme/utils/index.ts
  public/versions.json
Due: biome check --write --no-errors-on-unmatched, eslint

site: update select style
  .dumi/theme/slots/Header/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  .dumi/theme/slots/Header/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

menu
  components/menu/MenuItem.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(MenuItem): add controlled tooltip state for collapse transitions
  components/menu/MenuItem.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

site: update site select style (#56567)
  .dumi/theme/slots/Header/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Tooltip): add maxWidth token (#56540)
  components/tooltip/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: trans position
  .dumi/pages/index/components/BannerRecommends.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update genCssVar arguments
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/mentions/style/index.ts
  components/select/style/select-input-multiple.ts
  components/steps/ProgressIcon.tsx
  components/steps/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/steps/__tests__/__snapshots__/demo.test.ts.snap
  components/steps/__tests__/__snapshots__/index.test.tsx.snap
  components/steps/index.tsx
  components/steps/style/horizontal.ts
  components/steps/style/icon.ts
  components/steps/style/index.ts
  components/steps/style/inline.ts
  components/steps/style/label-placement.ts
  components/steps/style/nav.ts
  components/steps/style/panel.ts
  components/steps/style/progress-dot.ts
  components/steps/style/progress.ts
  components/steps/style/rtl.ts
  components/steps/style/small.ts
  components/steps/style/status.ts
  components/steps/style/util.ts
  components/steps/style/vertical.ts
  components/timeline/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/timeline/__tests__/__snapshots__/demo.test.ts.snap
  components/timeline/__tests__/__snapshots__/index.test.tsx.snap
  components/timeline/style/horizontal.ts
  components/timeline/style/index.ts
  components/timeline/useItems.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update genCssVar arguments (#56572)
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/mentions/style/index.ts
  components/select/style/select-input-multiple.ts
  components/steps/ProgressIcon.tsx
  components/steps/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/steps/__tests__/__snapshots__/demo.test.ts.snap
  components/steps/__tests__/__snapshots__/index.test.tsx.snap
  components/steps/index.tsx
  components/steps/style/horizontal.ts
  components/steps/style/icon.ts
  components/steps/style/index.ts
  components/steps/style/inline.ts
  components/steps/style/label-placement.ts
  components/steps/style/nav.ts
  components/steps/style/panel.ts
  components/steps/style/progress-dot.ts
  components/steps/style/progress.ts
  components/steps/style/rtl.ts
  components/steps/style/small.ts
  components/steps/style/status.ts
  components/steps/style/util.ts
  components/steps/style/vertical.ts
  components/timeline/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/timeline/__tests__/__snapshots__/demo.test.ts.snap
  components/timeline/__tests__/__snapshots__/index.test.tsx.snap
  components/timeline/style/horizontal.ts
  components/timeline/style/index.ts
  components/timeline/useItems.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: rm useless file
  components/form/changelog.md
Due: prettier --ignore-unknown --write

docs: rm useless file (#56575)
  components/form/changelog.md
Due: prettier --ignore-unknown --write

Apply suggestions from code review
  components/qr-code/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: add uploadButton support to Upload classNames and styles
  components/upload/Upload.tsx
  components/upload/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/upload/__tests__/__snapshots__/demo.test.ts.snap
  components/upload/__tests__/semantic.test.tsx
  components/upload/demo/_semantic.tsx
  components/upload/demo/style-class.tsx
  components/upload/interface.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update snapshot file
  components/tag/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tag/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

chore: ui
  .dumi/pages/index/components/BannerRecommends.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Splitter): Support onDraggerDoubleClick
  components/splitter/SplitBar.tsx
  components/splitter/Splitter.tsx
  components/splitter/__tests__/index.test.tsx
  components/splitter/index.en-US.md
  components/splitter/index.zh-CN.md
  components/splitter/interface.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

update
  components/splitter/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/splitter/SplitBar.tsx
  components/splitter/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/splitter/__tests__/__snapshots__/demo.test.ts.snap
  components/splitter/demo/reset.md
  components/splitter/demo/reset.tsx
  components/splitter/index.en-US.md
  components/splitter/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

site: add keepAlive animation to theme transition fix flickering after switching themes (#56544)
  .dumi/hooks/useThemeAnimation.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Tour): add keyboard prop to control keyboard shortcuts
  components/tour/index.en-US.md
  components/tour/index.tsx
  components/tour/index.zh-CN.md
  components/tour/interface.ts
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Update components/tour/index.en-US.md
  components/tour/index.en-US.md
Due: prettier --ignore-unknown --write

Update components/tour/index.zh-CN.md
  components/tour/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat(Tour): add keyboard prop to control keyboard shortcuts (#56581)
  components/tour/index.en-US.md
  components/tour/index.tsx
  components/tour/index.zh-CN.md
  components/tour/interface.ts
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Update components/qr-code/index.en-US.md
  components/qr-code/index.en-US.md
Due: prettier --ignore-unknown --write

Apply suggestions from code review
  components/qr-code/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat: add marginSize prop for QRCode quiet zone (#56569)
  components/qr-code/__tests__/index.test.tsx
  components/qr-code/index.en-US.md
  components/qr-code/index.tsx
  components/qr-code/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

refactor(Button): use genCssVar hook to generate CSS variables
  components/button/style/compact.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: upgrade deps
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update snapshot
  scripts/__snapshots__/check-site.ts.snap
Due: none

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
