Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

feat(Statistic): Statistic value support semantic classname & style (#57656)
  components/statistic/Number.tsx
  components/statistic/Statistic.tsx
  components/statistic/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/statistic/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/statistic/__tests__/__snapshots__/demo.test.ts.snap
  components/statistic/__tests__/index.test.tsx
  components/statistic/__tests__/semantic.test.tsx
  components/statistic/demo/_semantic.tsx
  components/statistic/demo/style-class.tsx
  components/statistic/index.en-US.md
  components/statistic/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(ColorPicker): reset gradient dragging when disabled
  components/color-picker/__tests__/disabled-component.test.tsx
  components/color-picker/__tests__/panel-disabled.test.tsx
  components/color-picker/components/PanelPicker/GradientColorBar.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix feedback
  components/tag/__tests__/index.test.tsx
  components/tag/hooks/useColor.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix ci issue
  components/tag/__tests__/index.test.tsx
  components/tag/hooks/useColor.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix size issue
  components/tag/hooks/useColor.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add changelog for 6.3.6
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: align component api tables for deprecated props extraction
  components/alert/index.en-US.md
  components/alert/index.zh-CN.md
  components/auto-complete/index.en-US.md
  components/auto-complete/index.zh-CN.md
  components/card/index.en-US.md
  components/card/index.zh-CN.md
  components/cascader/index.en-US.md
  components/cascader/index.zh-CN.md
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
  components/date-picker/index.en-US.md
  components/date-picker/index.zh-CN.md
  components/drawer/index.en-US.md
  components/drawer/index.zh-CN.md
  components/empty/index.en-US.md
  components/empty/index.zh-CN.md
  components/flex/index.en-US.md
  components/input-number/index.en-US.md
  components/input-number/index.zh-CN.md
  components/menu/index.en-US.md
  components/message/index.en-US.md
  components/popconfirm/index.en-US.md
  components/rate/index.en-US.md
  components/select/index.en-US.md
  components/select/index.zh-CN.md
  components/slider/index.en-US.md
  components/statistic/index.en-US.md
  components/statistic/index.zh-CN.md
  components/steps/index.en-US.md
  components/steps/index.zh-CN.md
  components/tag/index.en-US.md
  components/tag/index.zh-CN.md
  components/time-picker/index.en-US.md
  components/time-picker/index.zh-CN.md
  components/tree-select/index.en-US.md
  components/tree-select/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs(Drawer): add missing deprecated API entry
  components/drawer/index.en-US.md
  components/drawer/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: reorder deprecated API rows in component tables
  components/auto-complete/index.en-US.md
  components/auto-complete/index.zh-CN.md
  components/card/index.en-US.md
  components/card/index.zh-CN.md
  components/cascader/index.en-US.md
  components/cascader/index.zh-CN.md
  components/date-picker/index.en-US.md
  components/date-picker/index.zh-CN.md
  components/drawer/index.en-US.md
  components/drawer/index.zh-CN.md
  components/select/index.en-US.md
  components/select/index.zh-CN.md
  components/time-picker/index.en-US.md
  components/time-picker/index.zh-CN.md
  components/tree-select/index.en-US.md
  components/tree-select/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix limit
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Typography): add default styles for table elements (#57633)
  components/typography/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/typography/__tests__/__snapshots__/demo.test.tsx.snap
  components/typography/demo/table.md
  components/typography/demo/table.tsx
  components/typography/index.en-US.md
  components/typography/index.zh-CN.md
  components/typography/style/mixins.ts
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

ci: add concurrency
  .github/workflows/preview-start.yml
  .github/workflows/verify-files-modify.yml
  .github/workflows/verify-package-version.yml
Due: prettier --ignore-unknown --write

Update CHANGELOG.en-US.md
  CHANGELOG.en-US.md
Due: prettier --ignore-unknown --write

Update CHANGELOG.zh-CN.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

test(site): update snapshots
  scripts/__snapshots__/check-site.ts.snap
Due: none

docs: add missing 6.4.0 semantic DOM versions
  .dumi/theme/common/TreeSelectSemanticTemplate.tsx
  components/input/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/input/demo/_semantic_input.tsx
  components/input/demo/_semantic_password.tsx
  components/input/demo/_semantic_search.tsx
  components/input/demo/_semantic_textarea.tsx
  components/popconfirm/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/popconfirm/demo/_semantic.tsx
  components/transfer/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/transfer/demo/_semantic.tsx
  components/tree-select/__tests__/__snapshots__/demo-semantic.test.tsx.snap
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add missing 6.4.0 semantic DOM versions (#57681)
  .dumi/theme/common/TreeSelectSemanticTemplate.tsx
  components/input/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/input/demo/_semantic_input.tsx
  components/input/demo/_semantic_password.tsx
  components/input/demo/_semantic_search.tsx
  components/input/demo/_semantic_textarea.tsx
  components/popconfirm/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/popconfirm/demo/_semantic.tsx
  components/transfer/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/transfer/demo/_semantic.tsx
  components/tree-select/__tests__/__snapshots__/demo-semantic.test.tsx.snap
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Avatar): add size and shape configuration support
  components/avatar/Avatar.tsx
  components/avatar/AvatarContext.ts
  components/avatar/AvatarGroup.tsx
  components/avatar/__tests__/Avatar.test.tsx
  components/avatar/index.en-US.md
  components/avatar/index.zh-CN.md
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.tsx
  components/config-provider/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore(Avatar): remove unused variables from component props
  components/avatar/Avatar.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update package.json
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Input): keep OTP masked text hidden when selected
  components/input/style/otp.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs(breadcrumb): update API config
  components/breadcrumb/index.en-US.md
  components/breadcrumb/index.zh-CN.md
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
Due: prettier --ignore-unknown --write

Update components/breadcrumb/index.zh-CN.md
  components/breadcrumb/index.zh-CN.md
Due: prettier --ignore-unknown --write

Update components/breadcrumb/index.en-US.md
  components/breadcrumb/index.en-US.md
Due: prettier --ignore-unknown --write

fix(Table): adjust row expand icon margin
  components/table/style/expand.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Table): update expand icon margin and prevent flex shrink
  components/table/style/expand.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: rtl gloat
  components/table/style/expand.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(grid): fix missing paddingInline and closing bracket in Col component
  components/grid/col.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(grid): use isNumber for type checking in Col and Row components
  components/grid/col.tsx
  components/grid/row.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs(Cascader): update Cascader and ConfigProvider API documentation
  components/cascader/index.en-US.md
  components/cascader/index.zh-CN.md
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs(DatePicker): update API documentation for DatePicker and RangePicker
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
  components/date-picker/index.en-US.md
  components/date-picker/index.zh-CN.md
Due: prettier --ignore-unknown --write

chore: simplify @asamuzakjp ignore pattern in jest config
  .jest.js
Due: biome check --write --no-errors-on-unmatched, eslint

fix(InputNumber): remove inner input border radius
  components/input-number/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update date
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write
