Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: ping all hash of ci action (#55945)
  .github/workflows/pr-check-merge.yml
  .github/workflows/pr-contributor-welcome.yml
  .github/workflows/pr-open-check.yml
  .github/workflows/pr-open-notify.yml
  .github/workflows/preview-start.yml
  .github/workflows/visual-regression-diff-start.yml
Due: prettier --ignore-unknown --write

chore: simplify
  tests/setup.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: fix ci (#55947)
  components/cascader/__tests__/index.test.tsx
  package.json
  tests/setup.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: skip surge deploy and commit comment for master branch
  .github/workflows/site-deploy.yml
Due: prettier --ignore-unknown --write

fix(Flex): default align when use orientation
  components/flex/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: Repair the test file
  components/descriptions/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/descriptions/__tests__/__snapshots__/demo.test.ts.snap
Due: none

ci: workflow auto merge ignore deploy-to-pages
  .github/workflows/pr-auto-merge.yml
Due: prettier --ignore-unknown --write

chore: skip surge deploy and commit comment for master branch (#55948)
  .github/workflows/site-deploy.yml
Due: prettier --ignore-unknown --write

docs: Guidelines for adding deprecated APIs
  123.md
  docs/react/migration-v6.zh-CN.md
Due: prettier --ignore-unknown --write

update
  123.md
Due: prettier --ignore-unknown --write

update
  docs/react/migration-v6.en-US.md
Due: prettier --ignore-unknown --write

docs: remove deprecated Mentions and Select API notes
  components/mentions/index.en-US.md
  components/mentions/index.zh-CN.md
  components/select/index.en-US.md
  components/select/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: remove deprecated Mentions and Select API notes (#55956)
  components/mentions/index.en-US.md
  components/mentions/index.zh-CN.md
  components/select/index.en-US.md
  components/select/index.zh-CN.md
Due: prettier --ignore-unknown --write

Update docs/react/migration-v6.en-US.md
  docs/react/migration-v6.en-US.md
Due: prettier --ignore-unknown --write

Update docs/react/migration-v6.zh-CN.md
  docs/react/migration-v6.zh-CN.md
Due: prettier --ignore-unknown --write

docs: add atomic migration instructions for v6 installation
  docs/react/migration-v6.en-US.md
  docs/react/migration-v6.zh-CN.md
Due: prettier --ignore-unknown --write

refactor(Badge): split component files (#55883)
  components/badge/Badge.tsx
  components/badge/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: extract-pr
  scripts/tmp-chanloge/extract-pr.ts
  scripts/tmp-chanloge/pr-ids_v1.json
  scripts/tmp-chanloge/pr-ids_v2.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: add part 1 (generate md
  scripts/tmp-chanloge/generate-changelog.ts
  scripts/tmp-chanloge/generated-changelog_v1.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: add part 2 (generate md
  scripts/tmp-chanloge/generate-changelog.ts
  scripts/tmp-chanloge/generated-changelog_v2.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: apply refined changelog
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

chore: update
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

fix: fix text clipping in ColorPicker InputNumber caused by padding
  components/color-picker/style/input.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: upgrade deps
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

fix(ColorPicker): fix text clipping in ColorPicker InputNumber (#55966)
  components/color-picker/style/input.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: memory leak in useWave hook - clean up RAF on unmount (#55962)
  components/_util/wave/useWave.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test(Tag): update snapshots
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/tag/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tag/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

Update components/tag/demo/size.tsx
  components/tag/demo/size.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  docs/react/migration-v6.en-US.md
  docs/react/migration-v6.zh-CN.md
Due: prettier --ignore-unknown --write

docs: Guidelines for adding deprecated APIs (#55954)
  docs/react/migration-v6.en-US.md
  docs/react/migration-v6.zh-CN.md
Due: prettier --ignore-unknown --write

update doc
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
Due: prettier --ignore-unknown --write

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
