Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

fix: prefer using the name passed in the FormItemContext (#54206)
  components/form/FormItem/ItemHolder.tsx
  components/form/FormItem/StatusProvider.tsx
  components/form/FormItem/index.tsx
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
  components/form/context.tsx
  components/form/hooks/useForm.ts
  components/radio/__tests__/group.test.tsx
  components/radio/group.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat[Tag.CheckableTag]: Tag.CheckableTag supports icon property (#54298)
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/tag/CheckableTag.tsx
  components/tag/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tag/__tests__/__snapshots__/demo.test.ts.snap
  components/tag/__tests__/__snapshots__/index.test.tsx.snap
  components/tag/__tests__/index.test.tsx
  components/tag/demo/icon.md
  components/tag/demo/icon.tsx
  components/tag/index.en-US.md
  components/tag/index.tsx
  components/tag/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: update changelog
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

feat[Carousel]: Semantic Placement Naming Standardization (#54294)
  components/carousel/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/carousel/__tests__/__snapshots__/demo.test.ts.snap
  components/carousel/__tests__/__snapshots__/index.test.tsx.snap
  components/carousel/__tests__/index.test.tsx
  components/carousel/demo/arrows.tsx
  components/carousel/demo/placement.md
  components/carousel/demo/placement.tsx
  components/carousel/index.en-US.md
  components/carousel/index.tsx
  components/carousel/index.zh-CN.md
  components/carousel/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat[Collapse]: Semantic Placement Naming Standardization
  components/collapse/Collapse.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: changelog for 5.26.4 (#54307)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: change className, add tests, and modify docs
  components/collapse/Collapse.tsx
  components/collapse/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/collapse/__tests__/__snapshots__/demo.test.ts.snap
  components/collapse/__tests__/__snapshots__/index.test.tsx.snap
  components/collapse/__tests__/index.test.tsx
  components/collapse/demo/extra.tsx
  components/collapse/index.en-US.md
  components/collapse/index.zh-CN.md
  components/collapse/style/index.ts
  components/color-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: typography
  components/typography/Base/index.tsx
  components/typography/Link.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/collapse/Collapse.tsx
  components/collapse/Collapse.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: combine warning
  components/collapse/Collapse.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: demo ts
  components/collapse/demo/extra.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snap
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
Due: none

chore: MenuProps add activeKey in Dropdown
  components/dropdown/dropdown.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: MenuProps add activeKey in Dropdown (#54314)
  components/dropdown/dropdown.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Add AtomUI library
  docs/spec/introduce.en-US.md
  docs/spec/introduce.zh-CN.md
Due: prettier --ignore-unknown --write

fix[Splitter]: ant-splitter-mask should be removed when drag end
  components/splitter/SplitBar.tsx
  components/splitter/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

add size prop to Tag component
  components/tag/__tests__/index.test.tsx
  components/tag/demo/size.md
  components/tag/demo/size.tsx
  components/tag/index.en-US.md
  components/tag/index.tsx
  components/tag/index.zh-CN.md
  components/tag/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat[Collapse]: Semantic Placement Naming Standardization (#54311)
  components/collapse/Collapse.tsx
  components/collapse/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/collapse/__tests__/__snapshots__/demo.test.ts.snap
  components/collapse/__tests__/__snapshots__/index.test.tsx.snap
  components/collapse/__tests__/index.test.tsx
  components/collapse/demo/extra.tsx
  components/collapse/index.en-US.md
  components/collapse/index.zh-CN.md
  components/collapse/style/index.ts
  components/color-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: Update verify-files-modify.yml
  .github/workflows/verify-files-modify.yml
Due: prettier --ignore-unknown --write

chore: Update verify-files-modify.yml (#54327)
  .github/workflows/verify-files-modify.yml
Due: prettier --ignore-unknown --write

refactor: modify useEffect and remove redundant duplicate test cases
  components/splitter/SplitBar.tsx
  components/splitter/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update icon property documentation for CheckableTag to reflect version support
  components/tag/CheckableTag.tsx
  components/tag/demo/icon.md
  components/tag/demo/icon.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: typography
  components/typography/Link.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update verify-files-modify.yml
  .github/workflows/verify-files-modify.yml
Due: prettier --ignore-unknown --write

Update components/tag/demo/icon.md
  components/tag/demo/icon.md
Due: prettier --ignore-unknown --write

chore: Update verify-files-modify.yml (#54332)
  .github/workflows/verify-files-modify.yml
Due: prettier --ignore-unknown --write

chore: update
  components/tag/demo/icon.md
Due: prettier --ignore-unknown --write

fix: typography
  components/typography/__tests__/copy.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: zeroRuntime
  .antd-tools.config.js
  .dumi/theme/common/Loading.tsx
  .dumi/theme/layouts/GlobalLayout.tsx
  .gitignore
  components/config-provider/context.ts
  components/theme/context.ts
  components/theme/useToken.ts
  components/theme/util/genStyleUtils.ts
  package.json
  scripts/build-style.tsx
  scripts/generate-cssinjs.ts
  scripts/tsconfig.json
Due: biome check --write --no-errors-on-unmatched, eslint

docs(tag): Improve document description (#54330)
  components/tag/CheckableTag.tsx
  components/tag/demo/icon.md
  components/tag/demo/icon.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: update snap
  components/tag/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tag/__tests__/__snapshots__/demo.test.ts.snap
  components/tag/__tests__/__snapshots__/index.test.tsx.snap
Due: none

chore: update style
  components/tag/index.tsx
  components/tag/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: revert snap
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/grid/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/select/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/select/__tests__/__snapshots__/demo.test.tsx.snap
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
  components/transfer/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/transfer/__tests__/__snapshots__/demo.test.ts.snap
Due: none

chore: update docs
  components/tag/demo/size.tsx
  components/tag/index.en-US.md
  components/tag/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: update snapshot
  components/tag/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tag/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat[Table]: Semantic Placement Naming Standardization
  components/table/InternalTable.tsx
  components/table/__tests__/Table.pagination.test.tsx
  components/table/demo/component-token.tsx
  components/table/demo/dynamic-settings.tsx
  components/table/demo/pagination.tsx
  components/table/index.en-US.md
  components/table/index.zh-CN.md
  components/table/interface.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write
