Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

update
  .dumi/pages/index/components/ThemePreview/index.tsx
  .dumi/pages/index/components/ThemePreview/previewThemes/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test(Steps): split maxCount display cases
  components/steps/__tests__/index.test.tsx
  components/steps/__tests__/maxCount.test.tsx
  components/steps/useDisplaySteps.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(MenuItem): add itemData prop to MenuItem component
  components/menu/MenuItem.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test(Steps): clarify maxCount current cases
  components/steps/__tests__/maxCount.test.tsx
  components/steps/useDisplaySteps.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test(Steps): assert maxCount rendered output
  components/steps/__tests__/maxCount.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

style(Steps): simplify maxCount ellipsis style
  components/steps/style/max-count.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Steps): resolve maxCount CI failures
  components/steps/demo/max-count.tsx
  components/steps/index.tsx
  components/steps/useDisplaySteps.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test(Steps): update maxCount demo snapshots
  components/steps/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/steps/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat(MenuItem): include eventKey in itemData for MenuItem component
  components/menu/MenuItem.tsx
  components/menu/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(MenuItem): update itemData structure to include label and itemIcon
  components/menu/MenuItem.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Steps): add maxCount collapse mode for dense step items (#57987)
  components/steps/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/steps/__tests__/__snapshots__/demo.test.ts.snap
  components/steps/__tests__/maxCount.test.tsx
  components/steps/demo/max-count.md
  components/steps/demo/max-count.tsx
  components/steps/index.en-US.md
  components/steps/index.tsx
  components/steps/index.zh-CN.md
  components/steps/style/index.ts
  components/steps/style/max-count.ts
  components/steps/useDisplaySteps.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: update
  .dumi/pages/index/components/Group.tsx
  .dumi/pages/index/components/PreviewPane/Components.tsx
  .dumi/pages/index/components/util.ts
Due: biome check --write --no-errors-on-unmatched, eslint

site: Refactor themePreviewenhance theme selection UI and improve layout (#57555)
  .dumi/pages/index/components/Group.tsx
  .dumi/pages/index/components/PreviewPane/Components.tsx
  .dumi/pages/index/components/PreviewPane/Simple.tsx
  .dumi/pages/index/components/ThemePreview/index.tsx
  .dumi/pages/index/components/ThemePreview/previewThemes/cartoonTheme.ts
  .dumi/pages/index/components/ThemePreview/previewThemes/index.ts
  .dumi/theme/common/ThemeSwitch/PromptDrawer.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: remove native style props from API docs (#58196)
  components/card/index.en-US.md
  components/card/index.zh-CN.md
  components/cascader/index.en-US.md
  components/cascader/index.zh-CN.md
  components/divider/index.en-US.md
  components/divider/index.zh-CN.md
  components/layout/index.en-US.md
  components/layout/index.zh-CN.md
  components/menu/index.en-US.md
  components/menu/index.zh-CN.md
  components/rate/index.en-US.md
  components/rate/index.zh-CN.md
  components/switch/index.en-US.md
  components/switch/index.zh-CN.md
  components/time-picker/index.en-US.md
  components/time-picker/index.zh-CN.md
  components/tree/index.en-US.md
  components/tree/index.zh-CN.md
Due: prettier --ignore-unknown --write

Update index.en-US.md
  components/layout/index.en-US.md
Due: prettier --ignore-unknown --write

fix: respect icons package exports in site build
  .dumirc.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(MenuItem): update itemData handling and improve tooltip class name resolution
  components/menu/MenuItem.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Tabs): correct more dropdown motion direction
  components/tabs/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Menu): update itemData structure in onClick tests and adjust Menu component dependencies
  components/menu/__tests__/index.test.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat(MenuItem): enhance itemData structure by adding key property for better identification
  components/menu/MenuItem.tsx
  components/menu/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Tabs): correct more dropdown motion direction (#58202)
  components/tabs/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: fix Descriptions width inflated inside max-content Table
  components/descriptions/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(DatePicker, TimePicker): Improve accessibility
  components/date-picker/PickerButton.tsx
  components/date-picker/generatePicker/useComponents.ts
  components/date-picker/style/index.ts
  components/date-picker/style/panel.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: fix Descriptions table width inflated inside max-content Table (#58203)
  components/descriptions/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Menu): add itemData to onSelect/onClick/onDeselect callback (#58197)
  components/menu/MenuItem.tsx
  components/menu/__tests__/index.test.tsx
  components/menu/index.en-US.md
  components/menu/index.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: enhance Card borderless shadow and update flexible-content demo
  components/card/demo/flexible-content.tsx
  components/card/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: enhance boxShadowTertiary for better visibility on light backgrounds
  components/card/__tests__/__snapshots__/demo.test.ts.snap
  components/card/style/index.ts
  components/theme/util/alias.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: increase boxShadowTertiary depth to match HeroUI-style shadow
  components/theme/util/alias.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: add boxShadowTertiaryCard token for Card and Tour shadows
  components/card/style/index.ts
  components/theme/interface/alias.ts
  components/theme/util/alias.ts
  components/tour/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: redesign ThemePreview component layout to Bento Grid
  .dumi/pages/index/components/ThemePreview/ComponentsBlock.tsx
  .dumi/pages/index/components/ThemePreview/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: reselect components for ThemePreview bento grid layout
  .dumi/pages/index/components/ThemePreview/ComponentsBlock.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: respect icons package exports in site build (#58201)
  .dumirc.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: deepen boxShadowTertiary opacity for better visibility on light backgrounds
  components/card/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/card/__tests__/__snapshots__/demo.test.ts.snap
  components/card/demo/flexible-content.tsx
  components/descriptions/style/index.ts
  components/theme/util/alias.ts
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

docs(Modal): replace deprecated Tabs.TabPane with items in dark demo (#58186)
  components/modal/demo/dark.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

style: deepen boxShadowTertiary for better visibility on light backgrounds (#58205)
  components/card/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/card/__tests__/__snapshots__/demo.test.ts.snap
  components/card/demo/flexible-content.tsx
  components/theme/util/alias.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: translate Karpathy coding guidelines to Chinese
  CLAUDE.md
Due: prettier --ignore-unknown --write

chore: upgrade jest dependencies to latest versions
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add Karpathy-style coding behavioral guidelines to CLAUDE.md (#58185)
  CLAUDE.md
Due: prettier --ignore-unknown --write

chore: add overrides to force jest-environment-node ^30.4.1
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Badge): allow removing native tooltip
  components/badge/Badge.tsx
  components/badge/__tests__/index.test.tsx
  components/badge/index.en-US.md
  components/badge/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write
