Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

fix: align Modal onCancel event type with Dialog onClose
  components/modal/Modal.tsx
  components/modal/__tests__/type.test.tsx
  components/modal/interface.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: Add Form validation messages (defaultValidateMessages) for 5 languages (#57045)
  components/locale/hy_AM.ts
  components/locale/kmr_IQ.ts
  components/locale/ku_IQ.ts
  components/locale/mk_MK.ts
  components/locale/sl_SI.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs(site): sync URL params and theme state with AI-generated algorithm (#57046)
  .dumi/theme/common/ThemeSwitch/index.tsx
  .dumi/theme/layouts/GlobalLayout.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: add KeyboardEvent support to Modal onCancel type (#56848)
  components/modal/Modal.tsx
  components/modal/interface.ts
  components/modal/shared.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: update demos and tests for new Modal onCancel type
  components/config-provider/demo/direction.tsx
  components/modal/__tests__/Modal.test.tsx
  components/modal/demo/button-props.tsx
  components/modal/demo/dark.tsx
  components/modal/demo/modal-render.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: add ESC key test for Modal onCancel
  components/modal/__tests__/Modal.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: add aria-disabled attribute for disabled options in Select component
  components/select/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/select/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix: do not call rowSelection.onChange from dataSource sync effect
  components/table/__tests__/Table.rowSelection.test.tsx
  components/table/hooks/useSelection.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update 6.3.1 changelog
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

chore: upgrade @rc-component/select to ~1.6.12
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

test(table): add snapshot
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat(typography): add semantic classNames and styles support
  components/config-provider/context.ts
  components/typography/Base/index.tsx
  components/typography/Editable.tsx
  components/typography/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/typography/__tests__/demo-semantic.test.tsx
  components/typography/demo/_semantic.tsx
  components/typography/index.en-US.md
  components/typography/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

ignore dawidd6/action-download-artifact
  .github/dependabot.yml
Due: prettier --ignore-unknown --write

Revert "chore: bump dawidd6/action-download-artifact from 14 to 15"
  .github/workflows/preview-deploy.yml
  .github/workflows/visual-regression-diff-finish.yml
  .github/workflows/visual-regression-persist-finish.yml
Due: prettier --ignore-unknown --write

chore: update test snapshots
  components/auto-complete/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/auto-complete/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/auto-complete/__tests__/__snapshots__/demo.test.tsx.snap
  components/calendar/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/collapse/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/color-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/date-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
  components/input-number/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/pagination/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/segmented/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/select/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/select/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tabs/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tree/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/watermark/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

update snap
  components/auto-complete/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/auto-complete/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/auto-complete/__tests__/__snapshots__/demo.test.tsx.snap
  components/calendar/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/collapse/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/color-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/date-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
  components/input-number/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/pagination/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/segmented/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tabs/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tree/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/watermark/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

fix: add aria-disabled attribute for disabled options in Select component (#57049)
  components/auto-complete/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/auto-complete/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/auto-complete/__tests__/__snapshots__/demo.test.tsx.snap
  components/calendar/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/collapse/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/color-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/date-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
  components/input-number/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/pagination/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/segmented/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/select/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/select/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tabs/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tree/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/watermark/__tests__/__snapshots__/demo-extend.test.ts.snap
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

ci: igonre renovate upgrade dawidd6/action-download-artifact
  renovate.json
Due: biome check --write --no-errors-on-unmatched, eslint

Update CHANGELOG.zh-CN.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

Update CHANGELOG.en-US.md
  CHANGELOG.en-US.md
Due: prettier --ignore-unknown --write

docs: changelog of 6.3.1 (#57051)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

ci: igonre renovate upgrade dawidd6/action-download-artifact (#57052)
  renovate.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix: use waitFor in rowSelection sync tests for dom environment
  components/table/__tests__/Table.rowSelection.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(tree): rename switchSize to switcherSize
  components/tree/demo/line-debug.tsx
  components/tree/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

type: add KeyboardEvent support to Modal onCancel type (#57048)
  components/config-provider/demo/direction.tsx
  components/modal/Modal.tsx
  components/modal/__tests__/Modal.test.tsx
  components/modal/demo/button-props.tsx
  components/modal/demo/dark.tsx
  components/modal/demo/modal-render.tsx
  components/modal/interface.ts
  components/modal/shared.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: test
  components/input-number/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/select/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/select/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/select/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

fix(Select): fix label not hiding when visibility is set to hidden
  components/input-number/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/select/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/select/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/select/__tests__/__snapshots__/demo.test.tsx.snap
  components/select/style/select-input.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(segmented): add data-selected and data-disabled attributes to item elements
  components/segmented/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/segmented/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/segmented/__tests__/__snapshots__/demo.test.ts.snap
  components/segmented/__tests__/__snapshots__/index.test.tsx.snap
  components/segmented/__tests__/index.test.tsx
  components/segmented/index.en-US.md
  components/segmented/index.tsx
  components/segmented/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(segmented): return null firstOption to keep data-selected in sync with rc-segmented
  components/segmented/__tests__/__snapshots__/index.test.tsx.snap
  components/segmented/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test(segmented): update snapshots for @rc-component/select@1.6.12 rendering changes
  components/segmented/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/segmented/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat: review
  components/alert/demo/style-class.tsx
  components/alert/index.tsx
  components/auto-complete/demo/style-class.tsx
  components/auto-complete/index.tsx
  components/cascader/demo/style-class.tsx
  components/cascader/index.tsx
  components/image/demo/style-class.tsx
  components/index.ts
  components/select/demo/style-class.tsx
  components/splitter/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test(snapshots): update snapshots for other components using Segmented
  components/cascader/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/color-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/date-picker/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/flex/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/flex/__tests__/__snapshots__/demo.test.ts.snap
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
  components/menu/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/popover/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/popover/__tests__/__snapshots__/demo.test.tsx.snap
  components/progress/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/progress/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/progress/__tests__/__snapshots__/demo.test.ts.snap
  components/qr-code/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/qr-code/__tests__/__snapshots__/demo.test.ts.snap
  components/select/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/skeleton/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/tabs/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tabs/__tests__/__snapshots__/demo.test.ts.snap
  components/time-picker/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/tooltip/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tooltip/__tests__/__snapshots__/demo.test.tsx.snap
  components/tree-select/__tests__/__snapshots__/demo-semantic.test.tsx.snap
Due: none

fix: test
  components/calendar/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/calendar/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/calendar/__tests__/__snapshots__/demo.test.ts.snap
  components/calendar/__tests__/__snapshots__/index.test.tsx.snap
  components/date-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/date-picker/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/date-picker/__tests__/__snapshots__/demo.test.tsx.snap
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

fix(select): use inset: 0 for single-mode input positioning
  components/select/style/select-input.ts
Due: biome check --write --no-errors-on-unmatched, eslint

update snap
  components/calendar/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/calendar/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/calendar/__tests__/__snapshots__/demo.test.ts.snap
  components/calendar/__tests__/__snapshots__/index.test.tsx.snap
  components/date-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/date-picker/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/date-picker/__tests__/__snapshots__/demo.test.tsx.snap
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

update
  .dumi/theme/common/ThemeSwitch/PromptDrawer.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Tag): use solidTextColor and add test
  components/tag/__tests__/index.test.tsx
  components/tag/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint
