Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

Update CHANGELOG.en-US.md
  CHANGELOG.en-US.md
Due: prettier --ignore-unknown --write

Update CHANGELOG.zh-CN.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

Update rc-table dependency version to 7.52.6
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add Table minWidth virtualization fix to 5.27.3 changelog
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

Update package.json
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat(float-button): Support better customization with semantic classNames/styles as function
  components/float-button/FloatButton.tsx
  components/float-button/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/float-button/__tests__/__snapshots__/demo.test.ts.snap
  components/float-button/__tests__/index.test.tsx
  components/float-button/demo/style-class.md
  components/float-button/demo/style-class.tsx
  components/float-button/index.en-US.md
  components/float-button/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: add 5.27.3 changelog (#54886)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

add: snap
  scripts/__snapshots__/check-site.ts.snap
Due: none

fix(Input.Search): prevent hover color change for border and icon in disabled search button
  components/input/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: simple fun
  components/drawer/demo/resizable.tsx
  components/drawer/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update: snap
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/drawer/__tests__/__snapshots__/demo.test.ts.snap
  components/drawer/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: showTime.defaultValue has deprecated
  components/date-picker/demo/disabled-date.tsx
  components/date-picker/index.en-US.md
  components/date-picker/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat(Form): support labelAlign global config
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
  components/form/Form.tsx
  components/form/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

doc: global label align
  components/config-provider/index.zh-CN.md
Due: prettier --ignore-unknown --write

doc: label align typo
  components/config-provider/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix(Input.Search): prevent hover color change for border and icon in disabled search button (#54892)
  components/input/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: improve react 19 compatibility info
  docs/react/v5-for-19.zh-CN.md
Due: prettier --ignore-unknown --write

deps: update @rc-component/input-number dependency version to ~1.3.0
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix: Table column align issue when scroll.x is true
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snapshot
  components/table/__tests__/__snapshots__/Table.expand.test.tsx.snap
  components/table/__tests__/__snapshots__/Table.filter.test.tsx.snap
  components/table/__tests__/__snapshots__/Table.pagination.test.tsx.snap
  components/table/__tests__/__snapshots__/Table.sorter.test.tsx.snap
  components/table/__tests__/__snapshots__/Table.test.tsx.snap
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
  components/table/__tests__/__snapshots__/empty.test.tsx.snap
Due: none

Update v5-for-19.en-US.md
  docs/react/v5-for-19.en-US.md
Due: prettier --ignore-unknown --write

chore: upgrade deps
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snapshots
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
Due: none

fix(input-number): Remove default hiding of NumberInput controls on mobile (#54900)
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

docs: improve react 19 compatibility info (#54898)
  docs/react/v5-for-19.en-US.md
  docs/react/v5-for-19.zh-CN.md
Due: prettier --ignore-unknown --write

update: style & demo2en
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/drawer/__tests__/__snapshots__/demo.test.ts.snap
  components/drawer/demo/resizable.tsx
  components/drawer/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore(biome): ignore generated antd.css
  biome.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore(biome): ignore generated antd.css (#54905)
  biome.json
Due: biome check --write --no-errors-on-unmatched, eslint

add missing demo in CN
  components/table/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix(Table): fix duplicated filterDropdown and tooltip is shown when Table is sticky
  components/table/InternalTable.tsx
  components/table/demo/measure-row-render.md
  components/table/demo/measure-row-render.tsx
  components/table/index.en-US.md
  components/table/index.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test: update snapshot
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
Due: none

skip test
  components/table/__tests__/demo.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Table): fix duplicated filter dropdowns and tooltips is shown when Table is sticky (#54910)
  components/table/InternalTable.tsx
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
  components/table/__tests__/demo.test.ts
  components/table/demo/measure-row-render.md
  components/table/demo/measure-row-render.tsx
  components/table/index.en-US.md
  components/table/index.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: add deprecated showTime.defaultValue with proper format
  components/date-picker/index.en-US.md
  components/date-picker/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: update deprecation version to 5.27.3
  components/date-picker/index.en-US.md
  components/date-picker/index.zh-CN.md
Due: prettier --ignore-unknown --write

site: img should not be draggable
  .dumi/pages/index/components/Theme/ThemePicker.tsx
  .dumi/pages/index/components/Theme/index.tsx
  .dumi/theme/builtins/ComponentOverview/index.tsx
  .dumi/theme/builtins/ImagePreview/index.tsx
  .dumi/theme/builtins/ResourceCards/index.tsx
  .dumi/theme/common/ComponentChangelog/ComponentChangelog.tsx
  .dumi/theme/common/Loading.tsx
  .dumi/theme/slots/Footer/index.tsx
  components/avatar/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/avatar/__tests__/__snapshots__/demo.test.tsx.snap
  components/avatar/demo/type.tsx
  components/card/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/card/__tests__/__snapshots__/demo.test.ts.snap
  components/card/demo/_semantic.tsx
  components/card/demo/flexible-content.tsx
  components/card/demo/meta.tsx
  components/empty/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/empty/__tests__/__snapshots__/demo.test.ts.snap
  components/empty/index.tsx
  components/flex/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/flex/__tests__/__snapshots__/demo.test.ts.snap
  components/flex/demo/combination.tsx
  components/list/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/list/__tests__/__snapshots__/demo.test.ts.snap
  components/list/demo/_semantic.tsx
  components/list/demo/vertical.tsx
  components/mentions/demo/async.tsx
  components/skeleton/demo/list.tsx
Due: biome check --write --no-errors-on-unmatched, eslint
