Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

fix: hide textarea resize handle on touch devices
  components/input/style/textarea.ts
Due: biome check --write --no-errors-on-unmatched, eslint

site: soften MUI theme preview shadows
  .dumi/pages/index/components/ThemePreview/previewThemes/muiTheme.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: hide React demo docs from routing (#58802)
  docs/react/_demo/component-token.md
  docs/react/_demo/component-token.tsx
  docs/react/_demo/disable-motion.md
  docs/react/_demo/disable-motion.tsx
  docs/react/_demo/dynamic-theme.md
  docs/react/_demo/dynamic-theme.tsx
  docs/react/_demo/first-example.md
  docs/react/_demo/first-example.tsx
  docs/react/_demo/local-theme.md
  docs/react/_demo/local-theme.tsx
  docs/react/_demo/modify-theme-token.md
  docs/react/_demo/modify-theme-token.tsx
  docs/react/_demo/preset-algorithm.md
  docs/react/_demo/preset-algorithm.tsx
  docs/react/_demo/use-token.md
  docs/react/_demo/use-token.tsx
  docs/react/customize-theme.en-US.md
  docs/react/customize-theme.zh-CN.md
  docs/react/getting-started.en-US.md
  docs/react/getting-started.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

site: reduce MUI preview overlay shadows
  .dumi/pages/index/components/ThemePreview/previewThemes/muiTheme.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Input): support global variant config for subcomponents (#58784)
  components/config-provider/context.ts
  components/form/hooks/useVariants.ts
  components/input/OTP/index.tsx
  components/input/Password.tsx
  components/input/Search.tsx
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/input/demo/search-variant-debug.md
  components/input/demo/search-variant-debug.tsx
  components/input/index.en-US.md
  components/input/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: narrow touch textarea media query
  components/input/style/textarea.ts
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(demo): replace hardcoded styles with design tokens (#58811)
  .dumi/pages/index/components/BannerRecommends.tsx
  components/button/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/button/__tests__/__snapshots__/demo.test.ts.snap
  components/button/demo/linear-gradient.tsx
  components/calendar/demo/lunar.tsx
  components/form/demo/dynamic-form-item.tsx
  components/notification/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/notification/__tests__/__snapshots__/demo.test.ts.snap
  components/notification/demo/progress-color.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

site: revert non-overlay MUI preview shadows
  .dumi/pages/index/components/ThemePreview/previewThemes/muiTheme.ts
Due: biome check --write --no-errors-on-unmatched, eslint

Change FloatButton type from 'default' to '+'
  components/float-button/demo/type.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(upload): preserve files added during async removal
  components/upload/Upload.tsx
  components/upload/__tests__/upload.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(form): refresh status context values
  components/form/FormItem/StatusProvider.tsx
  components/form/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(table): sync controlled filter selections
  components/table/__tests__/Table.filter.test.tsx
  components/table/hooks/useFilter/FilterDropdown.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(upload): secure default download opener
  components/upload/UploadList/index.tsx
  components/upload/__tests__/uploadlist.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Upload): isolate default download tabs (#58817)
  components/upload/UploadList/index.tsx
  components/upload/__tests__/uploadlist.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(site): prevent version selector from shifting page scroll
  .dumi/theme/slots/Header/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

site: refine MUI theme preview styles (#58735)
  .dumi/pages/index/components/ThemePreview/previewThemes/muiTheme.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Typography): inherit font size in editable textarea (#58551)
  components/typography/style/mixins.ts
Due: biome check --write --no-errors-on-unmatched, eslint

site: prevent version selector from shifting page scroll (#58819)
  .dumi/theme/slots/Header/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: hide textarea resize handle on touch devices (#58812)
  components/input/style/textarea.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: make table and sider triggers keyboard accessible
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/layout/Sider.tsx
  components/layout/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/layout/__tests__/__snapshots__/demo.test.ts.snap
  components/layout/__tests__/index.test.tsx
  components/locale/__tests__/__snapshots__/index.test.tsx.snap
  components/locale/__tests__/__snapshots__/vitest/index.test.tsx.snap
  components/table/__tests__/Table.filter.test.tsx
  components/table/__tests__/__snapshots__/Table.filter.test.tsx.snap
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
  components/table/hooks/useFilter/FilterDropdown.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test(Select): group image tests by viewport
  components/select/__tests__/image.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: handle Select clear icon overlap (#58581)
  components/select/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/select/__tests__/__snapshots__/demo.test.tsx.snap
  components/select/__tests__/image.test.ts
  components/select/demo/clear-suffix-debug.md
  components/select/demo/clear-suffix-debug.tsx
  components/select/index.en-US.md
  components/select/index.zh-CN.md
  components/select/style/index.ts
  components/select/style/select-input.ts
  tests/shared/imageTest.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test: update snap
  components/drawer/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/image/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/menu/__tests__/__snapshots__/demo-semantic.test.tsx.snap
Due: none

feat(Pagination): support custom size changer render
  components/pagination/Pagination.tsx
  components/pagination/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/pagination/__tests__/__snapshots__/demo.test.ts.snap
  components/pagination/__tests__/index.test.tsx
  components/pagination/__tests__/type.test.tsx
  components/pagination/demo/changer.md
  components/pagination/demo/changer.tsx
  components/pagination/index.en-US.md
  components/pagination/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: snap
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/drawer/__tests__/__snapshots__/demo-semantic.test.tsx.snap
Due: none

feat(ColorPicker): support panelControls prop
  components/color-picker/ColorPicker.tsx
  components/color-picker/ColorPickerPanel.tsx
  components/color-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/color-picker/__tests__/__snapshots__/demo.test.tsx.snap
  components/color-picker/__tests__/components.test.tsx
  components/color-picker/__tests__/gradient.test.tsx
  components/color-picker/components/ColorSteppers.tsx
  components/color-picker/context.ts
  components/color-picker/demo/controls.md
  components/color-picker/demo/controls.tsx
  components/color-picker/index.en-US.md
  components/color-picker/index.zh-CN.md
  components/color-picker/interface.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: document autoAdjustOverflow for select components
  components/auto-complete/index.en-US.md
  components/auto-complete/index.zh-CN.md
  components/cascader/index.en-US.md
  components/cascader/index.zh-CN.md
  components/select/index.en-US.md
  components/select/index.zh-CN.md
  components/tree-select/index.en-US.md
  components/tree-select/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat: support autoAdjustOverflow for select components
  components/_util/placements.ts
  components/cascader/index.tsx
  components/select/index.tsx
  components/select/mergedBuiltinPlacements.ts
  components/tree-select/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: add autoAdjustOverflow coverage for select components
  components/select/__tests__/mergedBuiltinPlacements.test.ts
  components/select/__tests__/type.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/layout/Sider.tsx
  components/layout/__tests__/index.test.tsx
  components/locale/en_US.ts
  components/locale/index.tsx
  components/locale/zh_CN.ts
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(Pagination): use components for custom size changer
  components/pagination/Pagination.tsx
  components/pagination/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/pagination/__tests__/__snapshots__/demo.test.ts.snap
  components/pagination/__tests__/index.test.tsx
  components/pagination/__tests__/type.test.tsx
  components/pagination/demo/changer.md
  components/pagination/demo/changer.tsx
  components/pagination/demo/components.md
  components/pagination/demo/components.tsx
  components/pagination/index.en-US.md
  components/pagination/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(Slider): prevent duplicate focus and blur callbacks (#58711)
  components/slider/__tests__/index.test.tsx
  components/slider/__tests__/tooltip.test.tsx
  components/slider/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Anchor): avoid duplicate onChange with getCurrentAnchor
  components/anchor/Anchor.tsx
  components/anchor/__tests__/Anchor.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

perf(Typography): defer native ellipsis measurement until hover (#58806)
  components/typography/Base/index.tsx
  components/typography/__tests__/ellipsis.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: mask OTP values when mask is true (#58805)
  components/input/OTP/OTPInput.tsx
  components/input/__tests__/otp.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Input): correct OTP mask input type behavior
  components/input/OTP/OTPInput.tsx
  components/input/__tests__/otp.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Input): preserve OTP mask default type
  components/input/OTP/OTPInput.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: adapt test suites to jsdom 30
  .jest.image.js
  components/drawer/__tests__/Drawer.test.tsx
  components/table/__tests__/__snapshots__/vitest/empty.test.tsx.snap
  package.json
  tests/jestCodePreprocessor.js
Due: biome check --write --no-errors-on-unmatched, eslint
