Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

chore: update demo
  components/collapse/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/collapse/__tests__/__snapshots__/demo.test.ts.snap
  components/collapse/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor[Table]: Replace useMergedState to useControlledState (#55143)
  components/table/__tests__/Table.filter.test.tsx
  components/table/hooks/useSelection.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(descriptions): Support better customization with semantic classNames/styles (#55118)
  components/descriptions/Cell.tsx
  components/descriptions/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/descriptions/__tests__/__snapshots__/demo.test.ts.snap
  components/descriptions/__tests__/semantic.test.tsx
  components/descriptions/demo/style-class.md
  components/descriptions/demo/style-class.tsx
  components/descriptions/index.en-US.md
  components/descriptions/index.tsx
  components/descriptions/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: update demo
  components/qr-code/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/qr-code/__tests__/__snapshots__/demo.test.ts.snap
  components/qr-code/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update demo and snap
  components/qr-code/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/qr-code/__tests__/__snapshots__/demo.test.ts.snap
  components/qr-code/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(qr-code): Support better customization with semantic classNames/styles as function
  components/qr-code/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/qr-code/__tests__/__snapshots__/demo.test.ts.snap
  components/qr-code/__tests__/index.test.tsx
  components/qr-code/demo/style-class.md
  components/qr-code/demo/style-class.tsx
  components/qr-code/index.en-US.md
  components/qr-code/index.tsx
  components/qr-code/index.zh-CN.md
  components/qr-code/interface.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: update snap
  components/image/__tests__/__snapshots__/index.test.tsx.snap
  components/image/__tests__/__snapshots__/semantic.test.tsx.snap
  components/image/__tests__/index.test.tsx
  components/image/__tests__/semantic.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update test
  components/image/__tests__/__snapshots__/index.test.tsx.snap
  components/image/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(image): Support better customization with semantic classNames/styles as function
  components/image/PreviewGroup.tsx
  components/image/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/image/__tests__/__snapshots__/demo.test.ts.snap
  components/image/__tests__/__snapshots__/index.test.tsx.snap
  components/image/__tests__/index.test.tsx
  components/image/demo/_semantic.tsx
  components/image/demo/style-class.md
  components/image/demo/style-class.tsx
  components/image/index.en-US.md
  components/image/index.tsx
  components/image/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

update snap
  components/image/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/image/__tests__/__snapshots__/demo.test.ts.snap
  components/image/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update demo and snap
  components/image/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/image/__tests__/__snapshots__/demo.test.ts.snap
  components/image/demo/_semantic.tsx
  components/image/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update demo
  components/modal/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update demo
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/drawer/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: semantic of Descriptions
  components/descriptions/Cell.tsx
  components/descriptions/DescriptionsContext.ts
  components/descriptions/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/descriptions/__tests__/__snapshots__/demo.test.ts.snap
  components/descriptions/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update demo
  components/tour/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tour/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update demo and snap
  components/tour/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tour/__tests__/__snapshots__/demo.test.tsx.snap
  components/tour/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snap
  components/tour/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

feat(tour): Support better customization with semantic classNames/styles as function
  components/tour/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tour/__tests__/__snapshots__/demo.test.tsx.snap
  components/tour/__tests__/index.test.tsx
  components/tour/demo/style-class.md
  components/tour/demo/style-class.tsx
  components/tour/index.en-US.md
  components/tour/index.tsx
  components/tour/index.zh-CN.md
  components/tour/interface.ts
  components/tour/panelRender.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: update demo
  components/message/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/message/__tests__/__snapshots__/demo.test.ts.snap
  components/message/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(tree): Support better customization with semantic classNames/styles as function
  components/tree/Tree.tsx
  components/tree/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tree/__tests__/__snapshots__/demo.test.ts.snap
  components/tree/__tests__/index.test.tsx
  components/tree/demo/style-class.md
  components/tree/demo/style-class.tsx
  components/tree/index.en-US.md
  components/tree/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

update demo and snap
  components/tree/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tree/__tests__/__snapshots__/demo.test.ts.snap
  components/tree/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update demo
  components/tree/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tree/__tests__/__snapshots__/demo.test.ts.snap
  components/tree/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: add numeric input only support for OTP component
  components/input/OTP/index.tsx
  components/input/demo/otp.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

add test
  components/descriptions/Row.tsx
  components/descriptions/__tests__/semantic.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs(input.otp): document numeric-only prop
  components/input/demo/otp.md
  components/input/index.en-US.md
  components/input/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix
  components/descriptions/Cell.tsx
  components/descriptions/__tests__/index.test.tsx
  components/descriptions/__tests__/semantic.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/descriptions/Item.ts
  components/descriptions/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/descriptions/__tests__/__snapshots__/demo.test.ts.snap
  components/descriptions/index.tsx
  components/tooltip/UniqueProvider/MotionContent.tsx
  components/tooltip/UniqueProvider/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(otp-input): correct type handling for numeric-only input
  components/input/OTP/OTPInput.tsx
  components/input/OTP/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix
  components/descriptions/__tests__/semantic.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: improve OTP numeric keyboard handling
  components/input/OTP/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(otp-input): correct focus movement for non-numeric input
  components/input/OTP/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

site: use SWR, make response always fast and reactive (#55186)
  .dumi/hooks/useFetch/cache.ts
  .dumi/hooks/useFetch/index.ts
  .dumi/pages/index/components/BannerRecommends.tsx
  .dumi/pages/index/components/util.ts
  .dumi/theme/builtins/ResourceArticles/index.tsx
  .dumi/theme/common/ComponentChangelog/ComponentChangelog.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat(otp-input): rename prop numbersOnly -> numericOnly to align with naming guidelines
  components/input/OTP/index.tsx
  components/input/demo/otp.tsx
  components/input/index.en-US.md
  components/input/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test(input.otp): add tests for numericOnly
  components/input/__tests__/otp.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: Remove unwanted space in between arrow head and arrow body
  components/style/placementArrow.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(empty): Support better customization with semantic classNames/styles as function (#55007)
  components/empty/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/empty/__tests__/__snapshots__/demo.test.ts.snap
  components/empty/__tests__/index.test.tsx
  components/empty/demo/style-class.md
  components/empty/demo/style-class.tsx
  components/empty/index.en-US.md
  components/empty/index.tsx
  components/empty/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: update demo
  components/image/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/image/__tests__/__snapshots__/demo.test.ts.snap
  components/image/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: semantic of Descriptions (#55190)
  components/descriptions/Cell.tsx
  components/descriptions/DescriptionsContext.ts
  components/descriptions/Row.tsx
  components/descriptions/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/descriptions/__tests__/__snapshots__/demo.test.ts.snap
  components/descriptions/__tests__/index.test.tsx
  components/descriptions/__tests__/semantic.test.tsx
  components/descriptions/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint
