Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

Update components/image/style/index.ts
  components/image/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Image): add semantic root class/style to loading and improve percent safety
  components/image/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore(upload): remove unused tests and adjust implementation
  components/upload/__tests__/uploadlist.test.tsx
  components/upload/style/picture.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(locale): return tests
  components/locale/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

style(Image): improve code style and update loading description
  components/image/index.tsx
  components/image/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

refactor(Image): rename loading prop to progress to avoid native conflict
  components/image/demo/progress.tsx
  components/image/index.en-US.md
  components/image/index.tsx
  components/image/index.zh-CN.md
  components/image/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat(Image): add accessibility support for progress overlay
  components/image/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: use more friendly words (#57174)
  components/config-provider/__tests__/style.test.tsx
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
  components/table/demo/basic.tsx
  components/table/demo/ellipsis.tsx
  components/table/demo/jsx.tsx
  components/table/demo/pagination.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(Image): use design tokens for progress overlay styles
  components/image/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Image): use valid borderRadius token
  components/image/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(InputNumber): borderless variant doubled height (#57162)
  components/input-number/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input-number/__tests__/__snapshots__/demo.test.tsx.snap
  components/input-number/demo/borderless-height-debug.tsx
  components/input-number/index.en-US.md
  components/input-number/index.zh-CN.md
  components/input-number/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

refactor(Image): merge progress prop into placeholder for cleaner API
  components/image/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/image/__tests__/__snapshots__/demo.test.ts.snap
  components/image/demo/placeholder.tsx
  components/image/demo/progress.tsx
  components/image/index.en-US.md
  components/image/index.tsx
  components/image/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat(locale): override locale
  components/locale/es_US.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Image): add placeholder.progress for loading state display
  components/image/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/image/__tests__/__snapshots__/demo.test.ts.snap
  components/image/demo/placeholder.tsx
  components/image/index.en-US.md
  components/image/index.tsx
  components/image/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(Image): restore loading progress styles from feature-image-loading-clean-2
  components/image/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: fix type assertions for function-based classNames and styles
  components/card/__tests__/index.test.tsx
  components/checkbox/__tests__/semantic.test.tsx
  components/collapse/__tests__/semantic.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(Image): simplify placeholder API to inline progress config
  components/image/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: update check-site snapshot for Image component
  scripts/__snapshots__/check-site.ts.snap
Due: none

fix: remove &:empty
  components/upload/style/picture.ts
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(Image): improve progress placeholder rendering and styling
  components/image/demo/placeholder.tsx
  components/image/index.tsx
  components/image/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(Image): move text styles to progress-content container
  components/image/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snapshots for Image placeholder demo
  components/image/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/image/__tests__/__snapshots__/demo.test.ts.snap
Due: none

fix(upload): avoid picture-card list min height when empty (#57157)
  components/upload/style/picture.ts
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(Image): simplify progress rendering code
  components/image/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(Image): optimize progress styles to reduce bundle size
  components/image/index.tsx
  components/image/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Image): add progress-ink base class to ink elements
  components/image/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(Image): use nth-child selector for ink layers
  components/image/index.tsx
  components/image/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: update Image snapshots
  components/image/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/image/__tests__/__snapshots__/demo.test.ts.snap
Due: none

docs(Image): update placeholder demo description
  components/image/demo/placeholder.md
Due: prettier --ignore-unknown --write

refactor(Image): extract types and constants for code reuse
  components/image/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(Image): simplify keyframes and gradient definition
  components/image/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: add toHaveStyle jest matcher type and simplify Collapse test types
  components/card/__tests__/index.test.tsx
  components/collapse/__tests__/semantic.test.tsx
  typings/jest.d.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: fix parenthesis typo in `Form.useWatch` type
  components/form/index.zh-CN.md
Due: prettier --ignore-unknown --write

ci: skip persist image-snapshots
  .github/workflows/pr-auto-merge.yml
Due: prettier --ignore-unknown --write

test: fix types for semantic classNames and styles refactors
  components/card/__tests__/semantic.test.tsx
  components/checkbox/__tests__/semantic.test.tsx
  components/float-button/__tests__/semantic.test.tsx
  components/skeleton/__tests__/semantic.test.tsx
  components/steps/__tests__/semantic.test.tsx
  components/switch/__tests__/semantic.test.tsx
  components/time-picker/__tests__/semantic.test.tsx
  components/timeline/__tests__/semantic.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

ci: skip persist image-snapshots (#57181)
  .github/workflows/pr-auto-merge.yml
Due: prettier --ignore-unknown --write
