Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(FloatButton): correct BackTop progress ring rendering
  components/float-button/BackTop.tsx
  components/float-button/__tests__/back-top.test.tsx
  components/float-button/demo/progress-ring.tsx
  components/float-button/style/button.ts
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/_util/is.ts
  components/border-beam/BorderBeamEffect.tsx
  components/watermark/useSingletonCache.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: use merged delay values in mergedProps
  components/popover/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(utils): centralize guards function (#58897)
  components/_util/getScroll.ts
  components/_util/is.ts
  components/_util/scrollTo.ts
  components/border-beam/BorderBeamEffect.tsx
  components/upload/__tests__/upload.test.tsx
  components/watermark/useSingletonCache.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test(FloatButton): update progress ring demo snapshot
  components/float-button/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

fix: use merged delay values in mergedProps for Tooltip and Popconfirm
  components/popconfirm/index.tsx
  components/tooltip/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Tooltip/Popover/Popconfirm): support global mouseEnterDelay/mouseLeaveDelay via ConfigProvider (#58892)
  components/config-provider/__tests__/popup.test.tsx
  components/config-provider/context.ts
  components/popconfirm/index.tsx
  components/popover/index.tsx
  components/tooltip/index.tsx
  components/tooltip/shared/sharedProps.en-US.md
  components/tooltip/shared/sharedProps.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix lint error
  components/float-button/BackTop.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test(utils): remove obsolete getScroll regression test
  components/_util/__tests__/getScroll.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(utils): guard missing document constructor
  components/_util/__tests__/is.test.ts
  components/_util/is.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs(FloatButton): improve progress ring demo
  components/float-button/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/float-button/__tests__/__snapshots__/demo.test.ts.snap
  components/float-button/demo/progress-ring.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs(FloatButton): show progress ring immediately in demo
  components/float-button/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/float-button/demo/progress-ring.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

demo: update demo
  components/float-button/BackTop.tsx
  components/float-button/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/float-button/demo/back-top.tsx
  components/float-button/demo/progress-ring.tsx
  components/float-button/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

add useScroll hook
  components/float-button/BackTop.tsx
  components/float-button/hooks/useScroll.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Progress): add vertical mode support
  components/progress/Line.tsx
  components/progress/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/progress/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/progress/__tests__/__snapshots__/demo.test.ts.snap
  components/progress/__tests__/__snapshots__/index.test.tsx.snap
  components/progress/__tests__/index.test.tsx
  components/progress/demo/vertical.md
  components/progress/demo/vertical.tsx
  components/progress/index.en-US.md
  components/progress/index.zh-CN.md
  components/progress/progress.tsx
  components/progress/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(FloatButton): render progress ring on button border
  components/float-button/BackTop.tsx
  components/float-button/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/float-button/__tests__/back-top.test.tsx
  components/float-button/style/button.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: fix typos in code comment and docs
  components/_util/hooks/useMergeSemantic/index.ts
  docs/react/faq.en-US.md
  docs/spec/detail-page.en-US.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: fix typos in code comment and docs (#58901)
  components/_util/hooks/useMergeSemantic/index.ts
  docs/react/faq.en-US.md
  docs/spec/detail-page.en-US.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(DatePicker): pass props to RangePicker semantic callbacks
  components/date-picker/__tests__/semantic.test.tsx
  components/date-picker/generatePicker/generateRangePicker.tsx
  components/date-picker/hooks/useMergedPickerSemantic.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(DatePicker): pass props to RangePicker semantic callbacks (#58905)
  components/date-picker/__tests__/semantic.test.tsx
  components/date-picker/generatePicker/generateRangePicker.tsx
  components/date-picker/hooks/useMergedPickerSemantic.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Tree): align `selectable={false}` with disabled style in non-checkable mode
  components/tree/__tests__/index.test.tsx
  components/tree/style/index.ts
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add changelog 6.5.4
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: update
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

feat(Progress): use `orientation` as primary API, keep `vertical` as syntactic sugar
  components/progress/__tests__/__snapshots__/index.test.tsx.snap
  components/progress/__tests__/index.test.tsx
  components/progress/demo/vertical.md
  components/progress/demo/vertical.tsx
  components/progress/index.en-US.md
  components/progress/index.zh-CN.md
  components/progress/progress.tsx
  components/progress/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

refactor: address BackTop progress review feedback
  components/_util/__tests__/is.test.ts
  components/_util/is.ts
  components/float-button/__tests__/back-top.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(Pagination): refine custom size changer API
  components/pagination/Pagination.tsx
  components/pagination/__tests__/index.test.tsx
  components/pagination/__tests__/type.test.tsx
  components/pagination/demo/components.tsx
  components/pagination/index.en-US.md
  components/pagination/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: add changelog 6.5.4 (#58904)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: fix grammar in detail page spec
  docs/spec/detail-page.en-US.md
Due: prettier --ignore-unknown --write

docs: fix grammar in detail page spec (#58908)
  docs/spec/detail-page.en-US.md
Due: prettier --ignore-unknown --write

fix(Progress): drop redundant inline `width:100%` on line rail
  components/progress/Line.tsx
  components/progress/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/progress/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/progress/__tests__/__snapshots__/demo.test.ts.snap
  components/progress/__tests__/__snapshots__/index.test.tsx.snap
Due: biome check --write --no-errors-on-unmatched, eslint

feat: support custom components in Pagination (#58831)
  components/pagination/Pagination.tsx
  components/pagination/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/pagination/__tests__/__snapshots__/demo.test.ts.snap
  components/pagination/__tests__/index.test.tsx
  components/pagination/__tests__/type.test.tsx
  components/pagination/demo/components.md
  components/pagination/demo/components.tsx
  components/pagination/index.en-US.md
  components/pagination/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Update components/progress/index.en-US.md
  components/progress/index.en-US.md
Due: prettier --ignore-unknown --write

Update components/progress/index.zh-CN.md
  components/progress/index.zh-CN.md
Due: prettier --ignore-unknown --write

test(FloatButton): ignore progress ring demo snapshots
  components/float-button/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/float-button/__tests__/__snapshots__/demo.test.ts.snap
  components/float-button/__tests__/demo-extend.test.ts
  components/float-button/__tests__/demo.test.ts
  components/float-button/__tests__/image.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: support progress ring for FloatButton.BackTop (#58894)
  components/_util/__tests__/is.test.ts
  components/_util/is.ts
  components/float-button/BackTop.tsx
  components/float-button/__tests__/back-top.test.tsx
  components/float-button/__tests__/demo-extend.test.ts
  components/float-button/__tests__/demo.test.ts
  components/float-button/__tests__/image.test.ts
  components/float-button/demo/progress-ring.md
  components/float-button/demo/progress-ring.tsx
  components/float-button/hooks/useScroll.ts
  components/float-button/index.en-US.md
  components/float-button/index.tsx
  components/float-button/index.zh-CN.md
  components/float-button/style/button.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

type: homepage tweaks — dynamic contributor avatars, email fix & theme keyboard a11y
  .dumi/pages/index/components/PreviewPane/Components.tsx
  .dumi/pages/index/components/ThemePreview/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Progress): orient object strokeColor gradient along vertical direction
  components/progress/Line.tsx
  components/progress/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/progress/__tests__/__snapshots__/demo.test.ts.snap
  components/progress/__tests__/__snapshots__/index.test.tsx.snap
  components/progress/__tests__/index.test.tsx
  components/progress/demo/vertical.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Progress): warn & document that `steps` ignores vertical orientation
  components/progress/__tests__/index.test.tsx
  components/progress/index.en-US.md
  components/progress/index.zh-CN.md
  components/progress/progress.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
