Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

fix: zero runtime Input.Output (#54932)
  scripts/build-style.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(wave): make wave effect work with tailwind disabled variant
  components/_util/wave/index.ts
  components/switch/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(wave): make wave effect work with tailwind disabled variant (#54933)
  components/_util/wave/index.ts
  components/switch/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: update rc-menu snap
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/dropdown/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/dropdown/__tests__/__snapshots__/index.test.tsx.snap
  components/menu/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/menu/__tests__/__snapshots__/demo.test.tsx.snap
  components/menu/__tests__/__snapshots__/index.test.tsx.snap
Due: none

feat(calendar): Support better customization with semantic classNames/styles as function
  components/calendar/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/calendar/__tests__/__snapshots__/demo.test.ts.snap
  components/calendar/__tests__/index.test.tsx
  components/calendar/demo/style-class.md
  components/calendar/demo/style-class.tsx
  components/calendar/generateCalendar.tsx
  components/calendar/index.en-US.md
  components/calendar/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test: update layout snap
  components/layout/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/layout/__tests__/__snapshots__/demo.test.ts.snap
Due: none

test: update snap more
  components/breadcrumb/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/Table.filter.test.tsx.snap
  components/table/__tests__/__snapshots__/Table.rowSelection.test.tsx.snap
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/transfer/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

test: update snap button date-picker empty
  components/button/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/date-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/empty/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

test: update snapshot after rc-menu modification (#54934)
  components/breadcrumb/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/button/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/date-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/dropdown/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/dropdown/__tests__/__snapshots__/index.test.tsx.snap
  components/empty/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/layout/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/layout/__tests__/__snapshots__/demo.test.ts.snap
  components/menu/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/menu/__tests__/__snapshots__/demo.test.tsx.snap
  components/menu/__tests__/__snapshots__/index.test.tsx.snap
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/Table.filter.test.tsx.snap
  components/table/__tests__/__snapshots__/Table.rowSelection.test.tsx.snap
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/transfer/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

fix: Splitter can not drag in some case
  components/splitter/hooks/useSizes.ts
Due: biome check --write --no-errors-on-unmatched, eslint

add: snap
  components/splitter/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/splitter/__tests__/__snapshots__/demo.test.ts.snap
Due: none

chore: add debug demo
  components/splitter/demo/size-mix.tsx
  components/splitter/hooks/useSizes.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: size logic
  components/splitter/__tests__/demo-extend.test.ts
  components/splitter/__tests__/demo.test.ts
  components/splitter/__tests__/image.test.ts
  components/splitter/index.en-US.md
  components/splitter/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: adjust empty check logic
  components/splitter/hooks/useSizes.ts
Due: biome check --write --no-errors-on-unmatched, eslint

add llms doc
  docs/react/llms.en-US.md
  docs/react/llms.zh-CN.md
Due: prettier --ignore-unknown --write

chore: tmp of init
  components/splitter/demo/size-mix.tsx
  components/splitter/hooks/sizeUtil.ts
Due: biome check --write --no-errors-on-unmatched, eslint

Update docs/react/llms.zh-CN.md
  docs/react/llms.zh-CN.md
Due: prettier --ignore-unknown --write

Update docs/react/llms.en-US.md
  docs/react/llms.en-US.md
Due: prettier --ignore-unknown --write

update
  docs/react/llms.en-US.md
  docs/react/llms.zh-CN.md
Due: prettier --ignore-unknown --write

feat(tooltip): Support better customization with semantic classNames/styles as function
  components/tooltip/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tooltip/__tests__/__snapshots__/demo.test.tsx.snap
  components/tooltip/__tests__/tooltip.test.tsx
  components/tooltip/demo/style-class.md
  components/tooltip/demo/style-class.tsx
  components/tooltip/index.en-US.md
  components/tooltip/index.tsx
  components/tooltip/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: clean up
  components/splitter/__tests__/size.test.tsx
  components/splitter/demo/size-mix.tsx
  components/splitter/hooks/sizeUtil.ts
  components/splitter/hooks/useSizes.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: add quick avg
  components/splitter/hooks/sizeUtil.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: use blazediff instead of pixelmatch
  docs/blog/visual-regression.en-US.md
  docs/blog/visual-regression.zh-CN.md
  package.json
  scripts/visual-regression/build.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

add mcp
  docs/react/llms.en-US.md
  docs/react/llms.zh-CN.md
  docs/react/mcp.en-US.md
  docs/react/mcp.zh-CN.md
Due: prettier --ignore-unknown --write

Update docs/react/mcp.en-US.md
  docs/react/mcp.en-US.md
Due: prettier --ignore-unknown --write

Update docs/react/mcp.zh-CN.md
  docs/react/mcp.zh-CN.md
Due: prettier --ignore-unknown --write

chore: adjust logic
  components/splitter/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/splitter/__tests__/__snapshots__/demo.test.ts.snap
  components/splitter/demo/size-mix.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: isFinite logic
  components/splitter/SplitBar.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/splitter/SplitBar.tsx
  components/splitter/SplitBar.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: coverage
  components/splitter/__tests__/size.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: fix test
  components/splitter/__tests__/size.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint
