Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Revert "demo: implement image-image linear scaling" (#58292)
  components/image/demo/toolbarRender.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: correct Upload disabled API table (#58283)
  components/upload/index.en-US.md
  components/upload/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat(Select): support passing native props to search input
  components/auto-complete/AutoComplete.tsx
  components/auto-complete/__tests__/index.test.tsx
  components/select/__tests__/index.test.tsx
  components/select/index.en-US.md
  components/select/index.tsx
  components/select/index.zh-CN.md
  components/select/inputProps.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: add BorderBeam beamLength prop
  components/border-beam/BorderBeam.tsx
  components/border-beam/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/border-beam/__tests__/__snapshots__/demo.test.ts.snap
  components/border-beam/__tests__/index.test.tsx
  components/border-beam/demo/beam-length.md
  components/border-beam/demo/beam-length.tsx
  components/border-beam/index.en-US.md
  components/border-beam/index.zh-CN.md
  components/border-beam/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Update components/border-beam/index.en-US.md
  components/border-beam/index.en-US.md
Due: prettier --ignore-unknown --write

Update components/border-beam/index.zh-CN.md
  components/border-beam/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: update BorderBeam demo descriptions
  components/border-beam/demo/beam-length.md
  components/border-beam/index.en-US.md
  components/border-beam/index.zh-CN.md
Due: prettier --ignore-unknown --write

Fix typo in ConfigProvider.config() documentation
  components/config-provider/index.en-US.md
Due: prettier --ignore-unknown --write

docs: update CLI doc to match latest ant-design-cli (#58297)
  docs/react/cli.en-US.md
  docs/react/cli.zh-CN.md
  docs/react/mcp.en-US.md
  docs/react/mcp.zh-CN.md
Due: prettier --ignore-unknown --write

refactor: use cssinjs unit for BorderBeam length
  components/border-beam/BorderBeam.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

demo: fix Table column drag sorting indicator
  components/table/demo/drag-column-sorting.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(Descriptions): unify Row.tsx bordered paths so Cell.tsx no longer sniffs the branch
  components/descriptions/Cell.tsx
  components/descriptions/Row.tsx
  components/descriptions/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: fix typo in ConfigProvider.config() documentation (#58304)
  components/config-provider/index.en-US.md
Due: prettier --ignore-unknown --write

docs: sync missing version annotations in EN docs
  components/breadcrumb/index.en-US.md
  components/input-number/index.en-US.md
Due: prettier --ignore-unknown --write

fix: keep Tour previous button hover color readable
  components/tour/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

demo: update Alert action layout
  components/alert/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/alert/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/alert/__tests__/__snapshots__/demo.test.ts.snap
  components/alert/demo/_semantic.tsx
  components/alert/demo/action.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Alert): correct actions margin selector
  components/alert/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: remove unrelated formatting changes
  .github/copilot-instructions.md
  components/auto-complete/AutoComplete.tsx
  components/date-picker/__tests__/RangePicker.test.tsx
  components/drawer/Drawer.tsx
  components/input/Input.tsx
  components/input/OTP/index.tsx
  components/segmented/index.tsx
  components/select/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: reduce tour semantic preview height
  components/tour/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: stack vertical radio button group
  components/radio/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/radio/__tests__/__snapshots__/demo.test.tsx.snap
  components/radio/demo/radiogroup-more.tsx
  components/radio/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: use RadioGroupProps in radio demo
  components/radio/demo/radiogroup-more.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Radio): support badged vertical button groups
  components/radio/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Radio): align badged vertical button groups
  components/radio/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/radio/__tests__/__snapshots__/demo.test.tsx.snap
  components/radio/demo/badge.tsx
  components/radio/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: clarify Image movable behavior
  components/image/index.en-US.md
  components/image/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: clarify Image movable behavior (#58318)
  components/image/index.en-US.md
  components/image/index.zh-CN.md
Due: prettier --ignore-unknown --write

test: update snap
  scripts/__snapshots__/check-site.ts.snap
Due: none

test: update test snap
  scripts/__snapshots__/check-site.ts.snap
Due: none

docs: sync missing version annotations in EN docs (#58306)
  components/breadcrumb/index.en-US.md
  components/input-number/index.en-US.md
Due: prettier --ignore-unknown --write

fix: keep Tour previous button hover color readable (#58311)
  components/tour/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: stack vertical Radio button group (#58317)
  components/radio/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/radio/__tests__/__snapshots__/demo.test.tsx.snap
  components/radio/demo/badge.tsx
  components/radio/demo/radiogroup-more.tsx
  components/radio/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

demo: improve Alert action demo layout (#58313)
  components/alert/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/alert/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/alert/__tests__/__snapshots__/demo.test.ts.snap
  components/alert/demo/_semantic.tsx
  components/alert/demo/action.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: keep Popover/Popconfirm rendering when title or content is the number 0 (#58296)
  components/_util/getRenderPropValue.ts
  components/popconfirm/PurePanel.tsx
  components/popconfirm/__tests__/index.test.tsx
  components/popover/PurePanel.tsx
  components/popover/__tests__/index.test.tsx
  components/popover/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: update semantic demo snapshots
  components/image/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/tour/__tests__/__snapshots__/demo-semantic.test.tsx.snap
Due: none

feat: add BorderBeam lineWidth prop
  components/border-beam/BorderBeam.tsx
  components/border-beam/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/border-beam/__tests__/__snapshots__/demo.test.ts.snap
  components/border-beam/__tests__/index.test.tsx
  components/border-beam/demo/line-width.md
  components/border-beam/demo/line-width.tsx
  components/border-beam/index.en-US.md
  components/border-beam/index.zh-CN.md
  components/border-beam/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

update demo
  components/date-picker/demo/basic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update demo
  components/date-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/date-picker/__tests__/__snapshots__/demo.test.tsx.snap
  scripts/__snapshots__/check-site.ts.snap
Due: none

update
  components/date-picker/demo/basic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add missing space after period in Progress steps description
  components/progress/index.en-US.md
Due: prettier --ignore-unknown --write

docs: add missing article in Progress steps description
  components/progress/index.en-US.md
Due: prettier --ignore-unknown --write

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
