Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: 更新 5.25.5 更新日志，添加 Upload 和 Table 的新特性
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: 更新 5.26.0 更新日志，修复 ConfigProvider 和 Modal hooks 的相关问题
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: 修正 Table expandable 的描述格式
  CHANGELOG.en-US.md
Due: prettier --ignore-unknown --write

chore: adjust style
  components/timeline/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/timeline/__tests__/__snapshots__/demo.test.ts.snap
  components/timeline/demo/horizontal-debug.md
  components/timeline/demo/horizontal-debug.tsx
  components/timeline/index.en-US.md
  components/timeline/index.zh-CN.md
  components/timeline/style/horizontal.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

site: improve demo load expierence
  .dumi/theme/builtins/Previewer/CodePreviewer.tsx
  .dumi/theme/builtins/Previewer/DesignPreviewer.tsx
  .dumi/theme/builtins/Previewer/Previewer.tsx
  .dumi/theme/builtins/Previewer/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update CHANGELOG.zh-CN.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: 更新 5.26.0 更新日志，添加 ConfigProvider 和 Modal hooks 的修复说明
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: update doc
  components/timeline/demo/horizontal-debug.tsx
  components/timeline/demo/horizontal.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update CHANGELOG.en-US.md
  CHANGELOG.en-US.md
Due: prettier --ignore-unknown --write

docs: Update changelog for version 5.26.0
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

refactor: split Actions
  .dumi/theme/builtins/Previewer/Actions.tsx
  .dumi/theme/builtins/Previewer/CodePreviewer.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: Actions
  .dumi/theme/builtins/ComponentOverview/index.tsx
  .dumi/theme/builtins/Previewer/Actions.tsx
  .dumi/theme/builtins/Previewer/CodePreviewer.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

icons => 5.x
  .dumi/theme/builtins/Previewer/CodePreviewer.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: add suspense wrapper for Previewer Actions and update icons version
  .dumi/theme/builtins/Previewer/Actions.tsx
  .dumi/theme/builtins/Previewer/CodePreviewer.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: wrap Contributors with Suspense
  .dumi/theme/slots/Content/Contributors.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: Timeline support `orientation=horizontal` (#54031)
  components/steps/style/horizontal.ts
  components/timeline/Timeline.tsx
  components/timeline/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/timeline/__tests__/__snapshots__/demo.test.ts.snap
  components/timeline/demo/_semantic_item.tsx
  components/timeline/demo/horizontal-debug.md
  components/timeline/demo/horizontal-debug.tsx
  components/timeline/demo/horizontal.md
  components/timeline/demo/horizontal.tsx
  components/timeline/index.en-US.md
  components/timeline/index.zh-CN.md
  components/timeline/style/horizontal.ts
  components/timeline/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

refactor
  .dumi/theme/builtins/Previewer/Actions.tsx
  .dumi/theme/builtins/Previewer/CodePreviewer.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

site: add ga event
  .dumi/scripts/mirror-notify.js
Due: biome check --write --no-errors-on-unmatched, eslint

feat: update mirror notify click event tracking
  .dumi/scripts/mirror-notify.js
Due: biome check --write --no-errors-on-unmatched, eslint

site: refactor demo actions code (#54033)
  .dumi/theme/builtins/ComponentOverview/index.tsx
  .dumi/theme/builtins/Previewer/Actions.tsx
  .dumi/theme/builtins/Previewer/CodePreviewer.tsx
  .dumi/theme/builtins/Previewer/DesignPreviewer.tsx
  .dumi/theme/builtins/Previewer/Previewer.tsx
  .dumi/theme/builtins/Previewer/index.tsx
  .dumi/theme/slots/Content/Contributors.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update mirror notify click event tracking (#54037)
  .dumi/scripts/mirror-notify.js
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Dropdown.Button): deprecated in favor of Space.Compact + Dropdown + Button
  components/button/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/button/__tests__/__snapshots__/demo.test.ts.snap
  components/button/demo/multiple.md
  components/button/demo/multiple.tsx
  components/dropdown/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/dropdown/__tests__/__snapshots__/demo.test.tsx.snap
  components/dropdown/demo/dropdown-button.tsx
  components/dropdown/demo/icon-debug.tsx
  components/dropdown/demo/loading.md
  components/dropdown/demo/loading.tsx
  components/dropdown/dropdown-button.tsx
  components/dropdown/index.en-US.md
  components/dropdown/index.tsx
  components/dropdown/index.zh-CN.md
  scripts/__snapshots__/check-site.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat(Dropdown.Button): deprecated in favor of Space.Compact + Dropdown + Button (#53262)
  components/button/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/button/__tests__/__snapshots__/demo.test.ts.snap
  components/button/demo/multiple.md
  components/button/demo/multiple.tsx
  components/dropdown/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/dropdown/__tests__/__snapshots__/demo.test.tsx.snap
  components/dropdown/demo/dropdown-button.tsx
  components/dropdown/demo/icon-debug.tsx
  components/dropdown/demo/loading.md
  components/dropdown/demo/loading.tsx
  components/dropdown/dropdown-button.tsx
  components/dropdown/index.en-US.md
  components/dropdown/index.tsx
  components/dropdown/index.zh-CN.md
  scripts/__snapshots__/check-site.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test: test driven
  components/button/__tests__/index.test.tsx
  components/button/button.tsx
  components/button/demo/loading.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: lock for loading
  components/button/__tests__/index.test.tsx
  components/button/button.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: fix mirror notify click event tracking
  .dumi/scripts/mirror-notify.js
Due: biome check --write --no-errors-on-unmatched, eslint

update
  .dumi/scripts/mirror-notify.js
Due: biome check --write --no-errors-on-unmatched, eslint

add utm_source
  .dumi/scripts/mirror-notify.js
Due: biome check --write --no-errors-on-unmatched, eslint

Update .dumi/scripts/mirror-notify.js
  .dumi/scripts/mirror-notify.js
Due: biome check --write --no-errors-on-unmatched, eslint

Apply suggestions from code review
  .dumi/scripts/mirror-notify.js
Due: biome check --write --no-errors-on-unmatched, eslint

判断一下国内镜像快不快
  .dumi/scripts/mirror-notify.js
Due: biome check --write --no-errors-on-unmatched, eslint

chore: [v6] rm legacy Dropdown.Button component
  .dumi/pages/index/components/PreviewBanner/ComponentsBlock.tsx
  components/config-provider/__tests__/components.test.tsx
  components/dropdown/__tests__/dropdown-button.test.tsx
  components/dropdown/demo/dropdown-button.md
  components/dropdown/demo/icon-debug.md
  components/dropdown/index.en-US.md
  components/dropdown/index.tsx
  components/dropdown/index.zh-CN.md
  components/space/__tests__/space-compact.test.tsx
  components/space/demo/compact-debug.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: [v6] rm test snap
  components/button/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/button/__tests__/__snapshots__/demo.test.ts.snap
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/dropdown/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/dropdown/__tests__/__snapshots__/demo.test.tsx.snap
  components/dropdown/__tests__/__snapshots__/dropdown-button.test.tsx.snap
  components/dropdown/__tests__/image.test.ts
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
Due: biome check --write --no-errors-on-unmatched, eslint

chore(deps-dev): bump jest from 29 to 30
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

test: fix test case
  components/config-provider/__tests__/style.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

site: Replace twitter link to x
  .dumi/theme/slots/Footer/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: fix test case
  components/cascader/__tests__/__snapshots__/index.test.tsx.snap
  components/dropdown/__tests__/__snapshots__/index.test.tsx.snap
  components/menu/__tests__/__snapshots__/index.test.tsx.snap
  components/splitter/__tests__/index.test.tsx
  components/table/__tests__/__snapshots__/Table.rowSelection.test.tsx.snap
  tests/setup.ts
Due: biome check --write --no-errors-on-unmatched, eslint

site: Replace twitter link to x (#54044)
  .dumi/theme/slots/Footer/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
