Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

update
  components/config-provider/context.ts
  components/input/Search.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat： replase { margin: '0' } ->{ margin: 0 }
  components/divider/demo/component-token.tsx
  components/divider/demo/with-text.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Divider): unify orientation attribute usage (#53645)
  .dumi/theme/builtins/ResourceArticles/index.tsx
  components/badge/demo/colorful.tsx
  components/button/demo/debug-icon.tsx
  components/button/demo/icon-position.tsx
  components/button/demo/size.tsx
  components/collapse/demo/size.tsx
  components/color-picker/demo/panel-render.tsx
  components/config-provider/demo/direction.tsx
  components/config-provider/demo/locale.tsx
  components/divider/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/divider/__tests__/__snapshots__/demo.test.ts.snap
  components/divider/__tests__/index.test.tsx
  components/divider/demo/_semantic.tsx
  components/divider/demo/component-token.tsx
  components/divider/demo/customize-style.tsx
  components/divider/demo/plain.tsx
  components/divider/demo/vertical.md
  components/divider/demo/vertical.tsx
  components/divider/demo/with-text.md
  components/divider/demo/with-text.tsx
  components/divider/index.en-US.md
  components/divider/index.tsx
  components/divider/index.zh-CN.md
  components/divider/style/index.ts
  components/grid/demo/flex-align.tsx
  components/grid/demo/flex-order.tsx
  components/grid/demo/flex-stretch.tsx
  components/grid/demo/flex.tsx
  components/grid/demo/gutter.tsx
  components/list/demo/component-token.tsx
  components/list/demo/simple.tsx
  components/menu/demo/switch-mode.tsx
  components/skeleton/demo/_semantic_element.tsx
  components/space/demo/split.tsx
  components/tag/demo/colorful.tsx
  components/tag/demo/status.tsx
  components/tooltip/demo/colorful.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

update
  components/config-provider/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: motion configuration does not work properly
  components/config-provider/MotionWrapper.tsx
  components/config-provider/index.tsx
  components/modal/__tests__/confirm.test.tsx
  components/modal/__tests__/hook.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: update
  components/config-provider/MotionWrapper.tsx
  components/modal/__tests__/confirm.test.tsx
  components/modal/__tests__/hook.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: add MotionCacheContext
  components/config-provider/MotionWrapper.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(space): support separator and deprecate split
  components/space/Item.tsx
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
  components/space/__tests__/__snapshots__/index.test.tsx.snap
  components/space/__tests__/index.test.tsx
  components/space/demo/_semantic.tsx
  components/space/demo/separator.md
  components/space/demo/separator.tsx
  components/space/index.en-US.md
  components/space/index.tsx
  components/space/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

update snap
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

ci: update assignees for dependency upgrade PR
  .github/workflows/upgrade-deps.yml
Due: prettier --ignore-unknown --write

ci: update assignees for dependency upgrade PR (#53985)
  .github/workflows/upgrade-deps.yml
Due: prettier --ignore-unknown --write

feat: updata
  components/config-provider/MotionWrapper.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(space): support separator and deprecate split (#53983)
  components/space/Item.tsx
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
  components/space/__tests__/__snapshots__/index.test.tsx.snap
  components/space/__tests__/index.test.tsx
  components/space/demo/_semantic.tsx
  components/space/demo/separator.md
  components/space/demo/separator.tsx
  components/space/index.en-US.md
  components/space/index.tsx
  components/space/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

update
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat: input support semantic dom (#53958)
  components/button/__tests__/index.test.tsx
  components/button/button.tsx
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.tsx
  components/config-provider/index.zh-CN.md
  components/input/Input.tsx
  components/input/OTP/index.tsx
  components/input/Search.tsx
  components/input/TextArea.tsx
  components/input/__tests__/__snapshots__/index.test.tsx.snap
  components/input/__tests__/__snapshots__/textarea.test.tsx.snap
  components/input/__tests__/index.test.tsx
  components/input/__tests__/semantic.test.tsx
  components/input/__tests__/textarea.test.tsx
  components/input/demo/_semantic_otp.tsx
  components/input/demo/_semantic_password.tsx
  components/input/demo/_semantic_search.tsx
  components/input/demo/_semantic_textarea.tsx
  components/input/index.en-US.md
  components/input/index.zh-CN.md
  scripts/__snapshots__/check-site.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: update @rc-component/select dependency version to ~1.0.5
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

docs(select): update `onActive` props
  components/select/demo/basic.tsx
  components/select/index.en-US.md
  components/select/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: update snap
  components/pagination/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/pagination/__tests__/__snapshots__/demo.test.ts.snap
  components/pagination/__tests__/__snapshots__/index.test.tsx.snap
Due: none

chore: bump
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update
  components/select/index.en-US.md
  components/select/index.zh-CN.md
Due: prettier --ignore-unknown --write

chore: update
  components/select/demo/basic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update snap
  components/list/__tests__/__snapshots__/pagination.test.tsx.snap
Due: none

chore: bump rc-select
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore(config): remove HMR setting and update TypeScript exclusion rules in configuration files (#53989)
  mako.config.json
  scripts/tsconfig.json
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add semantic usage demo
  components/steps/index.tsx
  components/steps/style/inline.ts
  components/timeline/Timeline.tsx
  components/timeline/demo/semantic.md
  components/timeline/demo/semantic.tsx
  components/timeline/index.en-US.md
  components/timeline/index.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: items semantic
  .dumi/components/SemanticPreview/index.tsx
  components/table/demo/expand-sticky.tsx
  components/timeline/demo/_semantic.tsx
  components/timeline/demo/_semantic_item.tsx
  components/timeline/index.en-US.md
  components/timeline/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: stepsitems semantic
  components/steps/demo/_semantic_items.tsx
  components/steps/index.en-US.md
  components/steps/index.zh-CN.md
  components/timeline/demo/_semantic_items.tsx
  components/timeline/index.en-US.md
  components/timeline/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: fix lint
  components/steps/demo/_semantic_items.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore(deps): bump @rc-component/cascader to 1.3.1
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update snap
  components/cascader/__tests__/__snapshots__/index.test.tsx.snap
Due: none

fix: renderProps
  components/modal/confirm.tsx
  components/modal/useModal/HookModal.tsx
  components/modal/useModal/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: add test case
  components/modal/__tests__/hook.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore(deps): bump @rc-component/tree-select to 1.1.3
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update snap
  components/auto-complete/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/auto-complete/__tests__/__snapshots__/demo.test.tsx.snap
  components/cascader/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/cascader/__tests__/__snapshots__/demo.test.tsx.snap
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/config-provider/__tests__/__snapshots__/popup.test.tsx.snap
  components/empty/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/empty/__tests__/__snapshots__/demo.test.ts.snap
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
  components/form/__tests__/__snapshots__/index.test.tsx.snap
  components/input-number/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input-number/__tests__/__snapshots__/demo.test.tsx.snap
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/select/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/select/__tests__/__snapshots__/demo.test.tsx.snap
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
  components/tree-select/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tree-select/__tests__/__snapshots__/demo.test.tsx.snap
  components/tree-select/__tests__/__snapshots__/index.test.tsx.snap
Due: none

chore: simplify code
  components/modal/__tests__/hook.test.tsx
  components/modal/useModal/HookModal.tsx
  components/modal/useModal/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update size.tsx
  components/splitter/demo/size.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: Modal hooks with render function (#53994)
  components/modal/__tests__/hook.test.tsx
  components/modal/confirm.tsx
  components/modal/useModal/HookModal.tsx
  components/modal/useModal/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: fix lint
  components/timeline/demo/_semantic_items.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
