Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

docs: explain renderable content behavior in FAQ (#59192)
  docs/react/faq.en-US.md
  docs/react/faq.zh-CN.md
Due: prettier --ignore-unknown --write

fix(ColorPicker): disable interactions when disabled
  components/color-picker/ColorPickerPanel.tsx
  components/color-picker/__tests__/__snapshots__/index.test.tsx.snap
  components/color-picker/__tests__/components.test.tsx
  components/color-picker/__tests__/index.test.tsx
  components/color-picker/components/ColorClear.tsx
  components/color-picker/components/ColorTrigger.tsx
  components/color-picker/style/index.ts
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
  components/form/__tests__/__snapshots__/index.test.tsx.snap
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Input.Password): respect controlled visibility state (#59168)
  components/input/Password.tsx
  components/input/__tests__/Password.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Table): support empty string values in tree filters (#59141)
  components/table/__tests__/Table.filter.test.tsx
  components/table/hooks/useFilter/FilterDropdown.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(BorderBeam): use items for per-beam configuration
  components/border-beam/BorderBeam.tsx
  components/border-beam/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/border-beam/__tests__/__snapshots__/demo.test.ts.snap
  components/border-beam/__tests__/index.test.tsx
  components/border-beam/demo/count.md
  components/border-beam/demo/count.tsx
  components/border-beam/index.en-US.md
  components/border-beam/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(Radio): avoid duplicate screen reader stop for text labels
  components/checkbox/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/checkbox/__tests__/__snapshots__/demo.test.tsx.snap
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/descriptions/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/descriptions/__tests__/__snapshots__/demo.test.ts.snap
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/drawer/__tests__/__snapshots__/demo.test.ts.snap
  components/flex/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/flex/__tests__/__snapshots__/demo.test.ts.snap
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
  components/form/__tests__/__snapshots__/index.test.tsx.snap
  components/radio/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/radio/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/radio/__tests__/__snapshots__/demo.test.tsx.snap
  components/radio/__tests__/__snapshots__/group.test.tsx.snap
  components/radio/__tests__/__snapshots__/radio-button.test.tsx.snap
  components/radio/__tests__/__snapshots__/radio.test.tsx.snap
  components/radio/__tests__/radio.test.tsx
  components/radio/radio.tsx
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
  components/splitter/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/splitter/__tests__/__snapshots__/demo.test.ts.snap
  components/steps/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/steps/__tests__/__snapshots__/demo.test.ts.snap
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
  components/timeline/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/timeline/__tests__/__snapshots__/demo.test.ts.snap
  components/typography/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/typography/__tests__/__snapshots__/demo.test.tsx.snap
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Radio): detect a custom ARIA label by value
  components/radio/__tests__/radio.test.tsx
  components/radio/radio.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test(Radio): cover the numeric label branch
  components/radio/__tests__/radio.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Radio): support Radio.Group size for default Radio options
  components/radio/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/radio/__tests__/__snapshots__/demo.test.tsx.snap
  components/radio/__tests__/group.test.tsx
  components/radio/demo/size.tsx
  components/radio/index.en-US.md
  components/radio/index.zh-CN.md
  components/radio/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Update tree titles to reflect suppliers
  components/tree-select/demo/basic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: Listy support scrollWidth
  components/listy/__tests__/demo-extend.test.ts
  components/listy/__tests__/demo.test.ts
  components/listy/demo/horizontal.md
  components/listy/demo/horizontal.tsx
  components/listy/index.en-US.md
  components/listy/index.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test(Radio): update the remaining demo snapshots
  components/button/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/button/__tests__/__snapshots__/demo.test.ts.snap
  components/calendar/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/calendar/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/calendar/__tests__/__snapshots__/demo.test.ts.snap
  components/calendar/__tests__/__snapshots__/index.test.tsx.snap
  components/carousel/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/carousel/__tests__/__snapshots__/demo.test.ts.snap
  components/cascader/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/cascader/__tests__/__snapshots__/demo.test.tsx.snap
  components/date-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/date-picker/__tests__/__snapshots__/demo.test.tsx.snap
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/list/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/list/__tests__/__snapshots__/demo.test.ts.snap
  components/locale/__tests__/__snapshots__/index.test.tsx.snap
  components/select/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/select/__tests__/__snapshots__/demo.test.tsx.snap
  components/skeleton/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/skeleton/__tests__/__snapshots__/demo.test.tsx.snap
  components/tabs/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tabs/__tests__/__snapshots__/demo.test.ts.snap
  components/tree-select/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tree-select/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

refactor(BorderBeam): simplify item config handling
  components/border-beam/BorderBeam.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: bump antd.min.js size-limit to 445 KiB
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat: add class-component regression guard script
  scripts/check-class-component.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: wire lint:class into lint chain
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat(BorderBeam): support individual beam configuration (#59095)
  components/border-beam/BorderBeam.tsx
  components/border-beam/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/border-beam/__tests__/__snapshots__/demo.test.ts.snap
  components/border-beam/__tests__/index.test.tsx
  components/border-beam/demo/count.md
  components/border-beam/demo/count.tsx
  components/border-beam/index.en-US.md
  components/border-beam/index.tsx
  components/border-beam/index.zh-CN.md
  components/index.ts
  package.json
  scripts/__snapshots__/check-site.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: Listy support scrollWidth (#59197)
  components/listy/__tests__/demo-extend.test.ts
  components/listy/__tests__/demo.test.ts
  components/listy/demo/horizontal.md
  components/listy/demo/horizontal.tsx
  components/listy/index.en-US.md
  components/listy/index.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(Table): preserve filters on hidden responsive columns
  components/table/InternalTable.tsx
  components/table/__tests__/Table.filter.test.tsx
  components/table/hooks/useFilter/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: fix brand icon variants falling into general category on Icons page
  .dumi/theme/builtins/IconSearch/fields.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: also sort Sketch brand icon variants into brand category
  .dumi/theme/builtins/IconSearch/fields.ts
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: update isReactRenderable import to @rc-component/util
  components/avatar/Avatar.tsx
  components/message/PurePanel.tsx
  components/modal/shared.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: update isReactRenderable import to @rc-component/util
  components/descriptions/index.tsx
  components/tabs/index.tsx
  components/typography/Base/util.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(message): restore RcNotificationProps type import in PurePanel
  components/message/PurePanel.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: fix brand icon variants falling into general category on Icons page (#59200)
  .dumi/theme/builtins/IconSearch/fields.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: mark mask object fields optional in Modal zh-CN doc
  components/modal/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: add Listy to ConfigProvider component config
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: add Listy to ConfigProvider component config (#59202)
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: mark mask object fields optional in Modal zh-CN doc (#59201)
  components/modal/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix(Select): migrate demo suffix usage
  components/select/demo/clear-suffix-debug.tsx
  components/select/demo/maxCount.tsx
  components/select/demo/suffix.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(AutoComplete): preserve legacy suffixIcon support
  components/auto-complete/AutoComplete.tsx
  components/auto-complete/__tests__/index.test.tsx
  components/auto-complete/index.en-US.md
  components/auto-complete/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

site: fix light/dark switcher icon alignment in theme editor
  .dumi/pages/theme-editor/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

site: zero out Segmented icon margin in theme editor instead
  .dumi/pages/theme-editor/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

site: drop comment in theme editor icon fix
  .dumi/pages/theme-editor/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add missing es_US and sq_AL locales to i18n docs
  docs/react/i18n.en-US.md
  docs/react/i18n.zh-CN.md
Due: prettier --ignore-unknown --write

fix(Select): migrate suffixIcon API to suffix
  components/auto-complete/AutoComplete.tsx
  components/auto-complete/__tests__/index.test.tsx
  components/auto-complete/index.en-US.md
  components/auto-complete/index.zh-CN.md
  components/cascader/__tests__/index.test.tsx
  components/cascader/__tests__/type.test.tsx
  components/cascader/demo/suffix.md
  components/cascader/demo/suffix.tsx
  components/cascader/index.en-US.md
  components/cascader/index.tsx
  components/cascader/index.zh-CN.md
  components/config-provider/context.ts
  components/config-provider/demo/direction.tsx
  components/select/__tests__/index.test.tsx
  components/select/demo/suffix.md
  components/select/index.en-US.md
  components/select/index.tsx
  components/select/index.zh-CN.md
  components/select/useIcons.tsx
  components/select/useShowArrow.ts
  components/tree-select/__tests__/index.test.tsx
  components/tree-select/demo/maxCount.tsx
  components/tree-select/demo/maxCountNoEffect.tsx
  components/tree-select/demo/suffix.md
  components/tree-select/demo/suffix.tsx
  components/tree-select/index.en-US.md
  components/tree-select/index.tsx
  components/tree-select/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat(Tooltip): enable autoAdjustOverflow for angular placements
  components/_util/__tests__/placements.test.ts
  components/_util/placements.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: align popupRender behavior, types, and docs
  components/auto-complete/AutoComplete.tsx
  components/auto-complete/index.en-US.md
  components/auto-complete/index.zh-CN.md
  components/cascader/index.en-US.md
  components/cascader/index.tsx
  components/cascader/index.zh-CN.md
  components/dropdown/dropdown.tsx
  components/menu/index.en-US.md
  components/menu/index.zh-CN.md
  components/select/index.en-US.md
  components/select/index.tsx
  components/select/index.zh-CN.md
  components/tree-select/index.en-US.md
  components/tree-select/index.tsx
  components/tree-select/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write
