Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test: Modal test afterClose
  components/modal/__tests__/Modal.test.tsx
  components/modal/__tests__/hook.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

build: restore
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/modal/index.en-US.md
  components/modal/index.en-US.md
Due: prettier --ignore-unknown --write

fix: lint
  components/_util/ActionButton.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: Pass onClose via Context
  components/modal/ConfirmDialog.tsx
  components/modal/components/ConfirmCancelBtn.tsx
  components/modal/components/ConfirmOkBtn.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update Table doc
  components/table/index.en-US.md
  components/table/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: changelog 5.27.0
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: fix typo
  CHANGELOG.en-US.md
Due: prettier --ignore-unknown --write

feat(Breadcrumb): support dropdownIcon props global config
  components/breadcrumb/Breadcrumb.tsx
  components/breadcrumb/BreadcrumbItem.tsx
  components/breadcrumb/__tests__/Breadcrumb.test.tsx
  components/breadcrumb/index.en-US.md
  components/breadcrumb/index.zh-CN.md
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat(Breadcrumb): support separator global config
  components/breadcrumb/Breadcrumb.tsx
  components/breadcrumb/__tests__/Breadcrumb.test.tsx
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.tsx
  components/config-provider/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: resetProps -> restProps
  components/modal/ConfirmDialog.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat[Modal]: add onClose into closable (#54607)
  components/modal/ConfirmDialog.tsx
  components/modal/Modal.tsx
  components/modal/__tests__/Modal.test.tsx
  components/modal/__tests__/hook.test.tsx
  components/modal/components/ConfirmCancelBtn.tsx
  components/modal/components/ConfirmOkBtn.tsx
  components/modal/index.en-US.md
  components/modal/index.zh-CN.md
  components/modal/interface.ts
  package.json
  scripts/__snapshots__/check-site.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: Add onClose into closable
  components/notification/PurePanel.tsx
  components/notification/__tests__/index.test.tsx
  components/notification/index.en-US.md
  components/notification/index.zh-CN.md
  components/notification/interface.ts
  components/notification/useNotification.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: update site snap
  scripts/__snapshots__/check-site.ts.snap
Due: none

Update CHANGELOG.zh-CN.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

Update components/notification/index.en-US.md
  components/notification/index.en-US.md
Due: prettier --ignore-unknown --write

docs: update
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

feat: Blur Effect Mask for Modal/Drawer/Image
  components/drawer/style/index.ts
  components/image/style/index.ts
  components/modal/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: correct the jsdoc description of WaveConfig
  components/config-provider/context.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update Table doc (#54642)
  components/table/index.en-US.md
  components/table/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix: update jsdoc to clarify wave effect disabling
  components/config-provider/context.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update
  CHANGELOG.en-US.md
Due: prettier --ignore-unknown --write

fix: Exclude disable from Closable
  components/notification/interface.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: changelog 5.27.0 (#54643)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: Adjust code style
  components/notification/PurePanel.tsx
  components/notification/interface.ts
  components/notification/useNotification.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: improve Drawer resizable logic and demos
  components/drawer/ResizeHandle.tsx
  components/drawer/__tests__/Drawer.test.tsx
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/drawer/__tests__/__snapshots__/demo.test.ts.snap
  components/drawer/demo/resizable.md
  components/drawer/demo/resizable.tsx
  components/drawer/hooks/useResizable.ts
  components/drawer/index.tsx
  components/drawer/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: update docs
  components/upload/index.en-US.md
  components/upload/index.zh-CN.md
Due: prettier --ignore-unknown --write

chore: add inquirer to skip CI
  scripts/pre-publish.ts
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: mergedClosable
  components/notification/PurePanel.tsx
  components/notification/useNotification.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: correct the JSDoc description of WaveConfig (#54647)
  components/config-provider/context.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat[Notification]: Add onClose into closable (#54645)
  components/notification/PurePanel.tsx
  components/notification/__tests__/index.test.tsx
  components/notification/index.en-US.md
  components/notification/index.zh-CN.md
  components/notification/interface.ts
  components/notification/useNotification.tsx
  package.json
  scripts/__snapshots__/check-site.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

refactor[Modal]: use mergedClosable
  components/modal/Modal.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix[Modal]: refine closable type handling and conditional rendering logic(#54651)
  components/modal/Modal.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: Low coverage caused by closable
  components/modal/__tests__/Modal.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: notification coverage
  components/notification/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/notification/__tests__/index.test.tsx
  components/notification/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: null
  components/notification/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: PurePanel closable
  components/notification/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
