Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

fix(Select): fix label not hiding when visibility is set to hidden (#56720)
  components/select/style/select-input.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(select): use inset: 0 for single-mode input positioning to fix flicker bug in Firefox (#57030)
  components/select/style/select-input.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: improve mountTest and rtlTest coverage
  components/affix/__tests__/Affix.test.tsx
  components/alert/__tests__/index.test.tsx
  components/anchor/__tests__/Anchor.test.tsx
  components/anchor/__tests__/__snapshots__/Anchor.test.tsx.snap
  components/auto-complete/__tests__/semantic.test.tsx
  components/collapse/__tests__/__snapshots__/index.test.tsx.snap
  components/collapse/__tests__/index.test.tsx
  components/color-picker/__tests__/semantic.test.tsx
  components/divider/__tests__/semantic.test.tsx
  components/image/__tests__/semantic.test.tsx
  components/masonry/__tests__/__snapshots__/index.test.tsx.snap
  components/masonry/__tests__/index.test.tsx
  components/pagination/__tests__/semantic.test.tsx
  components/popconfirm/__tests__/semantic.test.tsx
  components/radio/__tests__/__snapshots__/radio-button.test.tsx.snap
  components/radio/__tests__/radio-button.test.tsx
  components/splitter/__tests__/__snapshots__/index.test.tsx.snap
  components/splitter/__tests__/index.test.tsx
  components/table/__tests__/semantic.test.tsx
  components/tabs/__tests__/semantic.test.tsx
  components/tree/__tests__/semantic.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: remove obsolete snapshots from semantic test files
  components/color-picker/__tests__/__snapshots__/semantic.test.tsx.snap
  components/pagination/__tests__/__snapshots__/semantic.test.tsx.snap
  components/popconfirm/__tests__/__snapshots__/semantic.test.tsx.snap
Due: none

test: update snapshot
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

test: update snapshot
  components/auto-complete/__tests__/__snapshots__/semantic.test.tsx.snap
  components/image/__tests__/__snapshots__/semantic.test.tsx.snap
  components/tabs/__tests__/__snapshots__/semantic.test.tsx.snap
Due: none

Delete SNAPSHOT_TEST_INFO.md
  SNAPSHOT_TEST_INFO.md
Due: prettier --ignore-unknown --write

Delete SOLUTION_SUMMARY.md
  SOLUTION_SUMMARY.md
Due: prettier --ignore-unknown --write

Apply suggestions from code review
  components/tree/index.en-US.md
Due: prettier --ignore-unknown --write

Update components/tree/index.zh-CN.md
  components/tree/index.zh-CN.md
Due: prettier --ignore-unknown --write

revert test case
  components/tabs/__tests__/semantic.test.tsx
  components/tree/__tests__/semantic.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(form): use render props pattern for compound form controls in register demo (#57066)
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
  components/form/demo/register.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: demo warning
  components/tree/demo/line-debug.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

type: improve All component semantic type by Alert/Splitter/Image/Select/AutoComplete/Cascader (#56854)
  components/_util/__tests__/semanticType.test.ts
  components/_util/__tests__/useMergeSemantic.test.tsx
  components/_util/__tests__/useMergeSemanticNew.test.tsx
  components/_util/hooks/useMergeSemanticNew/index.ts
  components/_util/hooks/useMergeSemanticNew/semanticType.ts
  components/_util/hooks/useMergeSemanticNew/utils.ts
  components/alert/Alert.tsx
  components/alert/demo/style-class.tsx
  components/alert/index.tsx
  components/auto-complete/AutoComplete.tsx
  components/auto-complete/demo/style-class.tsx
  components/auto-complete/index.tsx
  components/cascader/demo/style-class.tsx
  components/cascader/index.tsx
  components/image/PreviewGroup.tsx
  components/image/demo/style-class.tsx
  components/image/index.tsx
  components/index.ts
  components/select/__tests__/semantic.test.tsx
  components/select/demo/style-class.tsx
  components/select/index.tsx
  components/splitter/SplitBar.tsx
  components/splitter/Splitter.tsx
  components/splitter/__tests__/index.test.tsx
  components/splitter/__tests__/semantic.test.tsx
  components/splitter/demo/style-class.tsx
  components/splitter/index.tsx
  components/splitter/interface.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: improve mountTest and rtlTest coverage (#57067)
  components/affix/__tests__/Affix.test.tsx
  components/alert/__tests__/index.test.tsx
  components/anchor/__tests__/Anchor.test.tsx
  components/anchor/__tests__/__snapshots__/Anchor.test.tsx.snap
  components/auto-complete/__tests__/__snapshots__/semantic.test.tsx.snap
  components/auto-complete/__tests__/semantic.test.tsx
  components/collapse/__tests__/__snapshots__/index.test.tsx.snap
  components/collapse/__tests__/index.test.tsx
  components/color-picker/__tests__/__snapshots__/semantic.test.tsx.snap
  components/color-picker/__tests__/semantic.test.tsx
  components/divider/__tests__/semantic.test.tsx
  components/image/__tests__/__snapshots__/semantic.test.tsx.snap
  components/image/__tests__/semantic.test.tsx
  components/masonry/__tests__/__snapshots__/index.test.tsx.snap
  components/masonry/__tests__/index.test.tsx
  components/pagination/__tests__/__snapshots__/semantic.test.tsx.snap
  components/pagination/__tests__/semantic.test.tsx
  components/popconfirm/__tests__/__snapshots__/semantic.test.tsx.snap
  components/popconfirm/__tests__/semantic.test.tsx
  components/radio/__tests__/__snapshots__/radio-button.test.tsx.snap
  components/radio/__tests__/radio-button.test.tsx
  components/splitter/__tests__/__snapshots__/index.test.tsx.snap
  components/splitter/__tests__/index.test.tsx
  components/table/__tests__/semantic.test.tsx
  components/tabs/__tests__/__snapshots__/semantic.test.tsx.snap
  components/tabs/__tests__/semantic.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: update snap
  components/tree/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tree/__tests__/__snapshots__/demo.test.ts.snap
Due: none

fix: update snap
  components/tree/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

fix(Tree): showLine alignment with custom titleHeight (#56785)
  components/tree/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tree/__tests__/__snapshots__/demo.test.ts.snap
  components/tree/demo/line-debug.md
  components/tree/demo/line-debug.tsx
  components/tree/index.en-US.md
  components/tree/index.zh-CN.md
  components/tree/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: upgrade deps
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat: reset
  components/_util/__tests__/semanticType.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: type
  components/divider/demo/style-class.tsx
  components/menu/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: reset
  components/tree-select/__tests__/__snapshots__/demo-semantic.test.tsx.snap
Due: none

feat(ConfigProvider): support datePicker.allowClear config
  docs/react/customize-icons/bootstrap-icons.tsx
  docs/react/customize-icons/unicorn-icons.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: remove stub @types/tar
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: remove stub @types/tar (#57071)
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat(RangePicker): RangePicker supports allowClear, clearIcon, suffixIcon from ConfigProvider
  components/date-picker/generatePicker/generateRangePicker.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

site: Resolve auto-scroll issue in AI theme chat (#57063)
  .dumi/theme/common/ThemeSwitch/PromptDrawer.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add YouMind as sponsor
  README-zh_CN.md
  README.md
  docs/react/sponsor.en-US.md
  docs/react/sponsor.zh-CN.md
Due: prettier --ignore-unknown --write

fix: adjust YouMind logo height to match other sponsors
  README-zh_CN.md
  README.md
  docs/react/sponsor.en-US.md
  docs/react/sponsor.zh-CN.md
Due: prettier --ignore-unknown --write

chore: use unpkg for LobeHub logo
  README-zh_CN.md
  README.md
  docs/react/sponsor.en-US.md
  docs/react/sponsor.zh-CN.md
Due: prettier --ignore-unknown --write

style: set logo width and height to 128
  README-zh_CN.md
  README.md
  docs/react/sponsor.en-US.md
  docs/react/sponsor.zh-CN.md
Due: prettier --ignore-unknown --write

fix: use lobehub-color.svg for LobeHub logo
  README-zh_CN.md
  README.md
  docs/react/sponsor.en-US.md
  docs/react/sponsor.zh-CN.md
Due: prettier --ignore-unknown --write

fix: update YouMind logo to use official PNG
  README-zh_CN.md
  README.md
  docs/react/sponsor.en-US.md
  docs/react/sponsor.zh-CN.md
Due: prettier --ignore-unknown --write

style: unify sponsor logo format with width and height 128
  README-zh_CN.md
  README.md
  docs/react/sponsor.en-US.md
  docs/react/sponsor.zh-CN.md
Due: prettier --ignore-unknown --write

a11y: add alt attribute to sponsor logo images
  README-zh_CN.md
  README.md
  docs/react/sponsor.en-US.md
  docs/react/sponsor.zh-CN.md
Due: prettier --ignore-unknown --write

style: format sponsor logos with line breaks for readability
  README-zh_CN.md
  README.md
  docs/react/sponsor.en-US.md
  docs/react/sponsor.zh-CN.md
Due: prettier --ignore-unknown --write

docs: add YouMind as sponsor (#57079)
  README-zh_CN.md
  README.md
  docs/react/sponsor.en-US.md
  docs/react/sponsor.zh-CN.md
Due: prettier --ignore-unknown --write

chore: add explicit permissions to workflows
  .github/workflows/issue-schedule.yml
  .github/workflows/mock-project-build.yml
  .github/workflows/pkg.pr.new.yml
  .github/workflows/release-x.yml
Due: prettier --ignore-unknown --write
