Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

chore: update docs
  components/modal/index.en-US.md
  components/modal/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix(Button): solid variant borders inside Space Compact
  components/button/style/compact.ts
Due: biome check --write --no-errors-on-unmatched, eslint

site(type): update any to SenderRef
  .dumi/theme/common/ThemeSwitch/PromptDrawer.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: ConfigProvider support pagination.totalBoundaryShowSizeChanger (#56475)
  components/config-provider/__tests__/pagination.test.tsx
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
  components/pagination/Pagination.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

ci: update runner image to ubuntu-latest
  .github/workflows/site-deploy.yml
Due: prettier --ignore-unknown --write

ci: update runner image to ubuntu-latest (#56488)
  .github/workflows/site-deploy.yml
Due: prettier --ignore-unknown --write

feat: configProvider support totalBoundaryShowSizeChanger (#56475)
  components/config-provider/__tests__/pagination.test.tsx
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
  components/pagination/Pagination.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: totalBoundaryShowSizeChanger for Pagination
  components/pagination/index.en-US.md
  components/pagination/index.zh-CN.md
Due: prettier --ignore-unknown --write

site(types): update any to SenderRef (#56487)
  .dumi/theme/common/ThemeSwitch/PromptDrawer.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: upgrade deps
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/select/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/form/index.tsx
  components/skeleton/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/form/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(ConfigProvider): use correct cssVar key for icon styles
  components/config-provider/__tests__/cssinjs.test.tsx
  components/config-provider/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Avatar): size default to 'medium' instead of 'middle'
  components/avatar/Avatar.tsx
  components/avatar/AvatarGroup.tsx
  components/avatar/index.en-US.md
  components/avatar/index.zh-CN.md
  components/config-provider/SizeContext.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(Button): types
  components/button/Button.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(Avatar): deprecate 'default' size in favor of 'medium' and update demo accordingly
  components/avatar/AvatarContext.ts
  components/avatar/demo/toggle-debug.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(ConfigProvider): support rangePicker.separator config
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
  components/date-picker/generatePicker/generateRangePicker.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

revert: rollback type definitions to original types
  components/_util/type.ts
  components/calendar/generateCalendar.tsx
  components/date-picker/generatePicker/interface.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: add merge locale test
  components/calendar/__tests__/index.test.tsx
  components/date-picker/__tests__/DatePicker.test.tsx
  components/date-picker/__tests__/RangePicker.test.tsx
  components/date-picker/generatePicker/generateSinglePicker.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snapshots
  components/date-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/date-picker/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

fix: type
  components/date-picker/__tests__/DatePicker.test.tsx
  components/date-picker/__tests__/RangePicker.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: Modal support focusable (#56500)
  components/drawer/index.tsx
  components/drawer/useFocusable.ts
  components/modal/ConfirmDialog.tsx
  components/modal/Modal.tsx
  components/modal/__tests__/Modal.test.tsx
  components/modal/__tests__/confirm.test.tsx
  components/modal/index.en-US.md
  components/modal/index.zh-CN.md
  components/modal/interface.ts
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test: add test case
  components/modal/Modal.tsx
  components/modal/__tests__/Modal.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: fix lint
  components/modal/__tests__/Modal.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snapshopt
  components/date-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/date-picker/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

chore: add deprecated warning for Modal (#56507)
  components/modal/Modal.tsx
  components/modal/__tests__/Modal.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: update test case
  components/calendar/__tests__/index.test.tsx
  components/date-picker/__tests__/DatePicker.test.tsx
  components/date-picker/__tests__/RangePicker.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: fix ci
  components/list/demo/loadmore.tsx
  components/list/demo/virtual-list.tsx
  components/select/demo/select-users.tsx
  components/table/demo/ajax.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Fix a11y: remove redundant alt text from component icon
  .dumi/theme/builtins/ComponentOverview/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: fix ci (#56509)
  components/list/demo/loadmore.tsx
  components/list/demo/virtual-list.tsx
  components/select/demo/select-users.tsx
  components/table/demo/ajax.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: adjust limit
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: try optimize
  components/config-provider/hooks/useTheme.ts
  components/theme/useToken.ts
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/date-picker/generatePicker/index.tsx
  components/date-picker/generatePicker/interface.ts
  components/date-picker/index.tsx
  components/grid/row.tsx
  components/image/index.tsx
  components/index.ts
  components/popconfirm/index.tsx
  components/progress/progress.tsx
  components/qr-code/index.tsx
  components/select/index.tsx
  components/time-picker/index.tsx
  components/timeline/Timeline.tsx
  components/timeline/index.tsx
  components/tree-select/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/auto-complete/AutoComplete.tsx
  components/cascader/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: Tooltips/Popovers/Popconfirm can be closed by pressing the Escape key by default
  components/popconfirm/__tests__/index.test.tsx
  components/popconfirm/index.tsx
  components/popover/__tests__/index.test.tsx
  components/popover/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore(a11y): remove redundant alt text from component icon (#56510)
  .dumi/theme/builtins/ComponentOverview/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

⚡️perf: optimize odd/even check using bitwise operation
  components/cascader/index.tsx
  components/timeline/useItems.tsx
  components/transfer/__tests__/index.test.tsx
  components/transfer/demo/advanced.tsx
  components/transfer/demo/custom-item.tsx
  components/transfer/demo/large-data.tsx
  components/transfer/demo/search.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: Collapse items semantic props
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint
