Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

test: update snapshots
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

Update components/space/Compact.tsx
  components/space/Compact.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: change demo space -> flex
  components/auto-complete/demo/render-panel.tsx
  components/input/demo/password-input.tsx
  components/select/demo/render-panel.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

snap
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

opt
  components/table/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update .dumi/theme/builtins/RefinedChangelog/index.tsx
  .dumi/theme/builtins/RefinedChangelog/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

type improve
  components/table/InternalTable.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

add test counts
  components/table/__tests__/Table.semantic.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: ConfigProvider support classNames and styles for table (#53659)
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
  components/pagination/Pagination.tsx
  components/table/InternalTable.tsx
  components/table/__tests__/Table.semantic.test.tsx
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/demo/_semantic.tsx
  components/table/index.en-US.md
  components/table/index.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: back of style
  components/steps/index.tsx
  components/steps/style/horizontal.ts
  components/steps/style/icon.ts
  components/steps/style/index.ts
  components/steps/style/label-placement.ts
  components/steps/style/progress-dot.ts
  components/steps/style/status.ts
  components/steps/style/vertical.ts
  components/timeline/Timeline.tsx
  components/timeline/demo/basic.tsx
  components/timeline/demo/color.tsx
  components/timeline/demo/pending.tsx
  components/timeline/style/index.ts
  components/timeline/useItems.ts
  components/timeline/useItems.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test(upload): ensure styles are applied to all types of Upload components
  components/upload/__tests__/upload.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(upload): apply merged styles to upload button and wrapper for picture list types
  components/upload/Upload.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: statisticRef
  components/statistic/Statistic.tsx
  components/statistic/Timer.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(upload): apply merged styles to upload component for picture list types (#53877)
  components/upload/Upload.tsx
  components/upload/__tests__/upload.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: improve codeblock button loading state and error handling
  .dumi/theme/builtins/Previewer/CodeBlockButton.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: statisticRef
  components/statistic/Statistic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: Update log page add break change prompt (#53811)
  .dumi/rehypeChangelog.ts
  .dumi/theme/builtins/RefinedChangelog/index.tsx
  .dumi/theme/common/ComponentChangelog/ComponentChangelog.tsx
  .dumi/theme/slots/Content/index.tsx
  .dumi/theme/utils.ts
  .dumirc.ts
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix lint
  .dumi/theme/builtins/Previewer/CodeBlockButton.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/space/index.tsx
  components/space/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: improve codeblock button loading state and error handling (#53889)
  .dumi/theme/builtins/Previewer/CodeBlockButton.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: test
  components/statistic/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: component token
  components/_util/index.en-US.md
  components/_util/index.zh-CN.md
  components/_util/type.ts
  components/color-picker/components/ColorSlider.tsx
  components/color-picker/components/PanelPicker/GradientColorBar.tsx
  components/steps/style/icon.ts
  components/steps/style/label-placement.ts
  components/steps/style/progress-dot.ts
  components/timeline/Timeline.tsx
  components/timeline/demo/custom.md
  components/timeline/demo/custom.tsx
  components/timeline/demo/right.tsx
  components/timeline/style/index.ts
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: update doc
  components/steps/index.en-US.md
  components/steps/index.zh-CN.md
  components/steps/style/progress-dot.ts
  components/timeline/Timeline.tsx
  components/timeline/TimelineItem.tsx
  components/timeline/TimelineItemList.tsx
  components/timeline/demo/component-token.tsx
  components/timeline/demo/variant.md
  components/timeline/demo/variant.tsx
  components/timeline/index.en-US.md
  components/timeline/index.zh-CN.md
  components/timeline/style/index.ts
  components/timeline/useItems.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: more warning
  components/timeline/Timeline.tsx
  components/timeline/demo/pending.tsx
  components/timeline/useItems.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

add warning toHaveBeenCalledWith
  components/space/Compact.tsx
  components/space/__tests__/index.test.tsx
  components/space/__tests__/space-compact.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: timer finish call back does not trigger when page in background
  components/statistic/Timer.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: statistic timer cannot display tooltip as a children (#53888)
  components/statistic/Statistic.tsx
  components/statistic/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(53897-input.search) add test case
  components/input/__tests__/Search.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(#53897-inputSearch) add onPressEnter event callback to input.Search
  components/input/Search.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: init
  docs/blog/css-tricks.en-US.md
  docs/blog/css-tricks.zh-CN.md
  docs/blog/css-tricks/condition.tsx
  docs/blog/css-tricks/scope.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: env ver
  docs/blog/css-tricks.en-US.md
Due: prettier --ignore-unknown --write

chore: relocate SemanticPreview component
  .dumi/components/SemanticPreview.tsx
  components/badge/demo/_semantic.tsx
  components/button/demo/_semantic.tsx
  components/card/demo/_semantic.tsx
  components/collapse/demo/_semantic.tsx
  components/descriptions/demo/_semantic.tsx
  components/drawer/demo/_semantic.tsx
  components/empty/demo/_semantic.tsx
  components/input/demo/_semantic_input.tsx
  components/input/demo/_semantic_textarea.tsx
  components/list/demo/_semantic.tsx
  components/modal/demo/_semantic.tsx
  components/popconfirm/demo/_semantic.tsx
  components/popover/demo/_semantic.tsx
  components/slider/demo/_semantic.tsx
  components/space/demo/_semantic.tsx
  components/tooltip/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: relocate SemanticPreview component
  .dumi/theme/builtins/SemanticPreview.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: move tsToJS to utils.ts
  .dumi/theme/plugin.ts
  .dumi/theme/utils.ts
  .dumi/theme/utils/__tests__/runTests.ts
  .dumi/theme/utils/__tests__/tsToJs.test.ts
  .dumi/theme/utils/tsToJs.test.ts
  .dumi/theme/utils/tsToJs.ts
Due: biome check --write --no-errors-on-unmatched, eslint
