Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

site: homepage tweaks — dynamic contributor avatars, email fix & theme keyboard a11y (#58910)
  .dumi/pages/index/components/PreviewPane/Components.tsx
  .dumi/pages/index/components/ThemePreview/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: fix missing DOM constructors in image test environment
  components/_util/__tests__/is.test.ts
  components/_util/is.ts
  tests/shared/imageTest.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Progress): use halfwidth quotes for vertical demo `version`
  components/progress/index.zh-CN.md
Due: prettier --ignore-unknown --write

test: fix missing DOM constructors in image test environment (#58911)
  components/_util/__tests__/is.test.ts
  components/_util/is.ts
  tests/shared/imageTest.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(DatePicker): type merged RangePicker props explicitly
  components/date-picker/generatePicker/generateRangePicker.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(DatePicker): avoid semantic props type assertion (#58912)
  components/date-picker/generatePicker/generateRangePicker.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  .dumi/pages/index/components/PreviewPane/Components.tsx
  .dumi/pages/index/components/ThemePreview/index.tsx
  components/_util/normalizeIcon.ts
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore(deps): unlock @rc-component/virtual-list
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snap
  components/tree-select/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

chore(deps): unlock @rc-component/virtual-list (#58913)
  components/tree-select/__tests__/__snapshots__/demo-extend.test.ts.snap
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix(site): exclude bot accounts from contributors
  .dumi/pages/index/components/PreviewPane/Components.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  .dumi/pages/index/components/ThemePreview/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Potential fix for pull request finding
  .dumi/pages/index/components/PreviewPane/Components.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  .dumi/pages/index/components/PreviewPane/Components.tsx
  scripts/generate-authors.ts
  scripts/generate-contributors.ts
Due: biome check --write --no-errors-on-unmatched, eslint

update
  .dumi/pages/index/components/PreviewPane/Components.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(site): exclude bot accounts from contributors (#58915)
  .dumi/pages/index/components/PreviewPane/Components.tsx
  .dumi/pages/index/components/ThemePreview/index.tsx
  scripts/generate-authors.ts
  scripts/generate-contributors.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Drawer): support disabled close button (#58853)
  components/drawer/DrawerPanel.tsx
  components/drawer/__tests__/DrawerEvent.test.tsx
  components/drawer/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update authors
  contributors.json
Due: biome check --write --no-errors-on-unmatched, eslint

test(Form): replace compiler assertion with dist regression test
  .jest.js
  components/form/__tests__/compiler.test.ts
  tests/dist.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  tests/dist.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test(Form): replace compiler assertion with dist regression test (#58917)
  .jest.js
  components/form/__tests__/compiler.test.ts
  tests/dist.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update authors (#58916)
  contributors.json
Due: biome check --write --no-errors-on-unmatched, eslint

Update package.json
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(BorderBeam): optimize border style handling
  components/border-beam/BorderBeam.tsx
  components/border-beam/hooks/useBorderSize.ts
  components/border-beam/style/index.ts
  components/border-beam/util.ts
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/border-beam/hooks/useBorderSize.ts
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/border-beam/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/border-beam/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/border-beam/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update FAQ
  components/border-beam/index.en-US.md
  components/border-beam/index.zh-CN.md
Due: prettier --ignore-unknown --write

test: del demo title
  components/progress/demo/vertical.md
Due: prettier --ignore-unknown --write

fix(Select): reset clear button background
  components/select/__tests__/style.test.tsx
  components/select/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test(Select): remove redundant style test
  components/select/__tests__/style.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update snap
  components/border-beam/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

fix(Select): remove native clear button background (#58928)
  components/select/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add changelog for 6.6.0
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: add changelog for 6.6.0 (#58929)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(Select): keep customize input aligned on clear hover
  components/auto-complete/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/auto-complete/__tests__/__snapshots__/demo.test.tsx.snap
  components/auto-complete/__tests__/image.test.ts
  components/auto-complete/demo/customize-clear-debug.md
  components/auto-complete/demo/customize-clear-debug.tsx
  components/auto-complete/index.en-US.md
  components/auto-complete/index.zh-CN.md
  components/select/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

demo(FloatButton): demo update
  components/float-button/demo/badge.tsx
  components/float-button/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
