Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: Update verify-files-modify.yml
  .github/workflows/verify-files-modify.yml
Due: prettier --ignore-unknown --write

chore: Update verify-files-modify.yml (#54339)
  .github/workflows/verify-files-modify.yml
Due: prettier --ignore-unknown --write

Update components/table/InternalTable.tsx
  components/table/InternalTable.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: position warning
  components/table/InternalTable.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: update
  components/splitter/SplitBar.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

site: update site locales
  components/date-picker/design/demo/date-extra-info.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

site: update site locales (#54340)
  components/date-picker/design/demo/date-extra-info.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: formItemInput
  components/form/FormItemInput.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: Fixed the issue that splitter-mask was not hidden correctly in some scenes
  components/splitter/SplitBar.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat[Input.Password]: Password support suffix property
  components/input/Password.tsx
  components/input/__tests__/Password.test.tsx
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/input/demo/presuffix.md
  components/input/demo/presuffix.tsx
  components/input/index.en-US.md
  components/input/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat[Input.Password]: Password support suffix property
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

chore[Input.Password]: Password support suffix property
  components/input/Password.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Apply suggestions from code review
  components/tag/index.en-US.md
  components/tag/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs[Input.Password]: remove 'suffix' prop from Input documentation
  components/input/index.en-US.md
  components/input/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix(notification): style should be correct when description is null
  components/notification/PurePanel.tsx
  components/notification/__tests__/index.test.tsx
  components/notification/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chroe[Input.Password]: @since tag to PasswordProps.suffix property
  components/input/Password.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(notification): style should be correct when description is null (#54344)
  components/notification/PurePanel.tsx
  components/notification/__tests__/index.test.tsx
  components/notification/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: rtl
  components/table/InternalTable.tsx
  components/table/__tests__/Table.pagination.test.tsx
  components/table/__tests__/__snapshots__/Table.expand.test.tsx.snap
  components/table/__tests__/__snapshots__/Table.pagination.test.tsx.snap
  components/table/__tests__/__snapshots__/Table.rowSelection.test.tsx.snap
  components/table/__tests__/__snapshots__/Table.sorter.test.tsx.snap
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
  components/table/demo/component-token.tsx
  components/table/demo/dynamic-settings.tsx
  components/table/demo/pagination.tsx
  components/table/index.en-US.md
  components/table/index.zh-CN.md
  components/table/interface.ts
  components/table/style/pagination.ts
  components/table/style/rtl.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test: update transfer snap
  components/transfer/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/transfer/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat: change normalizePlacement fn
  components/table/InternalTable.tsx
  components/table/interface.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: generate full style
  .dumi/theme/plugin.ts
  scripts/build-style.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: add antd.css into global css
  .dumi/global.less
  .dumi/theme/layouts/GlobalLayout.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: coverage line
  components/table/__tests__/Table.pagination.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: coverage line 2
  components/table/__tests__/Table.pagination.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat[Table]: Semantic Placement Naming Standardization (#54338)
  components/table/InternalTable.tsx
  components/table/__tests__/Table.pagination.test.tsx
  components/table/__tests__/__snapshots__/Table.expand.test.tsx.snap
  components/table/__tests__/__snapshots__/Table.pagination.test.tsx.snap
  components/table/__tests__/__snapshots__/Table.rowSelection.test.tsx.snap
  components/table/__tests__/__snapshots__/Table.sorter.test.tsx.snap
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
  components/table/demo/component-token.tsx
  components/table/demo/dynamic-settings.tsx
  components/table/demo/pagination.tsx
  components/table/index.en-US.md
  components/table/index.zh-CN.md
  components/table/interface.ts
  components/table/style/pagination.ts
  components/table/style/rtl.ts
  components/transfer/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/transfer/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test: change demo and update snap
  components/progress/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/progress/__tests__/__snapshots__/demo.test.ts.snap
  components/progress/demo/dashboard.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: change demo
  components/progress/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/progress/__tests__/__snapshots__/demo.test.ts.snap
  components/progress/demo/dashboard.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: change demo
  components/progress/demo/dashboard.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snap
  components/progress/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/progress/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat[Progress]: Semantic Placement Naming Standardization
  components/progress/Circle.tsx
  components/progress/__tests__/placement.test.tsx
  components/progress/demo/dashboard.md
  components/progress/demo/dashboard.tsx
  components/progress/index.en-US.md
  components/progress/index.zh-CN.md
  components/progress/progress.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: change gapPos
  components/progress/Circle.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: Modal responsive width
  components/modal/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat[Progress]: Semantic Placement Naming Standardization (#54329)
  components/progress/Circle.tsx
  components/progress/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/progress/__tests__/__snapshots__/demo.test.ts.snap
  components/progress/__tests__/placement.test.tsx
  components/progress/demo/dashboard.md
  components/progress/demo/dashboard.tsx
  components/progress/index.en-US.md
  components/progress/index.zh-CN.md
  components/progress/progress.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: Modal responsive width (#54349)
  components/modal/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: optimization addEventListener
  components/splitter/SplitBar.tsx
  components/splitter/hooks/useWindowEventHandlers.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: optimization addEventListener
  components/splitter/hooks/useWindowEventHandlers.ts
Due: biome check --write --no-errors-on-unmatched, eslint

type: update type
  components/splitter/SplitBar.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: fix toggle theme switch unable to turn off in docs
  .dumi/theme/common/ThemeSwitch/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: fix toggle theme switch unable to turn off in docs (#54356)
  .dumi/theme/common/ThemeSwitch/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
