Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

Update components/qr-code/index.en-US.md
  components/qr-code/index.en-US.md
Due: prettier --ignore-unknown --write

docs: address review feedback on qr-code and flex tables
  components/flex/index.en-US.md
  components/flex/index.zh-CN.md
  components/qr-code/index.en-US.md
  components/qr-code/index.zh-CN.md
Due: prettier --ignore-unknown --write

chore: downgrade dumi to ^2.4.26
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix: remove redundant react-dom and react-web-api plugin definitions to resolve ESLint config conflict
  eslint.config.mjs
Due: biome check --write --no-errors-on-unmatched, eslint

Revert "fix: remove redundant react-dom and react-web-api plugin definitions to resolve ESLint config conflict"
  eslint.config.mjs
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add changelog for 6.4.0 (#57947)
  .agents/skills/changelog-collect/SKILL.md
  .agents/skills/version-release/SKILL.md
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: fix api table column inconsistencies (#57963)
  components/alert/index.en-US.md
  components/alert/index.zh-CN.md
  components/flex/index.en-US.md
  components/flex/index.zh-CN.md
  components/menu/index.en-US.md
  components/progress/index.en-US.md
  components/qr-code/index.en-US.md
  components/qr-code/index.zh-CN.md
  components/result/index.zh-CN.md
  components/switch/index.en-US.md
  components/switch/index.zh-CN.md
Due: prettier --ignore-unknown --write

chore(deps): bump rc-component dependencies
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: remove unused eslint-disable directives
  .dumi/theme/utils/renderReactToHTML.tsx
  components/form/Form.tsx
  components/input/Input.tsx
  components/splitter/SplitBar.tsx
  components/upload/Upload.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs(Select): document tokenSeparators function support
  components/select/index.en-US.md
  components/select/index.zh-CN.md
Due: prettier --ignore-unknown --write

demo(Select): add custom tokenization example
  components/select/demo/custom-tokenization.md
  components/select/demo/custom-tokenization.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test(Select): cover function tokenSeparators
  components/select/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs(Select): document tokenSeparators function support
  components/select/demo/custom-tokenization.md
  components/select/demo/custom-tokenization.tsx
  components/select/index.en-US.md
  components/select/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: remove unused eslint-disable directives (#57964)
  .dumi/theme/utils/renderReactToHTML.tsx
  components/form/Form.tsx
  components/input/Input.tsx
  components/splitter/SplitBar.tsx
  components/upload/Upload.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs(Select): register custom tokenization demo
  components/select/index.en-US.md
  components/select/index.zh-CN.md
Due: prettier --ignore-unknown --write

refactor(Alert): reuse title-only selector
  components/alert/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test(Select): add snapshot for custom tokenization demo
  components/select/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

test(Select): add extend snapshots for custom tokenization demo
  components/select/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

docs(Select): refine custom tokenization demo desc and version
  components/select/demo/custom-tokenization.md
  components/select/index.en-US.md
  components/select/index.zh-CN.md
Due: prettier --ignore-unknown --write

site: improve agent discovery with Link headers and .well-known compliance
  public/.well-known/agent-skills/index.json
  public/.well-known/api-catalog.json
  public/.well-known/http-message-signatures-directory
  public/.well-known/oauth-authorization-server
  public/.well-known/oauth-protected-resource
  public/_headers
Due: biome check --write --no-errors-on-unmatched, eslint

site: fix RFC 8288 extension relation types and add llms.txt Content-Type
  public/_headers
Due: none

site: add charset=utf-8 to text/markdown Content-Type
  public/_headers
Due: none

fix: remove exports field to fix TypeScript module resolution
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

test: add type resolution test for deep subpath imports under moduleResolution: bundler
  tests/dekko/exports.test.ts
  tests/dekko/index.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: use project-local temp dir for exports type check
  tests/dekko/exports.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: fix typo and trim narrating comments in exports test
  tests/dekko/exports.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(BorderBeam): correct beam offset path radius
  components/border-beam/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: apply code review feedback for exports type check
  tests/dekko/exports.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: mark 6.4.0 as bug version for exports field regression
  BUG_VERSIONS.json
Due: biome check --write --no-errors-on-unmatched, eslint

site: improve agent discovery with Link headers and .well-known compliance (#57967)
  public/.well-known/agent-skills/index.json
  public/.well-known/api-catalog.json
  public/.well-known/http-message-signatures-directory
  public/.well-known/oauth-authorization-server
  public/.well-known/oauth-protected-resource
  public/_headers
Due: biome check --write --no-errors-on-unmatched, eslint

fix(BorderBeam): prevent beam from breaking at corners (#57969)
  components/border-beam/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: add moduleResolution: "node16" coverage to exports type check
  tests/dekko/exports.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: reduce indentation in exports type check
  tests/dekko/exports.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: fail exports type check when es directory is missing
  tests/dekko/exports.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: refactor exports type check to use data-driven test cases
  tests/dekko/exports.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: combine subpath and resolution into single testCases array
  tests/dekko/exports.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: remove exports field to fix TypeScript module resolution (#57968)
  BUG_VERSIONS.json
  package.json
  tests/dekko/exports.test.ts
  tests/dekko/index.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add changelog for 6.4.1
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write
