Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

refactor(Listy): move hoverable class to root
  components/listy/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/listy/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/listy/__tests__/__snapshots__/demo.test.ts.snap
  components/listy/__tests__/__snapshots__/index.test.tsx.snap
  components/listy/__tests__/__snapshots__/vitest/index.test.tsx.snap
  components/listy/index.tsx
  components/listy/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

demo(Listy): add rowHoverable debug example
  components/listy/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/listy/__tests__/__snapshots__/demo.test.ts.snap
  components/listy/demo/row-hoverable-debug.tsx
  components/listy/index.en-US.md
  components/listy/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test(Listy): fix drag sorting snapshot
  components/listy/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

chore(workflow): run upgrade deps at 08:00 Beijing time
  .github/workflows/upgrade-deps.yml
Due: prettier --ignore-unknown --write

fix(Upload): keep Dragger style height when height prop is unset (#59319)
  components/upload/Dragger.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Listy): support rowHoverable (#59273)
  components/listy/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/listy/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/listy/__tests__/__snapshots__/demo.test.ts.snap
  components/listy/__tests__/__snapshots__/index.test.tsx.snap
  components/listy/__tests__/__snapshots__/vitest/index.test.tsx.snap
  components/listy/demo/row-hoverable-debug.tsx
  components/listy/index.en-US.md
  components/listy/index.tsx
  components/listy/index.zh-CN.md
  components/listy/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore(workflow): run upgrade deps at 08:00 Beijing time (#59322)
  .github/workflows/upgrade-deps.yml
Due: prettier --ignore-unknown --write

fix(Upload): prevent crash when linkProps is an invalid JSON string
  components/upload/UploadList/ListItem.tsx
  components/upload/__tests__/upload.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: use father to bundle umd
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: bump @utoo/pack to v1.4.25-alpha.2
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: bump utoopack to v1.4.25
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: remove utoopack lock
  .fatherrc.ts
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: enable concatenateModules
  .fatherrc.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Upload): preserve linkProps onClick handler
  components/upload/UploadList/ListItem.tsx
  components/upload/__tests__/upload.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Typography): preserve text editing when onClick is provided
  components/typography/Base/index.tsx
  components/typography/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(demo): use prefixCls instead of token.antCls in Table demos
  components/table/__tests__/__snapshots__/demo.test.ts.snap
  components/table/demo/fixed-columns-header.tsx
  components/table/demo/fixed-columns.tsx
  components/table/demo/fixed-gapped-columns.tsx
  components/table/demo/fixed-header.tsx
  components/table/demo/grouping-columns.tsx
  components/table/demo/summary.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(demo): use public GetProps type in Avatar max-count demo
  components/avatar/demo/max-count.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test(table): update demo-extend snapshots for the new emotion hash
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

fix(demo): use public GetProps type in Avatar demo (#59328)
  components/avatar/demo/max-count.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(demo): use prefixCls instead of token.antCls in Table demos (#59327)
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
  components/table/demo/fixed-columns-header.tsx
  components/table/demo/fixed-columns.tsx
  components/table/demo/fixed-gapped-columns.tsx
  components/table/demo/fixed-header.tsx
  components/table/demo/grouping-columns.tsx
  components/table/demo/summary.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: #59329 ConfigProvider treeSelect className and style now apply
  components/config-provider/__tests__/style.test.tsx
  components/tree-select/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Tour): pass click events to button callbacks
  components/tour/__tests__/index.test.tsx
  components/tour/interface.ts
  components/tour/panelRender.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: changelog for 6.6.5
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

chore: bump version to 6.6.5
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Menu): keep collapsed submenu popup inside the viewport
  components/menu/__tests__/index.test.tsx
  components/menu/menu.tsx
  components/menu/placements.ts
  components/menu/style/vertical.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: changelog for 6.6.5 (#59333)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: keep the ConfigProvider treeSelect style off the popup
  components/config-provider/__tests__/style.test.tsx
  components/tree-select/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Tree): skip unselectable nodes in DirectoryTree shift selection
  components/tree/__tests__/directory.test.tsx
  components/tree/utils/dictUtil.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Table): include tree descendants when selecting all data
  components/table/__tests__/Table.rowSelection.test.tsx
  components/table/hooks/useSelection.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Tour): pass click events to button callbacks (#59332)
  components/tour/__tests__/index.test.tsx
  components/tour/interface.ts
  components/tour/panelRender.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(TreeSelect): consume ConfigProvider className/style, fix popup leak
  components/config-provider/__tests__/style.test.tsx
  components/tree-select/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tree-select/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/tree-select/__tests__/semantic.test.tsx
  components/tree-select/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Menu): only shift vertical submenu popups
  components/menu/__tests__/index.test.tsx
  components/menu/placements.ts
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: separate nested style schema
  components/_util/__tests__/useMergeSemanticNew.test.tsx
  components/_util/hooks/useMergeSemantic/index.ts
  components/select/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: use public types in component demos
  components/badge/demo/style-class.tsx
  components/cascader/demo/basic.tsx
  components/cascader/demo/ellipsis-debug.tsx
  components/input/demo/textarea-resize.tsx
  components/masonry/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: use public types in component demos (#59346)
  components/badge/demo/style-class.tsx
  components/cascader/demo/basic.tsx
  components/cascader/demo/ellipsis-debug.tsx
  components/input/demo/textarea-resize.tsx
  components/masonry/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: bump @rc-component/listy to 1.4.0
  components/listy/index.en-US.md
  components/listy/index.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: bump @rc-component/listy to 1.4.0 (#59347)
  components/listy/index.en-US.md
  components/listy/index.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(Transfer): limit shift selection to filtered items
  components/transfer/ListBody.tsx
  components/transfer/Section.tsx
  components/transfer/__tests__/index.test.tsx
  components/transfer/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
