Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: fix jest error
  .jest.js
  components/input/OTP/OTPInput.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: move skill files into .agents directory
  .agents/skills
  .agents/skills/changelog-collect/SKILL.md
  .agents/skills/commit-msg/SKILL.md
  .agents/skills/commit-msg/references/format-and-examples.md
  .agents/skills/create-pr/SKILL.md
  .agents/skills/create-pr/references/template-notes-and-examples.md
  .agents/skills/issue-reply/SKILL.md
  .agents/skills/issue-reply/references/labels-and-resources.md
  .claude/skills
Due: prettier --ignore-unknown --write

chore: move codex skills symlink to .agents (#57377)
  .agents/skills/changelog-collect/SKILL.md
  .agents/skills/commit-msg/SKILL.md
  .agents/skills/commit-msg/references/format-and-examples.md
  .agents/skills/create-pr/SKILL.md
  .agents/skills/create-pr/references/template-notes-and-examples.md
  .agents/skills/issue-reply/SKILL.md
  .agents/skills/issue-reply/references/labels-and-resources.md
  .claude/skills
  .codex/skills
Due: prettier --ignore-unknown --write

feat(ConfigProvider, Select): support showSearch, allowClear, clearIcon, loadingIcon, menuItemSelectedIcon, removeIcon and suffixIcon config (#56930)
  components/_util/__tests__/normalizeIcon.test.ts
  components/_util/normalizeIcon.ts
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
  components/select/__tests__/index.test.tsx
  components/select/index.en-US.md
  components/select/index.tsx
  components/select/index.zh-CN.md
  components/select/useIcons.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Update components/config-provider/index.zh-CN.md
  components/config-provider/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix: fix OTPInput type error and Jest config
  .jest.node.js
  components/input/OTP/OTPInput.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Revert changes in CLAUDE.md
  CLAUDE.md
Due: prettier --ignore-unknown --write

fix: lint error
  eslint.config.mjs
Due: biome check --write --no-errors-on-unmatched, eslint

docs: fix markdown table syntax in index.en-US.md
  components/message/index.en-US.md
Due: prettier --ignore-unknown --write

docs: fix formatting for pauseOnHover property in message component
  components/message/index.en-US.md
Due: prettier --ignore-unknown --write

Revert "chore: merge master into feature"
  .claude/skills
  .claude/skills/changelog-collect/SKILL.md
  .claude/skills/commit-msg/SKILL.md
  .claude/skills/commit-msg/references/format-and-examples.md
  .claude/skills/create-pr/SKILL.md
  .claude/skills/create-pr/references/template-notes-and-examples.md
  .claude/skills/issue-reply/SKILL.md
  .claude/skills/issue-reply/references/labels-and-resources.md
  .cursor/skills
  components/descriptions/index.tsx
  components/menu/style/theme.ts
  components/transfer/Section.tsx
  components/transfer/__tests__/__snapshots__/index.test.tsx.snap
  components/transfer/__tests__/__snapshots__/section.test.tsx.snap
  components/transfer/__tests__/section.test.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix
  scripts/__snapshots__/check-site.ts.snap
Due: none

docs: fix markdown table syntax in components/message/index.en-US.md (#57383)
  components/message/index.en-US.md
  scripts/__snapshots__/check-site.ts.snap
Due: prettier --ignore-unknown --write

refactor: migrate TextArea internals to @rc-component/input
  components/input/TextArea.tsx
  components/typography/Base/index.tsx
  components/typography/Editable.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: migrate TextArea internals to @rc-component/input (#57389)
  components/input/TextArea.tsx
  components/typography/Base/index.tsx
  components/typography/Editable.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Input): add clear semantic segment for classNames and styles
  components/input/Input.tsx
  components/input/Search.tsx
  components/input/TextArea.tsx
  components/input/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/input/__tests__/semantic.test.tsx
  components/input/demo/_semantic_input.tsx
  components/input/demo/_semantic_password.tsx
  components/input/demo/_semantic_search.tsx
  components/input/demo/_semantic_textarea.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Input): add clear semantic segment for classNames and styles (#57391)
  components/input/Input.tsx
  components/input/Search.tsx
  components/input/TextArea.tsx
  components/input/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/input/__tests__/semantic.test.tsx
  components/input/demo/_semantic_input.tsx
  components/input/demo/_semantic_password.tsx
  components/input/demo/_semantic_search.tsx
  components/input/demo/_semantic_textarea.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore(deps): upgrade @rc-component/image to ~1.7.1
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix(image): support fetchPriority prop passthrough (#57392)
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

site: refine ThemePreview styles for geek and glass themes
  .dumi/pages/index/components/ThemePreview/ComponentsBlock.tsx
  .dumi/pages/index/components/ThemePreview/previewThemes/geekTheme.ts
  .dumi/pages/index/components/ThemePreview/previewThemes/glassTheme.ts
Due: biome check --write --no-errors-on-unmatched, eslint

site: refine ThemePreview styles for geek and glass themes (#57394)
  .dumi/pages/index/components/ThemePreview/ComponentsBlock.tsx
  .dumi/pages/index/components/ThemePreview/previewThemes/geekTheme.ts
  .dumi/pages/index/components/ThemePreview/previewThemes/glassTheme.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(ConfigProvider): align component config semantic style typings
  components/config-provider/context.ts
  components/config-provider/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: align ConfigProvider semantic style config typings (#57396)
  components/config-provider/context.ts
  components/config-provider/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: add function to check media query syntax in build-style
  scripts/build-style.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: fix changelog skill AGENTS.md references
  .agents/skills/changelog-collect/SKILL.md
Due: prettier --ignore-unknown --write

chore: fix changelog skill AGENTS.md references (#57397)
  .agents/skills/changelog-collect/SKILL.md
Due: prettier --ignore-unknown --write

fix: add missing screenMap item in useToken (#57372)
  components/theme/useToken.ts
  scripts/build-style.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: bump @rc-component/form to ~1.8.0
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix: bump @rc-component/form to resolve Form.List onValuesChange issue (#57399)
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat: improve DatePicker and TimePicker accessibility by hiding decorative icons
  components/date-picker/generatePicker/useSuffixIcon.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: bump @rc-component/image to 1.8.0
  components/image/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/image/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/image/__tests__/__snapshots__/demo.test.ts.snap
  components/image/__tests__/__snapshots__/index.test.tsx.snap
  components/image/__tests__/__snapshots__/semantic.test.tsx.snap
  components/image/demo/mask.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

update
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat: update
  components/_util/__tests__/wave.test.tsx
  components/_util/wave/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

[wave] created trigger types and test case for wave config to be passed down
  components/config-provider/__tests__/wave.test.tsx
  components/config-provider/context.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: update
  components/_util/wave/index.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: update
  components/_util/wave/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Tag): improve solid variant text contrast in dark theme
  components/tag/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: bump @rc-component/image to improve preview a11y and support movable classname (#57405)
  components/image/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/image/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/image/__tests__/__snapshots__/demo.test.ts.snap
  components/image/__tests__/__snapshots__/index.test.tsx.snap
  components/image/__tests__/__snapshots__/semantic.test.tsx.snap
  components/image/demo/mask.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snap
  components/image/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/image/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/image/__tests__/__snapshots__/demo.test.ts.snap
  components/image/__tests__/__snapshots__/index.test.tsx.snap
  components/image/__tests__/__snapshots__/semantic.test.tsx.snap
Due: none

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
