Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

feat: remove Required
  components/menu/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: expand skills usage across tools
  docs/react/skills.en-US.md
  docs/react/skills.zh-CN.md
Due: prettier --ignore-unknown --write

feat: test
  components/_util/hooks/semanticType.ts
Due: biome check --write --no-errors-on-unmatched, eslint

Update CHANGELOG.zh-CN.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

Update CHANGELOG.en-US.md
  CHANGELOG.en-US.md
Due: prettier --ignore-unknown --write

chore: bump version to 6.2.3 (#56813)
  AGENTS.md
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
  scripts/print-changelog.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: update select input color styling and dependency
  components/select/style/select-input.ts
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snapshot
  components/auto-complete/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/auto-complete/__tests__/__snapshots__/demo.test.tsx.snap
  components/select/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/select/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

feat: reomve SkillsDocActions
  .dumi/theme/builtins/SkillsDocActions/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: expand skills guide with triggers, cases, and entry points
  docs/react/skills.en-US.md
  docs/react/skills.zh-CN.md
Due: prettier --ignore-unknown --write

feat: review
  components/_util/hooks/semanticType.ts
  components/_util/hooks/useMergeSemantic.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: debug of ci
  .antd-tools.config.js
Due: biome check --write --no-errors-on-unmatched, eslint

feat: review
  components/_util/hooks/useMergeSemantic.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: debug of ci
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat: review
  components/_util/__tests__/useMergeSemantic.test.tsx
  components/_util/hooks/useMergeSemantic.ts
  components/image/PreviewGroup.tsx
  components/modal/PurePanel.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: review
  components/image/PreviewGroup.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: clean up
  .antd-tools.config.js
  package.json
  webpack.config.js
Due: biome check --write --no-errors-on-unmatched, eslint

feat: add splitter collapse animation option
  components/splitter/Splitter.tsx
  components/splitter/__tests__/index.test.tsx
  components/splitter/index.en-US.md
  components/splitter/index.zh-CN.md
  components/splitter/interface.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: review
  components/config-provider/context.ts
  components/config-provider/index.tsx
  components/notification/PurePanel.tsx
  components/tag/CheckableTagGroup.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

use ut
  .github/workflows/size-limit.yml
Due: prettier --ignore-unknown --write

fix: antd umd build (#56830)
  .github/workflows/size-limit.yml
  package.json
  webpack.config.js
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Revert "fix(a10y): add title element to search bar icon for screen readers"
  .dumi/theme/slots/Header/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: the svg elements has no accessible name
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore(a11y): add title element to search bar icon for screen readers (#56521)
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: bump jsdom@28
  package.json
  tests/setup.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: lock @eslint-react/eslint-plugin 2.9.1
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update date
  CHANGELOG.en-US.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

update
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: lock @eslint-react/eslint-plugin 2.8.4 (#56836)
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

Update tests/setup.ts
  tests/setup.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: bump jsdom@28 (#56835)
  package.json
  tests/setup.ts
Due: biome check --write --no-errors-on-unmatched, eslint

Update package.json
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint
