Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

chore: Enhanced hints for unused variables
  biome.json
  components/form/FormItemInput.tsx
  components/tooltip/index.tsx
  index-style-only.js
Due: biome check --write --no-errors-on-unmatched, eslint

rm unused rules
  biome.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix
  biome.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat: dropdown semantic classNames/styles
  components/dropdown/dropdown.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: Enhanced hints for unused variables (#55113)
  biome.json
  components/form/FormItemInput.tsx
  components/tooltip/index.tsx
  index-style-only.js
Due: biome check --write --no-errors-on-unmatched, eslint

feat: docs update
  components/dropdown/index.en-US.md
  components/dropdown/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat: add semantic demo
  components/dropdown/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/dropdown/__tests__/__snapshots__/demo.test.tsx.snap
  components/dropdown/demo/style-class.md
  components/dropdown/demo/style-class.tsx
  components/dropdown/index.en-US.md
  components/dropdown/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: unit test add
  components/dropdown/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: docs fix
  components/dropdown/demo/style-class.md
Due: prettier --ignore-unknown --write

Update components/dropdown/demo/style-class.md
  components/dropdown/demo/style-class.md
Due: prettier --ignore-unknown --write

update doc
  components/select/demo/_semantic.tsx
  components/select/index.en-US.md
  components/select/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

adjust code
  components/dropdown/dropdown.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/switch/index.tsx
  components/switch/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: adjust demo
  components/progress/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/progress/__tests__/__snapshots__/demo.test.ts.snap
  components/progress/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Progress): Support better customization with semantic classNames & styles (#55058)
  components/_util/hooks/useMergeSemantic/index.ts
  components/anchor/__tests__/semantic.test.tsx
  components/progress/Circle.tsx
  components/progress/Line.tsx
  components/progress/Steps.tsx
  components/progress/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/progress/__tests__/__snapshots__/demo.test.ts.snap
  components/progress/__tests__/semantic.test.tsx
  components/progress/__tests__/style-class.test.tsx
  components/progress/demo/style-class.md
  components/progress/demo/style-class.tsx
  components/progress/index.en-US.md
  components/progress/index.zh-CN.md
  components/progress/progress.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat(menu): Support better customization with semantic classNames/styles as function (#54955)
  components/menu/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/menu/__tests__/__snapshots__/demo.test.tsx.snap
  components/menu/__tests__/index.test.tsx
  components/menu/__tests__/semantic.test.tsx
  components/menu/demo/style-class.md
  components/menu/demo/style-class.tsx
  components/menu/index.en-US.md
  components/menu/index.zh-CN.md
  components/menu/menu.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat(Rate): size prop (#55028)
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
  components/rate/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/rate/__tests__/__snapshots__/demo.test.ts.snap
  components/rate/__tests__/__snapshots__/index.test.tsx.snap
  components/rate/__tests__/index.test.ts
  components/rate/__tests__/index.test.tsx
  components/rate/demo/size.md
  components/rate/demo/size.tsx
  components/rate/index.en-US.md
  components/rate/index.tsx
  components/rate/index.zh-CN.md
  components/rate/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

update
  components/drawer/DrawerPanel.tsx
  components/drawer/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/drawer/DrawerPanel.tsx
  components/drawer/DrawerPanel.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/modal/Modal.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix size
  components/drawer/DrawerPanel.tsx
  components/drawer/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: statistic semantic
  components/statistic/Statistic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: statistic semantic demo
  components/statistic/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/statistic/__tests__/__snapshots__/demo.test.ts.snap
  components/statistic/demo/style-class.md
  components/statistic/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: statistic semantic unit test
  components/statistic/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: statistic semantic docs
  components/statistic/index.en-US.md
  components/statistic/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat(descriptions): Support better customization with semantic classNames/styles
  components/descriptions/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/descriptions/__tests__/__snapshots__/demo.test.ts.snap
  components/descriptions/__tests__/semantic.test.tsx
  components/descriptions/demo/style-class.md
  components/descriptions/demo/style-class.tsx
  components/descriptions/index.en-US.md
  components/descriptions/index.tsx
  components/descriptions/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

update demo
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
  components/space/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update demo
  components/splitter/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/splitter/__tests__/__snapshots__/demo.test.ts.snap
  components/splitter/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: fix issues
  components/descriptions/index.en-US.md
  components/descriptions/index.tsx
  components/descriptions/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat(pagination): Support better customization with semantic classNames/styles as function
  components/pagination/Pagination.tsx
  components/pagination/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/pagination/__tests__/__snapshots__/demo.test.ts.snap
  components/pagination/__tests__/__snapshots__/semantic.test.tsx.snap
  components/pagination/__tests__/index.test.tsx
  components/pagination/__tests__/semantic.test.tsx
  components/pagination/demo/style-class.md
  components/pagination/demo/style-class.tsx
  components/pagination/index.en-US.md
  components/pagination/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: adjust version
  components/descriptions/index.en-US.md
  components/descriptions/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix: docs fix
  components/statistic/index.en-US.md
Due: prettier --ignore-unknown --write

update demo
  components/pagination/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/pagination/__tests__/__snapshots__/demo.test.ts.snap
  components/pagination/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(steps): Support better customization with semantic classNames/styles as function
  components/steps/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/steps/__tests__/__snapshots__/demo.test.ts.snap
  components/steps/__tests__/semantic.test.tsx
  components/steps/demo/style-class.md
  components/steps/demo/style-class.tsx
  components/steps/index.en-US.md
  components/steps/index.tsx
  components/steps/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat(tabs): Support better customization with semantic classNames/styles as function
  components/_util/hooks/useMergeSemantic/index.ts
  components/tabs/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tabs/__tests__/__snapshots__/demo.test.ts.snap
  components/tabs/__tests__/__snapshots__/semantic.test.tsx.snap
  components/tabs/__tests__/semantic.test.tsx
  components/tabs/demo/style-class.md
  components/tabs/demo/style-class.tsx
  components/tabs/index.en-US.md
  components/tabs/index.tsx
  components/tabs/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

update demo
  components/tabs/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tabs/__tests__/__snapshots__/demo.test.ts.snap
  components/tabs/demo/style-class.tsx
  components/tabs/index.en-US.md
  components/tabs/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Update components/statistic/index.en-US.md
  components/statistic/index.en-US.md
Due: prettier --ignore-unknown --write
