Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

feat(Container): draft
  components/config-provider/context.ts
  components/container/index.tsx
  components/container/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: replace token to cssVar
  .dumi/hooks/useMenu.tsx
  .dumi/pages/index/components/PreviewBanner/ComponentsBlock.tsx
  .dumi/pages/index/components/PreviewBanner/index.tsx
  .dumi/pages/index/components/Theme/index.tsx
  .dumi/theme/builtins/ComponentOverview/index.tsx
  .dumi/theme/common/BrowserFrame.tsx
  .dumi/theme/slots/Footer/index.tsx
  .dumi/theme/slots/Header/Logo.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: replace token to cssVar
  .dumi/theme/builtins/Audio/index.tsx
  .dumi/theme/builtins/ColorChunk/index.tsx
  .dumi/theme/builtins/ComponentMeta/index.tsx
  .dumi/theme/builtins/ComponentTokenTable/index.tsx
  .dumi/theme/builtins/IconSearch/Category.tsx
  .dumi/theme/builtins/IconSearch/IconSearch.tsx
  .dumi/theme/builtins/IconSearch/index.tsx
  .dumi/theme/builtins/Previewer/CodePreviewer.tsx
  .dumi/theme/builtins/Previewer/DemoFallback.tsx
  .dumi/theme/builtins/Sandpack/index.tsx
  .dumi/theme/builtins/TokenTable/index.tsx
  .dumi/theme/builtins/VideoPlayer/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: fix lint
  .dumi/theme/builtins/IconSearch/Category.tsx
  .dumi/theme/builtins/IconSearch/IconSearch.tsx
  .dumi/theme/builtins/IconSearch/index.tsx
  .dumi/theme/builtins/Previewer/DemoFallback.tsx
  .dumi/theme/builtins/Sandpack/index.tsx
  .dumi/theme/builtins/VideoPlayer/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: replace token to cssVar
  .dumi/pages/index/components/BannerRecommends.tsx
  .dumi/pages/index/components/DesignFramework.tsx
  .dumi/pages/index/components/Group.tsx
  .dumi/pages/index/components/Theme/BackgroundImage.tsx
  .dumi/pages/index/components/Theme/ColorPicker.tsx
  .dumi/pages/index/components/Theme/ThemePicker.tsx
  .dumi/theme/builtins/ColorChunk/index.tsx
  .dumi/theme/builtins/ComponentMeta/index.tsx
  .dumi/theme/builtins/RefinedChangelog/index.tsx
  .dumi/theme/builtins/TokenCompare/index.tsx
  .dumi/theme/builtins/TokenTable/index.tsx
  .dumi/theme/common/BehaviorMap/BehaviorMap.tsx
  .dumi/theme/common/BehaviorMap/index.tsx
  .dumi/theme/common/LiveCode.tsx
  .dumi/theme/common/Marker.tsx
  .dumi/theme/slots/Content/ColumnCard.tsx
  .dumi/theme/slots/Content/Contributors.tsx
  .dumi/theme/slots/Header/SwitchBtn.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Card): add support for tabBarExtraContent in Card component
  components/card/Card.tsx
  components/card/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: enable zeroRuntime in prod
  .dumi/theme/common/Loading.tsx
  .dumi/theme/layouts/GlobalLayout.tsx
  .dumi/theme/plugin.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Button): support shape global config
  components/button/__tests__/index.test.tsx
  components/button/button.tsx
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test(Card): update tabBarExtraContent test to use snapshot matching
  components/card/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: replace token to cssVar
  .dumi/theme/builtins/Previewer/CodePreviewer.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: enable zeroRuntime in prod (#54471)
  .dumi/theme/common/Loading.tsx
  .dumi/theme/layouts/GlobalLayout.tsx
  .dumi/theme/plugin.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Button): support shape global config (#54463)
  components/button/__tests__/index.test.tsx
  components/button/button.tsx
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

update
  components/modal/demo/nested.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(modal): semantic section to container
  components/modal/Modal.tsx
  components/modal/__tests__/confirm.test.tsx
  components/modal/__tests__/type.test.tsx
  components/modal/demo/_semantic.tsx
  components/modal/interface.ts
  components/modal/style/confirm.ts
Due: biome check --write --no-errors-on-unmatched, eslint

update snap
  components/modal/__tests__/__snapshots__/Modal.test.tsx.snap
  components/modal/__tests__/__snapshots__/confirm.test.tsx.snap
  components/modal/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/modal/__tests__/__snapshots__/demo.test.tsx.snap
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix
  components/modal/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test(Card): update snapshot for tabBarExtraContent support and fix snapshot URL
  components/card/__tests__/__snapshots__/index.test.tsx.snap
Due: none

fix
  components/modal/demo/nested.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: replace token to cssVar
  .dumi/theme/builtins/IconSearch/CopyableIcon.tsx
  .dumi/theme/builtins/ResourceArticles/index.tsx
  .dumi/theme/builtins/ResourceCards/index.tsx
  .dumi/theme/common/CodePreview.tsx
  .dumi/theme/common/EditButton.tsx
  .dumi/theme/common/PrevAndNext.tsx
  .dumi/theme/layouts/ResourceLayout/AffixTabs.tsx
  .dumi/theme/layouts/ResourceLayout/index.tsx
  .dumi/theme/slots/Content/Contributors.tsx
  .dumi/theme/slots/Content/DocAnchor.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

demo: update the css logical properties
  .dumi/pages/index/components/Theme/index.tsx
  .dumi/theme/builtins/TokenCompare/index.tsx
  .dumi/theme/common/SemanticPreview.tsx
  .dumi/theme/common/styles/NProgress.tsx
  .dumi/theme/common/styles/Responsive.tsx
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/drawer/demo/classNames.tsx
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/input/demo/group.md
  components/input/demo/group.tsx
  components/layout/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/layout/__tests__/__snapshots__/demo.test.ts.snap
  components/layout/demo/component-token.tsx
  components/layout/demo/top-side-2.tsx
  components/modal/demo/classNames.tsx
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
  components/space/demo/compact.tsx
  components/table/demo/drag-column-sorting.tsx
  components/watermark/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/watermark/__tests__/__snapshots__/demo.test.ts.snap
  components/watermark/demo/custom.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(Card): update the type of tabBarExtraContent in Card component (#54470)
  components/card/Card.tsx
  components/card/__tests__/__snapshots__/index.test.tsx.snap
  components/card/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

demo: update the css logical properties (#54475)
  .dumi/pages/index/components/Theme/index.tsx
  .dumi/theme/builtins/TokenCompare/index.tsx
  .dumi/theme/common/SemanticPreview.tsx
  .dumi/theme/common/styles/NProgress.tsx
  .dumi/theme/common/styles/Responsive.tsx
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/drawer/demo/classNames.tsx
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/input/demo/group.md
  components/input/demo/group.tsx
  components/layout/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/layout/__tests__/__snapshots__/demo.test.ts.snap
  components/layout/demo/component-token.tsx
  components/layout/demo/top-side-2.tsx
  components/modal/demo/classNames.tsx
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
  components/space/demo/compact.tsx
  components/table/demo/drag-column-sorting.tsx
  components/watermark/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/watermark/__tests__/__snapshots__/demo.test.ts.snap
  components/watermark/demo/custom.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: unlock @rc-component/trigger version
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snap
  components/dropdown/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/layout/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/menu/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

fix
  components/modal/Modal.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: update demo
  components/tooltip/demo/wrap-custom-component.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Upload): support customRequest global config
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.tsx
  components/config-provider/index.zh-CN.md
  components/upload/Upload.tsx
  components/upload/__tests__/upload.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Update components/config-provider/context.ts
  components/config-provider/context.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Upload): support customRequest global config (#54474)
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.tsx
  components/config-provider/index.zh-CN.md
  components/upload/Upload.tsx
  components/upload/__tests__/upload.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore(form): update snapshot
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

update snap
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/index.test.tsx.snap
Due: none

feat(Breadcrumb): support separator global config
  components/breadcrumb/Breadcrumb.tsx
  components/breadcrumb/__tests__/Breadcrumb.test.tsx
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.tsx
  components/config-provider/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Update TabPane.ts
  components/tabs/TabPane.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: bump trigger version
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: test lock
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: adjust back
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: ci back
  .github/workflows/size-limit.yml
Due: prettier --ignore-unknown --write

chore: rollback
  .github/workflows/size-limit.yml
Due: prettier --ignore-unknown --write
