Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

revert context
  components/auto-complete/AutoComplete.tsx
  components/config-provider/context.ts
  components/config-provider/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: ConfigProvider support classNames and styles for tree (#53174)
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
  components/tree/Tree.tsx
  components/tree/__tests__/index.test.tsx
  components/tree/demo/_semantic.tsx
  components/tree/index.en-US.md
  components/tree/index.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

删除it的only
  components/modal/__tests__/Modal.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

恢复格式
  tests/shared/imageTest.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

lint修改
  components/_util/hooks/useClosable.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/splitter/Splitter.tsx
  components/splitter/Splitter.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/splitter/demo/_semantic.tsx
  components/splitter/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix
  components/auto-complete/AutoComplete.tsx
  components/auto-complete/demo/_semantic.tsx
  components/select/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

rm
  components/auto-complete/AutoComplete.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: ConfigProvider support button color
  components/button/button.tsx
  components/config-provider/context.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: ConfigProvider support button variant property
  components/button/button.tsx
  components/config-provider/context.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: add test case
  components/button/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update config-provider api docs
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
Due: prettier --ignore-unknown --write

Update components/config-provider/index.en-US.md
  components/config-provider/index.en-US.md
Due: prettier --ignore-unknown --write

Update components/config-provider/index.zh-CN.md
  components/config-provider/index.zh-CN.md
Due: prettier --ignore-unknown --write

Revert "docs: fix color (#52459)"
  .dumi/theme/builtins/ColorChunk/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: Splitter support classNames and styles
  components/splitter/SplitBar.tsx
  components/splitter/Splitter.tsx
  components/splitter/__tests__/index.test.tsx
  components/splitter/demo/_semantic.tsx
  components/splitter/demo/size.tsx
  components/splitter/index.en-US.md
  components/splitter/index.zh-CN.md
  components/splitter/interface.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: update
  components/splitter/SplitBar.tsx
  components/splitter/Splitter.tsx
  components/splitter/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/splitter/__tests__/__snapshots__/demo.test.ts.snap
  components/splitter/__tests__/index.test.tsx
  components/splitter/demo/customize.tsx
  components/splitter/index.en-US.md
  components/splitter/index.zh-CN.md
  components/splitter/interface.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: merged next
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
  components/splitter/Splitter.tsx
  components/splitter/__tests__/index.test.tsx
  components/splitter/index.en-US.md
  components/splitter/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: merged next
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
  components/splitter/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: update
  components/splitter/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

deps: bump dumi-plugin-color-chunk to 2.1.0
  .dumi/theme/builtins/ColorChunk/index.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

deps: bump dumi-plugin-color-chunk to 2.1.0 (#53215)
  .dumi/theme/builtins/ColorChunk/index.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/auto-complete/AutoComplete.tsx
  components/auto-complete/AutoComplete.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

覆盖notice关闭按钮可能有的样式差异
  components/notification/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add cursor submission note rule
  .cursor/rules/git.md
  pr_body.md
Due: prettier --ignore-unknown --write

docs: update cursor submission format with quote sign
  .cursor/rules/git.md
  pr_body.md
Due: prettier --ignore-unknown --write

chore: 迁移 .cursorrules 到 .cursor/rules 目录
  .cursor/rules/docs.md
  .cursor/rules/git.md
  .cursor/rules/implementation.md
  .cursor/rules/project.md
  .cursor/rules/testing.md
  .cursorrules
Due: prettier --ignore-unknown --write

docs: 添加非 antd 组件改动无需写 changelog 的规则
  .cursor/rules/docs.md
  pr_body.md
Due: prettier --ignore-unknown --write

docs: update changelog rule for non-antd component changes
  .cursor/rules/docs.md
  pr_body.md
Due: prettier --ignore-unknown --write

docs: use English for PR body by default
  .cursor/rules/git.md
  pr_body.md
Due: prettier --ignore-unknown --write

chore: change rule file extensions from .md to .mdc
  .cursor/rules/docs.mdc
  .cursor/rules/git.mdc
  .cursor/rules/implementation.mdc
  .cursor/rules/project.mdc
  .cursor/rules/testing.mdc
Due: none

docs: enhance cursor rules with component, rendering, documentation, styling and typescript specifications
  .cursor/rules/component.mdc
  .cursor/rules/documentation.mdc
  .cursor/rules/rendering.mdc
  .cursor/rules/styling.mdc
  .cursor/rules/typescript.mdc
Due: none

feat: ConfigProvider support classNames and styles for autoComplete (#53150)
  components/auto-complete/AutoComplete.tsx
  components/auto-complete/__tests__/index.test.tsx
  components/auto-complete/demo/_semantic.tsx
  components/auto-complete/demo/certain-category.tsx
  components/auto-complete/index.en-US.md
  components/auto-complete/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: 添加组件演示文档代码规范
  .cursor/rules/demo.mdc
Due: none

docs: 优化 MDC 文件内容，完善文档规范，删除冗余文件
  .cursor/rules/docs.mdc
  .cursor/rules/documentation.mdc
  .cursor/rules/git.mdc
  .cursor/rules/implementation.mdc
  .cursor/rules/project.mdc
  .cursor/rules/rendering.mdc
  .cursor/rules/styling.mdc
  .cursor/rules/testing.mdc
  .cursor/rules/typescript.mdc
Due: none

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
