Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

lint fix
  components/affix/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs(descriptions): Marking deprecated APIs
  components/descriptions/index.en-US.md
  components/descriptions/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat: add for Badge.Ribbon
  components/badge/Ribbon.tsx
  components/badge/demo/ribbon-debug.tsx
  components/badge/index.en-US.md
  components/badge/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: code style improve for Affix (#52522)
  components/affix/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update snap
  components/badge/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/badge/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

fix: icon context
  .dumi/theme/layouts/GlobalLayout.tsx
  components/config-provider/__tests__/cssinjs.test.tsx
  components/config-provider/index.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update desc
  .dumi/theme/layouts/GlobalLayout.tsx
  docs/react/compatible-style.en-US.md
  docs/react/compatible-style.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(tree): allow pointer events for disabled checkboxes in tree (#52525)
  components/tree/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: improve translation for semantic
  components/badge/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: improve translation for semantic (#52534)
  components/badge/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

type: optimize
  components/image/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

rebase: fix lint
  components/list/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

rename prop
  components/list/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/descriptions/index.en-US.md
  components/descriptions/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix: Layout zero width trigger missing style when cssVar is false
  components/layout/style/sider.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: add Select variant underlined
  components/select/demo/variant.tsx
  components/select/style/variants.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: add underlined demo
  components/date-picker/demo/variant.md
  components/date-picker/demo/variant.tsx
  components/form/demo/variant.md
  components/form/demo/variant.tsx
  components/input-number/demo/variant.tsx
  components/input/demo/variant.tsx
  components/mentions/demo/variant.tsx
  components/select/demo/variant.md
  components/time-picker/demo/variant.md
  components/time-picker/demo/variant.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(cascader): allow pointer events for disabled checkboxes
  components/cascader/style/columns.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: Spin style in rtl mode
  components/spin/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs(descriptions): Marking deprecated APIs (#52531)
  components/descriptions/index.en-US.md
  components/descriptions/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix: Layout zero width trigger missing style when cssVar is false (#52537)
  components/layout/style/sider.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: update snapshots
  components/date-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/date-picker/__tests__/__snapshots__/demo.test.tsx.snap
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
  components/input-number/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input-number/__tests__/__snapshots__/demo.test.tsx.snap
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/mentions/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/mentions/__tests__/__snapshots__/demo.test.tsx.snap
  components/select/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/select/__tests__/__snapshots__/demo.test.tsx.snap
  components/time-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/time-picker/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

fix: layer support icon (#52533)
  components/config-provider/__tests__/cssinjs.test.tsx
  components/config-provider/index.tsx
  docs/react/compatible-style.en-US.md
  docs/react/compatible-style.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: [v6] Retire deprecated api for tree-select (#52471)
  components/tree-select/__tests__/index.test.tsx
  components/tree-select/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: configProvider support Card.Meta (#52214)
  components/card/Card.tsx
  components/card/Meta.tsx
  components/card/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/card/__tests__/__snapshots__/demo.test.ts.snap
  components/card/__tests__/__snapshots__/index.test.tsx.snap
  components/card/__tests__/index.test.tsx
  components/card/demo/_semantic.tsx
  components/card/demo/_semantic_meta.tsx
  components/card/index.en-US.md
  components/card/index.zh-CN.md
  components/card/style/index.ts
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.tsx
  components/config-provider/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: code style improve for tooltip
  components/tooltip/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(Steps): rename stepRound to rounding and update type to function
  components/progress/Steps.tsx
  components/progress/index.en-US.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: update doc
  components/cascader/index.en-US.md
  components/cascader/index.zh-CN.md
  components/date-picker/index.en-US.md
  components/date-picker/index.zh-CN.md
  components/form/index.en-US.md
  components/form/index.zh-CN.md
  components/input-number/index.en-US.md
  components/input-number/index.zh-CN.md
  components/input/index.en-US.md
  components/input/index.zh-CN.md
  components/mentions/index.en-US.md
  components/mentions/index.zh-CN.md
  components/select/index.en-US.md
  components/select/index.zh-CN.md
  components/time-picker/index.en-US.md
  components/time-picker/index.zh-CN.md
  components/tree-select/index.en-US.md
  components/tree-select/index.zh-CN.md
Due: prettier --ignore-unknown --write

demo: update variant demo
  components/cascader/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/cascader/__tests__/__snapshots__/demo.test.tsx.snap
  components/cascader/demo/variant.md
  components/cascader/demo/variant.tsx
  components/cascader/index.en-US.md
  components/cascader/index.zh-CN.md
  components/date-picker/demo/variant.md
  components/date-picker/index.zh-CN.md
  components/form/demo/variant.md
  components/input-number/demo/variant.md
  components/input/demo/variant.md
  components/input/index.zh-CN.md
  components/mentions/demo/variant.md
  components/select/demo/variant.md
  components/select/index.zh-CN.md
  components/time-picker/demo/variant.md
  components/time-picker/index.zh-CN.md
  components/tree-select/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tree-select/__tests__/__snapshots__/demo.test.tsx.snap
  components/tree-select/demo/variant.md
  components/tree-select/demo/variant.tsx
  components/tree-select/index.en-US.md
  components/tree-select/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

type: improve for semantic
  components/card/Card.tsx
  components/descriptions/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(cascader): allow pointer events for disabled checkboxes (#52539)
  components/cascader/style/columns.ts
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/badge/index.tsx
  components/descriptions/Cell.tsx
  components/descriptions/DescriptionsContext.ts
  components/descriptions/Item.ts
  components/list/Item.tsx
  components/tooltip/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix
  components/badge/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix[table]: resolve border color transition issues for the last row
  components/table/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint
