Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(upload): remove height property from picture card style
  components/upload/style/picture.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: bump @rc-component/motion to fix image preview flicker (#56937)
  components/back-top/__tests__/__snapshots__/demo.test.tsx.snap
  components/color-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/float-button/__tests__/__snapshots__/demo.test.ts.snap
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix: fix onMouseEnter/onMouseLeave not working with ellipsis/tooltip
  components/typography/Base/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: simplify EllipsisTooltip open logic
  components/typography/Base/EllipsisTooltip.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: further simplify EllipsisTooltip prop names and logic
  components/typography/Base/EllipsisTooltip.tsx
  components/typography/Base/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(upload): add minHeight to picture card style for better layout
  components/upload/style/picture.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: fix Upload picture-card list overflow when items wrap to multiple lines (#56945)
  components/upload/style/picture.ts
Due: biome check --write --no-errors-on-unmatched, eslint

commit
  .dumi/pages/index/components/ThemePreview/ComponentsBlock.tsx
  .dumi/theme/common/ThemeSwitch/PromptDrawer.tsx
  .dumi/theme/common/ThemeSwitch/usePromptRecommend.ts
Due: biome check --write --no-errors-on-unmatched, eslint

update snap
  components/typography/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/typography/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

update snap
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

Update components/splitter/index.zh-CN.md
  components/splitter/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat(ConfigProvider, RangePicker): support suffixIcon config
  components/date-picker/__tests__/RangePicker.test.tsx
  components/date-picker/generatePicker/generateRangePicker.tsx
  components/time-picker/__tests__/RangePicker.test.tsx
  components/time-picker/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: App should support ref
  components/app/App.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/app/App.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: Simplify the logic
  components/splitter/Panel.tsx
  components/splitter/Splitter.tsx
  components/splitter/__tests__/index.test.tsx
  components/splitter/demo/collapsible.tsx
  components/splitter/index.en-US.md
  components/splitter/interface.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: add AI theme recommendation feature
  .dumi/pages/index/components/Group.tsx
  .dumi/pages/index/components/ThemePreview/ComponentsBlock.tsx
  .dumi/pages/index/components/ThemePreview/index.tsx
  .dumi/pages/index/components/ThemePreview/previewThemes/glassTheme.ts
  .dumi/pages/index/index.tsx
  .dumi/theme/common/ThemeSwitch/PromptDrawer.tsx
  .dumi/theme/common/ThemeSwitch/usePromptRecommend.ts
  docs/ai-theme-prompts.en-US.md
  docs/ai-theme-prompts.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: remove unused AI theme prompts en-US doc
  docs/ai-theme-prompts.en-US.md
Due: prettier --ignore-unknown --write

chore: remove unused AI theme prompts zh-CN doc
  docs/ai-theme-prompts.zh-CN.md
Due: prettier --ignore-unknown --write

commit
  .dumi/theme/common/ThemeSwitch/usePromptRecommend.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snapshot
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

commit
  components/color-picker/components/ColorTrigger.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: resolve TypeScript errors in PromptDrawer
  .dumi/theme/common/ThemeSwitch/PromptDrawer.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: TreeSelect selected value visible when searching (#56946)
  components/select/style/select-input.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: resolve AI bot review feedback
  .dumi/pages/index/components/Group.tsx
  .dumi/pages/index/components/ThemePreview/ComponentsBlock.tsx
  .dumi/pages/index/components/ThemePreview/index.tsx
  .dumi/pages/index/index.tsx
  .dumi/theme/common/ThemeSwitch/PromptDrawer.tsx
  .dumi/theme/common/ThemeSwitch/usePromptRecommend.ts
Due: biome check --write --no-errors-on-unmatched, eslint

add test case
  components/app/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update package.json
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

update test case
  components/app/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: 支持空对象填充
  components/_util/__tests__/fillObjectBySchema.test.tsx
  components/_util/__tests__/useMergeSemanticNew.test.tsx
  components/_util/hooks/useMergeSemanticNew/index.ts
  components/_util/hooks/useMergeSemanticNew/utils.ts
  components/auto-complete/AutoComplete.tsx
  components/cascader/index.tsx
  components/select/index.tsx
  components/splitter/SplitBar.tsx
  components/splitter/Splitter.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix
  components/input/OTP/OTPInput.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: improve App warning and Ref test cases
  components/app/App.tsx
  components/app/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: simplify JSX props spread in App
  components/app/App.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: App should support ref (#56951)
  components/app/App.tsx
  components/app/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: init
  components/typography/Typography.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Typography): prevent ellipsis tooltip when hovering copy button (#56855)
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/typography/Base/EllipsisTooltip.tsx
  components/typography/Base/index.tsx
  components/typography/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/typography/__tests__/__snapshots__/demo.test.tsx.snap
  components/typography/__tests__/ellipsis.test.tsx
  components/typography/demo/ellipsis-debug.md
  components/typography/demo/ellipsis-debug.tsx
  components/typography/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: TreeSelect's multi-line text will cause CheckBox compression. #56957
  components/tree/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: TreeSelect's multi-line text will cause CheckBox compression. #56957 (#56961)
  components/tree/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: add toggle for motion in collapsible splitter demo
  components/splitter/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/splitter/__tests__/__snapshots__/demo.test.ts.snap
  components/splitter/demo/collapsible.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: adjust ts
  components/_util/hooks/useMergeSemanticNew/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
