Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

Revert "Support better customization with semantic classNames/styles"
  components/result/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/result/__tests__/__snapshots__/demo.test.ts.snap
  components/result/__tests__/index.test.tsx
  components/result/demo/style-class.md
  components/result/demo/style-class.tsx
  components/result/index.en-US.md
  components/result/index.tsx
  components/result/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Revert "Support better customization with semantic classNames/styles"
  components/alert/Alert.tsx
  components/alert/index.en-US.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Support better customization with semantic classNames/styles
  components/alert/Alert.tsx
  components/alert/index.en-US.md
  components/alert/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore[Rate]: migrate to @rc-component namespace and update dependencies (#55036)
  components/rate/index.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/alert/Alert.tsx
  components/alert/Alert.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(splitter): simplify SplitterClassNamesType definition and update docs
  components/splitter/index.en-US.md
  components/splitter/index.zh-CN.md
  components/splitter/interface.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

refactor: address Meet-student review feedback and optimize demo structure
  components/empty/demo/style-class.tsx
  components/empty/index.en-US.md
  components/empty/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Update CHANGELOG.en-US.md
  CHANGELOG.en-US.md
Due: prettier --ignore-unknown --write

feat(space): improve type safety for classNames and styles function parameters
  components/space/__tests__/index.test.tsx
  components/space/index.en-US.md
  components/space/index.tsx
  components/space/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

refactor(empty): Optimize the type definitions and style types in the Empty component demo.
  components/empty/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: ensure CSS-in-JS prefix classes are applied to Empty semantic elements
  components/empty/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

更新 5.27.4 的发布日期为 2025-09-17，并修复 Table 相关问题
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

修复按钮在主题影响下的图标填充问题
  CHANGELOG.en-US.md
Due: prettier --ignore-unknown --write

Support better customization with semantic classNames/styles
  components/result/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/result/__tests__/__snapshots__/demo.test.ts.snap
  components/result/__tests__/index.test.tsx
  components/result/demo/style-class.md
  components/result/demo/style-class.tsx
  components/result/index.en-US.md
  components/result/index.tsx
  components/result/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Support better customization with semantic classNames/styles
  components/alert/index.en-US.md
Due: prettier --ignore-unknown --write

fix(notification): improve classNames and styles merging order
  components/notification/useNotification.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(notification): enhance PurePanel types and props merging
  components/notification/PurePanel.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(alert): add custom classNames and styles support
  components/alert/index.en-US.md
  components/alert/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix: remove alert component changes from result branch
  components/alert/index.en-US.md
Due: prettier --ignore-unknown --write

test(notification): add style-class demo snapshots
  components/notification/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/notification/__tests__/__snapshots__/demo.test.ts.snap
Due: none

fix: reset alert component to next branch state, keep only result changes
  components/alert/Alert.tsx
  components/alert/index.en-US.md
  components/alert/index.zh-CN.md
  components/index.ts
  et --hard HEAD
  tatus
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Support better customization with semantic classNames/styles
  components/result/__tests__/index.test.tsx
  components/result/index.en-US.md
  components/result/index.tsx
  components/result/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: remove unwanted files from git commands
  et --hard HEAD
  tatus
Due: none

docs: add missing Version column header in API tables
  components/result/index.en-US.md
  components/result/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: update doc
  components/tooltip/demo/smooth-transition.md
  components/tooltip/demo/smooth-transition.tsx
  components/tooltip/index.en-US.md
  components/tooltip/index.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: 调整demo
  components/card/demo/style-class.tsx
  components/card/index.en-US.md
  components/card/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore[Checkbox]: migrate to @rc-component namespace and update dependencies
  components/checkbox/Checkbox.tsx
  components/checkbox/index.tsx
  components/radio/interface.ts
  components/radio/radio.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add 5.27.4 changelog (#55023)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: fix formatting in changelog for version 5.27.4
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

feat(Rate): size prop
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
  components/rate/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/rate/__tests__/__snapshots__/demo.test.ts.snap
  components/rate/__tests__/__snapshots__/index.test.tsx.snap
  components/rate/__tests__/index.test.ts
  components/rate/__tests__/index.test.tsx
  components/rate/demo/size.md
  components/rate/demo/size.tsx
  components/rate/index.en-US.md
  components/rate/index.tsx
  components/rate/index.zh-CN.md
  components/rate/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: add error handling for notifier in pre-publish script
  scripts/pre-publish.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore[Checkbox]: migrate to @rc-component namespace and update dependencies (#55045)
  components/checkbox/Checkbox.tsx
  components/checkbox/index.tsx
  components/radio/interface.ts
  components/radio/radio.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix: 调整demo style
  components/card/demo/style-class.md
  components/card/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: move rc-util to @rc-components/util
  .dumi/theme/builtins/Previewer/Actions.tsx
  components/_util/warning.ts
  components/input/__tests__/textarea.test.tsx
  components/masonry/__tests__/index.test.tsx
  components/statistic/Timer.tsx
  components/watermark/__tests__/index.test.tsx
  components/watermark/useSingletonCache.ts
  package.json
  tests/__mocks__/rc-util/lib/Dom/dynamicCSS.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: 调整demo style
  components/card/demo/style-class.tsx
  components/card/index.en-US.md
  components/card/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(Card): fix clearfix interference with flex/grid card layouts (#54974)
  components/card/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: move rc-util to @rc-components/util (#55048)
  .dumi/theme/builtins/Previewer/Actions.tsx
  components/_util/warning.ts
  components/input/__tests__/textarea.test.tsx
  components/masonry/__tests__/index.test.tsx
  components/statistic/Timer.tsx
  components/watermark/__tests__/index.test.tsx
  components/watermark/useSingletonCache.ts
  package.json
  tests/__mocks__/rc-util/lib/Dom/dynamicCSS.ts
Due: biome check --write --no-errors-on-unmatched, eslint
