Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test: cover Dropdown popupRender ReactNode returns
  components/dropdown/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: dropdown placement
  components/dropdown/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: fix API table default values and version metadata
  components/anchor/index.en-US.md
  components/input/index.zh-CN.md
  components/notification/index.en-US.md
  components/table/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat(Menu): add subItemContent semantic slot aligned with itemContent
  components/menu/SubMenu.tsx
  components/menu/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/menu/__tests__/semantic.test.tsx
  components/menu/demo/_semantic.tsx
  components/menu/menu.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Anchor): render children when items is undefined
  components/anchor/Anchor.tsx
  components/anchor/__tests__/Anchor.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add missing es_US and sq_AL locales to i18n docs (#59204)
  docs/react/i18n.en-US.md
  docs/react/i18n.zh-CN.md
Due: prettier --ignore-unknown --write

site: fix light/dark switcher icon alignment in theme editor (#59203)
  .dumi/pages/theme-editor/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: align popupRender behavior, types, and docs (#59207)
  components/auto-complete/AutoComplete.tsx
  components/auto-complete/index.en-US.md
  components/auto-complete/index.zh-CN.md
  components/cascader/index.en-US.md
  components/cascader/index.tsx
  components/cascader/index.zh-CN.md
  components/dropdown/__tests__/index.test.tsx
  components/dropdown/dropdown.tsx
  components/menu/index.en-US.md
  components/menu/index.zh-CN.md
  components/select/index.en-US.md
  components/select/index.tsx
  components/select/index.zh-CN.md
  components/tree-select/index.en-US.md
  components/tree-select/index.tsx
  components/tree-select/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: fix API table default values and version metadata (#59209)
  components/anchor/index.en-US.md
  components/input/index.zh-CN.md
  components/notification/index.en-US.md
  components/table/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix(Steps): mark the progress icon as a progressbar role (#59073)
  components/steps/ProgressIcon.tsx
  components/steps/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/steps/__tests__/__snapshots__/demo.test.ts.snap
  components/steps/__tests__/a11y.test.ts
  components/steps/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: upgrade deps
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Segmented): keep icon-only bare svg icons vertically centred
  components/segmented/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/segmented/__tests__/__snapshots__/demo.test.ts.snap
  components/segmented/__tests__/index.test.tsx
  components/segmented/demo/icon-only.md
  components/segmented/demo/icon-only.tsx
  components/segmented/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: align API table defaults and versions between en-US and zh-CN
  components/anchor/index.en-US.md
  components/grid/index.en-US.md
  components/input-number/index.en-US.md
  components/list/index.zh-CN.md
  components/modal/index.zh-CN.md
  components/slider/index.en-US.md
  components/slider/index.zh-CN.md
  components/splitter/index.en-US.md
  components/splitter/index.zh-CN.md
  components/statistic/index.zh-CN.md
Due: prettier --ignore-unknown --write

refactor(Dropdown): simplify popup node normalization
  components/dropdown/dropdown.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Checkbox): treat undefined group value as uncontrolled
  components/checkbox/Group.tsx
  components/checkbox/__tests__/group.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: escape union type separator in List itemLayout row
  components/list/index.zh-CN.md
Due: prettier --ignore-unknown --write

refactor(Dropdown): simplify popup node normalization (#59216)
  components/dropdown/dropdown.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(locale): fill missing DatePicker placeholders in 32 locales
  components/date-picker/locale/ar_EG.ts
  components/date-picker/locale/bg_BG.ts
  components/date-picker/locale/ca_ES.ts
  components/date-picker/locale/cs_CZ.ts
  components/date-picker/locale/da_DK.ts
  components/date-picker/locale/de_DE.ts
  components/date-picker/locale/es_ES.ts
  components/date-picker/locale/fi_FI.ts
  components/date-picker/locale/fr_BE.ts
  components/date-picker/locale/fr_CA.ts
  components/date-picker/locale/fr_FR.ts
  components/date-picker/locale/gl_ES.ts
  components/date-picker/locale/he_IL.ts
  components/date-picker/locale/hi_IN.ts
  components/date-picker/locale/hr_HR.ts
  components/date-picker/locale/hu_HU.ts
  components/date-picker/locale/it_IT.ts
  components/date-picker/locale/ms_MY.ts
  components/date-picker/locale/nb_NO.ts
  components/date-picker/locale/nl_BE.ts
  components/date-picker/locale/nl_NL.ts
  components/date-picker/locale/pl_PL.ts
  components/date-picker/locale/pt_BR.ts
  components/date-picker/locale/pt_PT.ts
  components/date-picker/locale/ro_RO.ts
  components/date-picker/locale/ru_RU.ts
  components/date-picker/locale/sk_SK.ts
  components/date-picker/locale/sr_RS.ts
  components/date-picker/locale/sv_SE.ts
  components/date-picker/locale/th_TH.ts
  components/date-picker/locale/tr_TR.ts
  components/date-picker/locale/uk_UA.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: fix broken anchor links after heading id changes
  components/calendar/index.zh-CN.md
  components/form/index.en-US.md
  components/form/index.zh-CN.md
  components/message/index.en-US.md
  components/message/index.zh-CN.md
  components/modal/index.en-US.md
  components/modal/index.zh-CN.md
  components/notification/index.en-US.md
  components/notification/index.zh-CN.md
  components/upload/demo/style-class.md
  docs/react/faq.en-US.md
  docs/react/faq.zh-CN.md
  docs/spec/detail-page.zh-CN.md
  docs/spec/research-form.en-US.md
  docs/spec/research-form.zh-CN.md
Due: prettier --ignore-unknown --write

fix(Tabs): apply styles.popup.root to the more dropdown
  components/tabs/__tests__/semantic.test.tsx
  components/tabs/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: preserve Latin Uzbek picker labels and update locale snapshots
  components/date-picker/__tests__/locale.test.tsx
  components/date-picker/locale/uz_UZ.ts
  components/locale/__tests__/__snapshots__/index.test.tsx.snap
  components/locale/__tests__/__snapshots__/vitest/index.test.tsx.snap
Due: biome check --write --no-errors-on-unmatched, eslint

fix: preserve nested semantic style properties
  components/_util/__tests__/useMergeSemanticNew.test.tsx
  components/_util/hooks/useMergeSemantic/index.ts
  components/select/__tests__/semantic.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: fix broken anchor links after heading id changes (#59220)
  components/calendar/index.zh-CN.md
  components/form/index.en-US.md
  components/form/index.zh-CN.md
  components/message/index.en-US.md
  components/message/index.zh-CN.md
  components/modal/index.en-US.md
  components/modal/index.zh-CN.md
  components/notification/index.en-US.md
  components/notification/index.zh-CN.md
  components/upload/demo/style-class.md
  docs/react/faq.en-US.md
  docs/react/faq.zh-CN.md
  docs/spec/detail-page.zh-CN.md
  docs/spec/research-form.en-US.md
  docs/spec/research-form.zh-CN.md
Due: prettier --ignore-unknown --write

test(Tabs): open the more dropdown via more.visible
  components/tabs/__tests__/semantic.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(locale): de_DE DatePicker fieldDateFormat DD.MM.YYYY
  components/date-picker/locale/de_DE.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: cover flat semantic styles and popup rerenders
  components/_util/__tests__/useMergeSemanticNew.test.tsx
  components/_util/hooks/useMergeSemantic/index.ts
  components/select/__tests__/semantic.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: assert explicit semantic style resets strictly
  components/_util/__tests__/useMergeSemanticNew.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test(locale): update de snapshot for DD.MM.YYYY (jest -u, 77 passed)
  components/locale/__tests__/__snapshots__/index.test.tsx.snap
Due: none

fix(Checkbox): treat undefined group value as uncontrolled (#59217)
  components/checkbox/Group.tsx
  components/checkbox/__tests__/group.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(locale): fill missing DatePicker placeholders in locales (#59219)
  components/date-picker/locale/ar_EG.ts
  components/date-picker/locale/bg_BG.ts
  components/date-picker/locale/ca_ES.ts
  components/date-picker/locale/cs_CZ.ts
  components/date-picker/locale/da_DK.ts
  components/date-picker/locale/de_DE.ts
  components/date-picker/locale/es_ES.ts
  components/date-picker/locale/fi_FI.ts
  components/date-picker/locale/fr_BE.ts
  components/date-picker/locale/fr_CA.ts
  components/date-picker/locale/fr_FR.ts
  components/date-picker/locale/gl_ES.ts
  components/date-picker/locale/he_IL.ts
  components/date-picker/locale/hi_IN.ts
  components/date-picker/locale/hr_HR.ts
  components/date-picker/locale/hu_HU.ts
  components/date-picker/locale/it_IT.ts
  components/date-picker/locale/ms_MY.ts
  components/date-picker/locale/nb_NO.ts
  components/date-picker/locale/nl_BE.ts
  components/date-picker/locale/nl_NL.ts
  components/date-picker/locale/pl_PL.ts
  components/date-picker/locale/pt_BR.ts
  components/date-picker/locale/pt_PT.ts
  components/date-picker/locale/ro_RO.ts
  components/date-picker/locale/ru_RU.ts
  components/date-picker/locale/sk_SK.ts
  components/date-picker/locale/sr_RS.ts
  components/date-picker/locale/sv_SE.ts
  components/date-picker/locale/th_TH.ts
  components/date-picker/locale/tr_TR.ts
  components/date-picker/locale/uk_UA.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: up size-limit
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Select): lock single content line box to font-height so global lineHeight token cannot stretch selector height
  components/select/__tests__/index.test.tsx
  components/select/style/select-input.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Splitter): re-clamp explicit panel sizes against min when container resizes
  components/splitter/__tests__/size.test.tsx
  components/splitter/hooks/sizeUtil.ts
  components/splitter/hooks/useResize.ts
  components/splitter/hooks/useSizes.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Splitter): pin panels at min when mins exactly fill container in autoPtgSizes
  components/splitter/__tests__/size.test.tsx
  components/splitter/hooks/sizeUtil.ts
  components/splitter/hooks/useSizes.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: stop mutating the mask config object passed by the user
  components/_util/hooks/useMergedMask.ts
  components/modal/__tests__/confirm.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Splitter): skip dust compensation when no panel can absorb it within bounds
  components/splitter/__tests__/size.test.tsx
  components/splitter/hooks/useSizes.ts
Due: biome check --write --no-errors-on-unmatched, eslint

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
