Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

feat: devUseWarning not need if
  components/splitter/Splitter.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: Sort attribute names in the document ，add warning
  components/splitter/Splitter.tsx
  components/splitter/demo/vertical.md
  components/splitter/index.en-US.md
  components/splitter/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test: update snapshots
  components/splitter/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

chore: rename
  .dumi/scripts/new-version-modal.js
  .dumirc.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: implement new version modal with localization and mirror link
  .dumi/scripts/new-version-modal.js
  .dumirc.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test :reset snapshots
  components/splitter/Splitter.tsx
  components/splitter/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/splitter/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: @deprecated please use `orientation`
  components/splitter/interface.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update
  .dumi/scripts/new-version-modal.js
Due: biome check --write --no-errors-on-unmatched, eslint

fix-53858:add test case
  components/typography/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix-53858: (Typography Text) decoration props can be changed dynamically. https://github.com/ant-design/ant-design/issues/53858
  components/typography/Base/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat[Segmented]:Unified use of orientation attribute
  components/segmented/__tests__/index.test.tsx
  components/segmented/demo/vertical.md
  components/segmented/demo/vertical.tsx
  components/segmented/index.en-US.md
  components/segmented/index.tsx
  components/segmented/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Update components/segmented/index.en-US.md
  components/segmented/index.en-US.md
Due: prettier --ignore-unknown --write

feat: change demo
  components/segmented/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/segmented/__tests__/__snapshots__/demo.test.ts.snap
  components/segmented/demo/vertical.md
  components/segmented/demo/vertical.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: change useVertical params
  components/segmented/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/segmented/index.zh-CN.md
  components/segmented/index.zh-CN.md
Due: prettier --ignore-unknown --write

test: update snapshots
  components/segmented/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/segmented/__tests__/__snapshots__/demo.test.ts.snap
Due: none

Update index.zh-CN.md
  components/segmented/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat[Flex]:Unified use of orientation attribute
  components/flex/__tests__/index.test.tsx
  components/flex/index.en-US.md
  components/flex/index.tsx
  components/flex/index.zh-CN.md
  components/flex/interface.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: use useOrientation get mergedVertical
  components/segmented/index.en-US.md
  components/segmented/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat(Splitter): unify orientation attribute usage (#53670)
  components/splitter/Splitter.tsx
  components/splitter/__tests__/index.test.tsx
  components/splitter/demo/collapsible.tsx
  components/splitter/demo/customize.tsx
  components/splitter/demo/group.tsx
  components/splitter/demo/lazy.tsx
  components/splitter/demo/vertical.tsx
  components/splitter/index.en-US.md
  components/splitter/index.zh-CN.md
  components/splitter/interface.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: get type Orientation
  components/segmented/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/flex/index.en-US.md
  components/flex/index.en-US.md
Due: prettier --ignore-unknown --write

Update components/flex/index.zh-CN.md
  components/flex/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix-53858: fix lint problem
  components/typography/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Segmented): unify orientation attribute usage (#53664)
  components/segmented/__tests__/index.test.tsx
  components/segmented/demo/vertical.tsx
  components/segmented/index.en-US.md
  components/segmented/index.tsx
  components/segmented/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: delete flex default value=false
  components/flex/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(collapse): update destroyOnHidden API
  components/collapse/Collapse.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(drawer): update destroyOnHidden API
  components/drawer/index.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(modal): update destroyOnHidden API
  components/modal/Modal.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(modal): update destroyOnHidden API
  components/modal/Modal.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(toolTip): update destroyOnHidden API
  components/tooltip/index.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(drawer): update destroyOnHidden API (#53864)
  components/drawer/index.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(toolTip): update destroyOnHidden API (#53866)
  components/tooltip/index.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(collapse): update destroyOnHidden API (#53863)
  components/collapse/Collapse.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

docs: changelog for 5.25.2
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

chore: bump version to 5.25.2
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Flex): unify orientation attribute usage (#53648)
  components/flex/__tests__/index.test.tsx
  components/flex/index.en-US.md
  components/flex/index.tsx
  components/flex/index.zh-CN.md
  components/flex/interface.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write
