Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

fix: align picker components with suffix API (#59240)
  components/config-provider/context.ts
  components/date-picker/__tests__/DatePicker.test.tsx
  components/date-picker/__tests__/RangePicker.test.tsx
  components/date-picker/__tests__/__snapshots__/DatePicker.test.tsx.snap
  components/date-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/date-picker/__tests__/__snapshots__/demo.test.tsx.snap
  components/date-picker/demo/suffix-debug.md
  components/date-picker/demo/suffix-debug.tsx
  components/date-picker/demo/suffix.md
  components/date-picker/demo/suffix.tsx
  components/date-picker/demo/suffixIcon-debug.md
  components/date-picker/demo/suffixIcon-debug.tsx
  components/date-picker/generatePicker/generateRangePicker.tsx
  components/date-picker/generatePicker/generateSinglePicker.tsx
  components/date-picker/generatePicker/useSuffix.tsx
  components/date-picker/index.en-US.md
  components/date-picker/index.zh-CN.md
  components/time-picker/__tests__/index.test.tsx
  components/time-picker/demo/suffix.md
  components/time-picker/demo/suffix.tsx
  components/time-picker/index.en-US.md
  components/time-picker/index.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore(deps): upgrade @rc-component/picker to 1.14.0
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore(deps): upgrade @rc-component/picker to 1.14.0 (#59261)
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update third-party library links in recommendation
  docs/react/recommendation.en-US.md
  docs/react/recommendation.zh-CN.md
Due: prettier --ignore-unknown --write

chore: up size-limit
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Form): prevent vertical Form.Item control from shrinking
  components/form/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: upgrade rc Dropdown and Tabs dependencies (#59259)
  components/dropdown/dropdown.tsx
  components/tabs/__tests__/index.test.tsx
  components/tabs/index.en-US.md
  components/tabs/index.tsx
  components/tabs/index.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(Tabs): apply styles.popup.root to the more dropdown (#59221)
  components/tabs/__tests__/semantic.test.tsx
  components/tabs/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: keep only dnd-kit in drag-and-drop recommendations
  docs/react/recommendation.en-US.md
  docs/react/recommendation.zh-CN.md
Due: prettier --ignore-unknown --write

demo: fix Tabs semantic demo popup behavior
  components/tabs/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/tabs/__tests__/semantic.test.tsx
  components/tabs/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Affix): support stacking multiple Affix components
  components/affix/__tests__/Affix.test.tsx
  components/affix/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/affix/__tests__/__snapshots__/demo.test.tsx.snap
  components/affix/demo/stackable.md
  components/affix/demo/stackable.tsx
  components/affix/index.en-US.md
  components/affix/index.tsx
  components/affix/index.zh-CN.md
  components/affix/utils.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat(Progress): support custom circle start position
  components/progress/Circle.tsx
  components/progress/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/progress/__tests__/__snapshots__/demo.test.ts.snap
  components/progress/__tests__/index.test.tsx
  components/progress/demo/circle-start-position.md
  components/progress/demo/circle-start-position.tsx
  components/progress/index.en-US.md
  components/progress/index.zh-CN.md
  components/progress/progress.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs(Progress): display startPosition values in circle demo
  components/progress/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/progress/__tests__/__snapshots__/demo.test.ts.snap
  components/progress/demo/circle-start-position.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(ColorPicker): disable interactions when disabled
  components/color-picker/ColorPickerPanel.tsx
  components/color-picker/__tests__/__snapshots__/index.test.tsx.snap
  components/color-picker/__tests__/components.test.tsx
  components/color-picker/__tests__/index.test.tsx
  components/color-picker/components/ColorClear.tsx
  components/color-picker/components/ColorTrigger.tsx
  components/color-picker/style/index.ts
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
  components/form/__tests__/__snapshots__/index.test.tsx.snap
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Radio): support Radio.Group size for default Radio options
  components/radio/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/radio/__tests__/__snapshots__/demo.test.tsx.snap
  components/radio/__tests__/group.test.tsx
  components/radio/demo/size.tsx
  components/radio/index.en-US.md
  components/radio/index.zh-CN.md
  components/radio/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: keep only dnd-kit in drag-and-drop recommendations (#59264)
  docs/react/recommendation.en-US.md
  docs/react/recommendation.zh-CN.md
Due: prettier --ignore-unknown --write

fix(Table): preserve pagination semantic classNames and styles
  components/table/InternalTable.tsx
  components/table/__tests__/semantic.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Form): prevent vertical Form.Item controls from shrinking (#59263)
  components/form/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Table): vertically center virtual cell content (#59260)
  components/table/style/virtual.ts
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(Modal): rename internal cancel click handler
  components/modal/components/NormalCancelBtn.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

site: hide clipped SemanticPreview markers
  .dumi/theme/common/Markers.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Modal): preserve onCancel when cancel button has onClick (#59255)
  components/modal/__tests__/Modal.test.tsx
  components/modal/components/NormalCancelBtn.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(ColorPicker): avoid mutating preset items
  components/color-picker/__tests__/index.test.tsx
  components/color-picker/components/ColorPresets.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(ColorPicker): avoid mutating preset items (#59272)
  components/color-picker/__tests__/index.test.tsx
  components/color-picker/components/ColorPresets.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Listy): support rowHoverable
  components/listy/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/listy/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/listy/__tests__/__snapshots__/demo.test.ts.snap
  components/listy/__tests__/__snapshots__/index.test.tsx.snap
  components/listy/__tests__/__snapshots__/vitest/index.test.tsx.snap
  components/listy/index.en-US.md
  components/listy/index.tsx
  components/listy/index.zh-CN.md
  components/listy/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: avoid border flash when switching from borderless variant
  components/input-number/style/index.ts
  components/input/style/variants.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Transfer): clear stale selection when key type changes (#59166)
  components/transfer/__tests__/index.test.tsx
  components/transfer/hooks/useSelection.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Modal): preserve falsy button text (#59254)
  components/modal/ConfirmDialog.tsx
  components/modal/__tests__/Modal.test.tsx
  components/modal/__tests__/confirm.test.tsx
  components/modal/__tests__/hook.test.tsx
  components/modal/shared.tsx
  components/modal/useModal/HookModal.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(FloatButton): prevent hover menu flickering (#59246)
  components/float-button/style/group.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Table): preserve filters on hidden responsive columns (#59198)
  components/table/InternalTable.tsx
  components/table/__tests__/Table.filter.test.tsx
  components/table/hooks/useFilter/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Table): preserve pagination semantic classNames and styles (#59267)
  components/table/InternalTable.tsx
  components/table/__tests__/semantic.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore(deps): upgrade @rc-component/tree to 1.5.3
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

demo(Listy): add rowHoverable debug example
  components/listy/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/listy/__tests__/__snapshots__/demo.test.ts.snap
  components/listy/demo/row-hoverable-debug.tsx
  components/listy/index.en-US.md
  components/listy/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore(deps): upgrade @rc-component/tree to 1.5.3 (#59274)
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Splitter): respect size limits when container resizes (#59084)
  components/splitter/__tests__/index.test.tsx
  components/splitter/__tests__/size.test.tsx
  components/splitter/hooks/sizeUtil.ts
Due: biome check --write --no-errors-on-unmatched, eslint

demo: fix Tabs semantic popup highlighting (#59266)
  .dumi/theme/common/Markers.tsx
  components/tabs/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/tabs/__tests__/semantic.test.tsx
  components/tabs/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: align component documentation translations
  components/date-picker/index.en-US.md
  components/menu/index.zh-CN.md
  components/time-picker/index.en-US.md
  components/time-picker/index.zh-CN.md
Due: prettier --ignore-unknown --write
