Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

docs: add version annotations for Modal focusTriggerAfterClose and Spin tip deprecations
  docs/react/migration-v6.en-US.md
  docs/react/migration-v6.zh-CN.md
Due: prettier --ignore-unknown --write

docs: add value mapping note for Timeline position to placement migration
  docs/react/migration-v6.en-US.md
  docs/react/migration-v6.zh-CN.md
Due: prettier --ignore-unknown --write

docs: add missing deprecated APIs and version annotations to v6 migration guide (#58430)
  docs/react/migration-v6.en-US.md
  docs/react/migration-v6.zh-CN.md
Due: prettier --ignore-unknown --write

update
  .dumi/theme/slots/Content/Contributors.tsx
  package.json
  scripts/generate-component-contributors.ts
  scripts/generate-contributors.ts
Due: biome check --write --no-errors-on-unmatched, eslint

update
  .dumi/theme/slots/Content/Contributors.tsx
  scripts/generate-contributors.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Form): apply labelHeight token in vertical layout
  components/form/__tests__/index.test.tsx
  components/form/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Form): stabilize vertical labelHeight across themes
  components/form/__tests__/index.test.tsx
  components/form/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: remove self-referencing URL from for-agents prompt (#58423)
  docs/react/for-agents.en-US.md
  docs/react/for-agents.zh-CN.md
Due: prettier --ignore-unknown --write

site: replace document contributors service with static data (#58398)
  .dumi/theme/slots/Content/ContributorAvatar.tsx
  .dumi/theme/slots/Content/Contributors.tsx
  package.json
  scripts/generate-contributors.ts
Due: biome check --write --no-errors-on-unmatched, eslint

ci: update console.log with chalk
  scripts/generate-contributors.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: update
  .dumi/theme/slots/Content/Contributors.tsx
  scripts/generate-contributors.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: update
  .dumi/theme/slots/Content/ContributorAvatar.tsx
  .dumi/theme/slots/Content/Contributors.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

ci: update console.log with chalk (#58434)
  .dumi/theme/slots/Content/ContributorAvatar.tsx
  .dumi/theme/slots/Content/Contributors.tsx
  scripts/generate-contributors.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: support Collapse size padding tokens
  components/collapse/__tests__/index.test.tsx
  components/collapse/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: support left/right placement for Dropdown
  components/dropdown/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/dropdown/__tests__/__snapshots__/demo.test.tsx.snap
  components/dropdown/__tests__/index.test.tsx
  components/dropdown/demo/placement.tsx
  components/dropdown/dropdown.tsx
  components/dropdown/index.en-US.md
  components/dropdown/index.zh-CN.md
  components/dropdown/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

refactor: drop unused arrowPlacement option from getArrowStyle
  components/dropdown/style/index.ts
  components/style/placementArrow.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs(locale): fill missing nb_NO (Norwegian) keys
  components/locale/nb_NO.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: expand Vitest coverage to all components and add CI job
  .github/workflows/test.yml
  .gitignore
  components/button/__tests__/__snapshots__/vitest/demo-extend.test.ts.snap
  components/button/__tests__/__snapshots__/vitest/demo.test.ts.snap
  components/modal/__tests__/__snapshots__/vitest/Modal.test.tsx.snap
  components/modal/__tests__/__snapshots__/vitest/demo-extend.test.ts.snap
  components/modal/__tests__/__snapshots__/vitest/demo.test.tsx.snap
  components/table/__tests__/__snapshots__/vitest/Table.expand.test.tsx.snap
  components/table/__tests__/__snapshots__/vitest/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/vitest/demo.test.ts.snap
  components/table/__tests__/__snapshots__/vitest/empty.test.tsx.snap
  tests/shared/accessibilityTest.tsx
  vitest.config.ts
  vitest.setup.ts
  vitest/FINDINGS.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: use mockImplementation for ResizeObserver mock constructor compatibility
  tests/shared/accessibilityTest.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: stabilize Vitest expansion gate
  vitest.config.ts
  vitest/FINDINGS.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: add Vitest migration handoff notes
  vitest.config.ts
  vitest.setup.ts
  vitest/FINDINGS.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: address Vitest review feedback
  .github/workflows/test.yml
  components/alert/__tests__/__snapshots__/vitest/index.test.tsx.snap
  components/auto-complete/__tests__/__snapshots__/vitest/index.test.tsx.snap
  components/avatar/__tests__/__snapshots__/vitest/Avatar.test.tsx.snap
  components/breadcrumb/__tests__/__snapshots__/vitest/Breadcrumb.test.tsx.snap
  components/button/__tests__/__snapshots__/vitest/index.test.tsx.snap
  components/cascader/__tests__/__snapshots__/vitest/index.test.tsx.snap
  components/color-picker/__tests__/__snapshots__/vitest/index.test.tsx.snap
  components/config-provider/__tests__/__snapshots__/vitest/components.test.tsx.snap
  components/date-picker/__tests__/__snapshots__/vitest/RangePicker.test.tsx.snap
  components/descriptions/__tests__/__snapshots__/vitest/index.test.tsx.snap
  components/flex/__tests__/__snapshots__/vitest/index.test.tsx.snap
  components/float-button/__tests__/__snapshots__/vitest/index.test.tsx.snap
  components/image/__tests__/__snapshots__/vitest/index.test.tsx.snap
  components/input/__tests__/__snapshots__/vitest/textarea.test.tsx.snap
  components/layout/__tests__/__snapshots__/vitest/index.test.tsx.snap
  components/mentions/__tests__/__snapshots__/vitest/index.test.tsx.snap
  components/menu/__tests__/__snapshots__/vitest/index.test.tsx.snap
  components/modal/__tests__/__snapshots__/vitest/Modal.test.tsx.snap
  components/popover/__tests__/__snapshots__/vitest/index.test.tsx.snap
  components/progress/__tests__/__snapshots__/vitest/index.test.tsx.snap
  components/select/__tests__/__snapshots__/vitest/index.test.tsx.snap
  components/splitter/__tests__/__snapshots__/vitest/index.test.tsx.snap
  components/table/__tests__/__snapshots__/vitest/Table.filter.test.tsx.snap
  components/table/__tests__/__snapshots__/vitest/Table.pagination.test.tsx.snap
  components/table/__tests__/__snapshots__/vitest/Table.rowSelection.test.tsx.snap
  components/table/__tests__/__snapshots__/vitest/Table.sorter.test.tsx.snap
  components/table/__tests__/__snapshots__/vitest/Table.test.tsx.snap
  components/tabs/__tests__/__snapshots__/vitest/index.test.tsx.snap
  components/time-picker/__tests__/__snapshots__/vitest/index.test.tsx.snap
  components/tooltip/__tests__/__snapshots__/vitest/tooltip.test.tsx.snap
  components/tour/__tests__/__snapshots__/vitest/index.test.tsx.snap
  components/transfer/__tests__/__snapshots__/vitest/index.test.tsx.snap
  components/tree-select/__tests__/__snapshots__/vitest/index.test.tsx.snap
  components/typography/__tests__/__snapshots__/vitest/index.test.tsx.snap
  components/upload/__tests__/__snapshots__/vitest/upload.test.tsx.snap
  components/upload/__tests__/__snapshots__/vitest/uploadlist.test.tsx.snap
  components/watermark/__tests__/__snapshots__/vitest/index.test.tsx.snap
  vitest.setup.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

ci: align Vitest setup-utoo version
  .github/workflows/test.yml
Due: prettier --ignore-unknown --write

docs(locale): fill missing nb_NO (Norwegian) keys (#58439)
  components/locale/nb_NO.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: correct Dropdown horizontal flip motion when placement reverts
  components/dropdown/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update Dropdown placement demo description to 12 placements
  components/dropdown/demo/placement.md
Due: prettier --ignore-unknown --write

site: add NODE_ENV for contributors query
  .dumi/theme/slots/Content/Contributors.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: reduce Vitest excludes for Alert
  components/alert/__tests__/__snapshots__/vitest/index.test.tsx.snap
  components/alert/__tests__/index.test.tsx
  tests/shared/accessibilityTest.tsx
  vitest.config.ts
  vitest.setup.ts
  vitest/FINDINGS.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test: address Alert Vitest review feedback
  tests/shared/accessibilityTest.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Table): keep sticky header top border in bordered table
  components/table/__tests__/Table.test.tsx
  components/table/style/bordered.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: address fake timer type review
  tests/shared/accessibilityTest.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(collapse): use center alignment for header to fix icon/label/extra misalignment (fixes #58421)
  components/collapse/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(steps): remove subpixel translateY on rail to fix blurry 2px rendering (fixes #58112)
  components/steps/style/horizontal.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(alert): align icon to top for multi-line content, center with first line for single-line (fixes #57788)
  components/alert/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: fix Mentions status type in Chinese docs
  components/mentions/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: fix Mentions status type in Chinese docs (#58455)
  components/mentions/index.zh-CN.md
Due: prettier --ignore-unknown --write

test: reduce Vitest excludes for Alert (#58450)
  components/alert/__tests__/__snapshots__/vitest/index.test.tsx.snap
  components/alert/__tests__/index.test.tsx
  tests/shared/accessibilityTest.tsx
  vitest.config.ts
  vitest.setup.ts
  vitest/FINDINGS.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: add changelog 6.4.5
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write
