Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: add see conf config (#55389)
  .dumi/pages/index/components/util.ts
  .dumi/theme/layouts/GlobalLayout.tsx
  .dumi/theme/slots/Header/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: Update React documentation links from reactjs.org to react.dev
  components/alert/demo/error-boundary.md
  components/form/demo/control-hooks.md
  components/form/index.en-US.md
  components/form/index.zh-CN.md
  components/input/index.en-US.md
  components/input/index.zh-CN.md
  docs/react/faq.en-US.md
  docs/react/faq.zh-CN.md
  docs/spec/introduce.en-US.md
  docs/spec/introduce.zh-CN.md
Due: prettier --ignore-unknown --write

Update components/form/demo/control-hooks.md
  components/form/demo/control-hooks.md
Due: prettier --ignore-unknown --write

chore: cascader props
  .dumi/theme/common/SelectSemanticTemplate.tsx
  components/cascader/demo/_semantic.tsx
  components/cascader/style/index.ts
  components/cascader/style/panel.ts
  components/select/demo/_semantic.tsx
  components/select/style/select-input.ts
  components/tree-select/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: Update React documentation links from reactjs.org to react.dev (#55392)
  components/alert/demo/error-boundary.md
  components/form/demo/control-hooks.md
  components/form/index.en-US.md
  components/form/index.zh-CN.md
  components/input/index.en-US.md
  components/input/index.zh-CN.md
  docs/react/faq.en-US.md
  docs/react/faq.zh-CN.md
  docs/spec/introduce.en-US.md
  docs/spec/introduce.zh-CN.md
Due: prettier --ignore-unknown --write

feat: add semantic for picker popup container (#55388)
  components/date-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/date-picker/demo/_semantic.tsx
  components/date-picker/demo/style-class.tsx
  components/time-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/time-picker/demo/style-class.tsx
  components/time-picker/index.tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix: fix the auto theme mode
  .dumi/theme/layouts/GlobalLayout.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: fix the index page background color display issue under auto theme mode
  .dumi/pages/index/components/PreviewBanner/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Segmented)
  components/segmented/demo/componentToken.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: rm addEventListener compatible code
  components/_util/mediaQueryUtil.ts
  components/_util/responsiveObserver.ts
  components/layout/Sider.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/grid/__tests__/index.test.tsx
  components/masonry/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update test
  components/grid/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: add active class to statistic skeleton for better loading indication
  components/statistic/Statistic.tsx
  components/statistic/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/statistic/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint

style: Statistic skeleton showing active animation defaultly (#55398)
  components/statistic/Statistic.tsx
  components/statistic/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/statistic/__tests__/__snapshots__/demo.test.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint

fix(space): add missing deps
  components/space/Compact.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(space): add missing deps (#55399)
  components/space/Compact.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: fix index css
  .dumi/pages/index/components/PreviewBanner/index.tsx
  .dumi/theme/layouts/GlobalLayout.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/_util/responsiveObserver.ts
  components/layout/Sider.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

site: add useLocalStorage hook
  .dumi/hooks/useLocalStorage.ts
  .dumi/pages/theme-editor/index.tsx
  .dumi/theme/common/ThemeSwitch/index.tsx
  .dumi/theme/layouts/GlobalLayout.tsx
  .dumi/theme/slots/Header/index.tsx
  .dumi/theme/utils/index.ts
  .dumirc.ts
Due: biome check --write --no-errors-on-unmatched, eslint

update
  .dumi/hooks/useLocalStorage.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snap
  components/grid/__tests__/__snapshots__/index.test.tsx.snap
Due: none

update
  .dumi/pages/theme-editor/index.tsx
  .dumi/theme/common/ThemeSwitch/index.tsx
  .dumi/theme/layouts/GlobalLayout.tsx
  .dumi/theme/slots/Header/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: rm addEventListener compatible code (#55396)
  components/_util/mediaQueryUtil.ts
  components/_util/responsiveObserver.ts
  components/grid/__tests__/__snapshots__/index.test.tsx.snap
  components/grid/__tests__/index.test.tsx
  components/layout/Sider.tsx
  components/masonry/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/segmented/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/segmented/__tests__/__snapshots__/demo.test.ts.snap
Due: none

site: add useLocalStorage hook (#55401)
  .dumi/hooks/useLocalStorage.ts
  .dumi/pages/theme-editor/index.tsx
  .dumi/theme/common/ThemeSwitch/index.tsx
  .dumi/theme/layouts/GlobalLayout.tsx
  .dumi/theme/slots/Header/index.tsx
  .dumi/theme/utils/index.ts
  .dumirc.ts
Due: biome check --write --no-errors-on-unmatched, eslint

style(Segmented): Support gradient background (#55391)
  components/segmented/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/segmented/__tests__/__snapshots__/demo.test.ts.snap
  components/segmented/demo/componentToken.tsx
  components/segmented/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: bump ver
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: fix extract style file
  scripts/build-style.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: fix auto theme mode (#55397)
  .dumi/pages/index/components/PreviewBanner/index.tsx
  .dumi/theme/layouts/GlobalLayout.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: unified code style
  .dumi/scripts/mirror-notify.js
  .github/workflows/issue-inactivity-reminder.yml
  components/alert/Alert.tsx
  components/calendar/demo/notice-calendar.tsx
  components/date-picker/demo/switchable.tsx
  components/form/util.ts
  components/mentions/demo/async.tsx
  components/tabs/demo/size.tsx
  components/timeline/TimelineItemList.tsx
  components/typography/Editable.tsx
  docs/react/use-with-umi.en-US.md
  docs/react/use-with-umi.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: unified code style (#55406)
  .dumi/scripts/mirror-notify.js
  .github/workflows/issue-inactivity-reminder.yml
  components/alert/Alert.tsx
  components/calendar/demo/notice-calendar.tsx
  components/date-picker/demo/switchable.tsx
  components/form/util.ts
  components/mentions/demo/async.tsx
  components/tabs/demo/size.tsx
  components/timeline/TimelineItemList.tsx
  components/typography/Editable.tsx
  docs/react/use-with-umi.en-US.md
  docs/react/use-with-umi.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Merge branch feature into next-merge-feature
  components/space/Compact.tsx
  components/timeline/TimelineItemList.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Merge branch feature into next-merge-feature
  .dumi/theme/layouts/GlobalLayout.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: improve avatar code style
  components/avatar/Avatar.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(watermark): Watermark wrapping Modal crash with modalRender
  components/modal/Modal.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: improve avatar code style (#55408)
  components/avatar/Avatar.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: update any type with React.ReactElement
  tests/shared/imageTest.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: unified code style
  .dumi/theme/layouts/GlobalLayout.tsx
  .github/workflows/preview-deploy.yml
  .github/workflows/visual-regression-diff-finish.yml
  .github/workflows/visual-regression-persist-finish.yml
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
