Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Add Tour Hebrew translations
  components/locale/he_IL.ts
Due: biome check --write --no-errors-on-unmatched, eslint

Add Tour Arabic translation
  components/locale/ar_EG.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: Add Tour Arabic translation (#52642)
  components/locale/ar_EG.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: Add Tour Hebrew translations (#52641)
  components/locale/he_IL.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: upgrade deps
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update Usage with create-react-app
  docs/react/use-with-create-react-app.en-US.md
  docs/react/use-with-create-react-app.zh-CN.md
Due: prettier --ignore-unknown --write

docs: 更新 CHANGELOG，添加 5.23.4 版本信息及修复记录
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: 更新 CHANGELOG，修正 5.23.4 版本发布日期
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

Update CHANGELOG.en-US.md
  CHANGELOG.en-US.md
Due: prettier --ignore-unknown --write

Update CHANGELOG.zh-CN.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

fix: demo test
  components/statistic/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/statistic/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat: seperate type of button onclick event with more detail
  components/button/button.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Rate组件的tooltips支持全部的Tooltip props
  components/rate/demo/text.tsx
  components/rate/index.tsx
  components/rate/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

英文文档
  components/rate/index.en-US.md
Due: prettier --ignore-unknown --write

type: improve for semantic
  components/result/index.tsx
  components/space/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

更新 CHANGELOG，修正版本日期并添加阿拉伯语和希伯来语的国际化翻译支持
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: add 5.23.4 changelog (#52646)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: improve change doc
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs: improve change doc (#52659)
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

Re-adds files
  components/form/ErrorList.tsx
  components/form/Form.tsx
  components/form/__tests__/index.test.tsx
  components/form/context.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Adds API documentation
  components/form/index.en-US.md
Due: prettier --ignore-unknown --write

docs: Update index.zh-CN.md
  components/input/index.zh-CN.md
Due: prettier --ignore-unknown --write

refactor(ConfigProvider): split files
  components/config-provider/ConfigProvider.tsx
  components/config-provider/existThemeConfig.ts
  components/config-provider/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

site: fix parsedChangelog key warning
  .dumi/theme/common/ComponentChangelog/ComponentChangelog.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feature(component): Input.OPT added separator api
  components/input/OTP/index.tsx
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
  components/input/__tests__/otp.test.tsx
  components/input/demo/otp.tsx
  components/input/index.en-US.md
  components/input/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: ConfigProvider support classnames and styles for Alert
  components/alert/Alert.tsx
  components/alert/__tests__/index.test.tsx
  components/alert/demo/_semantic.tsx
  components/alert/index.en-US.md
  components/alert/index.zh-CN.md
  components/config-provider/context.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test: add tests for OTP component separator rendering cases
  components/input/__tests__/otp.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: carousel support show dot duration
  components/carousel/index.tsx
  components/carousel/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Watermark): fix mockRestore
  components/watermark/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add carousel dot duration demo
  components/carousel/demo/dot-duration.md
  components/carousel/demo/dot-duration.tsx
  components/carousel/index.en-US.md
  components/carousel/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test: add carousel dot duration test
  components/carousel/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: add jest snap
  components/carousel/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/carousel/__tests__/__snapshots__/demo.test.ts.snap
Due: none

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
