Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

update
  .dumi/theme/builtins/FlexWithImagePreview/index.tsx
  components/button/button.tsx
  components/descriptions/Cell.tsx
  components/tour/panelRender.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/_util/getScroll.ts
  components/_util/hooks/useClosable.tsx
  components/alert/Alert.tsx
  components/badge/index.tsx
  components/breadcrumb/BreadcrumbItem.tsx
  components/checkbox/Checkbox.tsx
  components/descriptions/Cell.tsx
  components/form/ErrorList.tsx
  components/form/FormItem/ItemHolder.tsx
  components/space/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/table/demo/ajax.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

dangerous !!! rename !!!
  components/_util/getScroll.ts
  components/_util/hooks/useClosable.tsx
  components/_util/isNonNullable.ts
  components/alert/Alert.tsx
  components/badge/index.tsx
  components/breadcrumb/BreadcrumbItem.tsx
  components/button/button.tsx
  components/checkbox/Checkbox.tsx
  components/descriptions/Cell.tsx
  components/form/ErrorList.tsx
  components/form/FormItem/ItemHolder.tsx
  components/space/index.tsx
  components/tour/panelRender.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

revert rename
  components/_util/getScroll.ts
  components/_util/hooks/useClosable.tsx
  components/_util/isValidNode.ts
  components/alert/Alert.tsx
  components/badge/index.tsx
  components/breadcrumb/BreadcrumbItem.tsx
  components/button/button.tsx
  components/checkbox/Checkbox.tsx
  components/descriptions/Cell.tsx
  components/form/ErrorList.tsx
  components/form/FormItem/ItemHolder.tsx
  components/space/index.tsx
  components/tour/panelRender.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: revert file name (#55483)
  .dumi/theme/builtins/FlexWithImagePreview/index.tsx
  components/_util/getScroll.ts
  components/_util/hooks/useClosable.tsx
  components/_util/isNonNullable.ts
  components/_util/isValidNode.ts
  components/alert/Alert.tsx
  components/badge/index.tsx
  components/breadcrumb/BreadcrumbItem.tsx
  components/button/button.tsx
  components/checkbox/Checkbox.tsx
  components/descriptions/Cell.tsx
  components/form/ErrorList.tsx
  components/form/FormItem/ItemHolder.tsx
  components/space/index.tsx
  components/table/demo/ajax.tsx
  components/tour/panelRender.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: avoid setData called repeatedly
  components/_util/copy.ts
Due: biome check --write --no-errors-on-unmatched, eslint

TEST
  components/_util/getScroll.ts
  components/_util/hooks/useClosable.tsx
  components/_util/isNonNullable.ts
  components/alert/Alert.tsx
  components/badge/index.tsx
  components/breadcrumb/BreadcrumbItem.tsx
  components/button/button.tsx
  components/checkbox/Checkbox.tsx
  components/descriptions/Cell.tsx
  components/form/ErrorList.tsx
  components/form/FormItem/ItemHolder.tsx
  components/space/index.tsx
  components/tour/panelRender.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: add splitter missing memo deps
  components/splitter/hooks/useSizes.ts
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/_util/getScroll.ts
  components/_util/hooks/useClosable.tsx
  components/_util/isNonNullable.ts
  components/alert/Alert.tsx
  components/badge/index.tsx
  components/breadcrumb/BreadcrumbItem.tsx
  components/button/button.tsx
  components/checkbox/Checkbox.tsx
  components/descriptions/Cell.tsx
  components/form/ErrorList.tsx
  components/form/FormItem/ItemHolder.tsx
  components/space/index.tsx
  components/tour/panelRender.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: add splitter missing memo deps (#55486)
  components/splitter/hooks/useSizes.ts
Due: biome check --write --no-errors-on-unmatched, eslint

site: use the real local version
  .dumi/theme/builtins/Previewer/Actions.tsx
  .dumi/theme/builtins/Sandpack/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

site: resolve console.error
  .dumi/theme/builtins/TokenTable/index.tsx
  .dumi/theme/common/ComponentChangelog/ComponentChangelog.tsx
  .dumi/theme/common/ThemeSwitch/PromptDrawer.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update .dumi/theme/builtins/Previewer/Actions.tsx
  .dumi/theme/builtins/Previewer/Actions.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  .dumi/theme/builtins/Previewer/Actions.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  .dumi/theme/builtins/Previewer/Actions.tsx
  .dumi/theme/builtins/Previewer/stackblitzConfig.ts
Due: biome check --write --no-errors-on-unmatched, eslint

site: use the real local version (#55487)
  .dumi/theme/builtins/Previewer/Actions.tsx
  .dumi/theme/builtins/Previewer/stackblitzConfig.ts
  .dumi/theme/builtins/Sandpack/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

site: resolve console.error (#55488)
  .dumi/theme/builtins/TokenTable/index.tsx
  .dumi/theme/common/ComponentChangelog/ComponentChangelog.tsx
  .dumi/theme/common/ThemeSwitch/PromptDrawer.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Modal):Watermark crashes when wrapping Modal with modalRender (#55435)
  components/modal/Modal.tsx
  components/watermark/context.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix lint
  components/segmented/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: Segmented style conflict with React DevTools 7.0 (#55438)
  components/segmented/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: rename file name (#55485)
  components/_util/getScroll.ts
  components/_util/hooks/useClosable.tsx
  components/_util/isNonNullable.ts
  components/alert/Alert.tsx
  components/badge/index.tsx
  components/breadcrumb/BreadcrumbItem.tsx
  components/button/button.tsx
  components/checkbox/Checkbox.tsx
  components/descriptions/Cell.tsx
  components/form/ErrorList.tsx
  components/form/FormItem/ItemHolder.tsx
  components/space/index.tsx
  components/tour/panelRender.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: clean up
  components/input/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snapshot
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

docs: fix docs typo
  components/input/Input.tsx
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/index.en-US.md
  components/input/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

update
  components/upload/index.en-US.md
  components/upload/index.zh-CN.md
Due: prettier --ignore-unknown --write

update
  components/auto-complete/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/button/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tree/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

update
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

docs: fix docs typo (#55493)
  components/auto-complete/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/button/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/Input.tsx
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/index.en-US.md
  components/input/index.zh-CN.md
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tree/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/upload/index.en-US.md
  components/upload/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: add docs anchor for RequestOptions
  components/transfer/index.tsx
  components/upload/index.en-US.md
  components/upload/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: add api anchor (#55495)
  components/transfer/index.tsx
  components/upload/index.en-US.md
  components/upload/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: fix script
  scripts/build-style.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: fix script (#55496)
  scripts/build-style.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(date-picker): trigger onChange when manually clearing input
  components/date-picker/__tests__/DatePicker.test.tsx
  components/date-picker/__tests__/RangePicker.test.tsx
  components/date-picker/generatePicker/generateRangePicker.tsx
  components/date-picker/generatePicker/generateSinglePicker.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: remove redundant comments
  components/date-picker/__tests__/DatePicker.test.tsx
  components/date-picker/__tests__/RangePicker.test.tsx
  components/date-picker/generatePicker/generateRangePicker.tsx
  components/date-picker/generatePicker/generateSinglePicker.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update logic
  .dumi/pages/index/components/util.ts
  .dumi/theme/layouts/GlobalLayout.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: clean up
  .dumi/theme/layouts/GlobalLayout.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
