Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

fix: use drop-shadow for Tooltip and Popover to fix arrow shadow issue (#57988)
  components/popover/style/index.ts
  components/style/placementArrow.ts
  components/style/roundedArrow.ts
  components/theme/interface/alias.ts
  components/theme/util/alias.ts
  components/tooltip/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: use semantic styles for Layout.Sider
  components/layout/Sider.tsx
  components/layout/__tests__/index.test.tsx
  components/layout/demo/_semantic.tsx
  components/layout/index.en-US.md
  components/layout/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs(Modal): replace deprecated Tabs.TabPane with items in dark demo
  components/modal/demo/dark.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs(Collapse): fix grammar in expandIcon description
  components/collapse/index.en-US.md
Due: prettier --ignore-unknown --write

feat(locale): add missing QRCode and ColorPicker translations to pt_BR
  components/locale/pt_BR.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs(Tree): add missing className, motion and style props to zh-CN API table
  components/tree/index.zh-CN.md
Due: prettier --ignore-unknown --write

type(Descriptions): support native HTML attributes on root element
  components/descriptions/__tests__/type.test.tsx
  components/descriptions/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(checkbox): unexpected checkbox hover border style on mobile device (#58085)
  components/checkbox/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: fix grammar in expandIcon description (#58187)
  components/collapse/index.en-US.md
Due: prettier --ignore-unknown --write

feat(locale): add missing QRCode and ColorPicker translations to pt_BR (#58188)
  components/locale/pt_BR.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: correct Space.Compact first/last class when child renders null
  components/space/Compact.tsx
  components/space/__tests__/space-compact.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snap
  components/input/__tests__/__snapshots__/Search.test.tsx.snap
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

fix: keep Space.Compact compact boundaries stable
  components/space/Compact.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: upgrade deps
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

Update README.md
  README.md
Due: prettier --ignore-unknown --write

docs(Tree): add missing className, motion and style props to zh-CN API table (#58189)
  components/tree/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: remove native style props from API docs
  components/card/index.en-US.md
  components/card/index.zh-CN.md
  components/cascader/index.en-US.md
  components/cascader/index.zh-CN.md
  components/divider/index.en-US.md
  components/divider/index.zh-CN.md
  components/layout/index.en-US.md
  components/layout/index.zh-CN.md
  components/menu/index.en-US.md
  components/menu/index.zh-CN.md
  components/rate/index.en-US.md
  components/rate/index.zh-CN.md
  components/switch/index.en-US.md
  components/switch/index.zh-CN.md
  components/time-picker/index.en-US.md
  components/time-picker/index.zh-CN.md
  components/tree/index.en-US.md
  components/tree/index.zh-CN.md
Due: prettier --ignore-unknown --write

type(Descriptions): support native HTML attributes on root element (#58190)
  components/descriptions/__tests__/type.test.tsx
  components/descriptions/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs(Image): remove rootClassName from API docs
  components/image/index.en-US.md
  components/image/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs(Image): keep preview rootClassName migration note
  components/image/index.en-US.md
  components/image/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat: update
  .dumi/pages/index/components/PreviewPane/Components.tsx
  .dumi/pages/index/components/ThemePreview/index.tsx
  .dumi/pages/index/components/ThemePreview/previewThemes/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: update
  .dumi/pages/index/components/Group.tsx
  .dumi/pages/index/components/PreviewPane/Components.tsx
  .dumi/pages/index/components/PreviewPane/Simple.tsx
  .dumi/pages/index/components/ThemePreview/index.tsx
  .dumi/pages/index/components/ThemePreview/previewThemes/index.ts
  .dumi/pages/index/components/util.ts
  .dumi/theme/common/ThemeSwitch/PromptDrawer.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update
  .dumi/pages/index/components/ThemePreview/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

rm
  .dumi/pages/index/components/PreviewPane/Components.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update
  .dumi/pages/index/components/PreviewPane/Components.tsx
  .dumi/pages/index/components/ThemePreview/index.tsx
  .dumi/pages/index/components/ThemePreview/previewThemes/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update
  .dumi/pages/index/components/PreviewPane/Components.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: update
  .dumi/pages/index/components/PreviewPane/Components.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: remove bg
  .dumi/pages/index/components/ThemePreview/previewThemes/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: add media style
  .dumi/pages/index/components/PreviewPane/Components.tsx
  .dumi/pages/index/components/ThemePreview/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update icon
  .dumi/pages/index/components/PreviewPane/Components.tsx
  .dumi/pages/index/components/ThemePreview/index.tsx
  .dumi/pages/index/components/ThemePreview/previewThemes/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

update
  .dumi/pages/index/components/ThemePreview/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update
  .dumi/pages/index/components/ThemePreview/previewThemes/cartoonTheme.ts
Due: biome check --write --no-errors-on-unmatched, eslint

update
  .dumi/pages/index/components/ThemePreview/previewThemes/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Menu): add itemData to onSelect/onClick/onDeselect callback
  components/menu/index.en-US.md
  components/menu/index.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: update @rc-component/mentions and @rc-component/tabs to version 1.10.0
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

test: update
  components/input/__tests__/__snapshots__/Search.test.tsx.snap
  components/space/Compact.tsx
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/space-compact.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Steps): refine maxCount collapsed steps
  components/steps/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/steps/__tests__/__snapshots__/demo.test.ts.snap
  components/steps/__tests__/index.test.tsx
  components/steps/demo/max-count.tsx
  components/steps/index.en-US.md
  components/steps/index.tsx
  components/steps/index.zh-CN.md
  components/steps/useDisplaySteps.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs(Steps): remove key api row
  components/steps/index.en-US.md
  components/steps/index.zh-CN.md
Due: prettier --ignore-unknown --write
