Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

fix:Input OTP breaks with type number and mask
  components/input/OTP/OTPInput.tsx
  components/input/__tests__/otp.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test case added
  components/input/__tests__/otp.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test cases added for boolean
  components/input/__tests__/otp.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: enhance SemanticPreview with info icon and improved layout
  .dumi/components/SemanticPreview.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: enhance SemanticPreview with info icon and improved layout (#53420)
  .dumi/components/SemanticPreview.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(collapse): correct spelling of borderLessContentBg to borderlessContentBg in tests and styles
  components/collapse/__tests__/index.test.tsx
  components/collapse/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

site: fix rules of hooks
  .dumi/theme/slots/Footer/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix
  .dumi/theme/slots/Footer/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: init semantic doc
  components/transfer/demo/_semantic.tsx
  components/transfer/index.en-US.md
  components/transfer/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

opt
  .dumi/theme/slots/Footer/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

site: fix invalid hook call warning (#53422)
  .dumi/theme/slots/Footer/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update def
  components/transfer/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update CP
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
  components/transfer/demo/_semantic.tsx
  components/transfer/index.en-US.md
  components/transfer/index.tsx
  components/transfer/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: more semantic
  components/config-provider/context.ts
  components/transfer/ListBody.tsx
  components/transfer/ListItem.tsx
  components/transfer/Section.tsx
  components/transfer/__tests__/list.test.tsx
  components/transfer/demo/_semantic.tsx
  components/transfer/index.tsx
  components/transfer/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

init warning
  components/transfer/Actions.tsx
  components/transfer/Section.tsx
  components/transfer/index.en-US.md
  components/transfer/index.tsx
  components/transfer/index.zh-CN.md
  components/transfer/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: done warning
  components/transfer/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: resolved conflict
  .dumi/components/TemplateSemanticPreview.tsx
  components/auto-complete/__tests__/index.test.tsx
  components/select/__tests__/index.test.tsx
  components/select/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: ci failed
  components/auto-complete/AutoComplete.tsx
  components/cascader/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test: fix test logic
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/transfer/Section.tsx
  components/transfer/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/transfer/__tests__/__snapshots__/demo.test.ts.snap
  components/transfer/__tests__/__snapshots__/index.test.tsx.snap
  components/transfer/__tests__/__snapshots__/section.test.tsx.snap
  components/transfer/__tests__/index.test.tsx
  components/transfer/__tests__/search.test.tsx
  components/transfer/__tests__/section.test.tsx
  components/transfer/index.tsx
  components/transfer/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snapshot
  components/empty/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/empty/__tests__/__snapshots__/demo.test.ts.snap
Due: none

docs: update
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
  components/transfer/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: update
  components/transfer/index.en-US.md
  components/transfer/index.zh-CN.md
Due: prettier --ignore-unknown --write

Changed functionality with css based approach
  components/input/OTP/OTPInput.tsx
  components/input/__tests__/otp.test.tsx
  components/input/style/otp.ts
Due: biome check --write --no-errors-on-unmatched, eslint

added escapeMaskValue before adding svg
  components/input/OTP/OTPInput.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: use semantic-dom instead of api
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: Anchors use semantic-dom instead of api (#53434)
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat: support timer component
  components/statistic/Timer.tsx
  components/statistic/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/statistic/__tests__/__snapshots__/demo.test.ts.snap
  components/statistic/__tests__/index.test.tsx
  components/statistic/demo/countdown.md
  components/statistic/demo/countdown.tsx
  components/statistic/demo/timer.md
  components/statistic/demo/timer.tsx
  components/statistic/index.en-US.md
  components/statistic/index.tsx
  components/statistic/index.zh-CN.md
  components/statistic/utils.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: Use filled variant to replace the bordered={false} for tag
  .dumi/hooks/useMenu.tsx
  .dumi/theme/builtins/Badge/index.tsx
  components/tag/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tag/demo/disabled.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: clean up
  components/transfer/Section.tsx
  components/transfer/__tests__/semantic.test.tsx
  components/transfer/demo/_semantic.tsx
  components/transfer/index.tsx
  components/transfer/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix
  components/tag/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

add test
  components/tag/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

revert delete countdown
  components/statistic/Countdown.tsx
  components/statistic/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/statistic/__tests__/__snapshots__/demo.test.ts.snap
  components/statistic/demo/countdown.md
  components/statistic/demo/countdown.tsx
  components/statistic/index.en-US.md
  components/statistic/index.tsx
  components/statistic/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Update components/statistic/utils.ts
  components/statistic/utils.ts
Due: biome check --write --no-errors-on-unmatched, eslint

site: fix invalid hook call warning
  .dumi/pages/index/components/ComponentsList.tsx
  .dumi/pages/index/components/DesignFramework.tsx
  .dumi/pages/index/components/PreviewBanner/index.tsx
  .dumi/theme/layouts/ResourceLayout/index.tsx
  .dumi/theme/slots/Footer/index.tsx
  docs/blog/config-provider-style.en-US.md
  docs/blog/config-provider-style.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(locale): add missing Text:collapse and ColorPicker by zh_HK,zh_TW
  components/locale/zh_HK.ts
  components/locale/zh_TW.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: Use filled variant to replace the bordered={false} for tag (#53436)
  .dumi/hooks/useMenu.tsx
  .dumi/theme/builtins/Badge/index.tsx
  components/tag/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tag/__tests__/index.test.tsx
  components/tag/demo/disabled.tsx
  components/tag/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update style
  components/transfer/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/transfer/__tests__/__snapshots__/demo.test.ts.snap
  components/transfer/index.tsx
  components/transfer/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

site: fix invalid hook call warning (#53438)
  .dumi/pages/index/components/ComponentsList.tsx
  .dumi/pages/index/components/DesignFramework.tsx
  .dumi/pages/index/components/PreviewBanner/index.tsx
  .dumi/theme/layouts/ResourceLayout/index.tsx
  .dumi/theme/slots/Footer/index.tsx
  docs/blog/config-provider-style.en-US.md
  docs/blog/config-provider-style.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write
