Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs(Transfer): fix grammar in english documentation
  components/transfer/index.en-US.md
Due: prettier --ignore-unknown --write

docs(design.md): clarify this file targets antd v6 default light theme
  DESIGN.md
Due: prettier --ignore-unknown --write

docs(Popconfirm): correct default icon to ExclamationCircleFilled
  components/popconfirm/index.en-US.md
  components/popconfirm/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs(Transfer): fix grammar in english documentation (#58017)
  components/transfer/index.en-US.md
Due: prettier --ignore-unknown --write

docs(Popconfirm): correct default icon to ExclamationCircleFilled (#58018)
  components/popconfirm/index.en-US.md
  components/popconfirm/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs(Tabs): remove stray semantic-dom link fragment from classNames type
  components/tabs/index.en-US.md
Due: prettier --ignore-unknown --write

fix(date-picker): fall back to rangePlaceholder when locale lacks range-variant placeholder
  components/date-picker/__tests__/RangePicker.test.tsx
  components/date-picker/util.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Select): derive font-height from component fontSize to align rendered height with controlHeight
  components/select/style/select-input.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Modal): default focusable.autoFocusButton to null in confirm dialog
  components/modal/ConfirmDialog.tsx
  components/modal/__tests__/confirm.test.tsx
  components/modal/index.en-US.md
  components/modal/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs(Tabs): remove stray semantic-dom link fragment from classNames type (#58019)
  components/tabs/index.en-US.md
Due: prettier --ignore-unknown --write

docs(TreeSelect): sort API table alphabetically and add missing onOpenChange
  components/tree-select/index.en-US.md
  components/tree-select/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix(date-picker): fall back to rangePlaceholder when locale lacks range-variant placeholder (#58020)
  components/date-picker/__tests__/RangePicker.test.tsx
  components/date-picker/util.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Slider): prevent text selection on adjacent content when dragging in safari
  components/slider/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs(Statistic): fix typos and clarify Timer API descriptions
  components/statistic/index.en-US.md
  components/statistic/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix(Tour): align default zIndex with design token instead of rc-tour fallback
  components/tour/__tests__/index.test.tsx
  components/tour/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Dropdown): apply menu theme dark when using `menu={{ theme: 'dark' }}`
  components/dropdown/__tests__/index.test.tsx
  components/dropdown/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Result): skip rendering empty title element when title is not provided
  components/result/__tests__/__snapshots__/index.test.tsx.snap
  components/result/__tests__/index.test.tsx
  components/result/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs(Statistic): fix typos and clarify Timer API descriptions (#58025)
  components/statistic/index.en-US.md
  components/statistic/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs(TreeSelect): sort API table and add missing onOpenChange (#58023)
  components/tree-select/index.en-US.md
  components/tree-select/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix(Result): skip rendering empty title element when title is not provided (#58028)
  components/result/__tests__/__snapshots__/index.test.tsx.snap
  components/result/__tests__/index.test.tsx
  components/result/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

site: open ComponentTokenTable by default (#58015)
  .dumi/theme/builtins/ComponentTokenTable/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

ci: fix react-doctor workflow
  .github/workflows/react-doctor.yml
Due: prettier --ignore-unknown --write

ci: fix react-doctor workflow (#58030)
  .github/workflows/react-doctor.yml
Due: prettier --ignore-unknown --write

fix(design.md): invoke lint via npx for Windows compatibility
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: code style optimization
  components/date-picker/util.ts
  components/result/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: restrict rc package deep imports in component source
  eslint.config.mjs
Due: biome check --write --no-errors-on-unmatched, eslint

chore: use rc package root imports for exported APIs
  components/_util/wave/index.ts
  components/drawer/Drawer.tsx
  components/form/Form.tsx
  components/form/FormItem/ItemHolder.tsx
  components/mentions/index.tsx
  components/message/PureList.tsx
  components/notification/PureList.tsx
  components/notification/hooks/useStackConfig.ts
  components/slider/SliderTooltip.tsx
  components/slider/index.tsx
  components/steps/index.tsx
  components/table/interface.ts
  components/tooltip/index.tsx
  components/upload/interface.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: code style optimization (#58032)
  components/date-picker/util.ts
  components/result/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Slider): prevent hover styles from applying to disabled handles
  components/slider/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Select): support function tokenSeparators (#57966)
  components/select/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/select/__tests__/__snapshots__/demo.test.tsx.snap
  components/select/demo/custom-tokenization.md
  components/select/demo/custom-tokenization.tsx
  components/select/index.en-US.md
  components/select/index.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat(ConfigProvider): support form labelWrap configuration
  components/config-provider/__tests__/form.test.tsx
  components/config-provider/context.ts
  components/form/Form.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Form): add mergedLabelAlign and mergedLabelWrap to mergedProps
  components/form/Form.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: chore(release): 添加 6.4.3 版本 changelog 与 git commit 模板
  .gitmessage
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

chore: 删除 .gitmessage commit 模板文件
  .gitmessage
Due: none

chore: 发布 6.4.3 版本
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

Potential fix for pull request finding
  CHANGELOG.en-US.md
Due: prettier --ignore-unknown --write

docs: replace invalid emoji in 6.4.3 changelog
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

docs(design.md): add Customization section for theming model
  DESIGN.md
Due: prettier --ignore-unknown --write

docs: add 6.4.3 changelog (#58036)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(ColorPicker): improve clear button accessibility label
  components/color-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/color-picker/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/color-picker/__tests__/__snapshots__/index.test.tsx.snap
  components/color-picker/components/ColorClear.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
