Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

docs: update changelog
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
Due: prettier --ignore-unknown --write

feat: update semantic-md plugin read locale
  .dumi/theme/plugins/semantic-md.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: add semantic ci
  .github/workflows/test.yml
Due: prettier --ignore-unknown --write

fix: version
  .github/workflows/test.yml
Due: prettier --ignore-unknown --write

ci: move version step into test:semantic and run in test workflow
  .github/workflows/test.yml
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: refactor Splitter step snapping and improve demo
  components/splitter/SplitBar.tsx
  components/splitter/Splitter.tsx
  components/splitter/demo/step.tsx
  components/splitter/hooks/useResizable.ts
  components/splitter/hooks/useResize.ts
  components/splitter/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Update components/upload/demo/_semantic.tsx
  components/upload/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: add semantic ci (#56670)
  .github/workflows/test.yml
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

refactor(cascader): extract icon logic into utility function
  components/cascader/Panel.tsx
  components/cascader/index.tsx
  components/cascader/utils.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: pagination size docs (#56668)
  components/pagination/index.en-US.md
  components/pagination/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: changelog for 6.2.1 (#56667)
  CHANGELOG.en-US.md
  CHANGELOG.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat(cascader): add support for custom expandIcon in Cascader component tests
  components/cascader/__tests__/index.test.tsx
  components/cascader/utils.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: init
  .dumi/pages/index/components/Group.tsx
  .dumi/pages/index/components/ThemePreview/ComponentsBlock.tsx
  .dumi/pages/index/components/ThemePreview/index.tsx
  .dumi/pages/index/components/ThemePreview/previewThemes/glassTheme.ts
  .dumi/pages/index/components/ThemePreview/previewThemes/index.ts
  .dumi/pages/index/components/ThemePreview/previewThemes/muiTheme.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: glass theme
  .dumi/pages/index/components/ThemePreview/previewThemes/glassTheme.ts
  .dumi/pages/index/components/ThemePreview/previewThemes/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: adjust color
  .dumi/pages/index/components/ThemePreview/previewThemes/glassTheme.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: a little shadow
  .dumi/pages/index/components/ThemePreview/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: fix lint
  .dumi/pages/index/components/ThemePreview/previewThemes/muiTheme.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: prefetch image
  .dumi/pages/index/components/Group.tsx
  .dumi/pages/index/components/ThemePreview/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: default theme follow site
  .dumi/pages/index/components/ThemePreview/index.tsx
  .dumi/pages/index/components/ThemePreview/previewThemes/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(cascader): enhance loadingIcon support in Cascader component and tests
  components/cascader/Panel.tsx
  components/cascader/__tests__/index.test.tsx
  components/cascader/index.tsx
  components/select/useIcons.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(cascader): add loadingIcon prop for customization in Cascader component documentation
  components/cascader/index.en-US.md
  components/cascader/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat(Input.OTP): add autoComplete prop support
  components/input/OTP/index.tsx
  components/input/__tests__/otp.test.tsx
  components/input/index.en-US.md
  components/input/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: address review comments
  components/input/__tests__/otp.test.tsx
  components/input/index.en-US.md
  components/input/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: correct version number to 6.3.0
  components/input/index.en-US.md
  components/input/index.zh-CN.md
Due: prettier --ignore-unknown --write

chore: upgrade deps
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: remove unnecessary unit in style
  components/card/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snap
  components/color-picker/__tests__/__snapshots__/demo-semantic.test.tsx.snap
Due: none

chore: update test script to include semantic snap
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

update
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

Update package.json
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: remove unnecessary unit in style (#56677)
  components/card/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update test script to include semantic snap (#56679)
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

test(splitter): update demo snapshots
  components/splitter/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/splitter/__tests__/__snapshots__/demo.test.ts.snap
Due: none

feat(splitter): add controlled collapsed support for panels
  components/splitter/__tests__/index.test.tsx
  components/splitter/__tests__/size.test.tsx
  components/splitter/demo/control.tsx
  components/splitter/hooks/useSizes.ts
  components/splitter/index.en-US.md
  components/splitter/index.zh-CN.md
  components/splitter/interface.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs(splitter): update collapsed version to 6.3.0
  components/splitter/index.en-US.md
  components/splitter/index.zh-CN.md
Due: prettier --ignore-unknown --write

optimize(Empty): Reduce the size of the SVG.
  components/empty/empty.tsx
  components/empty/simple.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: fix button line width
  .dumi/theme/common/Marker.tsx
  components/button/style/variant.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test: update demo
  components/button/demo/component-token.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(wave): wave fails to read ConfigProvider prefixCls causing cssVar to break
  components/_util/__tests__/wave.test.tsx
  components/_util/wave/WaveEffect.tsx
  components/_util/wave/interface.ts
  components/_util/wave/useWave.ts
Due: biome check --write --no-errors-on-unmatched, eslint
