Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(Notification): reserve close button spacing for description-only notices
  components/notification/__tests__/index.test.tsx
  components/notification/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix feedback
  components/notification/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: remove meaningless test case per reviewer feedback
  components/tag/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Tag): use hardcoded contrast colors for solid variant text
  components/tag/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(InputNumber): simplify disabled action selector styles
  components/input-number/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(InputNumber): avoid hover styles on disabled handlers
  components/input-number/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input-number/__tests__/__snapshots__/demo.test.tsx.snap
  components/input-number/demo/disabled-hover-debug.md
  components/input-number/demo/disabled-hover-debug.tsx
  components/input-number/index.en-US.md
  components/input-number/index.zh-CN.md
  components/input-number/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: upgrade domoparser-rs to 0.1.0
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Table): rename columnDefaults prop to column
  components/table/InternalTable.tsx
  components/table/__tests__/Table.order.test.tsx
  components/table/__tests__/Table.sorter.test.tsx
  components/table/__tests__/Table.test.tsx
  components/table/__tests__/type.test.tsx
  components/table/demo/column-defaults.md
  components/table/demo/column-defaults.tsx
  components/table/index.en-US.md
  components/table/index.zh-CN.md
  components/table/util.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat(Button,Tag): support default colors for solid variants (#57495)
  components/button/Button.tsx
  components/button/__tests__/index.test.tsx
  components/button/index.en-US.md
  components/button/index.zh-CN.md
  components/tag/__tests__/index.test.tsx
  components/tag/hooks/useColor.ts
  components/tag/index.en-US.md
  components/tag/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix feedback
  components/notification/PurePanel.tsx
  components/notification/__tests__/index.test.tsx
  components/notification/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test(Table): simplify column coverage
  components/table/__tests__/Table.order.test.tsx
  components/table/__tests__/Table.sorter.test.tsx
  components/table/__tests__/Table.test.tsx
  components/table/__tests__/type.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix feedback
  components/notification/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Grid): support CSS Grid layout mode
  components/grid/RowContext.ts
  components/grid/__tests__/index.test.tsx
  components/grid/col.tsx
  components/grid/demo/grid.md
  components/grid/demo/grid.tsx
  components/grid/index.en-US.md
  components/grid/index.zh-CN.md
  components/grid/row.tsx
  components/grid/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

refactor(Table): move fillColumn into hook
  components/table/InternalTable.tsx
  components/table/hooks/useFilledColumns.ts
  components/table/util.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs(Table): add align parameter for scrollTo and note virtual center limitation
  components/table/index.en-US.md
  components/table/index.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Refactor title rendering in PurePanel component
  components/notification/PurePanel.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

test(Table): cover column special branches
  components/table/__tests__/Table.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix limit
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

Apply suggestions from code review
  components/table/index.en-US.md
Due: prettier --ignore-unknown --write

chore: rm lru-cache overrides
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Table): upgrade rc-table to 1.10.0 and add scrollTo align parameter (#57594)
  components/table/index.en-US.md
  components/table/index.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: support column for Table (#57545)
  components/table/InternalTable.tsx
  components/table/__tests__/Table.test.tsx
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
  components/table/demo/column-defaults.md
  components/table/demo/column-defaults.tsx
  components/table/hooks/useFilledColumns.ts
  components/table/index.en-US.md
  components/table/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat(Tag): add optional autoContrast for custom colorful tag text
  components/tag/__tests__/index.test.tsx
  components/tag/demo/colorful.tsx
  components/tag/hooks/useColor.ts
  components/tag/index.en-US.md
  components/tag/index.tsx
  components/tag/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(theme): allow string values for heading font size tokens
  components/theme/interface/maps/font.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix ci
  components/tag/demo/colorful.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix ci
  components/tag/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix ci
  components/alert/style/index.ts
  components/avatar/style/index.ts
  components/back-top/style/index.ts
  components/modal/style/index.ts
  components/result/style/index.ts
  components/statistic/style/index.ts
  components/steps/style/index.ts
  components/typography/style/mixins.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: upgrade deps
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

test(Tag): add coverage for solid variant default class conditional
  components/tag/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore(cssinjs): improves RTL compatibility in component styles
  components/radio/style/index.ts
  components/select/style/select-input.ts
  components/spin/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(InputNumber): avoid disabled handler active styles
  components/input-number/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(Grid): optimize CSS Grid layout implementation
  components/grid/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/grid/__tests__/__snapshots__/demo.test.ts.snap
  components/grid/__tests__/index.test.tsx
  components/grid/col.tsx
  components/grid/demo/grid.md
  components/grid/demo/grid.tsx
  components/grid/index.en-US.md
  components/grid/index.zh-CN.md
  components/grid/row.tsx
  components/grid/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix(Grid): resolve prefixCls customization issue
  .dumi/theme/common/styles/Markdown.tsx
  components/grid/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/grid/__tests__/__snapshots__/demo.test.ts.snap
  components/grid/__tests__/index.test.tsx
  components/grid/col.tsx
  components/grid/row.tsx
  components/grid/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

test(Tag): fix solid default class tests to cover the new branch
  components/tag/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(theme): support colorErrorAffix token
  components/date-picker/__tests__/DatePicker.test.tsx
  components/date-picker/style/index.ts
  components/input/__tests__/index.test.tsx
  components/input/style/variants.ts
  components/theme/interface/alias.ts
  components/theme/util/alias.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix(test): use color='success' instead of 'default' for status color test
  components/tag/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Form): support help, helpItem and extra semantic DOM
  components/form/ErrorList.tsx
  components/form/Form.tsx
  components/form/FormItemInput.tsx
  components/form/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/form/__tests__/semantic.test.tsx
  components/form/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
