Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: [v6] Change DropDown icon-debug demo
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/dropdown/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/dropdown/__tests__/__snapshots__/demo.test.tsx.snap
  components/dropdown/demo/dropdown-button.md
  components/dropdown/demo/icon-debug.md
  components/dropdown/demo/icon-debug.tsx
  components/dropdown/index.en-US.md
  components/dropdown/index.tsx
  components/dropdown/index.zh-CN.md
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: [v6] back code
  components/space/demo/compact-debug.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: [v6] add warning deprecated
  .dumi/pages/index/components/PreviewBanner/ComponentsBlock.tsx
  components/button/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/button/__tests__/__snapshots__/demo.test.ts.snap
  components/dropdown/dropdown-button.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: [v6] add DropdownButton deprecated warning
  components/dropdown/__tests__/__snapshots__/dropdown-button.test.tsx.snap
  components/dropdown/__tests__/dropdown-button.test.tsx
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: biome check --write --no-errors-on-unmatched, eslint

chore: [v6] update test code
  components/dropdown/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/dropdown/__tests__/dropdown-button.test.tsx
  components/space/__tests__/space-compact.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: FormItem Content should be horizontally centered
  components/form/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

update
  components/typography/Base/Ellipsis.tsx
  tests/setup.ts
Due: biome check --write --no-errors-on-unmatched, eslint

update test
  components/collapse/__tests__/index.test.tsx
  components/date-picker/__tests__/DatePicker.test.tsx
  components/date-picker/__tests__/RangePicker.test.tsx
  components/date-picker/__tests__/semantic.test.tsx
  components/descriptions/__tests__/__snapshots__/index.test.tsx.snap
  components/descriptions/__tests__/index.test.tsx
  components/popover/demo/arrow-point-at-center.tsx
  components/slider/__tests__/index.test.tsx
  components/transfer/__tests__/index.test.tsx
  tests/setup.ts
Due: biome check --write --no-errors-on-unmatched, eslint

update test
  components/input/__tests__/__snapshots__/index.test.tsx.snap
  components/input/__tests__/index.test.tsx
  components/tooltip/__tests__/tooltip.test.tsx
  components/upload/__tests__/upload.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: fix test case
  components/_util/__tests__/wave.test.tsx
  components/avatar/__tests__/Avatar.test.tsx
  components/badge/__tests__/index.test.tsx
  components/collapse/__tests__/index.test.tsx
  components/grid/__tests__/gap.test.tsx
  components/list/__tests__/Item.test.tsx
  components/modal/__tests__/Modal.test.tsx
  components/splitter/__tests__/lazy.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: fix test case
  components/_util/__tests__/wave.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update package.json
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix: fix lint
  .dumi/remarkAnchor.ts
  components/calendar/__tests__/index.test.tsx
  components/descriptions/__tests__/index.test.tsx
  components/table/__tests__/Table.rowSelection.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/dropdown/__tests__/dropdown-button.test.tsx
  components/dropdown/__tests__/dropdown-button.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/space snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

Back components/config-provider/__tests__/components.test.tsx code
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/config-provider/__tests__/components.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/dropdown/dropdown-button.tsx Warning
  components/dropdown/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/dropdown/__tests__/dropdown-button.test.tsx
  components/dropdown/dropdown-button.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update
  .dumi/scripts/mirror-notify.js
Due: biome check --write --no-errors-on-unmatched, eslint

chore: lock tsx
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

ci fix
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix: update
  components/form/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

feat: mentions
  components/mentions/demo/autosize-textarea-debug.md
  components/mentions/demo/autosize-textarea-debug.tsx
  components/mentions/index.en-US.md
  components/mentions/index.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: mentions
  components/mentions/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix: test
  components/auto-complete/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/calendar/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/collapse/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/color-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/date-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input-number/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/list/__tests__/__snapshots__/pagination.test.tsx.snap
  components/mentions/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/mentions/__tests__/__snapshots__/demo.test.tsx.snap
  components/pagination/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/segmented/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/select/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tabs/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tree/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/watermark/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

fix: test
  components/mentions/index.en-US.md
  components/mentions/index.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix coverage changes
  components/dropdown/__tests__/__snapshots__/demo.test.tsx.snap
  components/dropdown/demo/icon-debug.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: test
  components/auto-complete/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/calendar/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/collapse/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/color-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/date-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input-number/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/list/__tests__/__snapshots__/pagination.test.tsx.snap
  components/pagination/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/segmented/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/select/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tabs/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tree/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/watermark/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

fix: test
  components/auto-complete/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/calendar/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/collapse/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/color-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

fix: test
  components/calendar/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/color-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/config-provider/__tests__/__snapshots__/components.test.tsx.snap
  components/date-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input-number/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/mentions/index.en-US.md
  components/mentions/index.zh-CN.md
  components/pagination/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/segmented/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/select/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tabs/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tree/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/watermark/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: prettier --ignore-unknown --write

fix: test
  components/calendar/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/pagination/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/select/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

fix: test
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

test: update snap
  components/dropdown/__tests__/__snapshots__/demo-extend.test.ts.snap
Due: none

chore: [v6] rm Dropdown.Button (#53793)
  .dumi/pages/index/components/PreviewBanner/ComponentsBlock.tsx
  components/dropdown/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/dropdown/__tests__/__snapshots__/demo.test.tsx.snap
  components/dropdown/__tests__/dropdown-button.test.tsx
  components/dropdown/__tests__/image.test.ts
  components/dropdown/demo/icon-debug.tsx
  components/dropdown/dropdown-button.tsx
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: lock tsx ~4.19.2
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
