Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

chore: fix
  components/transfer/hooks/useData.ts
  components/transfer/hooks/useSelection.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: fix release-x.yml (#52794)
  .github/workflows/release-x.yml
Due: prettier --ignore-unknown --write

refactor: use Array.from() instead new Array() (#52792)
  .dumi/pages/index/components/BannerRecommends.tsx
  .dumi/pages/index/components/PreviewBanner/ComponentsBlock.tsx
  .dumi/pages/index/components/PreviewBanner/index.tsx
  .dumi/theme/builtins/IconSearch/index.tsx
  components/auto-complete/demo/uncertain-category.tsx
  components/cascader/demo/multiple.tsx
  components/cascader/demo/showCheckedStrategy.tsx
  components/config-provider/__tests__/popup.test.tsx
  components/date-picker/demo/multiple-debug.tsx
  components/date-picker/design/demo/date-extra-info.tsx
  components/grid/demo/responsive-flex.tsx
  components/layout/__tests__/token.test.tsx
  components/layout/demo/component-token.tsx
  components/layout/demo/fixed.tsx
  components/layout/demo/top-side-2.tsx
  components/layout/demo/top-side.tsx
  components/layout/demo/top.tsx
  components/list/demo/loadmore.tsx
  components/notification/demo/stack.tsx
  components/progress/Steps.tsx
  components/select/demo/debug-flip-shift.tsx
  components/skeleton/Paragraph.tsx
  components/space/demo/wrap.tsx
  components/tabs/demo/card-top.tsx
  components/tabs/demo/card.tsx
  components/tabs/demo/centered.tsx
  components/tabs/demo/component-token.tsx
  components/tabs/demo/custom-add-trigger.tsx
  components/tabs/demo/custom-tab-bar.tsx
  components/tabs/demo/extra.tsx
  components/tabs/demo/nest.tsx
  components/tabs/demo/position.tsx
  components/tabs/demo/size.tsx
  components/tabs/demo/slide.tsx
  components/theme/themes/dark/index.ts
  components/theme/themes/default/index.ts
  components/theme/themes/shared/genFontSizes.ts
  components/transfer/hooks/useData.ts
  components/transfer/hooks/useSelection.ts
Due: biome check --write --no-errors-on-unmatched, eslint

fix bug
  components/tree-select/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: ConfigProvider support classnames and styles for checkbox (#52781)
  components/checkbox/Checkbox.tsx
  components/checkbox/__tests__/checkbox.test.tsx
  components/checkbox/demo/_semantic.tsx
  components/checkbox/index.en-US.md
  components/checkbox/index.zh-CN.md
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.tsx
  components/config-provider/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: ConfigProvider support classNames and styles for radio
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.tsx
  components/config-provider/index.zh-CN.md
  components/radio/__tests__/radio.test.tsx
  components/radio/demo/_semantic.tsx
  components/radio/index.en-US.md
  components/radio/index.zh-CN.md
  components/radio/interface.ts
  components/radio/radio.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Update components/radio/__tests__/radio.test.tsx
  components/radio/__tests__/radio.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/radio/demo/_semantic.tsx
  components/radio/demo/_semantic.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update input to icon
  components/radio/__tests__/radio.test.tsx
  components/radio/demo/_semantic.tsx
  components/radio/interface.ts
  components/radio/radio.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix bug
  components/tree-select/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: ConfigProvider support classNames and styles for radio (#52780)
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.tsx
  components/config-provider/index.zh-CN.md
  components/radio/__tests__/radio.test.tsx
  components/radio/demo/_semantic.tsx
  components/radio/index.en-US.md
  components/radio/index.zh-CN.md
  components/radio/interface.ts
  components/radio/radio.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat: ConfigProvider support classnames and styles for message
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.tsx
  components/config-provider/index.zh-CN.md
  components/message/PurePanel.tsx
  components/message/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/message/__tests__/__snapshots__/demo.test.ts.snap
  components/message/__tests__/hooks.test.tsx
  components/message/demo/_semantic.tsx
  components/message/index.en-US.md
  components/message/index.zh-CN.md
  components/message/interface.ts
  components/message/useMessage.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix
  components/message/useMessage.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix review issues
  components/message/PurePanel.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: remove rootCls
  components/avatar/Avatar.tsx
  components/avatar/AvatarGroup.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: Input.Group/Input.OTP cssvar is missing
  components/input/Group.tsx
  components/input/OTP/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

100% coverage
  components/tree-select/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Alert): support icons in global config
  components/alert/Alert.tsx
  components/alert/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/alert/__tests__/__snapshots__/demo.test.ts.snap
  components/alert/__tests__/__snapshots__/index.test.tsx.snap
  components/config-provider/context.ts
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
Due: biome check --write --no-errors-on-unmatched, eslint

fix
  components/message/PurePanel.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Table): support rowKey global config
  components/config-provider/context.ts
  components/table/InternalTable.tsx
  components/table/__tests__/Table.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: improve rounding type definition
  components/progress/Steps.tsx
  components/progress/progress.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: ConfigProvider support classnames and styles for message (#52793)
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.tsx
  components/config-provider/index.zh-CN.md
  components/message/PurePanel.tsx
  components/message/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/message/__tests__/__snapshots__/demo.test.ts.snap
  components/message/__tests__/hooks.test.tsx
  components/message/demo/_semantic.tsx
  components/message/index.en-US.md
  components/message/index.zh-CN.md
  components/message/interface.ts
  components/message/useMessage.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: Input.Group and Input.OTP cssvar is missing (#52799)
  components/input/Group.tsx
  components/input/OTP/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Table): support rowKey global config (#52751)
  components/config-provider/context.ts
  components/table/InternalTable.tsx
  components/table/__tests__/Table.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor: hooks of context for avatar
  components/avatar/Avatar.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: fix highlighting exception in refine
  docs/react/use-with-refine.zh-CN.md
Due: prettier --ignore-unknown --write

refactor: hooks of context for avatar (#52807)
  components/avatar/Avatar.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: fix highlighting exception in refine (#52808)
  docs/react/use-with-refine.zh-CN.md
Due: prettier --ignore-unknown --write

fix: Button style of preset
  components/button/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/button/__tests__/__snapshots__/demo.test.ts.snap
  components/button/button.tsx
  components/button/demo/component-token.tsx
  components/button/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: ConfigProvider support classname and style for watermark
  components/config-provider/__tests__/style.test.tsx
  components/config-provider/context.ts
  components/config-provider/index.tsx
  components/watermark/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: add info of fix
  components/button/buttonHelpers.tsx
  components/button/demo/component-token.tsx
  components/button/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update demo
  components/button/demo/component-token.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: fix lint
  components/button/demo/component-token.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: ConfigProvider support classname and style for watermark (#52811)
  components/config-provider/__tests__/style.test.tsx
  components/config-provider/context.ts
  components/config-provider/index.tsx
  components/watermark/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

type: fix Progress rounding type definition (#52803)
  components/progress/Steps.tsx
  components/progress/progress.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Select): remove unnecessary selection search input height style
  components/select/style/single.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Modal): support icons in global config
  components/config-provider/context.ts
  components/modal/ConfirmDialog.tsx
  components/modal/Modal.tsx
  components/modal/PurePanel.tsx
  components/modal/__tests__/__snapshots__/Modal.test.tsx.snap
  components/modal/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/modal/__tests__/__snapshots__/demo.test.tsx.snap
  components/modal/__tests__/confirm.test.tsx
  components/modal/index.en-US.md
  components/modal/index.zh-CN.md
  components/modal/interface.ts
  components/modal/shared.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: upgrade deps
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat: ConfigProvider support classNames and styles for Spin
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
  components/spin/Indicator/Looper.tsx
  components/spin/Indicator/index.tsx
  components/spin/__tests__/index.test.tsx
  components/spin/demo/_semantic.tsx
  components/spin/index.en-US.md
  components/spin/index.tsx
  components/spin/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

lint: open no-new-array rules
  components/transfer/hooks/useData.ts
  components/transfer/hooks/useSelection.ts
  eslint.config.mjs
Due: biome check --write --no-errors-on-unmatched, eslint
