Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,css,mjs,json}": ["biome check --write --no-errors-on-unmatched", "eslint"],
  "*.{md,yml}": ["prettier --ignore-unknown --write"]
}

chore: update
  package.json
  scripts/check-site.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: update
  scripts/check-site.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: fix lint
  scripts/check-site.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: remove outdated parse5 dependencies from package.json
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

Update .github/workflows/preview-build.yml
  .github/workflows/preview-build.yml
Due: prettier --ignore-unknown --write

chore: ci fix to remove parse5 (#56421)
  package.json
  scripts/check-site.ts
Due: biome check --write --no-errors-on-unmatched, eslint

[unit test] updated Masonry component
  components/masonry/Masonry.tsx
  components/masonry/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

[unit test] updated test case to check for missing positions
  components/masonry/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

[unit test] updated unit testing for code coverage
  components/masonry/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: upgrade deps
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix: setup utoo (#56409)
  .github/workflows/size-limit.yml
Due: prettier --ignore-unknown --write

chore: remove outdated parse5 dependencies from package.json (#56410)
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

Revert "chore: remove outdated parse5 dependencies from package.json (#56410)" (#56422)
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

site: replace isCancelled with cancelledRef (#56415)
  .dumi/theme/common/BehaviorMap/BehaviorMap.tsx
  .dumi/theme/common/BezierVisualizer/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: Optimize the dark mode of the homepage. (#56418)
  .dumi/pages/index/components/ComponentsList.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

[wave] created trigger types and test case for wave config to be passed down
  components/config-provider/__tests__/wave.test.tsx
  components/config-provider/context.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore(deps): unlock jsdom
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore(deps): unlock jsdom (#56431)
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update AGENTS.md changelog part (#56420)
  AGENTS.md
Due: prettier --ignore-unknown --write

fix(Table): skip mounting FilterDropdown in measure header (#56425)
  components/table/InternalTable.tsx
  components/table/TableMeasureRowContext.ts
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
  components/table/hooks/useFilter/FilterDropdown.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: Improve cascader api description
  components/cascader/index.en-US.md
  components/cascader/index.zh-CN.md
Due: prettier --ignore-unknown --write

Update components/cascader/index.zh-CN.md
  components/cascader/index.zh-CN.md
Due: prettier --ignore-unknown --write

Update components/cascader/index.en-US.md
  components/cascader/index.en-US.md
Due: prettier --ignore-unknown --write

docs: update
  components/cascader/index.en-US.md
Due: prettier --ignore-unknown --write

docs: Improve cascader api description (#56433)
  components/cascader/index.en-US.md
  components/cascader/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat(Button,ConfigProvider): loadingIcon config
  components/button/Button.tsx
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

feat(Avatar): size default to 'middle' instead of 'default' for consistancy
  components/avatar/Avatar.tsx
  components/avatar/AvatarContext.ts
  components/avatar/AvatarGroup.tsx
  components/avatar/index.en-US.md
  components/avatar/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: fix modal type
  components/modal/confirm.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Revert "chore(deps): unlock jsdom (#56431)"
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Avatar): size default to 'middle' instead of 'default' for consistancy
  components/avatar/index.en-US.md
  components/avatar/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs: add missing CN doc for getValueProps api
  components/form/index.zh-CN.md
Due: prettier --ignore-unknown --write

fix: pin react-resizable version to 3.0.5
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

chore: fix ci pin react-resizable version to 3.0.5 (#56445)
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix: add type
  components/modal/confirm.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

doc: hidden table component resizable-column demo
  components/table/index.zh-CN.md
Due: prettier --ignore-unknown --write

chore: 调整代码格式
  components/table/index.zh-CN.md
Due: prettier --ignore-unknown --write

feat: add warn deprecated
  components/modal/confirm.tsx
Due: biome check --write --no-errors-on-unmatched, eslint
