Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

chore: reset
  .dumi/pages/theme-editor/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Button): refactor button component structure
  components/_util/ActionButton.tsx
  components/button/Button-.tsx
  components/button/ButtonGroup.tsx
  components/button/__tests__/delay-timer.test.tsx
  components/button/__tests__/index.test.tsx
  components/button/button.tsx
  components/button/buttonHelpers.tsx
  components/button/index.tsx
  components/dropdown/dropdown-button.tsx
  components/float-button/FloatButton.tsx
  components/input/Search.tsx
  components/modal/interface.ts
  components/popconfirm/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

refactor(Button): rename
  components/_util/ActionButton.tsx
  components/button/Button.tsx
  components/button/__tests__/delay-timer.test.tsx
  components/button/__tests__/index.test.tsx
  components/button/buttonHelpers.tsx
  components/button/index.tsx
  components/float-button/FloatButton.tsx
  components/input/Search.tsx
  components/modal/interface.ts
  components/popconfirm/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(atomic): add ButtonGroup export and reference TODO for pull request
  components/atomic.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: fix zeroRuntime
  scripts/build-style.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

chore: doc update
  docs/react/compatible-style.zh-CN.md
  docs/react/css-variables.en-US.md
  docs/react/css-variables.zh-CN.md
  docs/react/customize-theme.zh-CN.md
Due: prettier --ignore-unknown --write

docs: add new version modal (#55810)
  .dumi/theme/common/VersionUpgrade/ChangeLog.tsx
  .dumi/theme/common/VersionUpgrade/en-US.md
  .dumi/theme/common/VersionUpgrade/index.tsx
  .dumi/theme/common/VersionUpgrade/zh-CN.md
  .dumi/theme/layouts/GlobalLayout.tsx
  typings/custom-typings.d.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: fix svg reset by tailwind (#55891)
  .dumi/pages/theme-editor/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update
  docs/react/compatible-style.en-US.md
  docs/react/customize-theme.en-US.md
Due: prettier --ignore-unknown --write

fix: add space in PrevAndNext
  .dumi/hooks/useMenu.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

style: add flex display and align items to switch button inner element
  .dumi/theme/slots/Header/SwitchBtn.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update SwitchBtn.tsx
  .dumi/theme/slots/Header/SwitchBtn.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update: rc-drawer version
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/drawer/index.en-US.md
  components/drawer/index.en-US.md
Due: prettier --ignore-unknown --write

Update components/drawer/index.zh-CN.md
  components/drawer/index.zh-CN.md
Due: prettier --ignore-unknown --write

site: update code box class to conditionally apply simplify class based on iframe prop
  .dumi/theme/builtins/Previewer/CodePreviewer.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add atomic migration instructions for installing v6 via package alias
  docs/react/migration-v6.en-US.md
  docs/react/migration-v6.zh-CN.md
Due: prettier --ignore-unknown --write

feat(drawer): support boolean for resizable (#55861)
  components/drawer/index.en-US.md
  components/drawer/index.tsx
  components/drawer/index.zh-CN.md
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

site: update code box class to conditionally apply simplify class based on iframe prop (#55900)
  .dumi/theme/builtins/Previewer/CodePreviewer.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Tabs): resolve duplicate key issue in size demo
  components/tabs/demo/size.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(tabs): resolve duplicate key issue in demo
  components/tabs/demo/size.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: resolve missing font in the demo
  .dumi/theme/builtins/ComponentMeta/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: fix button loading icon alignment issue
  components/button/demo/chinese-chars-loading.tsx
  components/button/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: upgrade deps
  package.json
Due: biome check --write --no-errors-on-unmatched, eslint

fix(radio): ensure Radio.Group disabled state overrides child Radio disabled prop
  components/radio/__tests__/radio.test.tsx
  components/radio/radio.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update README.md
  README.md
Due: prettier --ignore-unknown --write

fix: add margin in PrevAndNext
  .dumi/hooks/useMenu.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(tabs): resolve duplicate key issue in size demo (#55904)
  components/tabs/demo/size.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Tooltip: The type is missing
  components/tooltip/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs: add space in PrevAndNext (#55896)
  .dumi/hooks/useMenu.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update index.tsx
  components/tooltip/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

site: fix header actions align problem (#55898)
  .dumi/theme/slots/Header/SwitchBtn.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

type(Tooltip): The type is missing (#55912)
  components/tooltip/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: Make select placeholder color white in dark mode
  components/select/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

docs: update doc
  docs/react/compatible-style.en-US.md
  docs/react/compatible-style.zh-CN.md
  docs/react/customize-theme.en-US.md
  docs/react/customize-theme.zh-CN.md
Due: prettier --ignore-unknown --write

fix: zeroRuntime and update doc (#55895)
  docs/react/compatible-style.en-US.md
  docs/react/css-variables.en-US.md
  docs/react/css-variables.zh-CN.md
  docs/react/customize-theme.en-US.md
  docs/react/customize-theme.zh-CN.md
  scripts/build-style.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test: skip debug-flip-shift.tsx in select image test
  components/select/__tests__/image.test.ts
Due: biome check --write --no-errors-on-unmatched, eslint

Revert "fix: Make select placeholder color white in dark mode"
  components/select/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
