Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

sync statusTextNode logic judgement
  components/badge/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/drawer/DrawerPanel.tsx
  components/drawer/DrawerPanel.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat(Image): update config provider document
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
Due: prettier --ignore-unknown --write

Update components/slider/index.en-US.md
  components/slider/index.en-US.md
Due: prettier --ignore-unknown --write

docs(slider): improve en minor gramma (#54209)
  components/slider/index.en-US.md
Due: prettier --ignore-unknown --write

fix(inputs-btn-misc): revert border-width related stuff
  components/button/style/index.less
  components/button/style/mixin.less
  components/date-picker/style/index.less
  components/input/style/mixin.less
  components/select/style/index.less
  components/select/style/single.less
  components/steps/style/index.less
  components/steps/style/small.less
  components/style/color/colors.less
  components/style/themes/default.less
Due: none

fix: reset copybtn getPopupContainer
  components/typography/Base/CopyBtn.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: revert copybtn getPopupContainer (#54752)
  components/typography/Base/CopyBtn.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

shorten statusTextNode judgement
  components/badge/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

remove closablePlacement useMemo
  components/drawer/DrawerPanel.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update index markdown closable-placement version
  components/drawer/index.en-US.md
  components/drawer/index.zh-CN.md
Due: prettier --ignore-unknown --write

modify statusTextNode judgement, add showStatusTextNode boolean
  components/badge/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix isEmpty judgement logic, adding text condition
  components/badge/demo/mix.tsx
  components/badge/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/badge/demo/mix.tsx
  components/badge/demo/mix.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: Add Drawer closable placement prop for close icon position (#54067)
  components/drawer/DrawerPanel.tsx
  components/drawer/__tests__/Drawer.test.tsx
  components/drawer/__tests__/__snapshots__/Drawer.test.tsx.snap
  components/drawer/__tests__/__snapshots__/demo-extend.test.tsx.snap
  components/drawer/__tests__/__snapshots__/demo.test.ts.snap
  components/drawer/demo/closable-placement.md
  components/drawer/demo/closable-placement.tsx
  components/drawer/index.en-US.md
  components/drawer/index.zh-CN.md
  components/drawer/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: adjust docs order
  docs/react/v5-for-19.en-US.md
  docs/react/v5-for-19.zh-CN.md
Due: prettier --ignore-unknown --write

docs: adjust docs order (#54754)
  docs/react/v5-for-19.en-US.md
  docs/react/v5-for-19.zh-CN.md
Due: prettier --ignore-unknown --write

feat: Upload add pictureCardSize token
  components/upload/__tests__/uploadlist.test.tsx
  components/upload/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

feat: Upload add pictureCardSize token (#54756)
  components/upload/__tests__/uploadlist.test.tsx
  components/upload/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

update badge mix demo snapshot
  components/badge/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/badge/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

fix: badge support text props as number 0 (#54747)
  components/badge/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/badge/__tests__/__snapshots__/demo.test.tsx.snap
  components/badge/demo/mix.tsx
  components/badge/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  scripts/__snapshots__/check-site.ts.snap
Due: none

fix(Typography): linkHoverDecoration
  components/style/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: add miss dep for useMemo
  components/badge/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

update
  .dumi/global.less
Due: none

fix: add miss dep for useMemo (#54766)
  components/badge/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: add miss dep for useMemo
  components/drawer/DrawerPanel.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: Modal Demo Page error (#54767)
  .dumi/global.less
Due: none

fix(Typography): linkHoverDecoration (#54763)
  components/style/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: add miss dep for useMemo (#54772)
  components/drawer/DrawerPanel.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Update components/alert/__tests__/index.test.tsx
  components/alert/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: deprecated closeIcon and onClose
  components/alert/Alert.tsx
  components/alert/__tests__/index.test.tsx
  components/alert/index.en-US.md
  components/alert/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test: onClose and closable.onClose
  components/alert/__tests__/index.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
