Repository ant-design/ant-design: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs: components name start with a size docs (#57098)
  components/auto-complete/demo/AutoComplete-and-Select.tsx
  components/auto-complete/index.en-US.md
  components/auto-complete/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

Update SKILL.md
  .claude/skills/issue-reply/SKILL.md
Due: prettier --ignore-unknown --write

Update labels-and-resources.md
  .claude/skills/issue-reply/references/labels-and-resources.md
Due: prettier --ignore-unknown --write

chore: strengthen language policy in issue-reply skill
  .claude/skills/issue-reply/SKILL.md
Due: prettier --ignore-unknown --write

docs(Button): correct size option values in API docs and demos
  components/button/Button.tsx
  components/button/ButtonGroup.tsx
  components/button/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/button/__tests__/__snapshots__/demo.test.ts.snap
  components/button/__tests__/index.test.tsx
  components/button/demo/color-variant.tsx
  components/button/demo/debug-icon.tsx
  components/button/demo/size.md
  components/button/demo/size.tsx
  components/button/index.en-US.md
  components/button/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs(Cascader): correct size option values in API docs and demos
  components/cascader/index.en-US.md
  components/cascader/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs(Collapse): correct size option values in API docs and demos
  components/collapse/Collapse.tsx
  components/collapse/demo/size.md
  components/collapse/demo/size.tsx
  components/collapse/index.en-US.md
  components/collapse/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test: update snap
  components/collapse/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/collapse/__tests__/__snapshots__/demo.test.ts.snap
Due: none

refactor(button): simplify size class handling for large and small buttons
  components/button/Button.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs(ColorPicker): correct size option values in API docs and demos
  components/color-picker/index.en-US.md
  components/color-picker/index.zh-CN.md
Due: prettier --ignore-unknown --write

docs(ConfigProvider): correct size option values in API docs and demos
  components/config-provider/demo/size.tsx
  components/config-provider/demo/useConfig.tsx
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: add trust verification for workflow_run and pull_request_target events (#57094)
  .github/workflows/discussion-open-check.yml
  .github/workflows/issue-labeled.yml
  .github/workflows/issue-open-check.yml
  .github/workflows/pkg.pr.new.yml
  .github/workflows/pr-contributor-welcome.yml
  .github/workflows/pr-open-check.yml
  .github/workflows/pr-open-notify.yml
  .github/workflows/preview-deploy.yml
  .github/workflows/release-dingtalk.yml
  .github/workflows/release-x.yml
  .github/workflows/size-limit.yml
  .github/workflows/visual-regression-diff-approver.yml
  .github/workflows/visual-regression-diff-finish.yml
  .github/workflows/visual-regression-diff-start.yml
  .github/workflows/visual-regression-persist-finish.yml
  .github/workflows/visual-regression-persist-start.yml
Due: prettier --ignore-unknown --write

feat: add sourceSection and targetSection semantic dom support for Transfer
  components/transfer/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/transfer/__tests__/semantic.test.tsx
  components/transfer/demo/_semantic.tsx
  components/transfer/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

type: add generic for Upload.Dragger
  components/upload/Dragger.tsx
  components/upload/__tests__/type.test.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

feat: ConfigProvider support allowClear for select (#56476)
  components/config-provider/context.ts
  components/config-provider/index.en-US.md
  components/config-provider/index.zh-CN.md
  components/select/__tests__/index.test.tsx
  components/select/index.tsx
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

fix: keep Skeleton size default type with deprecation note and add dev warning
  components/skeleton/Button.tsx
  components/skeleton/Element.tsx
  components/skeleton/Input.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix: alias middle gap classes to medium in flex and space styles
  components/flex/style/index.ts
  components/space/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint

chore: turn on react-naming-convention/ref-name
  .dumi/pages/index/components/PreviewBanner/Tilt.tsx
  .dumi/theme/builtins/IconSearch/Category.tsx
  .dumi/theme/builtins/Previewer/CodePreviewer.tsx
  .dumi/theme/common/JSONEditor/index.tsx
  .dumi/theme/common/ThemeSwitch/PromptDrawer.tsx
  .dumi/theme/common/ThemeSwitch/index.tsx
  .dumi/theme/slots/Header/index.tsx
  components/_util/wave/useWave.ts
  components/affix/__tests__/Affix.test.tsx
  components/affix/index.tsx
  components/anchor/Anchor.tsx
  components/form/__tests__/index.test.tsx
  components/input/Input.tsx
  components/input/OTP/index.tsx
  components/masonry/hooks/useRefs.ts
  components/modal/__tests__/Modal.test.tsx
  components/splitter/hooks/useResize.ts
  components/table/InternalTable.tsx
  components/tree/DirectoryTree.tsx
  components/typography/Editable.tsx
  components/upload/Upload.tsx
  components/watermark/useWatermark.ts
  eslint.config.mjs
Due: biome check --write --no-errors-on-unmatched, eslint

fix
  .dumi/theme/builtins/Previewer/CodePreviewer.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

fix(Skeleton): ConfigProvider componentSize not work (#57093)
  components/_util/gapSize.ts
  components/flex/style/index.ts
  components/skeleton/Avatar.tsx
  components/skeleton/Button.tsx
  components/skeleton/Element.tsx
  components/skeleton/Input.tsx
  components/skeleton/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/skeleton/__tests__/__snapshots__/demo.test.tsx.snap
  components/skeleton/__tests__/index.test.tsx
  components/skeleton/demo/element.tsx
  components/skeleton/index.en-US.md
  components/skeleton/index.zh-CN.md
  components/space/style/index.ts
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs(DatePicker): correct size option values in API docs and demos
  components/date-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/date-picker/__tests__/__snapshots__/demo.test.tsx.snap
  components/date-picker/demo/size.md
  components/date-picker/demo/size.tsx
  components/date-picker/index.en-US.md
  components/date-picker/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs(Flex): correct size option values in API docs and demos
  components/flex/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/flex/__tests__/__snapshots__/demo.test.ts.snap
  components/flex/demo/align.tsx
  components/flex/demo/basic.tsx
  components/flex/demo/gap.md
  components/flex/demo/gap.tsx
  components/flex/index.en-US.md
  components/flex/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs(Form): correct size option values in API docs and demos
  components/form/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/form/__tests__/__snapshots__/demo.test.tsx.snap
  components/form/demo/size.tsx
  components/form/index.en-US.md
  components/form/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs(Input): correct size option values in API docs and demos
  components/input/demo/compact-style.tsx
  components/input/demo/otp.tsx
  components/input/demo/size.md
  components/input/demo/size.tsx
  components/input/demo/style-class.tsx
  components/input/index.en-US.md
  components/input/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test: add snap
  components/input/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

docs(InputNumber): correct size option values in API docs and demos
  components/input-number/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/input-number/__tests__/__snapshots__/demo.test.tsx.snap
  components/input-number/__tests__/style-class.test.tsx
  components/input-number/demo/presuffix.tsx
  components/input-number/demo/spinner.tsx
  components/input-number/demo/style-class.tsx
  components/input-number/index.en-US.md
  components/input-number/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs(Mentions): correct size option values in API docs and demos
  components/mentions/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/mentions/__tests__/__snapshots__/demo.test.tsx.snap
  components/mentions/demo/size.tsx
  components/mentions/demo/style-class.tsx
  components/mentions/index.en-US.md
  components/mentions/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs(Pagination): correct size option values in API docs and demos
  components/pagination/demo/mini.tsx
  components/pagination/demo/style-class.tsx
  components/pagination/design/demo/mini.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs(Radio): correct size option values in API docs and demos
  components/radio/demo/radiobutton-solid.tsx
  components/radio/demo/radiobutton.tsx
  components/radio/demo/radiogroup-block.tsx
  components/radio/demo/size.tsx
  components/radio/demo/style-class.tsx
  components/radio/index.en-US.md
  components/radio/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs(Rate): correct size option values in API docs and demos
  components/rate/demo/character-function.tsx
  components/rate/demo/character.tsx
  components/rate/demo/clear.tsx
  components/rate/demo/size.tsx
  components/rate/demo/text.tsx
  components/rate/index.en-US.md
  components/rate/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs(Segmented): correct size option values in API docs and demos
  components/segmented/demo/shape.tsx
  components/segmented/demo/size-consistent.tsx
  components/segmented/demo/size.md
  components/segmented/demo/size.tsx
  components/segmented/demo/style-class.tsx
  components/segmented/index.en-US.md
  components/segmented/index.tsx
  components/segmented/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs(Select): correct size option values in API docs and demos
  components/select/demo/debug.tsx
  components/select/demo/size.tsx
  components/select/demo/style-class.tsx
  components/select/index.en-US.md
  components/select/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs(Skeleton): correct size option values in API docs and demos
  components/skeleton/demo/style-class.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

docs(Space): correct size option values in API docs and demos
  components/space/__tests__/index.test.tsx
  components/space/__tests__/space-compact.test.tsx
  components/space/demo/size.md
  components/space/demo/size.tsx
  components/space/demo/vertical.tsx
  components/space/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs(Table): correct size option values in API docs and demos
  components/table/demo/_semantic.tsx
  components/table/demo/component-token.tsx
  components/table/demo/dynamic-settings.tsx
  components/table/demo/grouping-columns.tsx
  components/table/demo/narrow.md
  components/table/demo/nested-table.tsx
  components/table/demo/size.md
  components/table/demo/size.tsx
  components/table/demo/style-class.tsx
  components/table/index.en-US.md
  components/table/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs(Tabs): correct size option values in API docs and demos
  components/tabs/demo/component-token.tsx
  components/tabs/demo/size.tsx
  components/tabs/demo/style-class.tsx
  components/tabs/index.en-US.md
  components/tabs/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs(TimePicker): correct size option values in API docs and demos
  components/time-picker/demo/size.md
  components/time-picker/demo/style-class.tsx
  components/time-picker/index.en-US.md
  components/time-picker/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

docs(TreeSelect): correct size option values in API docs and demos
  components/tree-select/demo/style-class.tsx
  components/tree-select/demo/variant.tsx
  components/tree-select/index.en-US.md
  components/tree-select/index.zh-CN.md
Due: biome check --write --no-errors-on-unmatched, eslint, prettier --ignore-unknown --write

test: update snap
  components/pagination/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/pagination/__tests__/__snapshots__/demo.test.ts.snap
  components/radio/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/radio/__tests__/__snapshots__/demo.test.tsx.snap
  components/rate/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/rate/__tests__/__snapshots__/demo.test.ts.snap
  components/segmented/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/segmented/__tests__/__snapshots__/demo.test.ts.snap
  components/select/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/select/__tests__/__snapshots__/demo.test.tsx.snap
  components/skeleton/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/skeleton/__tests__/__snapshots__/demo.test.tsx.snap
  components/space/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/space/__tests__/__snapshots__/demo.test.tsx.snap
  components/space/__tests__/__snapshots__/index.test.tsx.snap
  components/table/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/table/__tests__/__snapshots__/demo-semantic.test.tsx.snap
  components/table/__tests__/__snapshots__/demo.test.ts.snap
  components/tabs/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tabs/__tests__/__snapshots__/demo.test.ts.snap
  components/time-picker/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/time-picker/__tests__/__snapshots__/demo.test.tsx.snap
  components/tree-select/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/tree-select/__tests__/__snapshots__/demo.test.tsx.snap
Due: none

fix(Segmented): demo gap
  components/segmented/__tests__/__snapshots__/demo-extend.test.ts.snap
  components/segmented/__tests__/__snapshots__/demo.test.ts.snap
  components/segmented/demo/shape.tsx
  components/segmented/demo/size.tsx
Due: biome check --write --no-errors-on-unmatched, eslint

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  eslint: any of: *.{ts,tsx,js,jsx,css,mjs,json}
  prettier --ignore-unknown --write: any of: *.{md,yml}
